@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
.svelte-10tacie,
.svelte-10tacie:after,
.svelte-10tacie:before {
	box-sizing: border-box;
}
div.svelte-10tacie {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-10tacie-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-10tacie-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-10tacie-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-10tacie:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-10tacie::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.svelte-1ao2o1r,
.svelte-1ao2o1r:after,
.svelte-1ao2o1r:before {
	box-sizing: border-box;
}
div.svelte-1ao2o1r,
span.svelte-1ao2o1r {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
q.svelte-1ao2o1r {
	quotes: none;
}
q.svelte-1ao2o1r:after,
q.svelte-1ao2o1r:before {
	content: '';
	content: none;
}
@keyframes svelte-1ao2o1r-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1ao2o1r-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1ao2o1r-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-1ao2o1r:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1ao2o1r::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.mySlides.svelte-1ao2o1r {
	background-size: cover;
	display: grid;
	place-items: center;
	width: 100%;
	height: 100%;
	text-align: center;
	position: absolute;
}
.svelte-1ttplq3,
.svelte-1ttplq3:after,
.svelte-1ttplq3:before {
	box-sizing: border-box;
}
span.svelte-1ttplq3 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-1ttplq3-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1ttplq3-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1ttplq3-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-1ttplq3:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1ttplq3::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.not-clickable.svelte-1ttplq3 {
	pointer-events: none;
}
.dot.svelte-1ttplq3 {
	cursor: pointer;
	height: 15px;
	width: 15px;
	background-color: #6c6c6c;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.3s ease;
}
.active.svelte-1ttplq3,
.dot.svelte-1ttplq3:hover {
	background-color: #d4b39c;
}
.not-clickable.svelte-1ttplq3 {
	pointer-events: none;
}
.svelte-dgkjbt.svelte-dgkjbt,
.svelte-dgkjbt.svelte-dgkjbt:after,
.svelte-dgkjbt.svelte-dgkjbt:before {
	box-sizing: border-box;
}
div.svelte-dgkjbt.svelte-dgkjbt,
label.svelte-dgkjbt.svelte-dgkjbt,
span.svelte-dgkjbt.svelte-dgkjbt {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
input.svelte-dgkjbt.svelte-dgkjbt {
	-webkit-appearance: none;
	border-radius: 0;
}
input.svelte-dgkjbt.svelte-dgkjbt {
	border: none;
	font-family: inherit;
	font-size: 1rem;
	line-height: 28.8px;
	font-weight: inherit;
	color: #414141;
}
@keyframes svelte-dgkjbt-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-dgkjbt-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-dgkjbt-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-dgkjbt.svelte-dgkjbt:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-dgkjbt.svelte-dgkjbt::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.switch-cont.svelte-dgkjbt.svelte-dgkjbt {
	position: absolute;
	right: 0;
	bottom: 1px;
}
.switch-cont.svelte-dgkjbt.svelte-dgkjbt:hover:after {
	content: 'Auto-play';
	width: 60px;
	position: absolute;
	right: -2.618rem;
	top: -1.618rem;
	background-color: #d4b39c;
	text-align: center;
	border-radius: 0.618rem;
	font-size: 0.618rem;
	line-height: 17.7777777778px;
}
.switch.svelte-dgkjbt.svelte-dgkjbt {
	position: relative;
	display: inline-block;
	width: 15px;
	height: 15px;
}
.switch.svelte-dgkjbt input.svelte-dgkjbt {
	opacity: 0;
	width: 0;
	height: 0;
}
.slider.svelte-dgkjbt.svelte-dgkjbt {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #e5e5e5;
	transition: 0.4s;
}
.slider.svelte-dgkjbt.svelte-dgkjbt:before {
	position: absolute;
	content: '';
	height: 15px;
	width: 15px;
	left: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.85);
	transition: 0.4s;
}
input.svelte-dgkjbt:checked + .slider.svelte-dgkjbt {
	background-color: #d4b39c;
}
input.svelte-dgkjbt:focus + .slider.svelte-dgkjbt {
	background-color: #121212;
}
input.svelte-dgkjbt:checked + .slider.svelte-dgkjbt:before {
	transform: translateX(15px);
}
.slider.round.svelte-dgkjbt.svelte-dgkjbt {
	border-radius: 1rem;
}
.slider.round.svelte-dgkjbt.svelte-dgkjbt:before {
	border-radius: 50%;
}
.svelte-11dijip,
.svelte-11dijip:after,
.svelte-11dijip:before {
	box-sizing: border-box;
}
div.svelte-11dijip,
span.svelte-11dijip {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-11dijip-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-11dijip-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-11dijip-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-11dijip:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-11dijip::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.not-clickable.svelte-11dijip {
	pointer-events: none;
}
.slideshow-container.svelte-11dijip {
	position: relative;
	height: 100%;
}
.dot-container.svelte-11dijip {
	position: absolute;
	bottom: 20px;
	left: 0;
	margin-left: 43%;
	width: 15%;
	display: none;
}
@media (min-width: 769px) {
	.dot-container.svelte-11dijip {
		display: inherit;
	}
}
.next.svelte-11dijip,
.prev.svelte-11dijip {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -1.618rem;
	padding: 1.618rem;
	color: #e5e5e5;
	font-weight: 700;
	font-size: 1.618rem;
	line-height: 40.896px;
	border-radius: 50%;
	user-select: none;
}
.prev.svelte-11dijip {
	left: 0;
}
.next.svelte-11dijip {
	position: absolute;
	right: 0;
}
.next.svelte-11dijip:hover,
.prev.svelte-11dijip:hover {
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	text-decoration: none;
}
.svelte-1asiahq,
.svelte-1asiahq:after,
.svelte-1asiahq:before {
	box-sizing: border-box;
}
span.svelte-1asiahq {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-1asiahq-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1asiahq-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1asiahq-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-1asiahq:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1asiahq::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
span.svelte-1asiahq {
	color: #6c6c6c;
}
