@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
.svelte-1ekg8br,
.svelte-1ekg8br:after,
.svelte-1ekg8br:before {
	box-sizing: border-box;
}
div.svelte-1ekg8br {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-1ekg8br-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1ekg8br-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1ekg8br-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-1ekg8br:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1ekg8br::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.svelte-1klekgs,
.svelte-1klekgs:after,
.svelte-1klekgs:before {
	box-sizing: border-box;
}
div.svelte-1klekgs,
span.svelte-1klekgs {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
q.svelte-1klekgs {
	quotes: none;
}
q.svelte-1klekgs:after,
q.svelte-1klekgs:before {
	content: '';
	content: none;
}
@keyframes svelte-1klekgs-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1klekgs-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1klekgs-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-1klekgs:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1klekgs::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.mySlides.svelte-1klekgs {
	background-size: cover;
	display: grid;
	place-items: center;
	width: 100%;
	height: min-content;
	text-align: center;
	position: absolute;
}
.svelte-11opwi8,
.svelte-11opwi8:after,
.svelte-11opwi8:before {
	box-sizing: border-box;
}
span.svelte-11opwi8 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-11opwi8-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-11opwi8-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-11opwi8-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-11opwi8:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-11opwi8::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.not-clickable.svelte-11opwi8 {
	pointer-events: none;
}
.dot.svelte-11opwi8 {
	cursor: pointer;
	height: 15px;
	width: 15px;
	background-color: #6c6c6c;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.3s ease;
}
.active.svelte-11opwi8,
.dot.svelte-11opwi8:hover {
	background-color: #d4b39c;
}
.not-clickable.svelte-11opwi8 {
	pointer-events: none;
}
.svelte-1rexq7m.svelte-1rexq7m,
.svelte-1rexq7m.svelte-1rexq7m:after,
.svelte-1rexq7m.svelte-1rexq7m:before {
	box-sizing: border-box;
}
div.svelte-1rexq7m.svelte-1rexq7m,
label.svelte-1rexq7m.svelte-1rexq7m,
span.svelte-1rexq7m.svelte-1rexq7m {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
input.svelte-1rexq7m.svelte-1rexq7m {
	-webkit-appearance: none;
	border-radius: 0;
}
input.svelte-1rexq7m.svelte-1rexq7m {
	border: none;
	font-family: inherit;
	font-size: 1rem;
	line-height: 28.8px;
	font-weight: inherit;
	color: #414141;
}
@keyframes svelte-1rexq7m-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1rexq7m-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1rexq7m-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-1rexq7m.svelte-1rexq7m:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1rexq7m.svelte-1rexq7m::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.switch-cont.svelte-1rexq7m.svelte-1rexq7m {
	position: absolute;
	right: 0;
	bottom: 1px;
}
.switch-cont.svelte-1rexq7m.svelte-1rexq7m:hover:after {
	content: 'Auto-play';
	width: 60px;
	position: absolute;
	right: -2.618rem;
	top: -1.618rem;
	background-color: #d4b39c;
	text-align: center;
	border-radius: 0.618rem;
	font-size: 0.618rem;
	line-height: 17.7777777778px;
}
.switch.svelte-1rexq7m.svelte-1rexq7m {
	position: relative;
	display: inline-block;
	width: 15px;
	height: 15px;
}
.switch.svelte-1rexq7m input.svelte-1rexq7m {
	opacity: 0;
	width: 0;
	height: 0;
}
.slider.svelte-1rexq7m.svelte-1rexq7m {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #e5e5e5;
	transition: 0.4s;
}
.slider.svelte-1rexq7m.svelte-1rexq7m:before {
	position: absolute;
	content: '';
	height: 15px;
	width: 15px;
	left: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.85);
	transition: 0.4s;
}
input.svelte-1rexq7m:checked + .slider.svelte-1rexq7m {
	background-color: #d4b39c;
}
input.svelte-1rexq7m:focus + .slider.svelte-1rexq7m {
	background-color: #121212;
}
input.svelte-1rexq7m:checked + .slider.svelte-1rexq7m:before {
	transform: translateX(15px);
}
.slider.round.svelte-1rexq7m.svelte-1rexq7m {
	border-radius: 1rem;
}
.slider.round.svelte-1rexq7m.svelte-1rexq7m:before {
	border-radius: 50%;
}
.svelte-4ukypm,
.svelte-4ukypm:after,
.svelte-4ukypm:before {
	box-sizing: border-box;
}
div.svelte-4ukypm,
span.svelte-4ukypm {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-4ukypm-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-4ukypm-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-4ukypm-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-4ukypm:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-4ukypm::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.not-clickable.svelte-4ukypm {
	pointer-events: none;
}
.slideshow-container.svelte-4ukypm {
	position: relative;
	height: 100%;
}
.dot-container.svelte-4ukypm {
	position: absolute;
	bottom: 20px;
	left: 0;
	margin-left: 43%;
	width: 15%;
	display: none;
}
@media (min-width: 769px) {
	.dot-container.svelte-4ukypm {
		display: inherit;
	}
}
.next.svelte-4ukypm,
.prev.svelte-4ukypm {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -1.618rem;
	padding: 1.618rem;
	color: #e5e5e5;
	font-weight: 700;
	font-size: 1.618rem;
	line-height: 40.896px;
	border-radius: 50%;
	user-select: none;
}
.prev.svelte-4ukypm {
	left: 0;
}
.next.svelte-4ukypm {
	position: absolute;
	right: 0;
}
.next.svelte-4ukypm:hover,
.prev.svelte-4ukypm:hover {
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	text-decoration: none;
}
.svelte-shk14v,
.svelte-shk14v:after,
.svelte-shk14v:before {
	box-sizing: border-box;
}
span.svelte-shk14v {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-shk14v-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-shk14v-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-shk14v-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-shk14v:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-shk14v::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
span.svelte-shk14v {
	color: #6c6c6c;
}
