@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
.svelte-af3sga,
.svelte-af3sga:after,
.svelte-af3sga:before {
	box-sizing: border-box;
}
div.svelte-af3sga,
p.svelte-af3sga {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
q.svelte-af3sga {
	quotes: none;
}
q.svelte-af3sga:after,
q.svelte-af3sga:before {
	content: '';
	content: none;
}
p.svelte-af3sga {
	font-size: 1rem;
	line-height: 28.8px;
}
@media (min-width: 769px) {
	p.svelte-af3sga {
		max-width: 769px;
		margin-left: auto;
		margin-right: auto;
	}
}
@keyframes svelte-af3sga-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-af3sga-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-af3sga-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-af3sga:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-af3sga::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.mySlides.svelte-af3sga {
	background-size: cover;
	display: grid;
	place-items: center;
	width: 100%;
	height: inherit;
	text-align: justify;
	position: absolute;
}
q.svelte-af3sga {
	color: #fff;
	align-self: end;
}
p.svelte-af3sga,
q.svelte-af3sga {
	max-width: 75%;
	font-size: 1.618rem;
	line-height: 40.896px;
}
.author.svelte-af3sga {
	text-align: right;
	margin: 7px 0;
	color: #b4b4b4;
}
.svelte-1p4qrk9,
.svelte-1p4qrk9:after,
.svelte-1p4qrk9:before {
	box-sizing: border-box;
}
span.svelte-1p4qrk9 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-1p4qrk9-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1p4qrk9-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1p4qrk9-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-1p4qrk9:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1p4qrk9::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.not-clickable.svelte-1p4qrk9 {
	pointer-events: none;
}
.dot.svelte-1p4qrk9 {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 5px;
	background-color: #414141;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.3s ease;
}
.active.svelte-1p4qrk9,
.dot.svelte-1p4qrk9:hover {
	background-color: #000;
}
.not-clickable.svelte-1p4qrk9 {
	pointer-events: none;
}
.svelte-oaleaa.svelte-oaleaa,
.svelte-oaleaa.svelte-oaleaa:after,
.svelte-oaleaa.svelte-oaleaa:before {
	box-sizing: border-box;
}
label.svelte-oaleaa.svelte-oaleaa,
section.svelte-oaleaa.svelte-oaleaa,
span.svelte-oaleaa.svelte-oaleaa {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
section.svelte-oaleaa.svelte-oaleaa {
	display: block;
}
input.svelte-oaleaa.svelte-oaleaa {
	-webkit-appearance: none;
	border-radius: 0;
}
input.svelte-oaleaa.svelte-oaleaa {
	border: none;
	font-family: inherit;
	font-size: 1rem;
	line-height: 28.8px;
	font-weight: inherit;
	color: #414141;
}
@keyframes svelte-oaleaa-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-oaleaa-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-oaleaa-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-oaleaa.svelte-oaleaa:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-oaleaa.svelte-oaleaa::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
section.svelte-oaleaa.svelte-oaleaa {
	position: absolute;
	right: 10px;
	top: 10px;
}
section.svelte-oaleaa.svelte-oaleaa:hover:after {
	content: 'Auto-play';
	width: 100px;
	position: absolute;
	left: 0;
	bottom: -30px;
	background-color: #fff;
	box-shadow: 0 0 3px #000;
	padding: 5px 0;
	border-radius: 5px;
}
.switch.svelte-oaleaa.svelte-oaleaa {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}
.switch.svelte-oaleaa input.svelte-oaleaa {
	opacity: 0;
	width: 0;
	height: 0;
}
.slider.svelte-oaleaa.svelte-oaleaa {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #6c6c6c;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
.slider.svelte-oaleaa.svelte-oaleaa:before {
	position: absolute;
	content: '';
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: #fff;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
input.svelte-oaleaa:checked + .slider.svelte-oaleaa {
	background-color: #3f7bab;
}
input.svelte-oaleaa:focus + .slider.svelte-oaleaa {
	box-shadow: 0 0 1px #2a2929;
}
input.svelte-oaleaa:checked + .slider.svelte-oaleaa:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}
.slider.round.svelte-oaleaa.svelte-oaleaa {
	border-radius: 34px;
}
.slider.round.svelte-oaleaa.svelte-oaleaa:before {
	border-radius: 50%;
}
.svelte-l7vht7,
.svelte-l7vht7:after,
.svelte-l7vht7:before {
	box-sizing: border-box;
}
div.svelte-l7vht7,
span.svelte-l7vht7 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-l7vht7-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-l7vht7-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-l7vht7-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-l7vht7:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-l7vht7::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.not-clickable.svelte-l7vht7 {
	pointer-events: none;
}
.slideshow-container.svelte-l7vht7 {
	position: relative;
	background-color: #b4b4b4;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 50vh;
}
@media (min-width: 1023px) {
	.slideshow-container.svelte-l7vht7 {
		height: 100vh;
	}
}
.dot-container.svelte-l7vht7 {
	text-align: center;
	padding: 1.618rem;
	position: relative;
	bottom: 0;
}
.next.svelte-l7vht7,
.prev.svelte-l7vht7 {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -1.618rem;
	padding: 1.618rem;
	color: #e5e5e5;
	font-weight: 700;
	font-size: 1.618rem;
	line-height: 40.896px;
	border-radius: 0 3px 3px 0;
	user-select: none;
}
.prev.svelte-l7vht7 {
	left: 0;
}
.next.svelte-l7vht7 {
	position: absolute;
	right: 0;
	border-radius: 3px 0 0 3px;
}
.next.svelte-l7vht7:hover,
.prev.svelte-l7vht7:hover {
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	text-decoration: none;
}
.svelte-ge4s9i.svelte-ge4s9i,
.svelte-ge4s9i.svelte-ge4s9i:after,
.svelte-ge4s9i.svelte-ge4s9i:before {
	box-sizing: border-box;
}
a.svelte-ge4s9i.svelte-ge4s9i,
nav.svelte-ge4s9i.svelte-ge4s9i {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
nav.svelte-ge4s9i.svelte-ge4s9i {
	display: block;
}
nav.svelte-ge4s9i a.svelte-ge4s9i {
	padding: 0.618rem;
	text-decoration: none;
	color: #6c6c6c;
	border: 1px solid #6c6c6c;
}
@keyframes svelte-ge4s9i-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-ge4s9i-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-ge4s9i-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
a.svelte-ge4s9i.svelte-ge4s9i:hover {
	animation-name: svelte-ge4s9i-fade;
	animation-duration: 0.3s;
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-ge4s9i.svelte-ge4s9i:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-ge4s9i.svelte-ge4s9i::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
nav.svelte-ge4s9i.svelte-ge4s9i {
	display: grid;
	grid-template-columns: repeat(auto-fill, 300px);
	gap: 4.236rem;
	justify-content: center;
	align-content: center;
	background-color: #e8b28a;
	width: 100%;
	min-height: 50vh;
	padding: 4.236rem 0;
	margin-left: auto;
	margin-right: auto;
}
nav.svelte-ge4s9i a.svelte-ge4s9i {
	text-align: center;
	width: 100%;
	border: none;
	color: #110e08;
}
