@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
.svelte-1hfc72k,
.svelte-1hfc72k:after,
.svelte-1hfc72k:before {
	box-sizing: border-box;
}
div.svelte-1hfc72k,
p.svelte-1hfc72k {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
q.svelte-1hfc72k {
	quotes: none;
}
q.svelte-1hfc72k:after,
q.svelte-1hfc72k:before {
	content: '';
	content: none;
}
p.svelte-1hfc72k {
	font-size: 1rem;
	line-height: 28.8px;
}
@media (min-width: 769px) {
	p.svelte-1hfc72k {
		max-width: 769px;
		margin-left: auto;
		margin-right: auto;
	}
}
@keyframes svelte-1hfc72k-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1hfc72k-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1hfc72k-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-1hfc72k:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1hfc72k::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.mySlides.svelte-1hfc72k {
	background-size: cover;
	display: grid;
	place-items: center;
	place-content: center;
	width: 100%;
	height: inherit;
	text-align: center;
	position: absolute;
}
q.svelte-1hfc72k {
	color: #e5e5e5;
	align-self: end;
}
p.svelte-1hfc72k,
q.svelte-1hfc72k {
	font-style: italic;
	font-size: 1rem;
	line-height: 28.8px;
	max-width: 75%;
}
@media (min-width: 1023px) {
	p.svelte-1hfc72k,
	q.svelte-1hfc72k {
		font-size: 1.618rem;
		line-height: 40.896px;
	}
}
.author.svelte-1hfc72k {
	text-align: right;
	margin: 7px 0;
	color: #b4b4b4;
}
.svelte-o98i06,
.svelte-o98i06:after,
.svelte-o98i06:before {
	box-sizing: border-box;
}
span.svelte-o98i06 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-o98i06-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-o98i06-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-o98i06-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-o98i06:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-o98i06::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.not-clickable.svelte-o98i06 {
	pointer-events: none;
}
.dot.svelte-o98i06 {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 5px;
	background-color: #b4b4b4;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.3s ease;
}
.active.svelte-o98i06,
.dot.svelte-o98i06:hover {
	background-color: #00f;
}
.not-clickable.svelte-o98i06 {
	pointer-events: none;
}
.svelte-l43z38.svelte-l43z38,
.svelte-l43z38.svelte-l43z38:after,
.svelte-l43z38.svelte-l43z38:before {
	box-sizing: border-box;
}
div.svelte-l43z38.svelte-l43z38,
label.svelte-l43z38.svelte-l43z38,
span.svelte-l43z38.svelte-l43z38 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
input.svelte-l43z38.svelte-l43z38 {
	-webkit-appearance: none;
	border-radius: 0;
}
input.svelte-l43z38.svelte-l43z38 {
	border: none;
	font-family: inherit;
	font-size: 1rem;
	line-height: 28.8px;
	font-weight: inherit;
	color: #414141;
}
@keyframes svelte-l43z38-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-l43z38-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-l43z38-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-l43z38.svelte-l43z38:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-l43z38.svelte-l43z38::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.switch-cont.svelte-l43z38.svelte-l43z38 {
	position: absolute;
	right: 1rem;
	bottom: -0.618rem;
}
.switch-cont.svelte-l43z38.svelte-l43z38:hover:after {
	content: 'Auto-play';
	width: 4.236rem;
	position: absolute;
	right: 1.618rem;
	top: -1.618rem;
	background-color: #fff;
	border-radius: 0.618rem;
	font-size: 0.618rem;
	line-height: 17.7777777778px;
}
.switch.svelte-l43z38.svelte-l43z38 {
	position: relative;
	display: inline-block;
	width: 4.236rem;
	height: 35px;
}
.switch.svelte-l43z38 input.svelte-l43z38 {
	opacity: 0;
	width: 0;
	height: 0;
}
.slider.svelte-l43z38.svelte-l43z38 {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #e5e5e5;
	transition: 0.4s;
}
.slider.svelte-l43z38.svelte-l43z38:before {
	position: absolute;
	content: '';
	height: 1.618rem;
	width: 1.618rem;
	left: 4px;
	bottom: 4px;
	background-color: rgba(255, 255, 255, 0.85);
	transition: 0.4s;
}
input.svelte-l43z38:checked + .slider.svelte-l43z38 {
	background-color: #00f;
}
input.svelte-l43z38:checked + .slider.svelte-l43z38:before {
	transform: translateX(26px);
}
.slider.round.svelte-l43z38.svelte-l43z38 {
	border-radius: 1rem;
}
.slider.round.svelte-l43z38.svelte-l43z38:before {
	border-radius: 50%;
}
.svelte-18vbar9,
.svelte-18vbar9:after,
.svelte-18vbar9:before {
	box-sizing: border-box;
}
div.svelte-18vbar9,
span.svelte-18vbar9 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-18vbar9-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-18vbar9-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-18vbar9-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-18vbar9:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-18vbar9::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.not-clickable.svelte-18vbar9 {
	pointer-events: none;
}
.slideshow-container.svelte-18vbar9 {
	position: relative;
	height: 50vh;
}
@media (min-width: 1023px) {
	.slideshow-container.svelte-18vbar9 {
		height: 70vh;
	}
}
.dot-container.svelte-18vbar9 {
	position: absolute;
	bottom: -10px;
	right: 0;
	width: 75%;
}
@media (min-width: 769px) {
	.dot-container.svelte-18vbar9 {
		width: 30%;
	}
}
.next.svelte-18vbar9,
.prev.svelte-18vbar9 {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -1.618rem;
	padding: 1.618rem;
	color: #e5e5e5;
	font-weight: 700;
	font-size: 1.618rem;
	line-height: 40.896px;
	border-radius: 0 3px 3px 0;
	user-select: none;
}
.prev.svelte-18vbar9 {
	left: 0;
}
.next.svelte-18vbar9 {
	position: absolute;
	right: 0;
	border-radius: 3px 0 0 3px;
}
.next.svelte-18vbar9:hover,
.prev.svelte-18vbar9:hover {
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	text-decoration: none;
}
.svelte-aekdj2,
.svelte-aekdj2:after,
.svelte-aekdj2:before {
	box-sizing: border-box;
}
nav.svelte-aekdj2 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
nav.svelte-aekdj2 {
	display: block;
}
@keyframes svelte-aekdj2-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-aekdj2-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-aekdj2-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-aekdj2:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-aekdj2::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
nav.svelte-aekdj2 {
	display: grid;
	gap: 2.618rem;
	background-color: #00f;
	min-height: 50vh;
	padding: 2.618rem;
	grid-template-columns: repeat(auto-fit, 260px);
	place-content: center;
	place-items: center;
}
@media (min-width: 1023px) {
	nav.svelte-aekdj2 {
		grid-template-columns: repeat(3, 1fr);
		gap: 2.618rem;
		place-items: center;
	}
}
