// B/N
$black: black;
$white: white;

// Greys
$grey_0: #e5e5e5;
$grey_1: #b4b4b4;
$grey_2: #6c6c6c;
$grey_3: #414141;
$grey_4: #2a2929;
$grey_5: #110e08;

// Main colors
$primary: $grey_1;
$secondary: $grey_2;
$tertiary: $grey_3;
$quaternary: $grey_5;

// Specials
$primary: #d3b39c;
$secondary: #4bddc4;
$tertiary: pink;
$quaternary: #857351;
$highlight: #d3b39c;
// $highlight: rgb(232, 178, 138);
$highlight_1: rgba($white, 0.85);
$highlight_2: lighten( $highlight, 3% );
$highlight_3: lighten( $highlight, 0.1% );

$highlight_alpha: rgba( $highlight_2, .45 );


/* GRADIENT LISTS
============================================= */

$list1: $primary, $secondary, $tertiary; 

$list2: $primary 0%,$primary 33%,$secondary 33%,$secondary 66%, $tertiary 66%, $tertiary 100%; 

$list3: $primary 0%,$primary 10%,$secondary 25%,$secondary 39%,$tertiary 79%,$tertiary 100%; 

$list4: $primary, $secondary, $tertiary, $primary, $secondary, $tertiary, $primary, $secondary, $tertiary; 

@mixin gradient($direction, $list) { 
  background: linear-gradient($direction, $list);  
}



.bg_color_0 { background-color: $grey_0; }
.bg_color_1 { background-color: $grey_1; }
.bg_color_2 { background-color: $grey_2; }
.bg_color_3 { background-color: $grey_3; }
.bg_color_4 { background-color: $grey_4; }
.bg_color_5 { background-color: $grey_5; }