nav {
    padding-top: $h2;
    a {
        padding: $h0;
        text-decoration: none;
        color: $secondary;
        border: 1px solid $secondary;
    }
    
}
a[target="_blank"]:after {
    content: " ⤤";
}