//PHI based scaling ratio
$h13: 321.916rem;
$h12: 198.959rem;
$h11: 122.966rem;
$h10: 75.999rem;
$h9: 46.971rem;
$h8: 29.03rem;
$h7: 17.942rem;
$h6: 11.089rem;
$h5: 6.854rem;
$h4: 4.236rem;
$h3: 2.618rem;
$h2: 1.618rem;
$h1: 1rem;
$h0: 0.618rem;
$h-1: 0.382rem;
$h-2: 0.236rem;
$h-3: 0.146rem;
$h-4: 0.09rem;

// Padding top
@mixin padding-top($level: 0) {
	padding-top: size($level);
}
// Padding bottom
@mixin padding-bottom($level: 0) {
	padding-bottom: size($level);
}
// Margin top
@mixin margin-top($level: 0) {
	margin-top: size($level);
}
// Margin bottom
@mixin margin-bottom($level: 0) {
	margin-bottom: size($level);
}

svg {
	max-height: 90vh;
}

// BUTTONS
$button_2: ($h1 $h2);
$button_3: ($h2 $h3);
$button_4: ($h3 $h4);

// PADDINGS
.p_0 {
	padding: 0;
}
.p_1 {
	padding: $h1;
}
.p_2 {
	padding: $h2;
}
.p_3 {
	padding: $h3;
}
.p_4 {
	padding: $h4;
}
.p_5 {
	padding: $h5;
}

.pt_0 {
	padding-top: 0;
}
.pt_1 {
	padding-top: $h1;
}
.pt_2 {
	padding-top: $h2;
}
.pt_3 {
	padding-top: $h3;
}
.pt_4 {
	padding-top: $h4;
}
.pt_5 {
	padding-top: $h5;
}

.mt_-1 {
	margin-top: -$h1;
}
.mt_-2 {
	margin-top: -$h2;
}
.mt_-3 {
	margin-top: -$h3;
}
.mt_-4 {
	margin-top: -$h4;
}
.mt_-5 {
	margin-top: -$h5;
}

.pr_0 {
	padding-right: 0;
}
.pr_1 {
	padding-right: $h1;
}
.pr_2 {
	padding-right: $h2;
}
.pr_3 {
	padding-right: $h3;
}
.pr_4 {
	padding-right: $h4;
}
.pr_5 {
	padding-right: $h5;
}

.pb_0 {
	padding-bottom: 0;
}
.pb_1 {
	padding-bottom: $h1;
}
.pb_2 {
	padding-bottom: $h2;
}
.pb_3 {
	padding-bottom: $h3;
}
.pb_4 {
	padding-bottom: $h4;
}
.pb_5 {
	padding-bottom: $h5;
}

.pl_0 {
	padding-left: 0;
}
.pl_1 {
	padding-left: $h1;
}
.pl_2 {
	padding-left: $h2;
}
.pl_3 {
	padding-left: $h3;
}
.pl_4 {
	padding-left: $h4;
}
.pl_5 {
	padding-left: $h5;
}

// Box vertical sizing (based on viewport)
// .mh_s2_3 {
//     min-height: 75vh;
// }
@for $i from 0 through 10 {
	.mh_#{$i} {
		min-height: $i * 10vh;
	}
}
@include media(s2) {
	@for $i from 0 through 10 {
		.mh_s2_#{$i} {
			min-height: $i * 10vh;
		}
	}
}

// Max width
@for $i from 1 through 10 {
	.mw_#{$i} {
		max-width: $i * 10%;
		margin-left: auto;
		margin-right: auto;
	}
}

.fullfill {
	width: 100%;
	height: 100%;
}
