@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
.svelte-110ubd.svelte-110ubd,
.svelte-110ubd.svelte-110ubd:after,
.svelte-110ubd.svelte-110ubd:before {
	box-sizing: border-box;
}
div.svelte-110ubd.svelte-110ubd,
main.svelte-110ubd.svelte-110ubd {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
main.svelte-110ubd.svelte-110ubd {
	display: block;
}
input.svelte-110ubd.svelte-110ubd {
	-webkit-appearance: none;
	border-radius: 0;
}
svg.svelte-110ubd.svelte-110ubd {
	max-height: 90vh;
}
main.svelte-110ubd.svelte-110ubd {
	font-family: Montserrat, sans-serif;
	letter-spacing: 0;
	font-weight: 500;
	color: #b4b4b4;
}
input.svelte-110ubd.svelte-110ubd {
	border: none;
	font-family: inherit;
	font-size: 1rem;
	line-height: 28.8px;
	font-weight: inherit;
	color: #414141;
}
input[type='number'].svelte-110ubd.svelte-110ubd {
	color: #d3b39c;
	background-color: #d3b39c;
	padding: 0.618rem;
}
input[type='number'].svelte-110ubd.svelte-110ubd:focus {
	outline: 0;
}
input[type='range'].svelte-110ubd.svelte-110ubd {
	-webkit-appearance: none;
	width: 100%;
}
input[type='range'].svelte-110ubd.svelte-110ubd:focus {
	outline: 0;
}
input[type='range'].svelte-110ubd.svelte-110ubd::-webkit-slider-runnable-track {
	width: 100%;
	height: 1px;
	cursor: pointer;
	background: #b4b4b4;
	border-radius: 0;
}
input[type='range'].svelte-110ubd.svelte-110ubd::-webkit-slider-thumb {
	height: 30px;
	width: 30px;
	border-radius: 50px;
	background: #b4b4b4;
	cursor: grab;
	-webkit-appearance: none;
	margin-top: -14.5px;
}
input[type='range'].svelte-110ubd.svelte-110ubd:focus::-webkit-slider-runnable-track {
	background: #4bddc4;
}
@keyframes svelte-110ubd-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-110ubd-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-110ubd-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-110ubd.svelte-110ubd:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-110ubd.svelte-110ubd::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
svg.svelte-110ubd.svelte-110ubd {
	width: 100%;
}
svg.svelte-110ubd circle.svelte-110ubd {
	fill: #6c6c6c;
}
svg.svelte-110ubd g.svelte-110ubd {
	transform: translate(50%, 50%);
}
.PhiSvg.svelte-110ubd.svelte-110ubd {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 'media' 'texto';
	padding-top: 0;
	padding-right: 2.618rem;
	padding-left: 2.618rem;
	padding-bottom: 1.618rem;
}
@media (min-width: 769px) {
	.PhiSvg.svelte-110ubd.svelte-110ubd {
		padding-bottom: 0;
		padding-right: 0;
		grid-template-columns: 1fr 1.62fr;
		grid-template-areas: 'texto media';
	}
}
.PhiSvg.svelte-110ubd .BannerMedia.svelte-110ubd {
	grid-area: media;
}
.PhiSvg.svelte-110ubd .controls.svelte-110ubd {
	margin-bottom: 1.618rem;
	width: 100%;
	display: grid;
	gap: 2.618rem;
}
.PhiSvg.svelte-110ubd .PhiSvgText.svelte-110ubd {
	display: grid;
	justify-items: start;
	align-self: center;
	grid-area: texto;
}
.svelte-9lwcdk,
.svelte-9lwcdk:after,
.svelte-9lwcdk:before {
	box-sizing: border-box;
}
div.svelte-9lwcdk {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-9lwcdk-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-9lwcdk-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-9lwcdk-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-9lwcdk:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-9lwcdk::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.draggable.svelte-9lwcdk {
	user-select: none;
	cursor: move;
	z-index: 1000;
	font-size: 4.236rem;
	line-height: 86.4px;
}
.svelte-17qooml,
.svelte-17qooml:after,
.svelte-17qooml:before {
	box-sizing: border-box;
}
form.svelte-17qooml {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
.c_0.svelte-17qooml {
	color: #e5e5e5;
}
.c_1.svelte-17qooml {
	color: #b4b4b4;
}
.c_2.svelte-17qooml {
	color: #6c6c6c;
}
.c_3.svelte-17qooml {
	color: #414141;
}
.c_4.svelte-17qooml {
	color: #323232;
}
.c_5.svelte-17qooml {
	color: #121212;
}
.c_black.svelte-17qooml {
	color: #000;
}
.c_white.svelte-17qooml {
	color: #fff;
}
.c_primary.svelte-17qooml {
	color: #d3b39c;
}
.bgc_0.svelte-17qooml {
	background-color: #e5e5e5;
}
.bgc_1.svelte-17qooml {
	background-color: #b4b4b4;
}
.bgc_2.svelte-17qooml {
	background-color: #6c6c6c;
}
.bgc_3.svelte-17qooml {
	background-color: #414141;
}
.bgc_4.svelte-17qooml {
	background-color: #323232;
}
.bgc_5.svelte-17qooml {
	background-color: #121212;
}
.bgwhite.svelte-17qooml {
	background-color: #fff;
}
.bgblack.svelte-17qooml {
	background-color: #000;
}
.bgc_primary.svelte-17qooml {
	background-color: #d4b39c;
}
.fullfill.svelte-17qooml {
	width: 100%;
	height: 100%;
}
.p_0.svelte-17qooml {
	padding: 0;
}
.p_1.svelte-17qooml {
	padding: 1rem;
}
.p_2.svelte-17qooml {
	padding: 1.618rem;
}
.p_3.svelte-17qooml {
	padding: 2.618rem;
}
.p_4.svelte-17qooml {
	padding: 4.236rem;
}
.p_5.svelte-17qooml {
	padding: 6.854rem;
}
.pt_0.svelte-17qooml {
	padding-top: 0;
}
.pt_1.svelte-17qooml {
	padding-top: 1rem;
}
.pt_2.svelte-17qooml {
	padding-top: 1.618rem;
}
.pt_3.svelte-17qooml {
	padding-top: 2.618rem;
}
.pt_4.svelte-17qooml {
	padding-top: 4.236rem;
}
.pt_5.svelte-17qooml {
	padding-top: 6.854rem;
}
.mt_-1.svelte-17qooml {
	margin-top: -1rem;
}
.mt_-2.svelte-17qooml {
	margin-top: -1.618rem;
}
.mt_-3.svelte-17qooml {
	margin-top: -2.618rem;
}
.mt_-4.svelte-17qooml {
	margin-top: -4.236rem;
}
.mt_-5.svelte-17qooml {
	margin-top: -6.854rem;
}
.pr_0.svelte-17qooml {
	padding-right: 0;
}
.pr_1.svelte-17qooml {
	padding-right: 1rem;
}
.pr_2.svelte-17qooml {
	padding-right: 1.618rem;
}
.pr_3.svelte-17qooml {
	padding-right: 2.618rem;
}
.pr_4.svelte-17qooml {
	padding-right: 4.236rem;
}
.pr_5.svelte-17qooml {
	padding-right: 6.854rem;
}
.pb_0.svelte-17qooml {
	padding-bottom: 0;
}
.pb_1.svelte-17qooml {
	padding-bottom: 1rem;
}
.pb_2.svelte-17qooml {
	padding-bottom: 1.618rem;
}
.pb_3.svelte-17qooml {
	padding-bottom: 2.618rem;
}
.pb_4.svelte-17qooml {
	padding-bottom: 4.236rem;
}
.pb_5.svelte-17qooml {
	padding-bottom: 6.854rem;
}
.pl_0.svelte-17qooml {
	padding-left: 0;
}
.pl_1.svelte-17qooml {
	padding-left: 1rem;
}
.pl_2.svelte-17qooml {
	padding-left: 1.618rem;
}
.pl_3.svelte-17qooml {
	padding-left: 2.618rem;
}
.pl_4.svelte-17qooml {
	padding-left: 4.236rem;
}
.pl_5.svelte-17qooml {
	padding-left: 6.854rem;
}
.mh_0.svelte-17qooml {
	min-height: 0;
}
.mh_1.svelte-17qooml {
	min-height: 10vh;
}
.mh_2.svelte-17qooml {
	min-height: 20vh;
}
.mh_3.svelte-17qooml {
	min-height: 30vh;
}
.mh_4.svelte-17qooml {
	min-height: 40vh;
}
.mh_5.svelte-17qooml {
	min-height: 50vh;
}
.mh_6.svelte-17qooml {
	min-height: 60vh;
}
.mh_7.svelte-17qooml {
	min-height: 70vh;
}
.mh_8.svelte-17qooml {
	min-height: 80vh;
}
.mh_9.svelte-17qooml {
	min-height: 90vh;
}
.mh_10.svelte-17qooml {
	min-height: 100vh;
}
@media (min-width: 769px) {
	.mh_s2_0.svelte-17qooml {
		min-height: 0;
	}
	.mh_s2_1.svelte-17qooml {
		min-height: 10vh;
	}
	.mh_s2_2.svelte-17qooml {
		min-height: 20vh;
	}
	.mh_s2_3.svelte-17qooml {
		min-height: 30vh;
	}
	.mh_s2_4.svelte-17qooml {
		min-height: 40vh;
	}
	.mh_s2_5.svelte-17qooml {
		min-height: 50vh;
	}
	.mh_s2_6.svelte-17qooml {
		min-height: 60vh;
	}
	.mh_s2_7.svelte-17qooml {
		min-height: 70vh;
	}
	.mh_s2_8.svelte-17qooml {
		min-height: 80vh;
	}
	.mh_s2_9.svelte-17qooml {
		min-height: 90vh;
	}
	.mh_s2_10.svelte-17qooml {
		min-height: 100vh;
	}
}
.dg.svelte-17qooml {
	display: grid;
	grid-template-columns: repeat(13, 1fr);
}
.dg_0.svelte-17qooml {
	display: grid;
}
.col_1.svelte-17qooml {
	grid-column: span 1;
}
.col_2.svelte-17qooml {
	grid-column: span 2;
}
.col_3.svelte-17qooml {
	grid-column: span 3;
}
.col_4.svelte-17qooml {
	grid-column: span 4;
}
.col_5.svelte-17qooml {
	grid-column: span 5;
}
.col_6.svelte-17qooml {
	grid-column: span 6;
}
.col_7.svelte-17qooml {
	grid-column: span 7;
}
.col_8.svelte-17qooml {
	grid-column: span 8;
}
.col_9.svelte-17qooml {
	grid-column: span 9;
}
.col_10.svelte-17qooml {
	grid-column: span 10;
}
.col_11.svelte-17qooml {
	grid-column: span 11;
}
.col_12.svelte-17qooml {
	grid-column: span 12;
}
.col_13.svelte-17qooml {
	grid-column: span 13;
}
@media (min-width: 769px) {
	.col_s2_1.svelte-17qooml {
		grid-column: span 1;
	}
	.col_s2_2.svelte-17qooml {
		grid-column: span 2;
	}
	.col_s2_3.svelte-17qooml {
		grid-column: span 3;
	}
	.col_s2_4.svelte-17qooml {
		grid-column: span 4;
	}
	.col_s2_5.svelte-17qooml {
		grid-column: span 5;
	}
	.col_s2_6.svelte-17qooml {
		grid-column: span 6;
	}
	.col_s2_7.svelte-17qooml {
		grid-column: span 7;
	}
	.col_s2_8.svelte-17qooml {
		grid-column: span 8;
	}
	.col_s2_9.svelte-17qooml {
		grid-column: span 9;
	}
	.col_s2_10.svelte-17qooml {
		grid-column: span 10;
	}
	.col_s2_11.svelte-17qooml {
		grid-column: span 11;
	}
	.col_s2_12.svelte-17qooml {
		grid-column: span 12;
	}
	.col_s2_13.svelte-17qooml {
		grid-column: span 13;
	}
}
@media (min-width: 1023px) {
	.col_s3_1.svelte-17qooml {
		grid-column: span 1;
	}
	.col_s3_2.svelte-17qooml {
		grid-column: span 2;
	}
	.col_s3_3.svelte-17qooml {
		grid-column: span 3;
	}
	.col_s3_4.svelte-17qooml {
		grid-column: span 4;
	}
	.col_s3_5.svelte-17qooml {
		grid-column: span 5;
	}
	.col_s3_6.svelte-17qooml {
		grid-column: span 6;
	}
	.col_s3_7.svelte-17qooml {
		grid-column: span 7;
	}
	.col_s3_8.svelte-17qooml {
		grid-column: span 8;
	}
	.col_s3_9.svelte-17qooml {
		grid-column: span 9;
	}
	.col_s3_10.svelte-17qooml {
		grid-column: span 10;
	}
	.col_s3_11.svelte-17qooml {
		grid-column: span 11;
	}
	.col_s3_12.svelte-17qooml {
		grid-column: span 12;
	}
	.col_s3_13.svelte-17qooml {
		grid-column: span 13;
	}
}
@media (min-width: 1400px) {
	.col_s4_1.svelte-17qooml {
		grid-column: span 1;
	}
	.col_s4_2.svelte-17qooml {
		grid-column: span 2;
	}
	.col_s4_3.svelte-17qooml {
		grid-column: span 3;
	}
	.col_s4_4.svelte-17qooml {
		grid-column: span 4;
	}
	.col_s4_5.svelte-17qooml {
		grid-column: span 5;
	}
	.col_s4_6.svelte-17qooml {
		grid-column: span 6;
	}
	.col_s4_7.svelte-17qooml {
		grid-column: span 7;
	}
	.col_s4_8.svelte-17qooml {
		grid-column: span 8;
	}
	.col_s4_9.svelte-17qooml {
		grid-column: span 9;
	}
	.col_s4_10.svelte-17qooml {
		grid-column: span 10;
	}
	.col_s4_11.svelte-17qooml {
		grid-column: span 11;
	}
	.col_s4_12.svelte-17qooml {
		grid-column: span 12;
	}
	.col_s4_13.svelte-17qooml {
		grid-column: span 13;
	}
}
.slot_1.svelte-17qooml {
	grid-area: __1;
}
.slot_2.svelte-17qooml {
	grid-area: __2;
}
.slot_3.svelte-17qooml {
	grid-area: __3;
}
.slot_4.svelte-17qooml {
	grid-area: __4;
}
.slot_5.svelte-17qooml {
	grid-area: __5;
}
.pic.svelte-17qooml {
	height: 100%;
	place-items: center;
}
.pcc.svelte-17qooml {
	height: 100%;
	place-content: center;
	align-content: space-evenly;
}
.gap_0.svelte-17qooml {
	gap: 0;
}
.gap_1.svelte-17qooml {
	gap: 1rem;
}
.gap_2.svelte-17qooml {
	gap: 1.618rem;
}
.gap_3.svelte-17qooml {
	gap: 2.618rem;
}
.rg_1.svelte-17qooml {
	row-gap: 1.618rem;
}
.rg_2.svelte-17qooml {
	row-gap: 2.618rem;
}
.rg_3.svelte-17qooml {
	row-gap: 4.236rem;
}
.rg_4.svelte-17qooml {
	row-gap: 6.854rem;
}
.rg_5.svelte-17qooml {
	row-gap: 11.089rem;
}
.cg_1.svelte-17qooml {
	column-gap: 1.618rem;
}
.cg_2.svelte-17qooml {
	column-gap: 2.618rem;
}
.cg_3.svelte-17qooml {
	column-gap: 4.236rem;
}
.cg_4.svelte-17qooml {
	column-gap: 6.854rem;
}
.cg_5.svelte-17qooml {
	column-gap: 11.089rem;
}
@media (min-width: 769px) {
	.cg_s2_1.svelte-17qooml {
		column-gap: 1.618rem;
	}
	.cg_s2_2.svelte-17qooml {
		column-gap: 2.618rem;
	}
	.cg_s2_3.svelte-17qooml {
		column-gap: 4.236rem;
	}
	.cg_s2_4.svelte-17qooml {
		column-gap: 6.854rem;
	}
	.cg_s2_5.svelte-17qooml {
		column-gap: 11.089rem;
	}
}
.tar.svelte-17qooml {
	text-align: right;
}
.tac.svelte-17qooml {
	text-align: center;
}
.tal.svelte-17qooml {
	text-align: left;
}
@keyframes svelte-17qooml-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-17qooml-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-17qooml-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.namespace.svelte-17qooml {
	opacity: 0.7;
}
.token.cdata.svelte-17qooml,
.token.comment.svelte-17qooml,
.token.doctype.svelte-17qooml,
.token.prolog.svelte-17qooml {
	color: #6c6c6c;
}
.token.punctuation.svelte-17qooml {
	color: #6c6c6c;
}
.token.boolean.svelte-17qooml,
.token.constant.svelte-17qooml,
.token.deleted.svelte-17qooml,
.token.number.svelte-17qooml,
.token.property.svelte-17qooml,
.token.symbol.svelte-17qooml,
.token.tag.svelte-17qooml {
	color: #e5e5e5;
}
.token.attr-name.svelte-17qooml,
.token.builtin.svelte-17qooml,
.token.char.svelte-17qooml,
.token.inserted.svelte-17qooml,
.token.selector.svelte-17qooml,
.token.string.svelte-17qooml {
	color: #e5e5e5;
}
.token.entity.svelte-17qooml,
.token.operator.svelte-17qooml,
.token.url.svelte-17qooml {
	color: #000;
}
.token.atrule.svelte-17qooml,
.token.attr-value.svelte-17qooml,
.token.keyword.svelte-17qooml {
	color: #b4b4b4;
}
.token.function.svelte-17qooml {
	color: #4bddc4;
}
.token.important.svelte-17qooml,
.token.regex.svelte-17qooml,
.token.variable.svelte-17qooml {
	color: #414141;
}
.token.bold.svelte-17qooml,
.token.important.svelte-17qooml {
	font-weight: 700;
}
.token.italic.svelte-17qooml {
	font-style: italic;
}
.token.entity.svelte-17qooml {
	cursor: help;
}
.line-highlight.svelte-17qooml {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em;
	background: #4c4b48;
	box-shadow: inset 5px 0 0 #f77ea2;
	z-index: 0;
	pointer-events: none;
	line-height: inherit;
	white-space: pre;
}
.svelte-17qooml:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-17qooml::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.tachado.svelte-17qooml {
	text-decoration: line-through;
}
.not-clickable.svelte-17qooml {
	pointer-events: none;
}
.wrap-object-fit.svelte-17qooml {
	height: inherit;
}
.object-fit.svelte-17qooml {
	object-fit: cover;
	height: 100%;
}
.absolute.svelte-17qooml {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.relative.svelte-17qooml {
	position: relative;
	width: inherit;
}
.dn.svelte-17qooml {
	display: none;
}
.Form_0.svelte-17qooml {
	display: flex;
	flex-direction: row;
}
@media (min-width: 769px) {
	.Form_1.svelte-17qooml {
		margin-inline: auto;
		display: grid;
		grid-template-areas: 'input button';
	}
}
.Form_1.svelte-17qooml:nth-child(1) {
	grid-area: input;
}
.Form_1.svelte-17qooml:nth-child(2) {
	grid-area: button;
}
@media (min-width: 1023px) {
	.Form_1.svelte-17qooml:nth-child(2) {
		width: fit-content;
	}
}
.svelte-168208h,
.svelte-168208h:after,
.svelte-168208h:before {
	box-sizing: border-box;
}
input.svelte-168208h {
	-webkit-appearance: none;
	border-radius: 0;
}
input.svelte-168208h {
	border: none;
	font-family: inherit;
	font-size: 1rem;
	line-height: 28.8px;
	font-weight: inherit;
	color: #414141;
}
@keyframes svelte-168208h-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-168208h-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-168208h-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-168208h:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-168208h::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.svelte-168208h:focus {
	outline: 0;
}
input.svelte-168208h {
	font-size: 1.618rem;
	line-height: 40.896px;
	padding: 1rem;
	border: none;
	background-color: #fff;
}
@media (min-width: 1023px) {
	input.svelte-168208h {
		border-top-left-radius: 1.618rem;
		border-bottom-left-radius: 1.618rem;
	}
}
input.svelte-168208h:focus-within {
	background-color: #d4b39c;
	color: #121212;
}
input.svelte-168208h:focus-within::placeholder {
	color: transparent;
}
input.svelte-168208h::placeholder {
	color: #323232;
}
.svelte-o89new,
.svelte-o89new:after,
.svelte-o89new:before {
	box-sizing: border-box;
}
div.svelte-o89new {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
svg.svelte-o89new {
	max-height: 90vh;
}
@keyframes svelte-o89new-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-o89new-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-o89new-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-o89new:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-o89new::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
svg.svelte-o89new {
	width: 100%;
}
circle.svelte-o89new {
	fill: none;
	stroke: #b4b4b4;
	stroke-width: 4;
}
.svelte-ccutqv,
.svelte-ccutqv:after,
.svelte-ccutqv:before {
	box-sizing: border-box;
}
div.svelte-ccutqv {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-ccutqv-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-ccutqv-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-ccutqv-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-ccutqv:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-ccutqv::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.Alert.svelte-ccutqv {
	color: #000;
	padding: 1rem;
	display: none;
	position: relative;
	background-color: #d4b39c;
}
.haserror.svelte-ccutqv {
	margin-top: 1rem;
	display: block;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-top-style: dashed;
	border-top-style: dashed;
	border-bottom-style: dashed;
	border-top-color: #414141;
	border-bottom-color: #414141;
	animation-name: svelte-ccutqv-show_error;
	animation-duration: 0.3s;
	animation-fill-mode: backwards;
	animation-iteration-count: 1;
}
@keyframes svelte-ccutqv-show_error {
	0% {
		transform: translateY(0);
		opacity: 0;
	}
	50% {
		transform: translateY(10px);
		opacity: 1;
	}
}
.svelte-tyr87h,
.svelte-tyr87h:after,
.svelte-tyr87h:before {
	box-sizing: border-box;
}
div.svelte-tyr87h,
footer.svelte-tyr87h,
h2.svelte-tyr87h,
main.svelte-tyr87h,
small.svelte-tyr87h {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
footer.svelte-tyr87h,
main.svelte-tyr87h {
	display: block;
}
main.svelte-tyr87h,
small.svelte-tyr87h {
	font-family: Montserrat, sans-serif;
	letter-spacing: 0;
	font-weight: 500;
	color: #b4b4b4;
}
h2.svelte-tyr87h {
	font-weight: 500;
	font-size: 1rem;
	line-height: 28.8px;
}
@keyframes svelte-tyr87h-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-tyr87h-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-tyr87h-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-tyr87h:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-tyr87h::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
main.svelte-tyr87h {
	margin-bottom: 1.618rem;
	text-align: center;
	display: grid;
	place-content: center;
	grid-template-areas: 'resultado' 'form';
	color: inherit;
}
.position-form.svelte-tyr87h {
	grid-area: form;
}
.result.svelte-tyr87h {
	grid-area: resultado;
	font-weight: 700;
	font-size: 6.854rem;
	line-height: 144px;
}
small.svelte-tyr87h {
	text-align: center;
	color: inherit;
	display: block;
}
