@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
.svelte-14ryu2i.svelte-14ryu2i,
.svelte-14ryu2i.svelte-14ryu2i:after,
.svelte-14ryu2i.svelte-14ryu2i:before {
	box-sizing: border-box;
}
div.svelte-14ryu2i.svelte-14ryu2i,
main.svelte-14ryu2i.svelte-14ryu2i {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
main.svelte-14ryu2i.svelte-14ryu2i {
	display: block;
}
input.svelte-14ryu2i.svelte-14ryu2i {
	-webkit-appearance: none;
	border-radius: 0;
}
.bgc_3.svelte-14ryu2i.svelte-14ryu2i {
	background-color: #414141;
}
.bgc_4.svelte-14ryu2i.svelte-14ryu2i {
	background-color: #323232;
}
svg.svelte-14ryu2i.svelte-14ryu2i {
	max-height: 90vh;
}
.p_3.svelte-14ryu2i.svelte-14ryu2i {
	padding: 2.618rem;
}
.dg_0.svelte-14ryu2i.svelte-14ryu2i {
	display: grid;
}
.dg.svelte-14ryu2i.svelte-14ryu2i {
	display: grid;
	grid-template-columns: repeat(13, 1fr);
}
.col_12.svelte-14ryu2i.svelte-14ryu2i {
	grid-column: span 12;
}
.col_13.svelte-14ryu2i.svelte-14ryu2i {
	grid-column: span 13;
}
@media (min-width: 769px) {
	.col_s2_5.svelte-14ryu2i.svelte-14ryu2i {
		grid-column: span 5;
	}
	.col_s2_8.svelte-14ryu2i.svelte-14ryu2i {
		grid-column: span 8;
	}
}
.pcc.svelte-14ryu2i.svelte-14ryu2i {
	height: 100%;
	place-content: center;
	align-content: space-evenly;
}
main.svelte-14ryu2i.svelte-14ryu2i {
	font-family: Montserrat, sans-serif;
	letter-spacing: 0;
	font-weight: 500;
	color: #b4b4b4;
}
input.svelte-14ryu2i.svelte-14ryu2i {
	border: none;
	font-family: inherit;
	font-size: 1rem;
	line-height: 28.8px;
	font-weight: inherit;
	color: #414141;
}
input[type='number'].svelte-14ryu2i.svelte-14ryu2i {
	color: inherit;
	padding: 0.618rem;
}
input[type='number'].svelte-14ryu2i.svelte-14ryu2i:focus {
	outline: 0;
}
input[type='range'].svelte-14ryu2i.svelte-14ryu2i {
	-webkit-appearance: none;
	width: 100%;
}
input[type='range'].svelte-14ryu2i.svelte-14ryu2i:focus {
	outline: 0;
}
input[type='range'].svelte-14ryu2i.svelte-14ryu2i::-webkit-slider-runnable-track {
	width: 100%;
	height: 1px;
	cursor: pointer;
	background: #b4b4b4;
	border-radius: 0;
}
input[type='range'].svelte-14ryu2i.svelte-14ryu2i::-webkit-slider-thumb {
	height: 30px;
	width: 30px;
	border-radius: 50px;
	background: #b4b4b4;
	cursor: grab;
	-webkit-appearance: none;
	margin-top: -14.5px;
}
input[type='range'].svelte-14ryu2i.svelte-14ryu2i:focus::-webkit-slider-runnable-track {
	background: #4bddc4;
}
@keyframes svelte-14ryu2i-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-14ryu2i-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-14ryu2i-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-14ryu2i.svelte-14ryu2i:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-14ryu2i.svelte-14ryu2i::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
svg.svelte-14ryu2i.svelte-14ryu2i {
	width: 100%;
}
svg.svelte-14ryu2i circle.svelte-14ryu2i {
	fill: #6c6c6c;
}
svg.svelte-14ryu2i g.svelte-14ryu2i {
	transform: translate(50%, 50%);
}
.svelte-wab77h,
.svelte-wab77h:after,
.svelte-wab77h:before {
	box-sizing: border-box;
}
div.svelte-wab77h {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-wab77h-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-wab77h-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-wab77h-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-wab77h:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-wab77h::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.draggable.svelte-wab77h {
	user-select: none;
	cursor: move;
	z-index: 1000;
	font-size: 4.236rem;
	line-height: 86.4px;
}
.svelte-zv6rfq,
.svelte-zv6rfq:after,
.svelte-zv6rfq:before {
	box-sizing: border-box;
}
form.svelte-zv6rfq {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
.c_0.svelte-zv6rfq {
	color: #e5e5e5;
}
.c_1.svelte-zv6rfq {
	color: #b4b4b4;
}
.c_2.svelte-zv6rfq {
	color: #6c6c6c;
}
.c_3.svelte-zv6rfq {
	color: #414141;
}
.c_4.svelte-zv6rfq {
	color: #323232;
}
.c_5.svelte-zv6rfq {
	color: #121212;
}
.c_black.svelte-zv6rfq {
	color: #000;
}
.c_white.svelte-zv6rfq {
	color: #fff;
}
.c_primary.svelte-zv6rfq {
	color: #d3b39c;
}
.bgc_0.svelte-zv6rfq {
	background-color: #e5e5e5;
}
.bgc_1.svelte-zv6rfq {
	background-color: #b4b4b4;
}
.bgc_2.svelte-zv6rfq {
	background-color: #6c6c6c;
}
.bgc_3.svelte-zv6rfq {
	background-color: #414141;
}
.bgc_4.svelte-zv6rfq {
	background-color: #323232;
}
.bgc_5.svelte-zv6rfq {
	background-color: #121212;
}
.bgwhite.svelte-zv6rfq {
	background-color: #fff;
}
.bgblack.svelte-zv6rfq {
	background-color: #000;
}
.bgc_primary.svelte-zv6rfq {
	background-color: #d4b39c;
}
.p_0.svelte-zv6rfq {
	padding: 0;
}
.p_1.svelte-zv6rfq {
	padding: 1rem;
}
.p_2.svelte-zv6rfq {
	padding: 1.618rem;
}
.p_3.svelte-zv6rfq {
	padding: 2.618rem;
}
.p_4.svelte-zv6rfq {
	padding: 4.236rem;
}
.p_5.svelte-zv6rfq {
	padding: 6.854rem;
}
.pt_0.svelte-zv6rfq {
	padding-top: 0;
}
.pt_1.svelte-zv6rfq {
	padding-top: 1rem;
}
.pt_2.svelte-zv6rfq {
	padding-top: 1.618rem;
}
.pt_3.svelte-zv6rfq {
	padding-top: 2.618rem;
}
.pt_4.svelte-zv6rfq {
	padding-top: 4.236rem;
}
.pt_5.svelte-zv6rfq {
	padding-top: 6.854rem;
}
.mt_-1.svelte-zv6rfq {
	margin-top: -1rem;
}
.mt_-2.svelte-zv6rfq {
	margin-top: -1.618rem;
}
.mt_-3.svelte-zv6rfq {
	margin-top: -2.618rem;
}
.mt_-4.svelte-zv6rfq {
	margin-top: -4.236rem;
}
.mt_-5.svelte-zv6rfq {
	margin-top: -6.854rem;
}
.pr_0.svelte-zv6rfq {
	padding-right: 0;
}
.pr_1.svelte-zv6rfq {
	padding-right: 1rem;
}
.pr_2.svelte-zv6rfq {
	padding-right: 1.618rem;
}
.pr_3.svelte-zv6rfq {
	padding-right: 2.618rem;
}
.pr_4.svelte-zv6rfq {
	padding-right: 4.236rem;
}
.pr_5.svelte-zv6rfq {
	padding-right: 6.854rem;
}
.pb_0.svelte-zv6rfq {
	padding-bottom: 0;
}
.pb_1.svelte-zv6rfq {
	padding-bottom: 1rem;
}
.pb_2.svelte-zv6rfq {
	padding-bottom: 1.618rem;
}
.pb_3.svelte-zv6rfq {
	padding-bottom: 2.618rem;
}
.pb_4.svelte-zv6rfq {
	padding-bottom: 4.236rem;
}
.pb_5.svelte-zv6rfq {
	padding-bottom: 6.854rem;
}
.pl_0.svelte-zv6rfq {
	padding-left: 0;
}
.pl_1.svelte-zv6rfq {
	padding-left: 1rem;
}
.pl_2.svelte-zv6rfq {
	padding-left: 1.618rem;
}
.pl_3.svelte-zv6rfq {
	padding-left: 2.618rem;
}
.pl_4.svelte-zv6rfq {
	padding-left: 4.236rem;
}
.pl_5.svelte-zv6rfq {
	padding-left: 6.854rem;
}
.mh_0.svelte-zv6rfq {
	min-height: 0;
}
.mh_1.svelte-zv6rfq {
	min-height: 10vh;
}
.mh_2.svelte-zv6rfq {
	min-height: 20vh;
}
.mh_3.svelte-zv6rfq {
	min-height: 30vh;
}
.mh_4.svelte-zv6rfq {
	min-height: 40vh;
}
.mh_5.svelte-zv6rfq {
	min-height: 50vh;
}
.mh_6.svelte-zv6rfq {
	min-height: 60vh;
}
.mh_7.svelte-zv6rfq {
	min-height: 70vh;
}
.mh_8.svelte-zv6rfq {
	min-height: 80vh;
}
.mh_9.svelte-zv6rfq {
	min-height: 90vh;
}
.mh_10.svelte-zv6rfq {
	min-height: 100vh;
}
@media (min-width: 769px) {
	.mh_s2_0.svelte-zv6rfq {
		min-height: 0;
	}
	.mh_s2_1.svelte-zv6rfq {
		min-height: 10vh;
	}
	.mh_s2_2.svelte-zv6rfq {
		min-height: 20vh;
	}
	.mh_s2_3.svelte-zv6rfq {
		min-height: 30vh;
	}
	.mh_s2_4.svelte-zv6rfq {
		min-height: 40vh;
	}
	.mh_s2_5.svelte-zv6rfq {
		min-height: 50vh;
	}
	.mh_s2_6.svelte-zv6rfq {
		min-height: 60vh;
	}
	.mh_s2_7.svelte-zv6rfq {
		min-height: 70vh;
	}
	.mh_s2_8.svelte-zv6rfq {
		min-height: 80vh;
	}
	.mh_s2_9.svelte-zv6rfq {
		min-height: 90vh;
	}
	.mh_s2_10.svelte-zv6rfq {
		min-height: 100vh;
	}
}
.mw_1.svelte-zv6rfq {
	max-width: 10%;
	margin-left: auto;
	margin-right: auto;
}
.mw_2.svelte-zv6rfq {
	max-width: 20%;
	margin-left: auto;
	margin-right: auto;
}
.mw_3.svelte-zv6rfq {
	max-width: 30%;
	margin-left: auto;
	margin-right: auto;
}
.mw_4.svelte-zv6rfq {
	max-width: 40%;
	margin-left: auto;
	margin-right: auto;
}
.mw_5.svelte-zv6rfq {
	max-width: 50%;
	margin-left: auto;
	margin-right: auto;
}
.mw_6.svelte-zv6rfq {
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
}
.mw_7.svelte-zv6rfq {
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
}
.mw_8.svelte-zv6rfq {
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.mw_9.svelte-zv6rfq {
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.mw_10.svelte-zv6rfq {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.fullfill.svelte-zv6rfq {
	width: 100%;
	height: 100%;
}
.dg_0.svelte-zv6rfq {
	display: grid;
}
.dg.svelte-zv6rfq {
	display: grid;
	grid-template-columns: repeat(13, 1fr);
}
.dg_12.svelte-zv6rfq {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}
.col_1.svelte-zv6rfq {
	grid-column: span 1;
}
.col_2.svelte-zv6rfq {
	grid-column: span 2;
}
.col_3.svelte-zv6rfq {
	grid-column: span 3;
}
.col_4.svelte-zv6rfq {
	grid-column: span 4;
}
.col_5.svelte-zv6rfq {
	grid-column: span 5;
}
.col_6.svelte-zv6rfq {
	grid-column: span 6;
}
.col_7.svelte-zv6rfq {
	grid-column: span 7;
}
.col_8.svelte-zv6rfq {
	grid-column: span 8;
}
.col_9.svelte-zv6rfq {
	grid-column: span 9;
}
.col_10.svelte-zv6rfq {
	grid-column: span 10;
}
.col_11.svelte-zv6rfq {
	grid-column: span 11;
}
.col_12.svelte-zv6rfq {
	grid-column: span 12;
}
.col_13.svelte-zv6rfq {
	grid-column: span 13;
}
@media (min-width: 769px) {
	.col_s2_1.svelte-zv6rfq {
		grid-column: span 1;
	}
	.col_s2_2.svelte-zv6rfq {
		grid-column: span 2;
	}
	.col_s2_3.svelte-zv6rfq {
		grid-column: span 3;
	}
	.col_s2_4.svelte-zv6rfq {
		grid-column: span 4;
	}
	.col_s2_5.svelte-zv6rfq {
		grid-column: span 5;
	}
	.col_s2_6.svelte-zv6rfq {
		grid-column: span 6;
	}
	.col_s2_7.svelte-zv6rfq {
		grid-column: span 7;
	}
	.col_s2_8.svelte-zv6rfq {
		grid-column: span 8;
	}
	.col_s2_9.svelte-zv6rfq {
		grid-column: span 9;
	}
	.col_s2_10.svelte-zv6rfq {
		grid-column: span 10;
	}
	.col_s2_11.svelte-zv6rfq {
		grid-column: span 11;
	}
	.col_s2_12.svelte-zv6rfq {
		grid-column: span 12;
	}
	.col_s2_13.svelte-zv6rfq {
		grid-column: span 13;
	}
}
@media (min-width: 1023px) {
	.col_s3_1.svelte-zv6rfq {
		grid-column: span 1;
	}
	.col_s3_2.svelte-zv6rfq {
		grid-column: span 2;
	}
	.col_s3_3.svelte-zv6rfq {
		grid-column: span 3;
	}
	.col_s3_4.svelte-zv6rfq {
		grid-column: span 4;
	}
	.col_s3_5.svelte-zv6rfq {
		grid-column: span 5;
	}
	.col_s3_6.svelte-zv6rfq {
		grid-column: span 6;
	}
	.col_s3_7.svelte-zv6rfq {
		grid-column: span 7;
	}
	.col_s3_8.svelte-zv6rfq {
		grid-column: span 8;
	}
	.col_s3_9.svelte-zv6rfq {
		grid-column: span 9;
	}
	.col_s3_10.svelte-zv6rfq {
		grid-column: span 10;
	}
	.col_s3_11.svelte-zv6rfq {
		grid-column: span 11;
	}
	.col_s3_12.svelte-zv6rfq {
		grid-column: span 12;
	}
	.col_s3_13.svelte-zv6rfq {
		grid-column: span 13;
	}
}
@media (min-width: 1400px) {
	.col_s4_1.svelte-zv6rfq {
		grid-column: span 1;
	}
	.col_s4_2.svelte-zv6rfq {
		grid-column: span 2;
	}
	.col_s4_3.svelte-zv6rfq {
		grid-column: span 3;
	}
	.col_s4_4.svelte-zv6rfq {
		grid-column: span 4;
	}
	.col_s4_5.svelte-zv6rfq {
		grid-column: span 5;
	}
	.col_s4_6.svelte-zv6rfq {
		grid-column: span 6;
	}
	.col_s4_7.svelte-zv6rfq {
		grid-column: span 7;
	}
	.col_s4_8.svelte-zv6rfq {
		grid-column: span 8;
	}
	.col_s4_9.svelte-zv6rfq {
		grid-column: span 9;
	}
	.col_s4_10.svelte-zv6rfq {
		grid-column: span 10;
	}
	.col_s4_11.svelte-zv6rfq {
		grid-column: span 11;
	}
	.col_s4_12.svelte-zv6rfq {
		grid-column: span 12;
	}
	.col_s4_13.svelte-zv6rfq {
		grid-column: span 13;
	}
}
.slot_1.svelte-zv6rfq {
	grid-area: __1;
}
.slot_2.svelte-zv6rfq {
	grid-area: __2;
}
.slot_3.svelte-zv6rfq {
	grid-area: __3;
}
.slot_4.svelte-zv6rfq {
	grid-area: __4;
}
.slot_5.svelte-zv6rfq {
	grid-area: __5;
}
.pic.svelte-zv6rfq {
	height: 100%;
	place-items: center;
}
.pcc.svelte-zv6rfq {
	height: 100%;
	place-content: center;
	align-content: space-evenly;
}
.pcc_0.svelte-zv6rfq {
	height: 100%;
	place-content: center;
}
.gap_0.svelte-zv6rfq {
	gap: 0;
}
.gap_1.svelte-zv6rfq {
	gap: 1rem;
}
.gap_2.svelte-zv6rfq {
	gap: 1.618rem;
}
.gap_3.svelte-zv6rfq {
	gap: 2.618rem;
}
.rg_1.svelte-zv6rfq {
	row-gap: 1.618rem;
}
.rg_2.svelte-zv6rfq {
	row-gap: 2.618rem;
}
.rg_3.svelte-zv6rfq {
	row-gap: 4.236rem;
}
.rg_4.svelte-zv6rfq {
	row-gap: 6.854rem;
}
.rg_5.svelte-zv6rfq {
	row-gap: 11.089rem;
}
.rg_-1.svelte-zv6rfq {
	row-gap: 0.618rem;
}
.cg_1.svelte-zv6rfq {
	column-gap: 1.618rem;
}
.cg_2.svelte-zv6rfq {
	column-gap: 2.618rem;
}
.cg_3.svelte-zv6rfq {
	column-gap: 4.236rem;
}
.cg_4.svelte-zv6rfq {
	column-gap: 6.854rem;
}
.cg_5.svelte-zv6rfq {
	column-gap: 11.089rem;
}
@media (min-width: 769px) {
	.cg_s2_1.svelte-zv6rfq {
		column-gap: 1.618rem;
	}
	.cg_s2_2.svelte-zv6rfq {
		column-gap: 2.618rem;
	}
	.cg_s2_3.svelte-zv6rfq {
		column-gap: 4.236rem;
	}
	.cg_s2_4.svelte-zv6rfq {
		column-gap: 6.854rem;
	}
	.cg_s2_5.svelte-zv6rfq {
		column-gap: 11.089rem;
	}
}
.oh.svelte-zv6rfq {
	overflow: hidden;
}
.tar.svelte-zv6rfq {
	text-align: right;
}
.tac.svelte-zv6rfq {
	text-align: center;
}
.tal.svelte-zv6rfq {
	text-align: left;
}
@keyframes svelte-zv6rfq-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-zv6rfq-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-zv6rfq-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.namespace.svelte-zv6rfq {
	opacity: 0.7;
}
.token.cdata.svelte-zv6rfq,
.token.comment.svelte-zv6rfq,
.token.doctype.svelte-zv6rfq,
.token.prolog.svelte-zv6rfq {
	color: #93a1a1;
}
.token.punctuation.svelte-zv6rfq {
	color: #999;
}
.token.boolean.svelte-zv6rfq,
.token.constant.svelte-zv6rfq,
.token.deleted.svelte-zv6rfq,
.token.number.svelte-zv6rfq,
.token.property.svelte-zv6rfq,
.token.symbol.svelte-zv6rfq,
.token.tag.svelte-zv6rfq {
	color: #905;
}
.token.attr-name.svelte-zv6rfq,
.token.builtin.svelte-zv6rfq,
.token.char.svelte-zv6rfq,
.token.inserted.svelte-zv6rfq,
.token.selector.svelte-zv6rfq,
.token.string.svelte-zv6rfq {
	color: #690;
}
.token.entity.svelte-zv6rfq,
.token.operator.svelte-zv6rfq,
.token.url.svelte-zv6rfq {
	color: #a67f59;
	background: #fff;
}
.token.atrule.svelte-zv6rfq,
.token.attr-value.svelte-zv6rfq,
.token.keyword.svelte-zv6rfq {
	color: #07a;
}
.token.function.svelte-zv6rfq {
	color: #dd4a68;
}
.token.important.svelte-zv6rfq,
.token.regex.svelte-zv6rfq,
.token.variable.svelte-zv6rfq {
	color: #e90;
}
.token.bold.svelte-zv6rfq,
.token.important.svelte-zv6rfq {
	font-weight: 700;
}
.token.italic.svelte-zv6rfq {
	font-style: italic;
}
.token.entity.svelte-zv6rfq {
	cursor: help;
}
.line-highlight.svelte-zv6rfq {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em;
	background: #f7ebc6;
	box-shadow: inset 5px 0 0 #f7d87c;
	z-index: 0;
	pointer-events: none;
	line-height: inherit;
	white-space: pre;
}
.svelte-zv6rfq:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-zv6rfq::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.tachado.svelte-zv6rfq {
	text-decoration: line-through;
}
.not-clickable.svelte-zv6rfq {
	pointer-events: none;
}
.wrap-object-fit.svelte-zv6rfq {
	height: inherit;
}
.object-fit.svelte-zv6rfq {
	object-fit: cover;
	height: 100%;
}
.absolute.svelte-zv6rfq {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.relative.svelte-zv6rfq {
	position: relative;
	width: inherit;
}
.dn.svelte-zv6rfq {
	display: none;
}
.Form_0.svelte-zv6rfq {
	display: flex;
	flex-direction: row;
}
@media (min-width: 769px) {
	.Form_1.svelte-zv6rfq {
		margin-inline: auto;
		display: grid;
		grid-template-areas: 'input button';
	}
}
.Form_1.svelte-zv6rfq:nth-child(1) {
	grid-area: input;
}
.Form_1.svelte-zv6rfq:nth-child(2) {
	grid-area: button;
}
@media (min-width: 1023px) {
	.Form_1.svelte-zv6rfq:nth-child(2) {
		width: fit-content;
	}
}
.svelte-1dgv0gi,
.svelte-1dgv0gi:after,
.svelte-1dgv0gi:before {
	box-sizing: border-box;
}
input.svelte-1dgv0gi {
	-webkit-appearance: none;
	border-radius: 0;
}
input.svelte-1dgv0gi {
	border: none;
	font-family: inherit;
	font-size: 1rem;
	line-height: 28.8px;
	font-weight: inherit;
	color: #414141;
}
@keyframes svelte-1dgv0gi-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1dgv0gi-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1dgv0gi-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-1dgv0gi:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1dgv0gi::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.svelte-1dgv0gi:focus {
	outline: 0;
}
input.svelte-1dgv0gi {
	font-size: 1.618rem;
	line-height: 40.896px;
	padding: 1rem;
	border: none;
	background-color: #fff;
}
@media (min-width: 1023px) {
	input.svelte-1dgv0gi {
		border-top-left-radius: 1.618rem;
		border-bottom-left-radius: 1.618rem;
	}
}
input.svelte-1dgv0gi:focus-within {
	background-color: #d4b39c;
	color: #121212;
}
input.svelte-1dgv0gi:focus-within::placeholder {
	color: transparent;
}
input.svelte-1dgv0gi::placeholder {
	color: #323232;
}
.svelte-1gypy59,
.svelte-1gypy59:after,
.svelte-1gypy59:before {
	box-sizing: border-box;
}
div.svelte-1gypy59 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
svg.svelte-1gypy59 {
	max-height: 90vh;
}
@keyframes svelte-1gypy59-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1gypy59-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1gypy59-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-1gypy59:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1gypy59::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
svg.svelte-1gypy59 {
	width: 100%;
}
circle.svelte-1gypy59 {
	fill: none;
	stroke: #b4b4b4;
	stroke-width: 4;
}
.svelte-jtu18c,
.svelte-jtu18c:after,
.svelte-jtu18c:before {
	box-sizing: border-box;
}
div.svelte-jtu18c {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-jtu18c-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-jtu18c-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-jtu18c-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-jtu18c:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-jtu18c::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.Alert.svelte-jtu18c {
	color: #000;
	padding: 1rem;
	display: none;
	position: relative;
	background-color: #d4b39c;
}
.haserror.svelte-jtu18c {
	margin-top: 1rem;
	display: block;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-top-style: dashed;
	border-top-style: dashed;
	border-bottom-style: dashed;
	border-top-color: #414141;
	border-bottom-color: #414141;
	animation-name: svelte-jtu18c-show_error;
	animation-duration: 0.3s;
	animation-fill-mode: backwards;
	animation-iteration-count: 1;
}
@keyframes svelte-jtu18c-show_error {
	0% {
		transform: translateY(0);
		opacity: 0;
	}
	50% {
		transform: translateY(10px);
		opacity: 1;
	}
}
.svelte-bbata9,
.svelte-bbata9:after,
.svelte-bbata9:before {
	box-sizing: border-box;
}
div.svelte-bbata9,
footer.svelte-bbata9,
h2.svelte-bbata9,
small.svelte-bbata9 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
footer.svelte-bbata9 {
	display: block;
}
.c_5.svelte-bbata9 {
	color: #121212;
}
.bgc_primary.svelte-bbata9 {
	background-color: #d4b39c;
}
.p_3.svelte-bbata9 {
	padding: 2.618rem;
}
.dg.svelte-bbata9 {
	display: grid;
	grid-template-columns: repeat(13, 1fr);
}
.col_5.svelte-bbata9 {
	grid-column: span 5;
}
.col_6.svelte-bbata9 {
	grid-column: span 6;
}
.col_7.svelte-bbata9 {
	grid-column: span 7;
}
.rg_1.svelte-bbata9 {
	row-gap: 1.618rem;
}
@media (min-width: 769px) {
	.cg_s2_2.svelte-bbata9 {
		column-gap: 2.618rem;
	}
}
small.svelte-bbata9 {
	font-family: Montserrat, sans-serif;
	letter-spacing: 0;
	font-weight: 500;
	color: #b4b4b4;
}
small.svelte-bbata9 {
	color: inherit;
}
h2.svelte-bbata9 {
	font-weight: 500;
	font-size: 1rem;
	line-height: 28.8px;
}
.tal.svelte-bbata9 {
	text-align: left;
}
@keyframes svelte-bbata9-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-bbata9-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-bbata9-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-bbata9:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-bbata9::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.position-form.svelte-bbata9 {
	grid-area: form;
}
.result.svelte-bbata9 {
	grid-area: resultado;
	font-weight: 700;
	font-size: 6.854rem;
	line-height: 144px;
}
small.svelte-bbata9 {
	color: inherit;
}
