@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
.svelte-75gxbp.svelte-75gxbp,
.svelte-75gxbp.svelte-75gxbp:after,
.svelte-75gxbp.svelte-75gxbp:before {
	box-sizing: border-box;
}
div.svelte-75gxbp.svelte-75gxbp,
main.svelte-75gxbp.svelte-75gxbp {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
main.svelte-75gxbp.svelte-75gxbp {
	display: block;
}
input.svelte-75gxbp.svelte-75gxbp {
	-webkit-appearance: none;
	border-radius: 0;
}
svg.svelte-75gxbp.svelte-75gxbp {
	max-height: 90vh;
}
main.svelte-75gxbp.svelte-75gxbp {
	font-family: Montserrat, sans-serif;
	letter-spacing: 0;
	font-weight: 500;
	color: #b4b4b4;
}
input.svelte-75gxbp.svelte-75gxbp {
	border: none;
	font-family: inherit;
	font-size: 1rem;
	line-height: 28.8px;
	font-weight: inherit;
	color: #414141;
}
input[type='number'].svelte-75gxbp.svelte-75gxbp {
	color: #d3b39c;
	background-color: #d3b39c;
	padding: 0.618rem;
}
input[type='number'].svelte-75gxbp.svelte-75gxbp:focus {
	outline: 0;
}
input[type='range'].svelte-75gxbp.svelte-75gxbp {
	-webkit-appearance: none;
	width: 100%;
}
input[type='range'].svelte-75gxbp.svelte-75gxbp:focus {
	outline: 0;
}
input[type='range'].svelte-75gxbp.svelte-75gxbp::-webkit-slider-runnable-track {
	width: 100%;
	height: 1px;
	cursor: pointer;
	background: #b4b4b4;
	border-radius: 0;
}
input[type='range'].svelte-75gxbp.svelte-75gxbp::-webkit-slider-thumb {
	height: 30px;
	width: 30px;
	border-radius: 50px;
	background: #b4b4b4;
	cursor: grab;
	-webkit-appearance: none;
	margin-top: -14.5px;
}
input[type='range'].svelte-75gxbp.svelte-75gxbp:focus::-webkit-slider-runnable-track {
	background: #4bddc4;
}
@keyframes svelte-75gxbp-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-75gxbp-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-75gxbp-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-75gxbp.svelte-75gxbp:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-75gxbp.svelte-75gxbp::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
svg.svelte-75gxbp.svelte-75gxbp {
	width: 100%;
}
svg.svelte-75gxbp circle.svelte-75gxbp {
	fill: #6c6c6c;
}
svg.svelte-75gxbp g.svelte-75gxbp {
	transform: translate(50%, 50%);
}
.PhiSvg.svelte-75gxbp.svelte-75gxbp {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 'media' 'texto';
	padding-top: 0;
	padding-right: 2.618rem;
	padding-left: 2.618rem;
	padding-bottom: 1.618rem;
}
@media (min-width: 769px) {
	.PhiSvg.svelte-75gxbp.svelte-75gxbp {
		padding-bottom: 0;
		padding-right: 0;
		grid-template-columns: 1fr 1.62fr;
		grid-template-areas: 'texto media';
	}
}
.PhiSvg.svelte-75gxbp .BannerMedia.svelte-75gxbp {
	grid-area: media;
}
.PhiSvg.svelte-75gxbp .controls.svelte-75gxbp {
	margin-bottom: 1.618rem;
	width: 100%;
	display: grid;
	gap: 2.618rem;
}
.PhiSvg.svelte-75gxbp .PhiSvgText.svelte-75gxbp {
	display: grid;
	justify-items: start;
	align-self: center;
	grid-area: texto;
}
.svelte-zrpsxi,
.svelte-zrpsxi:after,
.svelte-zrpsxi:before {
	box-sizing: border-box;
}
div.svelte-zrpsxi {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-zrpsxi-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-zrpsxi-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-zrpsxi-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-zrpsxi:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-zrpsxi::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.draggable.svelte-zrpsxi {
	user-select: none;
	cursor: move;
	z-index: 1000;
	font-size: 4.236rem;
	line-height: 86.4px;
}
.svelte-7maxdl,
.svelte-7maxdl:after,
.svelte-7maxdl:before {
	box-sizing: border-box;
}
form.svelte-7maxdl {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
.c_0.svelte-7maxdl {
	color: #e5e5e5;
}
.c_1.svelte-7maxdl {
	color: #b4b4b4;
}
.c_2.svelte-7maxdl {
	color: #6c6c6c;
}
.c_3.svelte-7maxdl {
	color: #414141;
}
.c_4.svelte-7maxdl {
	color: #323232;
}
.c_5.svelte-7maxdl {
	color: #121212;
}
.c_black.svelte-7maxdl {
	color: #000;
}
.c_white.svelte-7maxdl {
	color: #fff;
}
.c_primary.svelte-7maxdl {
	color: #d3b39c;
}
.bgc_0.svelte-7maxdl {
	background-color: #e5e5e5;
}
.bgc_1.svelte-7maxdl {
	background-color: #b4b4b4;
}
.bgc_2.svelte-7maxdl {
	background-color: #6c6c6c;
}
.bgc_3.svelte-7maxdl {
	background-color: #414141;
}
.bgc_4.svelte-7maxdl {
	background-color: #323232;
}
.bgc_5.svelte-7maxdl {
	background-color: #121212;
}
.bgwhite.svelte-7maxdl {
	background-color: #fff;
}
.bgblack.svelte-7maxdl {
	background-color: #000;
}
.bgc_primary.svelte-7maxdl {
	background-color: #d4b39c;
}
.fullfill.svelte-7maxdl {
	width: 100%;
	height: 100%;
}
.p_0.svelte-7maxdl {
	padding: 0;
}
.p_1.svelte-7maxdl {
	padding: 1rem;
}
.p_2.svelte-7maxdl {
	padding: 1.618rem;
}
.p_3.svelte-7maxdl {
	padding: 2.618rem;
}
.p_4.svelte-7maxdl {
	padding: 4.236rem;
}
.p_5.svelte-7maxdl {
	padding: 6.854rem;
}
.pt_0.svelte-7maxdl {
	padding-top: 0;
}
.pt_1.svelte-7maxdl {
	padding-top: 1rem;
}
.pt_2.svelte-7maxdl {
	padding-top: 1.618rem;
}
.pt_3.svelte-7maxdl {
	padding-top: 2.618rem;
}
.pt_4.svelte-7maxdl {
	padding-top: 4.236rem;
}
.pt_5.svelte-7maxdl {
	padding-top: 6.854rem;
}
.pr_0.svelte-7maxdl {
	padding-right: 0;
}
.pr_1.svelte-7maxdl {
	padding-right: 1rem;
}
.pr_2.svelte-7maxdl {
	padding-right: 1.618rem;
}
.pr_3.svelte-7maxdl {
	padding-right: 2.618rem;
}
.pr_4.svelte-7maxdl {
	padding-right: 4.236rem;
}
.pr_5.svelte-7maxdl {
	padding-right: 6.854rem;
}
.pb_0.svelte-7maxdl {
	padding-bottom: 0;
}
.pb_1.svelte-7maxdl {
	padding-bottom: 1rem;
}
.pb_2.svelte-7maxdl {
	padding-bottom: 1.618rem;
}
.pb_3.svelte-7maxdl {
	padding-bottom: 2.618rem;
}
.pb_4.svelte-7maxdl {
	padding-bottom: 4.236rem;
}
.pb_5.svelte-7maxdl {
	padding-bottom: 6.854rem;
}
.pl_0.svelte-7maxdl {
	padding-left: 0;
}
.pl_1.svelte-7maxdl {
	padding-left: 1rem;
}
.pl_2.svelte-7maxdl {
	padding-left: 1.618rem;
}
.pl_3.svelte-7maxdl {
	padding-left: 2.618rem;
}
.pl_4.svelte-7maxdl {
	padding-left: 4.236rem;
}
.pl_5.svelte-7maxdl {
	padding-left: 6.854rem;
}
.dg.svelte-7maxdl {
	display: grid;
	grid-template-columns: repeat(13, 1fr);
	gap: 1px;
	background-color: #000;
}
.grid-1.svelte-7maxdl {
	grid-column: span 1;
	color: #fff;
	background-color: red;
}
.grid-2.svelte-7maxdl {
	grid-column: span 2;
	color: #fff;
	background-color: red;
}
.grid-3.svelte-7maxdl {
	grid-column: span 3;
	color: #fff;
	background-color: red;
}
.grid-4.svelte-7maxdl {
	grid-column: span 4;
	color: #fff;
	background-color: red;
}
.grid-5.svelte-7maxdl {
	grid-column: span 5;
	color: #fff;
	background-color: red;
}
.grid-6.svelte-7maxdl {
	grid-column: span 6;
	color: #fff;
	background-color: red;
}
.grid-7.svelte-7maxdl {
	grid-column: span 7;
	color: #fff;
	background-color: red;
}
.grid-8.svelte-7maxdl {
	grid-column: span 8;
	color: #fff;
	background-color: red;
}
.grid-9.svelte-7maxdl {
	grid-column: span 9;
	color: #fff;
	background-color: red;
}
.grid-10.svelte-7maxdl {
	grid-column: span 10;
	color: #fff;
	background-color: red;
}
.grid-11.svelte-7maxdl {
	grid-column: span 11;
	color: #fff;
	background-color: red;
}
.grid-12.svelte-7maxdl {
	grid-column: span 12;
	color: #fff;
	background-color: red;
}
.grid-13.svelte-7maxdl {
	grid-column: span 13;
	color: #fff;
	background-color: red;
}
.gr.svelte-7maxdl {
	width: 100%;
}
.slot_1.svelte-7maxdl {
	grid-area: __1;
}
.slot_2.svelte-7maxdl {
	grid-area: __2;
}
.slot_3.svelte-7maxdl {
	grid-area: __3;
}
.slot_4.svelte-7maxdl {
	grid-area: __4;
}
.slot_5.svelte-7maxdl {
	grid-area: __5;
}
.pic.svelte-7maxdl {
	height: 100%;
	place-items: center;
}
.pcc.svelte-7maxdl {
	height: 100%;
	place-content: center;
	align-content: space-evenly;
}
.gap_0.svelte-7maxdl {
	gap: 0;
}
.gap_1.svelte-7maxdl {
	gap: 1rem;
}
.gap_2.svelte-7maxdl {
	gap: 1.618rem;
}
.gap_3.svelte-7maxdl {
	gap: 2.618rem;
}
.tar.svelte-7maxdl {
	text-align: right;
}
.tac.svelte-7maxdl {
	text-align: center;
}
.tal.svelte-7maxdl {
	text-align: left;
}
@keyframes svelte-7maxdl-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-7maxdl-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-7maxdl-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.namespace.svelte-7maxdl {
	opacity: 0.7;
}
.token.cdata.svelte-7maxdl,
.token.comment.svelte-7maxdl,
.token.doctype.svelte-7maxdl,
.token.prolog.svelte-7maxdl {
	color: #6c6c6c;
}
.token.punctuation.svelte-7maxdl {
	color: #6c6c6c;
}
.token.boolean.svelte-7maxdl,
.token.constant.svelte-7maxdl,
.token.deleted.svelte-7maxdl,
.token.number.svelte-7maxdl,
.token.property.svelte-7maxdl,
.token.symbol.svelte-7maxdl,
.token.tag.svelte-7maxdl {
	color: #e5e5e5;
}
.token.attr-name.svelte-7maxdl,
.token.builtin.svelte-7maxdl,
.token.char.svelte-7maxdl,
.token.inserted.svelte-7maxdl,
.token.selector.svelte-7maxdl,
.token.string.svelte-7maxdl {
	color: #e5e5e5;
}
.token.entity.svelte-7maxdl,
.token.operator.svelte-7maxdl,
.token.url.svelte-7maxdl {
	color: #d3b39c;
	background: #414141;
}
.token.atrule.svelte-7maxdl,
.token.attr-value.svelte-7maxdl,
.token.keyword.svelte-7maxdl {
	color: #b4b4b4;
}
.token.function.svelte-7maxdl {
	color: #4bddc4;
}
.token.important.svelte-7maxdl,
.token.regex.svelte-7maxdl,
.token.variable.svelte-7maxdl {
	color: #d3b39c;
}
.token.bold.svelte-7maxdl,
.token.important.svelte-7maxdl {
	font-weight: 700;
}
.token.italic.svelte-7maxdl {
	font-style: italic;
}
.token.entity.svelte-7maxdl {
	cursor: help;
}
.line-highlight.svelte-7maxdl {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em;
	background: #4c4b48;
	box-shadow: inset 5px 0 0 #f77ea2;
	z-index: 0;
	pointer-events: none;
	line-height: inherit;
	white-space: pre;
}
.svelte-7maxdl:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-7maxdl::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.tachado.svelte-7maxdl {
	text-decoration: line-through;
}
.not-clickable.svelte-7maxdl {
	pointer-events: none;
}
.wrap-object-fit.svelte-7maxdl {
	height: inherit;
}
.object-fit.svelte-7maxdl {
	object-fit: cover;
	height: 100%;
}
.absolute.svelte-7maxdl {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.relative.svelte-7maxdl {
	position: relative;
	width: inherit;
}
.dn.svelte-7maxdl {
	display: none;
}
.Form_0.svelte-7maxdl {
	display: flex;
	flex-direction: row;
}
@media (min-width: 769px) {
	.Form_1.svelte-7maxdl {
		margin-inline: auto;
		display: grid;
		grid-template-areas: 'input button';
	}
}
.Form_1.svelte-7maxdl:nth-child(1) {
	grid-area: input;
}
.Form_1.svelte-7maxdl:nth-child(2) {
	grid-area: button;
}
@media (min-width: 1023px) {
	.Form_1.svelte-7maxdl:nth-child(2) {
		width: fit-content;
	}
}
.svelte-teykml,
.svelte-teykml:after,
.svelte-teykml:before {
	box-sizing: border-box;
}
input.svelte-teykml {
	-webkit-appearance: none;
	border-radius: 0;
}
input.svelte-teykml {
	border: none;
	font-family: inherit;
	font-size: 1rem;
	line-height: 28.8px;
	font-weight: inherit;
	color: #414141;
}
@keyframes svelte-teykml-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-teykml-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-teykml-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-teykml:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-teykml::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.svelte-teykml:focus {
	outline: 0;
}
input.svelte-teykml {
	font-size: 1.618rem;
	line-height: 40.896px;
	padding: 1rem;
	border: none;
	background-color: #fff;
}
@media (min-width: 1023px) {
	input.svelte-teykml {
		border-top-left-radius: 1.618rem;
		border-bottom-left-radius: 1.618rem;
	}
}
input.svelte-teykml:focus-within {
	background-color: #d4b39c;
	color: #121212;
}
input.svelte-teykml:focus-within::placeholder {
	color: transparent;
}
input.svelte-teykml::placeholder {
	color: #323232;
}
.svelte-16jnjx2,
.svelte-16jnjx2:after,
.svelte-16jnjx2:before {
	box-sizing: border-box;
}
div.svelte-16jnjx2 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
svg.svelte-16jnjx2 {
	max-height: 90vh;
}
@keyframes svelte-16jnjx2-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-16jnjx2-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-16jnjx2-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-16jnjx2:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-16jnjx2::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
svg.svelte-16jnjx2 {
	width: 100%;
}
circle.svelte-16jnjx2 {
	fill: none;
	stroke: #b4b4b4;
	stroke-width: 4;
}
.svelte-17yi7ov,
.svelte-17yi7ov:after,
.svelte-17yi7ov:before {
	box-sizing: border-box;
}
div.svelte-17yi7ov {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-17yi7ov-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-17yi7ov-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-17yi7ov-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-17yi7ov:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-17yi7ov::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.Alert.svelte-17yi7ov {
	color: #000;
	padding: 1rem;
	display: none;
	position: relative;
	background-color: #d4b39c;
}
.haserror.svelte-17yi7ov {
	margin-top: 1rem;
	display: block;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-top-style: dashed;
	border-top-style: dashed;
	border-bottom-style: dashed;
	border-top-color: #414141;
	border-bottom-color: #414141;
	animation-name: svelte-17yi7ov-show_error;
	animation-duration: 0.3s;
	animation-fill-mode: backwards;
	animation-iteration-count: 1;
}
@keyframes svelte-17yi7ov-show_error {
	0% {
		transform: translateY(0);
		opacity: 0;
	}
	50% {
		transform: translateY(10px);
		opacity: 1;
	}
}
.svelte-dg65zt,
.svelte-dg65zt:after,
.svelte-dg65zt:before {
	box-sizing: border-box;
}
div.svelte-dg65zt,
footer.svelte-dg65zt,
h2.svelte-dg65zt,
main.svelte-dg65zt,
small.svelte-dg65zt {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
footer.svelte-dg65zt,
main.svelte-dg65zt {
	display: block;
}
main.svelte-dg65zt,
small.svelte-dg65zt {
	font-family: Montserrat, sans-serif;
	letter-spacing: 0;
	font-weight: 500;
	color: #b4b4b4;
}
h2.svelte-dg65zt {
	font-weight: 500;
	font-size: 1rem;
	line-height: 28.8px;
}
@keyframes svelte-dg65zt-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-dg65zt-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-dg65zt-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-dg65zt:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-dg65zt::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
main.svelte-dg65zt {
	margin-bottom: 1.618rem;
	text-align: center;
	display: grid;
	place-content: center;
	grid-template-areas: 'resultado' 'form';
	color: inherit;
}
.position-form.svelte-dg65zt {
	grid-area: form;
}
.result.svelte-dg65zt {
	grid-area: resultado;
	font-weight: 700;
	font-size: 6.854rem;
	line-height: 144px;
}
small.svelte-dg65zt {
	text-align: center;
	color: inherit;
	display: block;
}
