@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
.svelte-1gviqj8.svelte-1gviqj8,
.svelte-1gviqj8.svelte-1gviqj8:after,
.svelte-1gviqj8.svelte-1gviqj8:before {
	box-sizing: border-box;
}
div.svelte-1gviqj8.svelte-1gviqj8,
main.svelte-1gviqj8.svelte-1gviqj8 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
main.svelte-1gviqj8.svelte-1gviqj8 {
	display: block;
}
input.svelte-1gviqj8.svelte-1gviqj8 {
	-webkit-appearance: none;
	border-radius: 0;
}
svg.svelte-1gviqj8.svelte-1gviqj8 {
	max-height: 90vh;
}
main.svelte-1gviqj8.svelte-1gviqj8 {
	font-family: Montserrat, sans-serif;
	letter-spacing: 0;
	font-weight: 500;
	color: #b4b4b4;
}
input.svelte-1gviqj8.svelte-1gviqj8 {
	border: none;
	font-family: inherit;
	font-size: 1rem;
	line-height: 28.8px;
	font-weight: inherit;
	color: #414141;
}
input[type='number'].svelte-1gviqj8.svelte-1gviqj8 {
	color: #d3b39c;
	background-color: #d3b39c;
	padding: 0.618rem;
}
input[type='number'].svelte-1gviqj8.svelte-1gviqj8:focus {
	outline: 0;
}
input[type='range'].svelte-1gviqj8.svelte-1gviqj8 {
	-webkit-appearance: none;
	width: 100%;
}
input[type='range'].svelte-1gviqj8.svelte-1gviqj8:focus {
	outline: 0;
}
input[type='range'].svelte-1gviqj8.svelte-1gviqj8::-webkit-slider-runnable-track {
	width: 100%;
	height: 1px;
	cursor: pointer;
	background: #b4b4b4;
	border-radius: 0;
}
input[type='range'].svelte-1gviqj8.svelte-1gviqj8::-webkit-slider-thumb {
	height: 30px;
	width: 30px;
	border-radius: 50px;
	background: #b4b4b4;
	cursor: grab;
	-webkit-appearance: none;
	margin-top: -14.5px;
}
input[type='range'].svelte-1gviqj8.svelte-1gviqj8:focus::-webkit-slider-runnable-track {
	background: #4bddc4;
}
@keyframes svelte-1gviqj8-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1gviqj8-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1gviqj8-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-1gviqj8.svelte-1gviqj8:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1gviqj8.svelte-1gviqj8::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
svg.svelte-1gviqj8.svelte-1gviqj8 {
	width: 100%;
}
svg.svelte-1gviqj8 circle.svelte-1gviqj8 {
	fill: #6c6c6c;
}
svg.svelte-1gviqj8 g.svelte-1gviqj8 {
	transform: translate(50%, 50%);
}
.PhiSvg.svelte-1gviqj8.svelte-1gviqj8 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 'media' 'texto';
	padding-top: 0;
	padding-right: 2.618rem;
	padding-left: 2.618rem;
	padding-bottom: 1.618rem;
}
@media (min-width: 769px) {
	.PhiSvg.svelte-1gviqj8.svelte-1gviqj8 {
		padding-bottom: 0;
		padding-right: 0;
		grid-template-columns: 1fr 1.62fr;
		grid-template-areas: 'texto media';
	}
}
.PhiSvg.svelte-1gviqj8 .BannerMedia.svelte-1gviqj8 {
	grid-area: media;
}
.PhiSvg.svelte-1gviqj8 .controls.svelte-1gviqj8 {
	margin-bottom: 1.618rem;
	width: 100%;
	display: grid;
	gap: 2.618rem;
}
.PhiSvg.svelte-1gviqj8 .PhiSvgText.svelte-1gviqj8 {
	display: grid;
	justify-items: start;
	align-self: center;
	grid-area: texto;
}
.svelte-1loqr1j,
.svelte-1loqr1j:after,
.svelte-1loqr1j:before {
	box-sizing: border-box;
}
div.svelte-1loqr1j {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-1loqr1j-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1loqr1j-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1loqr1j-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-1loqr1j:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1loqr1j::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.draggable.svelte-1loqr1j {
	user-select: none;
	cursor: move;
	z-index: 1000;
	font-size: 4.236rem;
	line-height: 86.4px;
}
.svelte-gc6qiw,
.svelte-gc6qiw:after,
.svelte-gc6qiw:before {
	box-sizing: border-box;
}
form.svelte-gc6qiw {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
.grey_0.svelte-gc6qiw {
	color: #e5e5e5;
}
.grey_1.svelte-gc6qiw {
	color: #b4b4b4;
}
.grey_2.svelte-gc6qiw {
	color: #6c6c6c;
}
.grey_3.svelte-gc6qiw {
	color: #414141;
}
.grey_4.svelte-gc6qiw {
	color: #323232;
}
.grey_5.svelte-gc6qiw {
	color: #121212;
}
.black.svelte-gc6qiw {
	color: #000;
}
.white.svelte-gc6qiw {
	color: #fff;
}
.primary.svelte-gc6qiw {
	color: #d3b39c;
}
.bggrey_0.svelte-gc6qiw {
	background-color: #e5e5e5;
}
.bggrey_1.svelte-gc6qiw {
	background-color: #b4b4b4;
}
.bggrey_2.svelte-gc6qiw {
	background-color: #6c6c6c;
}
.bggrey_3.svelte-gc6qiw {
	background-color: #414141;
}
.bggrey_4.svelte-gc6qiw {
	background-color: #323232;
}
.bggrey_5.svelte-gc6qiw {
	background-color: #121212;
}
.bgwhite.svelte-gc6qiw {
	background-color: #fff;
}
.bgblack.svelte-gc6qiw {
	background-color: #000;
}
.highlight.svelte-gc6qiw {
	background-color: #d4b39c;
}
.fullfill.svelte-gc6qiw {
	width: 100%;
	height: 100%;
}
.tar.svelte-gc6qiw {
	text-align: right;
}
.tac.svelte-gc6qiw {
	text-align: center;
}
.tal.svelte-gc6qiw {
	text-align: left;
}
@keyframes svelte-gc6qiw-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-gc6qiw-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-gc6qiw-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.namespace.svelte-gc6qiw {
	opacity: 0.7;
}
.token.cdata.svelte-gc6qiw,
.token.comment.svelte-gc6qiw,
.token.doctype.svelte-gc6qiw,
.token.prolog.svelte-gc6qiw {
	color: #6c6c6c;
}
.token.punctuation.svelte-gc6qiw {
	color: #6c6c6c;
}
.token.boolean.svelte-gc6qiw,
.token.constant.svelte-gc6qiw,
.token.deleted.svelte-gc6qiw,
.token.number.svelte-gc6qiw,
.token.property.svelte-gc6qiw,
.token.symbol.svelte-gc6qiw,
.token.tag.svelte-gc6qiw {
	color: #e5e5e5;
}
.token.attr-name.svelte-gc6qiw,
.token.builtin.svelte-gc6qiw,
.token.char.svelte-gc6qiw,
.token.inserted.svelte-gc6qiw,
.token.selector.svelte-gc6qiw,
.token.string.svelte-gc6qiw {
	color: #e5e5e5;
}
.token.entity.svelte-gc6qiw,
.token.operator.svelte-gc6qiw,
.token.url.svelte-gc6qiw {
	color: #d3b39c;
	background: #414141;
}
.token.atrule.svelte-gc6qiw,
.token.attr-value.svelte-gc6qiw,
.token.keyword.svelte-gc6qiw {
	color: #b4b4b4;
}
.token.function.svelte-gc6qiw {
	color: #4bddc4;
}
.token.important.svelte-gc6qiw,
.token.regex.svelte-gc6qiw,
.token.variable.svelte-gc6qiw {
	color: #d3b39c;
}
.token.bold.svelte-gc6qiw,
.token.important.svelte-gc6qiw {
	font-weight: 700;
}
.token.italic.svelte-gc6qiw {
	font-style: italic;
}
.token.entity.svelte-gc6qiw {
	cursor: help;
}
.line-highlight.svelte-gc6qiw {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em;
	background: #4c4b48;
	box-shadow: inset 5px 0 0 #f77ea2;
	z-index: 0;
	pointer-events: none;
	line-height: inherit;
	white-space: pre;
}
.svelte-gc6qiw:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-gc6qiw::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.tachado.svelte-gc6qiw {
	text-decoration: line-through;
}
.not-clickable.svelte-gc6qiw {
	pointer-events: none;
}
.wrap-object-fit.svelte-gc6qiw {
	height: inherit;
}
.object-fit.svelte-gc6qiw {
	object-fit: cover;
	height: 100%;
}
.absolute.svelte-gc6qiw {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.relative.svelte-gc6qiw {
	position: relative;
	width: inherit;
}
.Form_0.svelte-gc6qiw {
	display: flex;
	flex-direction: row;
}
@media (min-width: 769px) {
	.Form_1.svelte-gc6qiw {
		margin-inline: auto;
		display: grid;
		grid-template-areas: 'input button';
	}
}
.Form_1.svelte-gc6qiw:nth-child(1) {
	grid-area: input;
}
.Form_1.svelte-gc6qiw:nth-child(2) {
	grid-area: button;
}
@media (min-width: 1023px) {
	.Form_1.svelte-gc6qiw:nth-child(2) {
		width: fit-content;
	}
}
.svelte-14544lo,
.svelte-14544lo:after,
.svelte-14544lo:before {
	box-sizing: border-box;
}
input.svelte-14544lo {
	-webkit-appearance: none;
	border-radius: 0;
}
input.svelte-14544lo {
	border: none;
	font-family: inherit;
	font-size: 1rem;
	line-height: 28.8px;
	font-weight: inherit;
	color: #414141;
}
@keyframes svelte-14544lo-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-14544lo-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-14544lo-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-14544lo:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-14544lo::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.svelte-14544lo:focus {
	outline: 0;
}
input.svelte-14544lo {
	font-size: 1.618rem;
	line-height: 40.896px;
	padding: 1rem;
	border: none;
	background-color: #fff;
}
@media (min-width: 1023px) {
	input.svelte-14544lo {
		border-top-left-radius: 1.618rem;
		border-bottom-left-radius: 1.618rem;
	}
}
input.svelte-14544lo:focus-within {
	background-color: #d4b39c;
	color: #121212;
}
input.svelte-14544lo:focus-within::placeholder {
	color: transparent;
}
input.svelte-14544lo::placeholder {
	color: #323232;
}
.svelte-1utox6v,
.svelte-1utox6v:after,
.svelte-1utox6v:before {
	box-sizing: border-box;
}
div.svelte-1utox6v {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
svg.svelte-1utox6v {
	max-height: 90vh;
}
@keyframes svelte-1utox6v-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1utox6v-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1utox6v-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-1utox6v:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1utox6v::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
svg.svelte-1utox6v {
	width: 100%;
}
circle.svelte-1utox6v {
	fill: none;
	stroke: #b4b4b4;
	stroke-width: 4;
}
.svelte-1hc5bwy,
.svelte-1hc5bwy:after,
.svelte-1hc5bwy:before {
	box-sizing: border-box;
}
div.svelte-1hc5bwy {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-1hc5bwy-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1hc5bwy-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1hc5bwy-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-1hc5bwy:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1hc5bwy::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.Alert.svelte-1hc5bwy {
	color: #000;
	padding: 1rem;
	display: none;
	position: relative;
	background-color: #d4b39c;
}
.haserror.svelte-1hc5bwy {
	margin-top: 1rem;
	display: block;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-top-style: dashed;
	border-top-style: dashed;
	border-bottom-style: dashed;
	border-top-color: #414141;
	border-bottom-color: #414141;
	animation-name: svelte-1hc5bwy-show_error;
	animation-duration: 0.3s;
	animation-fill-mode: backwards;
	animation-iteration-count: 1;
}
@keyframes svelte-1hc5bwy-show_error {
	0% {
		transform: translateY(0);
		opacity: 0;
	}
	50% {
		transform: translateY(10px);
		opacity: 1;
	}
}
.svelte-dwhze0,
.svelte-dwhze0:after,
.svelte-dwhze0:before {
	box-sizing: border-box;
}
div.svelte-dwhze0,
footer.svelte-dwhze0,
h2.svelte-dwhze0,
main.svelte-dwhze0,
small.svelte-dwhze0 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
footer.svelte-dwhze0,
main.svelte-dwhze0 {
	display: block;
}
main.svelte-dwhze0,
small.svelte-dwhze0 {
	font-family: Montserrat, sans-serif;
	letter-spacing: 0;
	font-weight: 500;
	color: #b4b4b4;
}
h2.svelte-dwhze0 {
	font-weight: 500;
	font-size: 1rem;
	line-height: 28.8px;
}
@keyframes svelte-dwhze0-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-dwhze0-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-dwhze0-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-dwhze0:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-dwhze0::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
main.svelte-dwhze0 {
	margin-bottom: 1.618rem;
	text-align: center;
	display: grid;
	place-content: center;
	grid-template-areas: 'resultado' 'form';
	color: inherit;
}
.position-form.svelte-dwhze0 {
	grid-area: form;
}
.result.svelte-dwhze0 {
	grid-area: resultado;
	font-weight: 700;
	font-size: 6.854rem;
	line-height: 144px;
}
small.svelte-dwhze0 {
	text-align: center;
	color: inherit;
	display: block;
}
