@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
.svelte-1wmsvox.svelte-1wmsvox,
.svelte-1wmsvox.svelte-1wmsvox:after,
.svelte-1wmsvox.svelte-1wmsvox:before {
	box-sizing: border-box;
}
div.svelte-1wmsvox.svelte-1wmsvox,
main.svelte-1wmsvox.svelte-1wmsvox {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
main.svelte-1wmsvox.svelte-1wmsvox {
	display: block;
}
input.svelte-1wmsvox.svelte-1wmsvox {
	-webkit-appearance: none;
	border-radius: 0;
}
svg.svelte-1wmsvox.svelte-1wmsvox {
	max-height: 90vh;
}
main.svelte-1wmsvox.svelte-1wmsvox {
	font-family: Montserrat, sans-serif;
	letter-spacing: 0;
	font-weight: 500;
	color: #b4b4b4;
}
input.svelte-1wmsvox.svelte-1wmsvox {
	border: none;
	font-family: inherit;
	font-size: 1rem;
	line-height: 28.8px;
	font-weight: inherit;
	color: #414141;
}
input[type='number'].svelte-1wmsvox.svelte-1wmsvox {
	color: #d3b39c;
	background-color: #d3b39c;
	padding: 0.618rem;
}
input[type='number'].svelte-1wmsvox.svelte-1wmsvox:focus {
	outline: 0;
}
input[type='range'].svelte-1wmsvox.svelte-1wmsvox {
	-webkit-appearance: none;
	width: 100%;
}
input[type='range'].svelte-1wmsvox.svelte-1wmsvox:focus {
	outline: 0;
}
input[type='range'].svelte-1wmsvox.svelte-1wmsvox::-webkit-slider-runnable-track {
	width: 100%;
	height: 1px;
	cursor: pointer;
	background: #b4b4b4;
	border-radius: 0;
}
input[type='range'].svelte-1wmsvox.svelte-1wmsvox::-webkit-slider-thumb {
	height: 30px;
	width: 30px;
	border-radius: 50px;
	background: #b4b4b4;
	cursor: grab;
	-webkit-appearance: none;
	margin-top: -14.5px;
}
input[type='range'].svelte-1wmsvox.svelte-1wmsvox:focus::-webkit-slider-runnable-track {
	background: #4bddc4;
}
@keyframes svelte-1wmsvox-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1wmsvox-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1wmsvox-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-1wmsvox.svelte-1wmsvox:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1wmsvox.svelte-1wmsvox::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
svg.svelte-1wmsvox.svelte-1wmsvox {
	width: 100%;
}
svg.svelte-1wmsvox circle.svelte-1wmsvox {
	fill: #6c6c6c;
}
svg.svelte-1wmsvox g.svelte-1wmsvox {
	transform: translate(50%, 50%);
}
.PhiSvg.svelte-1wmsvox.svelte-1wmsvox {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 'media' 'texto';
	padding-top: 0;
	padding-right: 2.618rem;
	padding-left: 2.618rem;
	padding-bottom: 1.618rem;
}
@media (min-width: 769px) {
	.PhiSvg.svelte-1wmsvox.svelte-1wmsvox {
		padding-bottom: 0;
		padding-right: 0;
		grid-template-columns: 1fr 1.62fr;
		grid-template-areas: 'texto media';
	}
}
.PhiSvg.svelte-1wmsvox .BannerMedia.svelte-1wmsvox {
	grid-area: media;
}
.PhiSvg.svelte-1wmsvox .controls.svelte-1wmsvox {
	margin-bottom: 1.618rem;
	width: 100%;
	display: grid;
	gap: 2.618rem;
}
.PhiSvg.svelte-1wmsvox .PhiSvgText.svelte-1wmsvox {
	display: grid;
	justify-items: start;
	align-self: center;
	grid-area: texto;
}
.svelte-gt640,
.svelte-gt640:after,
.svelte-gt640:before {
	box-sizing: border-box;
}
div.svelte-gt640 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-gt640-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-gt640-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-gt640-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-gt640:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-gt640::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.draggable.svelte-gt640 {
	user-select: none;
	cursor: move;
	z-index: 1000;
	font-size: 4.236rem;
	line-height: 86.4px;
}
.svelte-1n4y40t,
.svelte-1n4y40t:after,
.svelte-1n4y40t:before {
	box-sizing: border-box;
}
form.svelte-1n4y40t {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
.c_0.svelte-1n4y40t {
	color: #e5e5e5;
}
.c_1.svelte-1n4y40t {
	color: #b4b4b4;
}
.c_2.svelte-1n4y40t {
	color: #6c6c6c;
}
.c_3.svelte-1n4y40t {
	color: #414141;
}
.c_4.svelte-1n4y40t {
	color: #323232;
}
.c_5.svelte-1n4y40t {
	color: #121212;
}
.c_black.svelte-1n4y40t {
	color: #000;
}
.c_white.svelte-1n4y40t {
	color: #fff;
}
.c_primary.svelte-1n4y40t {
	color: #d3b39c;
}
.bgc_0.svelte-1n4y40t {
	background-color: #e5e5e5;
}
.bgc_1.svelte-1n4y40t {
	background-color: #b4b4b4;
}
.bgc_2.svelte-1n4y40t {
	background-color: #6c6c6c;
}
.bgc_3.svelte-1n4y40t {
	background-color: #414141;
}
.bgc_4.svelte-1n4y40t {
	background-color: #323232;
}
.bgc_5.svelte-1n4y40t {
	background-color: #121212;
}
.bgwhite.svelte-1n4y40t {
	background-color: #fff;
}
.bgblack.svelte-1n4y40t {
	background-color: #000;
}
.bgc_primary.svelte-1n4y40t {
	background-color: #d4b39c;
}
.fullfill.svelte-1n4y40t {
	width: 100%;
	height: 100%;
}
.p_0.svelte-1n4y40t {
	padding: 0;
}
.p_1.svelte-1n4y40t {
	padding: 1rem;
}
.p_2.svelte-1n4y40t {
	padding: 1.618rem;
}
.p_3.svelte-1n4y40t {
	padding: 2.618rem;
}
.p_4.svelte-1n4y40t {
	padding: 4.236rem;
}
.p_5.svelte-1n4y40t {
	padding: 6.854rem;
}
.pt_0.svelte-1n4y40t {
	padding-top: 0;
}
.pt_1.svelte-1n4y40t {
	padding-top: 1rem;
}
.pt_2.svelte-1n4y40t {
	padding-top: 1.618rem;
}
.pt_3.svelte-1n4y40t {
	padding-top: 2.618rem;
}
.pt_4.svelte-1n4y40t {
	padding-top: 4.236rem;
}
.pt_5.svelte-1n4y40t {
	padding-top: 6.854rem;
}
.pr_0.svelte-1n4y40t {
	padding-right: 0;
}
.pr_1.svelte-1n4y40t {
	padding-right: 1rem;
}
.pr_2.svelte-1n4y40t {
	padding-right: 1.618rem;
}
.pr_3.svelte-1n4y40t {
	padding-right: 2.618rem;
}
.pr_4.svelte-1n4y40t {
	padding-right: 4.236rem;
}
.pr_5.svelte-1n4y40t {
	padding-right: 6.854rem;
}
.pb_0.svelte-1n4y40t {
	padding-bottom: 0;
}
.pb_1.svelte-1n4y40t {
	padding-bottom: 1rem;
}
.pb_2.svelte-1n4y40t {
	padding-bottom: 1.618rem;
}
.pb_3.svelte-1n4y40t {
	padding-bottom: 2.618rem;
}
.pb_4.svelte-1n4y40t {
	padding-bottom: 4.236rem;
}
.pb_5.svelte-1n4y40t {
	padding-bottom: 6.854rem;
}
.pl_0.svelte-1n4y40t {
	padding-left: 0;
}
.pl_1.svelte-1n4y40t {
	padding-left: 1rem;
}
.pl_2.svelte-1n4y40t {
	padding-left: 1.618rem;
}
.pl_3.svelte-1n4y40t {
	padding-left: 2.618rem;
}
.pl_4.svelte-1n4y40t {
	padding-left: 4.236rem;
}
.pl_5.svelte-1n4y40t {
	padding-left: 6.854rem;
}
.mh_0.svelte-1n4y40t {
	min-height: 50vh;
}
.mh_1.svelte-1n4y40t {
	min-height: 100vh;
}
.dg.svelte-1n4y40t {
	display: grid;
	grid-template-columns: repeat(13, 1fr);
}
.dg_0.svelte-1n4y40t {
	display: grid;
}
.col_1.svelte-1n4y40t {
	grid-column: span 1;
}
.col_2.svelte-1n4y40t {
	grid-column: span 2;
}
.col_3.svelte-1n4y40t {
	grid-column: span 3;
}
.col_4.svelte-1n4y40t {
	grid-column: span 4;
}
.col_5.svelte-1n4y40t {
	grid-column: span 5;
}
.col_6.svelte-1n4y40t {
	grid-column: span 6;
}
.col_7.svelte-1n4y40t {
	grid-column: span 7;
}
.col_8.svelte-1n4y40t {
	grid-column: span 8;
}
.col_9.svelte-1n4y40t {
	grid-column: span 9;
}
.col_10.svelte-1n4y40t {
	grid-column: span 10;
}
.col_11.svelte-1n4y40t {
	grid-column: span 11;
}
.col_12.svelte-1n4y40t {
	grid-column: span 12;
}
.col_13.svelte-1n4y40t {
	grid-column: span 13;
}
@media (min-width: 769px) {
	.col_s2_1.svelte-1n4y40t {
		grid-column: span 1;
	}
	.col_s2_2.svelte-1n4y40t {
		grid-column: span 2;
	}
	.col_s2_3.svelte-1n4y40t {
		grid-column: span 3;
	}
	.col_s2_4.svelte-1n4y40t {
		grid-column: span 4;
	}
	.col_s2_5.svelte-1n4y40t {
		grid-column: span 5;
	}
	.col_s2_6.svelte-1n4y40t {
		grid-column: span 6;
	}
	.col_s2_7.svelte-1n4y40t {
		grid-column: span 7;
	}
	.col_s2_8.svelte-1n4y40t {
		grid-column: span 8;
	}
	.col_s2_9.svelte-1n4y40t {
		grid-column: span 9;
	}
	.col_s2_10.svelte-1n4y40t {
		grid-column: span 10;
	}
	.col_s2_11.svelte-1n4y40t {
		grid-column: span 11;
	}
	.col_s2_12.svelte-1n4y40t {
		grid-column: span 12;
	}
	.col_s2_13.svelte-1n4y40t {
		grid-column: span 13;
	}
}
@media (min-width: 1023px) {
	.col_s3_1.svelte-1n4y40t {
		grid-column: span 1;
	}
	.col_s3_2.svelte-1n4y40t {
		grid-column: span 2;
	}
	.col_s3_3.svelte-1n4y40t {
		grid-column: span 3;
	}
	.col_s3_4.svelte-1n4y40t {
		grid-column: span 4;
	}
	.col_s3_5.svelte-1n4y40t {
		grid-column: span 5;
	}
	.col_s3_6.svelte-1n4y40t {
		grid-column: span 6;
	}
	.col_s3_7.svelte-1n4y40t {
		grid-column: span 7;
	}
	.col_s3_8.svelte-1n4y40t {
		grid-column: span 8;
	}
	.col_s3_9.svelte-1n4y40t {
		grid-column: span 9;
	}
	.col_s3_10.svelte-1n4y40t {
		grid-column: span 10;
	}
	.col_s3_11.svelte-1n4y40t {
		grid-column: span 11;
	}
	.col_s3_12.svelte-1n4y40t {
		grid-column: span 12;
	}
	.col_s3_13.svelte-1n4y40t {
		grid-column: span 13;
	}
}
@media (min-width: 1400px) {
	.col_s4_1.svelte-1n4y40t {
		grid-column: span 1;
	}
	.col_s4_2.svelte-1n4y40t {
		grid-column: span 2;
	}
	.col_s4_3.svelte-1n4y40t {
		grid-column: span 3;
	}
	.col_s4_4.svelte-1n4y40t {
		grid-column: span 4;
	}
	.col_s4_5.svelte-1n4y40t {
		grid-column: span 5;
	}
	.col_s4_6.svelte-1n4y40t {
		grid-column: span 6;
	}
	.col_s4_7.svelte-1n4y40t {
		grid-column: span 7;
	}
	.col_s4_8.svelte-1n4y40t {
		grid-column: span 8;
	}
	.col_s4_9.svelte-1n4y40t {
		grid-column: span 9;
	}
	.col_s4_10.svelte-1n4y40t {
		grid-column: span 10;
	}
	.col_s4_11.svelte-1n4y40t {
		grid-column: span 11;
	}
	.col_s4_12.svelte-1n4y40t {
		grid-column: span 12;
	}
	.col_s4_13.svelte-1n4y40t {
		grid-column: span 13;
	}
}
.slot_1.svelte-1n4y40t {
	grid-area: __1;
}
.slot_2.svelte-1n4y40t {
	grid-area: __2;
}
.slot_3.svelte-1n4y40t {
	grid-area: __3;
}
.slot_4.svelte-1n4y40t {
	grid-area: __4;
}
.slot_5.svelte-1n4y40t {
	grid-area: __5;
}
.pic.svelte-1n4y40t {
	height: 100%;
	place-items: center;
}
.pcc.svelte-1n4y40t {
	height: 100%;
	place-content: center;
	align-content: space-evenly;
}
.gap_0.svelte-1n4y40t {
	gap: 0;
}
.gap_1.svelte-1n4y40t {
	gap: 1rem;
}
.gap_2.svelte-1n4y40t {
	gap: 1.618rem;
}
.gap_3.svelte-1n4y40t {
	gap: 2.618rem;
}
.tar.svelte-1n4y40t {
	text-align: right;
}
.tac.svelte-1n4y40t {
	text-align: center;
}
.tal.svelte-1n4y40t {
	text-align: left;
}
@keyframes svelte-1n4y40t-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1n4y40t-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1n4y40t-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.namespace.svelte-1n4y40t {
	opacity: 0.7;
}
.token.cdata.svelte-1n4y40t,
.token.comment.svelte-1n4y40t,
.token.doctype.svelte-1n4y40t,
.token.prolog.svelte-1n4y40t {
	color: #6c6c6c;
}
.token.punctuation.svelte-1n4y40t {
	color: #6c6c6c;
}
.token.boolean.svelte-1n4y40t,
.token.constant.svelte-1n4y40t,
.token.deleted.svelte-1n4y40t,
.token.number.svelte-1n4y40t,
.token.property.svelte-1n4y40t,
.token.symbol.svelte-1n4y40t,
.token.tag.svelte-1n4y40t {
	color: #e5e5e5;
}
.token.attr-name.svelte-1n4y40t,
.token.builtin.svelte-1n4y40t,
.token.char.svelte-1n4y40t,
.token.inserted.svelte-1n4y40t,
.token.selector.svelte-1n4y40t,
.token.string.svelte-1n4y40t {
	color: #e5e5e5;
}
.token.entity.svelte-1n4y40t,
.token.operator.svelte-1n4y40t,
.token.url.svelte-1n4y40t {
	color: #d3b39c;
	background: #414141;
}
.token.atrule.svelte-1n4y40t,
.token.attr-value.svelte-1n4y40t,
.token.keyword.svelte-1n4y40t {
	color: #b4b4b4;
}
.token.function.svelte-1n4y40t {
	color: #4bddc4;
}
.token.important.svelte-1n4y40t,
.token.regex.svelte-1n4y40t,
.token.variable.svelte-1n4y40t {
	color: #d3b39c;
}
.token.bold.svelte-1n4y40t,
.token.important.svelte-1n4y40t {
	font-weight: 700;
}
.token.italic.svelte-1n4y40t {
	font-style: italic;
}
.token.entity.svelte-1n4y40t {
	cursor: help;
}
.line-highlight.svelte-1n4y40t {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em;
	background: #4c4b48;
	box-shadow: inset 5px 0 0 #f77ea2;
	z-index: 0;
	pointer-events: none;
	line-height: inherit;
	white-space: pre;
}
.svelte-1n4y40t:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1n4y40t::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.tachado.svelte-1n4y40t {
	text-decoration: line-through;
}
.not-clickable.svelte-1n4y40t {
	pointer-events: none;
}
.wrap-object-fit.svelte-1n4y40t {
	height: inherit;
}
.object-fit.svelte-1n4y40t {
	object-fit: cover;
	height: 100%;
}
.absolute.svelte-1n4y40t {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.relative.svelte-1n4y40t {
	position: relative;
	width: inherit;
}
.dn.svelte-1n4y40t {
	display: none;
}
.Form_0.svelte-1n4y40t {
	display: flex;
	flex-direction: row;
}
@media (min-width: 769px) {
	.Form_1.svelte-1n4y40t {
		margin-inline: auto;
		display: grid;
		grid-template-areas: 'input button';
	}
}
.Form_1.svelte-1n4y40t:nth-child(1) {
	grid-area: input;
}
.Form_1.svelte-1n4y40t:nth-child(2) {
	grid-area: button;
}
@media (min-width: 1023px) {
	.Form_1.svelte-1n4y40t:nth-child(2) {
		width: fit-content;
	}
}
.svelte-1ieu7i1,
.svelte-1ieu7i1:after,
.svelte-1ieu7i1:before {
	box-sizing: border-box;
}
input.svelte-1ieu7i1 {
	-webkit-appearance: none;
	border-radius: 0;
}
input.svelte-1ieu7i1 {
	border: none;
	font-family: inherit;
	font-size: 1rem;
	line-height: 28.8px;
	font-weight: inherit;
	color: #414141;
}
@keyframes svelte-1ieu7i1-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1ieu7i1-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1ieu7i1-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-1ieu7i1:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1ieu7i1::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.svelte-1ieu7i1:focus {
	outline: 0;
}
input.svelte-1ieu7i1 {
	font-size: 1.618rem;
	line-height: 40.896px;
	padding: 1rem;
	border: none;
	background-color: #fff;
}
@media (min-width: 1023px) {
	input.svelte-1ieu7i1 {
		border-top-left-radius: 1.618rem;
		border-bottom-left-radius: 1.618rem;
	}
}
input.svelte-1ieu7i1:focus-within {
	background-color: #d4b39c;
	color: #121212;
}
input.svelte-1ieu7i1:focus-within::placeholder {
	color: transparent;
}
input.svelte-1ieu7i1::placeholder {
	color: #323232;
}
.svelte-ew5ehc,
.svelte-ew5ehc:after,
.svelte-ew5ehc:before {
	box-sizing: border-box;
}
div.svelte-ew5ehc {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
svg.svelte-ew5ehc {
	max-height: 90vh;
}
@keyframes svelte-ew5ehc-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-ew5ehc-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-ew5ehc-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-ew5ehc:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-ew5ehc::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
svg.svelte-ew5ehc {
	width: 100%;
}
circle.svelte-ew5ehc {
	fill: none;
	stroke: #b4b4b4;
	stroke-width: 4;
}
.svelte-1o7rbrj,
.svelte-1o7rbrj:after,
.svelte-1o7rbrj:before {
	box-sizing: border-box;
}
div.svelte-1o7rbrj {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-1o7rbrj-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1o7rbrj-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1o7rbrj-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-1o7rbrj:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1o7rbrj::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.Alert.svelte-1o7rbrj {
	color: #000;
	padding: 1rem;
	display: none;
	position: relative;
	background-color: #d4b39c;
}
.haserror.svelte-1o7rbrj {
	margin-top: 1rem;
	display: block;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-top-style: dashed;
	border-top-style: dashed;
	border-bottom-style: dashed;
	border-top-color: #414141;
	border-bottom-color: #414141;
	animation-name: svelte-1o7rbrj-show_error;
	animation-duration: 0.3s;
	animation-fill-mode: backwards;
	animation-iteration-count: 1;
}
@keyframes svelte-1o7rbrj-show_error {
	0% {
		transform: translateY(0);
		opacity: 0;
	}
	50% {
		transform: translateY(10px);
		opacity: 1;
	}
}
.svelte-1wkqmv1,
.svelte-1wkqmv1:after,
.svelte-1wkqmv1:before {
	box-sizing: border-box;
}
div.svelte-1wkqmv1,
footer.svelte-1wkqmv1,
h2.svelte-1wkqmv1,
main.svelte-1wkqmv1,
small.svelte-1wkqmv1 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
footer.svelte-1wkqmv1,
main.svelte-1wkqmv1 {
	display: block;
}
main.svelte-1wkqmv1,
small.svelte-1wkqmv1 {
	font-family: Montserrat, sans-serif;
	letter-spacing: 0;
	font-weight: 500;
	color: #b4b4b4;
}
h2.svelte-1wkqmv1 {
	font-weight: 500;
	font-size: 1rem;
	line-height: 28.8px;
}
@keyframes svelte-1wkqmv1-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1wkqmv1-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1wkqmv1-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-1wkqmv1:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1wkqmv1::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
main.svelte-1wkqmv1 {
	margin-bottom: 1.618rem;
	text-align: center;
	display: grid;
	place-content: center;
	grid-template-areas: 'resultado' 'form';
	color: inherit;
}
.position-form.svelte-1wkqmv1 {
	grid-area: form;
}
.result.svelte-1wkqmv1 {
	grid-area: resultado;
	font-weight: 700;
	font-size: 6.854rem;
	line-height: 144px;
}
small.svelte-1wkqmv1 {
	text-align: center;
	color: inherit;
	display: block;
}
