@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
.svelte-szohv.svelte-szohv,
.svelte-szohv.svelte-szohv:after,
.svelte-szohv.svelte-szohv:before {
	box-sizing: border-box;
}
div.svelte-szohv.svelte-szohv,
h2.svelte-szohv.svelte-szohv,
main.svelte-szohv.svelte-szohv,
p.svelte-szohv.svelte-szohv {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
main.svelte-szohv.svelte-szohv {
	display: block;
}
input.svelte-szohv.svelte-szohv {
	-webkit-appearance: none;
	border-radius: 0;
}
svg.svelte-szohv.svelte-szohv {
	max-height: 90vh;
}
main.svelte-szohv.svelte-szohv {
	font-family: Montserrat, sans-serif;
	letter-spacing: 0;
	font-weight: 500;
	color: #b4b4b4;
}
h2.svelte-szohv.svelte-szohv {
	font-weight: 500;
	font-size: 1rem;
	line-height: 28.8px;
}
@media (min-width: 374px) {
	h2.svelte-szohv.svelte-szohv {
		font-size: 1.618rem;
		line-height: 40.896px;
	}
}
@media (min-width: 2140px) {
	h2.svelte-szohv.svelte-szohv {
		font-size: 2.618rem;
		line-height: 57.6px;
		margin-left: 6.854rem;
		margin-right: 6.854rem;
	}
}
p.svelte-szohv.svelte-szohv {
	font-size: 1rem;
	line-height: 28.8px;
}
@media (min-width: 769px) {
	p.svelte-szohv.svelte-szohv {
		max-width: 769px;
		margin-left: auto;
		margin-right: auto;
	}
}
input.svelte-szohv.svelte-szohv {
	border: none;
	font-family: inherit;
	font-size: 1rem;
	line-height: 28.8px;
	font-weight: inherit;
	color: #414141;
}
input[type='number'].svelte-szohv.svelte-szohv {
	color: #b4b4b4;
	background-color: #110e08;
	padding: 0.618rem;
}
input[type='number'].svelte-szohv.svelte-szohv:focus {
	outline: 0;
}
input[type='range'].svelte-szohv.svelte-szohv {
	-webkit-appearance: none;
	width: 100%;
}
input[type='range'].svelte-szohv.svelte-szohv:focus {
	outline: 0;
}
input[type='range'].svelte-szohv.svelte-szohv::-webkit-slider-runnable-track {
	width: 100%;
	height: 1px;
	cursor: pointer;
	background: #b4b4b4;
	border-radius: 0;
}
input[type='range'].svelte-szohv.svelte-szohv::-webkit-slider-thumb {
	height: 30px;
	width: 30px;
	border-radius: 50px;
	background: #b4b4b4;
	cursor: grab;
	-webkit-appearance: none;
	margin-top: -14.5px;
}
input[type='range'].svelte-szohv.svelte-szohv:focus::-webkit-slider-runnable-track {
	background: #6c6c6c;
}
@keyframes svelte-szohv-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-szohv-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-szohv-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-szohv.svelte-szohv:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-szohv.svelte-szohv::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
svg.svelte-szohv circle.svelte-szohv {
	fill: #6c6c6c;
}
svg.svelte-szohv g.svelte-szohv {
	transform: translate(50%, 50%);
}
.PhiSvg.svelte-szohv.svelte-szohv {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 'media' 'texto';
	padding-top: 0;
	padding-right: 2.618rem;
	padding-left: 2.618rem;
	padding-bottom: 1.618rem;
}
@media (min-width: 769px) {
	.PhiSvg.svelte-szohv.svelte-szohv {
		padding-bottom: 0;
		padding-right: 0;
		grid-template-columns: 1fr 1.62fr;
		grid-template-areas: 'texto media';
	}
}
.PhiSvg.svelte-szohv .BannerMedia.svelte-szohv {
	grid-area: media;
}
.PhiSvg.svelte-szohv .controls.svelte-szohv {
	margin-bottom: 1.618rem;
	width: 100%;
	display: grid;
	gap: 2.618rem;
}
.PhiSvg.svelte-szohv .PhiSvgText.svelte-szohv {
	display: grid;
	justify-items: start;
	align-self: center;
	grid-area: texto;
}
.svelte-1nvc92e,
.svelte-1nvc92e:after,
.svelte-1nvc92e:before {
	box-sizing: border-box;
}
div.svelte-1nvc92e {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-1nvc92e-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1nvc92e-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1nvc92e-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-1nvc92e:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1nvc92e::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.draggable.svelte-1nvc92e {
	user-select: none;
	cursor: move;
	z-index: 1000;
	font-size: 4.236rem;
	line-height: 86.4px;
}
.svelte-2zbnuf,
.svelte-2zbnuf:after,
.svelte-2zbnuf:before {
	box-sizing: border-box;
}
form.svelte-2zbnuf {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-2zbnuf-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-2zbnuf-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-2zbnuf-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-2zbnuf:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-2zbnuf::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.tachado.svelte-2zbnuf {
	text-decoration: line-through;
}
.not-clickable.svelte-2zbnuf {
	pointer-events: none;
}
.Form_0.svelte-2zbnuf {
	display: flex;
	flex-direction: row;
}
@media (min-width: 769px) {
	.Form_1.svelte-2zbnuf {
		margin-inline: auto;
		display: grid;
		grid-template-areas: 'input button';
	}
}
.Form_1.svelte-2zbnuf:nth-child(1) {
	grid-area: input;
}
.Form_1.svelte-2zbnuf:nth-child(2) {
	grid-area: button;
}
@media (min-width: 1023px) {
	.Form_1.svelte-2zbnuf:nth-child(2) {
		width: fit-content;
	}
}
.svelte-4eqcsc,
.svelte-4eqcsc:after,
.svelte-4eqcsc:before {
	box-sizing: border-box;
}
input.svelte-4eqcsc {
	-webkit-appearance: none;
	border-radius: 0;
}
input.svelte-4eqcsc {
	border: none;
	font-family: inherit;
	font-size: 1rem;
	line-height: 28.8px;
	font-weight: inherit;
	color: #414141;
}
@keyframes svelte-4eqcsc-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-4eqcsc-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-4eqcsc-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-4eqcsc:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-4eqcsc::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.svelte-4eqcsc:focus {
	outline: 0;
}
input.svelte-4eqcsc {
	font-size: 1.618rem;
	line-height: 40.896px;
	padding: 1rem;
	border: none;
	background-color: #fff;
}
@media (min-width: 1023px) {
	input.svelte-4eqcsc {
		border-top-left-radius: 1.618rem;
		border-bottom-left-radius: 1.618rem;
	}
}
input.svelte-4eqcsc:focus-within {
	background-color: #e8b28a;
	color: #110e08;
}
input.svelte-4eqcsc:focus-within::placeholder {
	color: transparent;
}
input.svelte-4eqcsc::placeholder {
	color: #2a2929;
}
.svelte-f503a8,
.svelte-f503a8:after,
.svelte-f503a8:before {
	box-sizing: border-box;
}
div.svelte-f503a8,
h2.svelte-f503a8,
p.svelte-f503a8 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
svg.svelte-f503a8 {
	max-height: 90vh;
}
h2.svelte-f503a8 {
	font-weight: 500;
	font-size: 1rem;
	line-height: 28.8px;
}
@media (min-width: 374px) {
	h2.svelte-f503a8 {
		font-size: 1.618rem;
		line-height: 40.896px;
	}
}
@media (min-width: 2140px) {
	h2.svelte-f503a8 {
		font-size: 2.618rem;
		line-height: 57.6px;
		margin-left: 6.854rem;
		margin-right: 6.854rem;
	}
}
p.svelte-f503a8 {
	font-size: 1rem;
	line-height: 28.8px;
}
hgroup.svelte-f503a8 {
	margin-bottom: 1.618rem;
}
@media (min-width: 769px) {
	p.svelte-f503a8 {
		max-width: 769px;
		margin-left: auto;
		margin-right: auto;
	}
}
@keyframes svelte-f503a8-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-f503a8-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-f503a8-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-f503a8:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-f503a8::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
circle.svelte-f503a8 {
	fill: none;
	stroke: #b4b4b4;
	stroke-width: 4;
}
hgroup.svelte-f503a8,
p.svelte-f503a8 {
	text-align: center;
}
.svelte-1cyds3o,
.svelte-1cyds3o:after,
.svelte-1cyds3o:before {
	box-sizing: border-box;
}
div.svelte-1cyds3o {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-1cyds3o-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1cyds3o-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1cyds3o-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-1cyds3o:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1cyds3o::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.Alert.svelte-1cyds3o {
	color: #fff;
	padding: 1rem;
	display: none;
	position: relative;
}
.haserror.svelte-1cyds3o {
	margin-top: 1rem;
	display: block;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-top-style: dashed;
	border-top-style: dashed;
	border-bottom-style: dashed;
	border-top-color: #414141;
	border-bottom-color: #414141;
	animation-name: svelte-1cyds3o-show_error;
	animation-duration: 0.3s;
	animation-fill-mode: backwards;
	animation-iteration-count: 1;
}
@keyframes svelte-1cyds3o-show_error {
	0% {
		transform: translateY(0);
		opacity: 0;
	}
	50% {
		transform: translateY(10px);
		opacity: 1;
	}
}
.svelte-1ondmbp.svelte-1ondmbp,
.svelte-1ondmbp.svelte-1ondmbp:after,
.svelte-1ondmbp.svelte-1ondmbp:before {
	box-sizing: border-box;
}
a.svelte-1ondmbp.svelte-1ondmbp,
div.svelte-1ondmbp.svelte-1ondmbp,
footer.svelte-1ondmbp.svelte-1ondmbp,
h2.svelte-1ondmbp.svelte-1ondmbp,
header.svelte-1ondmbp.svelte-1ondmbp,
main.svelte-1ondmbp.svelte-1ondmbp,
p.svelte-1ondmbp.svelte-1ondmbp,
small.svelte-1ondmbp.svelte-1ondmbp {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
footer.svelte-1ondmbp.svelte-1ondmbp,
header.svelte-1ondmbp.svelte-1ondmbp,
main.svelte-1ondmbp.svelte-1ondmbp {
	display: block;
}
header.svelte-1ondmbp.svelte-1ondmbp,
main.svelte-1ondmbp.svelte-1ondmbp,
small.svelte-1ondmbp.svelte-1ondmbp {
	font-family: Montserrat, sans-serif;
	letter-spacing: 0;
	font-weight: 500;
	color: #b4b4b4;
}
h2.svelte-1ondmbp.svelte-1ondmbp {
	font-weight: 500;
	font-size: 1rem;
	line-height: 28.8px;
}
@media (min-width: 374px) {
	h2.svelte-1ondmbp.svelte-1ondmbp {
		font-size: 1.618rem;
		line-height: 40.896px;
	}
}
@media (min-width: 2140px) {
	h2.svelte-1ondmbp.svelte-1ondmbp {
		font-size: 2.618rem;
		line-height: 57.6px;
		margin-left: 6.854rem;
		margin-right: 6.854rem;
	}
}
p.svelte-1ondmbp.svelte-1ondmbp,
small.svelte-1ondmbp.svelte-1ondmbp {
	font-size: 1rem;
	line-height: 28.8px;
}
@media (min-width: 769px) {
	p.svelte-1ondmbp.svelte-1ondmbp {
		max-width: 769px;
		margin-left: auto;
		margin-right: auto;
	}
}
a[target='_blank'].svelte-1ondmbp.svelte-1ondmbp:after {
	content: ' ⤤';
}
@keyframes svelte-1ondmbp-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1ondmbp-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1ondmbp-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
a.svelte-1ondmbp.svelte-1ondmbp:hover {
	animation-name: svelte-1ondmbp-fade;
	animation-duration: 0.3s;
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-1ondmbp.svelte-1ondmbp:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1ondmbp.svelte-1ondmbp::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
header.svelte-1ondmbp.svelte-1ondmbp {
	text-align: center;
	margin-bottom: 1.618rem;
}
main.svelte-1ondmbp.svelte-1ondmbp {
	text-align: center;
	display: grid;
	place-content: center;
	grid-template-areas: 'resultado' 'form';
}
.position-form.svelte-1ondmbp.svelte-1ondmbp {
	grid-area: form;
}
.result.svelte-1ondmbp.svelte-1ondmbp {
	grid-area: resultado;
	color: #b4b4b4;
	font-weight: 700;
	font-size: 6.854rem;
	line-height: 144px;
}
p.svelte-1ondmbp.svelte-1ondmbp,
small.svelte-1ondmbp.svelte-1ondmbp {
	text-align: center;
}
small.svelte-1ondmbp.svelte-1ondmbp {
	display: block;
	margin: 1rem;
}
small.svelte-1ondmbp a.svelte-1ondmbp {
	color: inherit;
	text-decoration: none;
}
