@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,400&display=swap);
.svelte-hwdgfw.svelte-hwdgfw,
.svelte-hwdgfw.svelte-hwdgfw:after,
.svelte-hwdgfw.svelte-hwdgfw:before {
	box-sizing: border-box;
}
h2.svelte-hwdgfw.svelte-hwdgfw,
nav.svelte-hwdgfw.svelte-hwdgfw,
p.svelte-hwdgfw.svelte-hwdgfw,
span.svelte-hwdgfw.svelte-hwdgfw {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
nav.svelte-hwdgfw.svelte-hwdgfw {
	display: block;
}
h2.svelte-hwdgfw.svelte-hwdgfw {
	font-weight: 500;
	font-size: 1rem;
	line-height: 25.92px;
}
@media (min-width: 374px) {
	h2.svelte-hwdgfw.svelte-hwdgfw {
		font-size: 1.618rem;
		line-height: 36.8064px;
	}
}
@media (min-width: 2140px) {
	h2.svelte-hwdgfw.svelte-hwdgfw {
		font-size: 2.618rem;
		line-height: 51.84px;
		margin-left: 6.854rem;
		margin-right: 6.854rem;
	}
}
p.svelte-hwdgfw.svelte-hwdgfw {
	text-align: left;
	font-size: 1rem;
	line-height: 25.92px;
}
p.svelte-hwdgfw.svelte-hwdgfw {
	margin-bottom: 0.618rem;
}
@media (min-width: 374px) {
	p.svelte-hwdgfw.svelte-hwdgfw {
		max-width: 769px;
		margin-left: auto;
		margin-right: auto;
	}
}
nav.svelte-hwdgfw.svelte-hwdgfw {
	padding-top: 1.618rem;
}
@keyframes svelte-hwdgfw-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-hwdgfw-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-hwdgfw-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-hwdgfw.svelte-hwdgfw:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-hwdgfw.svelte-hwdgfw::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
nav.svelte-hwdgfw.svelte-hwdgfw {
	display: grid;
	grid-auto-flow: column;
	padding-top: 0;
}
nav.svelte-hwdgfw button.svelte-hwdgfw {
	padding: 1.618rem 1rem;
	border: none;
	color: #e5e5e5;
	background-color: #414141;
}
nav.svelte-hwdgfw button.svelte-hwdgfw:hover {
	background-color: #b4b4b4;
	color: #110e08;
	cursor: pointer;
}
article.svelte-hwdgfw.svelte-hwdgfw {
	color: #2a2929;
	padding: 2.618rem;
}
.active.svelte-hwdgfw.svelte-hwdgfw {
	color: #110e08;
	background-color: #e5e5e5;
}
