@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
.svelte-jmob2m,
.svelte-jmob2m:after,
.svelte-jmob2m:before {
	box-sizing: border-box;
}
.bg_color_0.svelte-jmob2m {
	background-color: #e5e5e5;
}
.bg_color_1.svelte-jmob2m {
	background-color: #b4b4b4;
}
.bg_color_2.svelte-jmob2m {
	background-color: #6c6c6c;
}
.bg_color_3.svelte-jmob2m {
	background-color: #414141;
}
.bg_color_4.svelte-jmob2m {
	background-color: #323232;
}
.bg_color_5.svelte-jmob2m {
	background-color: #2d2d2d;
}
svg.svelte-jmob2m {
	max-height: 90vh;
}
.align-right.svelte-jmob2m {
	text-align: right;
}
.align-center.svelte-jmob2m {
	text-align: center;
}
.align-left.svelte-jmob2m {
	text-align: left;
}
@keyframes svelte-jmob2m-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-jmob2m-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-jmob2m-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.namespace.svelte-jmob2m {
	opacity: 0.7;
}
.token.cdata.svelte-jmob2m,
.token.comment.svelte-jmob2m,
.token.doctype.svelte-jmob2m,
.token.prolog.svelte-jmob2m {
	color: #6c6c6c;
}
.token.punctuation.svelte-jmob2m {
	color: #6c6c6c;
}
.token.boolean.svelte-jmob2m,
.token.constant.svelte-jmob2m,
.token.deleted.svelte-jmob2m,
.token.number.svelte-jmob2m,
.token.property.svelte-jmob2m,
.token.symbol.svelte-jmob2m,
.token.tag.svelte-jmob2m {
	color: #e5e5e5;
}
.token.attr-name.svelte-jmob2m,
.token.builtin.svelte-jmob2m,
.token.char.svelte-jmob2m,
.token.inserted.svelte-jmob2m,
.token.selector.svelte-jmob2m,
.token.string.svelte-jmob2m {
	color: #e5e5e5;
}
.token.entity.svelte-jmob2m,
.token.operator.svelte-jmob2m,
.token.url.svelte-jmob2m {
	color: #d3b39c;
	background: #414141;
}
.token.atrule.svelte-jmob2m,
.token.attr-value.svelte-jmob2m,
.token.keyword.svelte-jmob2m {
	color: #b4b4b4;
}
.token.function.svelte-jmob2m {
	color: #4bddc4;
}
.token.important.svelte-jmob2m,
.token.regex.svelte-jmob2m,
.token.variable.svelte-jmob2m {
	color: #d3b39c;
}
.token.bold.svelte-jmob2m,
.token.important.svelte-jmob2m {
	font-weight: 700;
}
.token.italic.svelte-jmob2m {
	font-style: italic;
}
.token.entity.svelte-jmob2m {
	cursor: help;
}
.line-highlight.svelte-jmob2m {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em;
	background: #4c4b48;
	box-shadow: inset 5px 0 0 #f77ea2;
	z-index: 0;
	pointer-events: none;
	line-height: inherit;
	white-space: pre;
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-jmob2m:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-jmob2m::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.tachado.svelte-jmob2m {
	text-decoration: line-through;
}
.not-clickable.svelte-jmob2m {
	pointer-events: none;
}
svg.svelte-jmob2m {
	width: 100%;
}
.wrap-object-fit.svelte-jmob2m {
	height: inherit;
}
.object-fit.svelte-jmob2m {
	object-fit: cover;
	height: 100%;
}
.absolute.svelte-jmob2m {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.relative.svelte-jmob2m {
	position: relative;
	width: inherit;
}
.Svg_0.svelte-jmob2m {
	fill: none;
	stroke: #000;
}
.Svg_1.svelte-jmob2m {
	fill: #00f;
}
