@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
.svelte-13kpxqh,
.svelte-13kpxqh:after,
.svelte-13kpxqh:before {
	box-sizing: border-box;
}
svg.svelte-13kpxqh {
	max-height: 90vh;
}
@keyframes svelte-13kpxqh-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-13kpxqh-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-13kpxqh-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-13kpxqh:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-13kpxqh::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.tachado.svelte-13kpxqh {
	text-decoration: line-through;
}
.not-clickable.svelte-13kpxqh {
	pointer-events: none;
}
.Svg_0.svelte-13kpxqh {
	fill: none;
	stroke: #000;
}
.Svg_1.svelte-13kpxqh {
	fill: #00f;
}
.svelte-eqyc2h,
.svelte-eqyc2h:after,
.svelte-eqyc2h:before {
	box-sizing: border-box;
}
section.svelte-eqyc2h {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
section.svelte-eqyc2h {
	display: block;
}
@keyframes svelte-eqyc2h-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-eqyc2h-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-eqyc2h-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-eqyc2h:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-eqyc2h::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.tachado.svelte-eqyc2h {
	text-decoration: line-through;
}
.not-clickable.svelte-eqyc2h {
	pointer-events: none;
}
.Section_0.svelte-eqyc2h {
	padding: 2.618rem;
	min-height: 50vh;
	color: #110e08;
	background-color: #e5e5e5;
}
.Section_1.svelte-eqyc2h {
	padding: 2.618rem;
	min-height: 50vh;
	color: #fff;
	background-color: #414141;
}
.Section_2.svelte-eqyc2h {
	display: grid;
	place-content: center;
	color: #e5e5e5;
	background-color: #2a2929;
}
.Section_3.svelte-eqyc2h {
	color: #000;
	background-color: #b4b4b4;
	padding: 0;
}
.Section_4.svelte-eqyc2h {
	color: #110e08;
	background-color: #b4b4b4;
	padding: 2.618rem;
}
.Section_5.svelte-eqyc2h {
	min-height: 50vh;
	color: #110e08;
	background-color: #fff;
}
.Section_6.svelte-eqyc2h {
	padding: 2.618rem;
	min-height: 50vh;
	color: #110e08;
	background-color: #fff;
}
.svelte-t1reyv.svelte-t1reyv,
.svelte-t1reyv.svelte-t1reyv:after,
.svelte-t1reyv.svelte-t1reyv:before {
	box-sizing: border-box;
}
figure.svelte-t1reyv.svelte-t1reyv,
img.svelte-t1reyv.svelte-t1reyv,
nav.svelte-t1reyv.svelte-t1reyv,
p.svelte-t1reyv.svelte-t1reyv,
small.svelte-t1reyv.svelte-t1reyv {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
nav.svelte-t1reyv.svelte-t1reyv {
	display: block;
}
small.svelte-t1reyv.svelte-t1reyv {
	font-family: Montserrat, sans-serif;
	letter-spacing: 0;
	font-weight: 500;
	color: #b4b4b4;
}
p.svelte-t1reyv.svelte-t1reyv,
small.svelte-t1reyv.svelte-t1reyv {
	font-size: 1rem;
	line-height: 28.8px;
}
@media (min-width: 769px) {
	p.svelte-t1reyv.svelte-t1reyv {
		max-width: 769px;
		margin-left: auto;
		margin-right: auto;
	}
}
figcaption.svelte-t1reyv.svelte-t1reyv {
	text-align: left;
}
@keyframes svelte-t1reyv-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-t1reyv-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-t1reyv-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-t1reyv.svelte-t1reyv:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-t1reyv.svelte-t1reyv::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
img.svelte-t1reyv.svelte-t1reyv {
	max-width: 100%;
	height: auto;
}
nav.svelte-t1reyv.svelte-t1reyv {
	display: grid;
	grid-auto-flow: column;
}
@media (min-width: 769px) {
	nav.svelte-t1reyv.svelte-t1reyv {
		justify-content: center;
		background-color: #b4b4b4;
	}
}
nav.svelte-t1reyv button.svelte-t1reyv {
	border: none;
	color: #2a2929;
	font-size: inherit;
	background-color: #e5e5e5;
}
nav.svelte-t1reyv button.svelte-t1reyv:hover {
	background-color: #fff;
	color: #110e08;
	cursor: pointer;
}
figcaption.svelte-t1reyv.svelte-t1reyv {
	padding: 1rem;
	text-align: center;
}
.active.svelte-t1reyv.svelte-t1reyv {
	color: #000;
	background-color: #fff;
}
