@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
.svelte-gpunpp.svelte-gpunpp,
.svelte-gpunpp.svelte-gpunpp:after,
.svelte-gpunpp.svelte-gpunpp:before {
	box-sizing: border-box;
}
div.svelte-gpunpp.svelte-gpunpp {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-gpunpp-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-gpunpp-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-gpunpp-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-gpunpp.svelte-gpunpp:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-gpunpp.svelte-gpunpp::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.tachado.svelte-gpunpp.svelte-gpunpp {
	text-decoration: line-through;
}
.not-clickable.svelte-gpunpp.svelte-gpunpp {
	pointer-events: none;
}
.Grid_0.svelte-gpunpp.svelte-gpunpp {
	display: grid;
	min-height: 50vh;
	gap: 2.618rem;
	grid-template-areas: 'subarea0' 'subarea1' 'subarea2';
}
@media (min-width: 769px) {
	.Grid_0.svelte-gpunpp.svelte-gpunpp {
		grid-template-areas: 'subarea1 subarea0' 'subarea2 subarea0';
	}
}
.Grid_0.svelte-gpunpp .svelte-gpunpp:nth-child(1) {
	grid-area: subarea1;
	align-self: end;
}
.Grid_0.svelte-gpunpp .svelte-gpunpp:nth-child(2) {
	grid-area: subarea0;
	min-width: 50vw;
}
.Grid_0.svelte-gpunpp .svelte-gpunpp:nth-child(3) {
	grid-area: subarea2;
	display: grid;
	align-self: start;
	place-content: center;
}
.Grid_1.svelte-gpunpp.svelte-gpunpp {
	display: grid;
	min-height: 50vh;
	gap: 2.618rem;
	grid-template-areas: 'subarea0' 'subarea1' 'subarea2';
}
@media (min-width: 769px) {
	.Grid_1.svelte-gpunpp.svelte-gpunpp {
		grid-template-areas: 'subarea0 subarea1' 'subarea0 subarea2';
	}
}
.Grid_1.svelte-gpunpp .svelte-gpunpp:nth-child(1) {
	grid-area: subarea1;
	display: grid;
	align-self: end;
	text-align: center;
}
.Grid_1.svelte-gpunpp .svelte-gpunpp:nth-child(2) {
	grid-area: subarea0;
	min-width: 50vw;
}
.Grid_1.svelte-gpunpp .svelte-gpunpp:nth-child(3) {
	grid-area: subarea2;
	display: grid;
	align-self: start;
	place-content: center;
}
.Grid_2.svelte-gpunpp.svelte-gpunpp {
	display: grid;
	min-height: 50vh;
	gap: 2.618rem;
	grid-template-areas: 'subarea0' 'subarea1' 'subarea2';
}
@media (min-width: 769px) {
	.Grid_2.svelte-gpunpp.svelte-gpunpp {
		grid-template-areas: 'subarea0 subarea1' 'subarea0 subarea2';
	}
}
.Grid_2.svelte-gpunpp .svelte-gpunpp:nth-child(1) {
	grid-area: subarea1;
	align-self: end;
}
.Grid_2.svelte-gpunpp .svelte-gpunpp:nth-child(2) {
	grid-area: subarea0;
	min-width: 50vw;
}
.Grid_2.svelte-gpunpp .svelte-gpunpp:nth-child(3) {
	grid-area: subarea2;
	display: grid;
	align-self: start;
	place-content: center;
}
.Grid_3.svelte-gpunpp.svelte-gpunpp {
	display: grid;
	min-height: 50vh;
	gap: 2.618rem;
	grid-template-areas: 'subarea0' 'subarea1' 'subarea2';
}
@media (min-width: 769px) {
	.Grid_3.svelte-gpunpp.svelte-gpunpp {
		grid-template-areas: 'subarea1 subarea0' 'subarea2 subarea2';
		grid-template-columns: 1fr 1.618fr;
	}
}
.Grid_3.svelte-gpunpp .svelte-gpunpp:nth-child(1) {
	grid-area: subarea1;
}
.Grid_3.svelte-gpunpp .svelte-gpunpp:nth-child(2) {
	grid-area: subarea0;
	min-width: 50vw;
}
.Grid_3.svelte-gpunpp .svelte-gpunpp:nth-child(3) {
	grid-area: subarea2;
	display: grid;
	place-content: center;
}
.Grid_4.svelte-gpunpp.svelte-gpunpp {
	display: grid;
	min-height: 50vh;
	gap: 1rem;
	grid-template-areas: 'subarea0' 'subarea1' 'subarea2';
	padding-bottom: 2.618rem;
}
@media (min-width: 769px) {
	.Grid_4.svelte-gpunpp.svelte-gpunpp {
		gap: 2.618rem;
		padding-bottom: 0;
		grid-template-areas: 'subarea1 subarea0' 'subarea2 subarea0';
	}
}
.Grid_4.svelte-gpunpp .svelte-gpunpp:nth-child(1) {
	grid-area: subarea1;
	align-self: end;
	padding-left: 2.618rem;
	padding-top: 1.618rem;
}
.Grid_4.svelte-gpunpp .svelte-gpunpp:nth-child(2) {
	grid-area: subarea0;
	min-width: 50vw;
	background-color: #2a2929;
}
.Grid_4.svelte-gpunpp .svelte-gpunpp:nth-child(3) {
	grid-area: subarea2;
	display: grid;
	align-self: start;
	place-content: center;
	padding-right: 2.618rem;
	padding-left: 2.618rem;
}
.Grid_5.svelte-gpunpp.svelte-gpunpp {
	display: grid;
	min-height: 50vh;
	gap: 1.618rem;
	padding-bottom: 2.618rem;
	grid-template-areas: 'subarea0' 'subarea2' 'subarea1';
}
@media (min-width: 769px) {
	.Grid_5.svelte-gpunpp.svelte-gpunpp {
		padding-bottom: inherit;
		gap: 2.618rem;
		grid-template-areas: 'subarea0 subarea2' 'subarea0 subarea1';
	}
}
.Grid_5.svelte-gpunpp .svelte-gpunpp:nth-child(1) {
	grid-area: subarea1;
	justify-self: center;
}
@media (min-width: 769px) {
	.Grid_5.svelte-gpunpp .svelte-gpunpp:nth-child(1) {
		justify-self: start;
		align-self: start;
	}
}
.Grid_5.svelte-gpunpp .svelte-gpunpp:nth-child(2) {
	grid-area: subarea0;
	min-width: 50vw;
}
.Grid_5.svelte-gpunpp .svelte-gpunpp:nth-child(3) {
	grid-area: subarea2;
	display: grid;
	margin-left: 2.618rem;
	margin-right: 2.618rem;
	text-align: center;
}
@media (min-width: 769px) {
	.Grid_5.svelte-gpunpp .svelte-gpunpp:nth-child(3) {
		text-align: inherit;
		padding-top: 2.618rem;
		margin-left: 0;
	}
}
.svelte-1bp600d,
.svelte-1bp600d:after,
.svelte-1bp600d:before {
	box-sizing: border-box;
}
a.svelte-1bp600d {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
a[target='_blank'].svelte-1bp600d:after {
	content: ' ⤤';
}
@keyframes svelte-1bp600d-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1bp600d-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1bp600d-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
a.svelte-1bp600d:hover {
	animation-name: svelte-1bp600d-fade;
	animation-duration: 0.3s;
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-1bp600d:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1bp600d::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.tachado.svelte-1bp600d {
	text-decoration: line-through;
}
.not-clickable.svelte-1bp600d {
	pointer-events: none;
}
.button.svelte-1bp600d,
button {
	background-color: transparent;
	padding: 1rem 1.618rem;
	font-size: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	text-decoration: none;
	border-width: 1px;
	border-style: dotted;
	position: relative;
}
.button.svelte-1bp600d:focus,
button:focus {
	border: none;
}
.button.svelte-1bp600d:after,
button:after {
	font-size: 1.618rem;
	padding-left: 0.618rem;
}
.button.svelte-1bp600d:hover,
button:hover {
	cursor: pointer;
}
.Button_0.svelte-1bp600d {
	color: #b4b4b4;
	border-color: #b4b4b4;
	margin: 0;
}
.Button_0.svelte-1bp600d:hover {
	color: #110e08;
	background-color: #b4b4b4;
	border-color: #b4b4b4;
}
.Button_1.svelte-1bp600d {
	color: #110e08;
	border-color: #110e08;
}
.Button_2.svelte-1bp600d {
	color: #b4b4b4;
	border-color: #6c6c6c;
	margin-bottom: 0;
	margin-top: 0;
}
.Button_2.svelte-1bp600d:hover {
	color: #110e08;
	background-color: #e5e5e5;
	border-color: #e5e5e5;
}
.Button_3.svelte-1bp600d {
	color: #b4b4b4;
	border-color: #b4b4b4;
}
.Button_3.svelte-1bp600d:hover {
	color: #110e08;
	background-color: #e5e5e5;
	border-color: #e5e5e5;
}
.Button_4.svelte-1bp600d {
	color: #414141;
	border: 1px double #110e08;
	margin: 0;
	background-color: #ebba97;
	font-size: 1rem;
	line-height: 28.8px;
	border-radius: 50%;
	width: 11.089rem;
	height: 11.089rem;
}
@media (min-width: 769px) {
	.Button_4.svelte-1bp600d {
		font-size: 1.618rem;
		line-height: 40.896px;
		width: 17.942rem;
		height: 17.942rem;
	}
}
.Button_4.svelte-1bp600d:hover {
	color: #ebba97;
	background-color: #2a2929;
}
.Button_5.svelte-1bp600d {
	color: #000;
	border: none;
	text-align: center;
	margin: 0;
	font-size: 2.618rem;
	line-height: 57.6px;
	display: block;
	background-color: transparent;
}
.Button_5.svelte-1bp600d:hover {
	color: #e5e5e5;
}
.Button_6.svelte-1bp600d {
	display: block;
	border: none;
	text-align: center;
	margin: 0;
	font-size: 1.618rem;
	line-height: 40.896px;
	color: #b4b4b4;
	background-color: #2a2929;
	width: 100%;
}
@media (min-width: 1023px) {
	.Button_6.svelte-1bp600d {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-top-right-radius: 1.618rem;
		border-bottom-right-radius: 1.618rem;
	}
}
.Button_6.svelte-1bp600d:hover {
	background-color: #ebba97;
	color: #110e08;
}
.Button_7.svelte-1bp600d {
	color: #b4b4b4;
	background-color: #2a2929;
	border: none;
	padding: 1.618rem 2.618rem;
}
.Button_7.svelte-1bp600d:hover {
	color: #e5e5e5;
	background-color: #000;
}
.svelte-dbdih0.svelte-dbdih0,
.svelte-dbdih0.svelte-dbdih0:after,
.svelte-dbdih0.svelte-dbdih0:before {
	box-sizing: border-box;
}
div.svelte-dbdih0.svelte-dbdih0,
h1.svelte-dbdih0.svelte-dbdih0,
h2.svelte-dbdih0.svelte-dbdih0,
header.svelte-dbdih0.svelte-dbdih0,
p.svelte-dbdih0.svelte-dbdih0,
span.svelte-dbdih0.svelte-dbdih0 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
header.svelte-dbdih0.svelte-dbdih0 {
	display: block;
}
header.svelte-dbdih0.svelte-dbdih0 {
	font-family: Montserrat, sans-serif;
	letter-spacing: 0;
	font-weight: 500;
	color: #b4b4b4;
}
h1.svelte-dbdih0.svelte-dbdih0 {
	font-size: 1.618rem;
	line-height: 40.896px;
	font-weight: 700;
}
@media (min-width: 769px) {
	h1.svelte-dbdih0.svelte-dbdih0 {
		font-size: 4.236rem;
		line-height: 86.4px;
	}
}
@media (min-width: 1023px) {
	h1.svelte-dbdih0.svelte-dbdih0 {
		font-size: 6.854rem;
		line-height: 144px;
	}
}
@media (min-width: 2140px) {
	h1.svelte-dbdih0.svelte-dbdih0 {
		font-size: 11.089rem;
		line-height: 144px;
	}
}
h2.svelte-dbdih0.svelte-dbdih0 {
	font-weight: 500;
	font-size: 1rem;
	line-height: 28.8px;
}
@media (min-width: 374px) {
	h2.svelte-dbdih0.svelte-dbdih0 {
		font-size: 1.618rem;
		line-height: 40.896px;
	}
}
@media (min-width: 2140px) {
	h2.svelte-dbdih0.svelte-dbdih0 {
		font-size: 2.618rem;
		line-height: 57.6px;
		margin-left: 6.854rem;
		margin-right: 6.854rem;
	}
}
p.svelte-dbdih0.svelte-dbdih0 {
	font-size: 1rem;
	line-height: 28.8px;
}
@media (min-width: 769px) {
	p.svelte-dbdih0.svelte-dbdih0 {
		max-width: 769px;
		margin-left: auto;
		margin-right: auto;
	}
}
@keyframes svelte-dbdih0-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-dbdih0-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-dbdih0-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-dbdih0.svelte-dbdih0:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-dbdih0.svelte-dbdih0::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.tachado.svelte-dbdih0.svelte-dbdih0 {
	text-decoration: line-through;
}
.not-clickable.svelte-dbdih0.svelte-dbdih0 {
	pointer-events: none;
}
.is_home.svelte-dbdih0.svelte-dbdih0 {
	height: 27vh;
}
@media (min-width: 769px) {
	.is_home.svelte-dbdih0.svelte-dbdih0 {
		height: 100vh;
	}
}
.Cover_0.svelte-dbdih0.svelte-dbdih0 {
	display: grid;
	place-content: center;
	min-height: 50vh;
	background-color: #2a2929;
	text-align: center;
	padding: 0 1.618rem;
	color: #b4b4b4;
}
@media (min-width: 769px) {
	.Cover_0.svelte-dbdih0.svelte-dbdih0 {
		color: #e5e5e5;
		grid-template-areas: 'title' 'text';
		background-size: cover;
		background-position: top center;
		background-attachment: fixed;
		height: 100vh;
		background-position: center;
	}
}
.Cover_1.svelte-dbdih0.svelte-dbdih0 {
	display: grid;
	place-content: center;
	min-height: 50vh;
	color: #2a2929;
	background-color: #e8b28a;
	text-align: left;
	padding: 0 1.618rem;
}
@media (min-width: 769px) {
	.Cover_1.svelte-dbdih0.svelte-dbdih0 {
		text-align: center;
	}
}
.Cover_1.svelte-dbdih0 .CoverTitle.svelte-dbdih0 {
	color: #00f;
}
.Cover_1.svelte-dbdih0 .CoverTitle span.svelte-dbdih0 {
	color: #2a2929;
}
.Cover_2.svelte-dbdih0.svelte-dbdih0 {
	display: grid;
	place-content: center;
	min-height: 50vh;
	color: #110e08;
	background-color: #b4b4b4;
	text-align: center;
}
@media (min-width: 769px) {
	.Cover_2.svelte-dbdih0.svelte-dbdih0 {
		min-height: 100vh;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}
