@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
.svelte-113ecvs,
.svelte-113ecvs:after,
.svelte-113ecvs:before {
	box-sizing: border-box;
}
section.svelte-113ecvs {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
section.svelte-113ecvs {
	display: block;
}
.c_0.svelte-113ecvs {
	color: #e5e5e5;
}
.c_1.svelte-113ecvs {
	color: #b4b4b4;
}
.c_2.svelte-113ecvs {
	color: #6c6c6c;
}
.c_3.svelte-113ecvs {
	color: #414141;
}
.c_4.svelte-113ecvs {
	color: #323232;
}
.c_5.svelte-113ecvs {
	color: #121212;
}
.c_black.svelte-113ecvs {
	color: #000;
}
.c_white.svelte-113ecvs {
	color: #fff;
}
.c_primary.svelte-113ecvs {
	color: #d3b39c;
}
.bgc_0.svelte-113ecvs {
	background-color: #e5e5e5;
}
.bgc_1.svelte-113ecvs {
	background-color: #b4b4b4;
}
.bgc_2.svelte-113ecvs {
	background-color: #6c6c6c;
}
.bgc_3.svelte-113ecvs {
	background-color: #414141;
}
.bgc_4.svelte-113ecvs {
	background-color: #323232;
}
.bgc_5.svelte-113ecvs {
	background-color: #121212;
}
.bgwhite.svelte-113ecvs {
	background-color: #fff;
}
.bgblack.svelte-113ecvs {
	background-color: #000;
}
.bgc_primary.svelte-113ecvs {
	background-color: #d4b39c;
}
.fullfill.svelte-113ecvs {
	width: 100%;
	height: 100%;
}
.p_0.svelte-113ecvs {
	padding: 0;
}
.p_1.svelte-113ecvs {
	padding: 1rem;
}
.p_2.svelte-113ecvs {
	padding: 1.618rem;
}
.p_3.svelte-113ecvs {
	padding: 2.618rem;
}
.p_4.svelte-113ecvs {
	padding: 4.236rem;
}
.p_5.svelte-113ecvs {
	padding: 6.854rem;
}
.pt_0.svelte-113ecvs {
	padding-top: 0;
}
.pt_1.svelte-113ecvs {
	padding-top: 1rem;
}
.pt_2.svelte-113ecvs {
	padding-top: 1.618rem;
}
.pt_3.svelte-113ecvs {
	padding-top: 2.618rem;
}
.pt_4.svelte-113ecvs {
	padding-top: 4.236rem;
}
.pt_5.svelte-113ecvs {
	padding-top: 6.854rem;
}
.mt_-1.svelte-113ecvs {
	margin-top: -1rem;
}
.mt_-2.svelte-113ecvs {
	margin-top: -1.618rem;
}
.mt_-3.svelte-113ecvs {
	margin-top: -2.618rem;
}
.mt_-4.svelte-113ecvs {
	margin-top: -4.236rem;
}
.mt_-5.svelte-113ecvs {
	margin-top: -6.854rem;
}
.pr_0.svelte-113ecvs {
	padding-right: 0;
}
.pr_1.svelte-113ecvs {
	padding-right: 1rem;
}
.pr_2.svelte-113ecvs {
	padding-right: 1.618rem;
}
.pr_3.svelte-113ecvs {
	padding-right: 2.618rem;
}
.pr_4.svelte-113ecvs {
	padding-right: 4.236rem;
}
.pr_5.svelte-113ecvs {
	padding-right: 6.854rem;
}
.pb_0.svelte-113ecvs {
	padding-bottom: 0;
}
.pb_1.svelte-113ecvs {
	padding-bottom: 1rem;
}
.pb_2.svelte-113ecvs {
	padding-bottom: 1.618rem;
}
.pb_3.svelte-113ecvs {
	padding-bottom: 2.618rem;
}
.pb_4.svelte-113ecvs {
	padding-bottom: 4.236rem;
}
.pb_5.svelte-113ecvs {
	padding-bottom: 6.854rem;
}
.pl_0.svelte-113ecvs {
	padding-left: 0;
}
.pl_1.svelte-113ecvs {
	padding-left: 1rem;
}
.pl_2.svelte-113ecvs {
	padding-left: 1.618rem;
}
.pl_3.svelte-113ecvs {
	padding-left: 2.618rem;
}
.pl_4.svelte-113ecvs {
	padding-left: 4.236rem;
}
.pl_5.svelte-113ecvs {
	padding-left: 6.854rem;
}
.mh_0.svelte-113ecvs {
	min-height: 0;
}
.mh_1.svelte-113ecvs {
	min-height: 10vh;
}
.mh_2.svelte-113ecvs {
	min-height: 20vh;
}
.mh_3.svelte-113ecvs {
	min-height: 30vh;
}
.mh_4.svelte-113ecvs {
	min-height: 40vh;
}
.mh_5.svelte-113ecvs {
	min-height: 50vh;
}
.mh_6.svelte-113ecvs {
	min-height: 60vh;
}
.mh_7.svelte-113ecvs {
	min-height: 70vh;
}
.mh_8.svelte-113ecvs {
	min-height: 80vh;
}
.mh_9.svelte-113ecvs {
	min-height: 90vh;
}
.mh_10.svelte-113ecvs {
	min-height: 100vh;
}
@media (min-width: 769px) {
	.mh_s2_0.svelte-113ecvs {
		min-height: 0;
	}
	.mh_s2_1.svelte-113ecvs {
		min-height: 10vh;
	}
	.mh_s2_2.svelte-113ecvs {
		min-height: 20vh;
	}
	.mh_s2_3.svelte-113ecvs {
		min-height: 30vh;
	}
	.mh_s2_4.svelte-113ecvs {
		min-height: 40vh;
	}
	.mh_s2_5.svelte-113ecvs {
		min-height: 50vh;
	}
	.mh_s2_6.svelte-113ecvs {
		min-height: 60vh;
	}
	.mh_s2_7.svelte-113ecvs {
		min-height: 70vh;
	}
	.mh_s2_8.svelte-113ecvs {
		min-height: 80vh;
	}
	.mh_s2_9.svelte-113ecvs {
		min-height: 90vh;
	}
	.mh_s2_10.svelte-113ecvs {
		min-height: 100vh;
	}
}
.dg.svelte-113ecvs {
	display: grid;
	grid-template-columns: repeat(13, 1fr);
}
.dg_0.svelte-113ecvs {
	display: grid;
}
.col_1.svelte-113ecvs {
	grid-column: span 1;
}
.col_2.svelte-113ecvs {
	grid-column: span 2;
}
.col_3.svelte-113ecvs {
	grid-column: span 3;
}
.col_4.svelte-113ecvs {
	grid-column: span 4;
}
.col_5.svelte-113ecvs {
	grid-column: span 5;
}
.col_6.svelte-113ecvs {
	grid-column: span 6;
}
.col_7.svelte-113ecvs {
	grid-column: span 7;
}
.col_8.svelte-113ecvs {
	grid-column: span 8;
}
.col_9.svelte-113ecvs {
	grid-column: span 9;
}
.col_10.svelte-113ecvs {
	grid-column: span 10;
}
.col_11.svelte-113ecvs {
	grid-column: span 11;
}
.col_12.svelte-113ecvs {
	grid-column: span 12;
}
.col_13.svelte-113ecvs {
	grid-column: span 13;
}
@media (min-width: 769px) {
	.col_s2_1.svelte-113ecvs {
		grid-column: span 1;
	}
	.col_s2_2.svelte-113ecvs {
		grid-column: span 2;
	}
	.col_s2_3.svelte-113ecvs {
		grid-column: span 3;
	}
	.col_s2_4.svelte-113ecvs {
		grid-column: span 4;
	}
	.col_s2_5.svelte-113ecvs {
		grid-column: span 5;
	}
	.col_s2_6.svelte-113ecvs {
		grid-column: span 6;
	}
	.col_s2_7.svelte-113ecvs {
		grid-column: span 7;
	}
	.col_s2_8.svelte-113ecvs {
		grid-column: span 8;
	}
	.col_s2_9.svelte-113ecvs {
		grid-column: span 9;
	}
	.col_s2_10.svelte-113ecvs {
		grid-column: span 10;
	}
	.col_s2_11.svelte-113ecvs {
		grid-column: span 11;
	}
	.col_s2_12.svelte-113ecvs {
		grid-column: span 12;
	}
	.col_s2_13.svelte-113ecvs {
		grid-column: span 13;
	}
}
@media (min-width: 1023px) {
	.col_s3_1.svelte-113ecvs {
		grid-column: span 1;
	}
	.col_s3_2.svelte-113ecvs {
		grid-column: span 2;
	}
	.col_s3_3.svelte-113ecvs {
		grid-column: span 3;
	}
	.col_s3_4.svelte-113ecvs {
		grid-column: span 4;
	}
	.col_s3_5.svelte-113ecvs {
		grid-column: span 5;
	}
	.col_s3_6.svelte-113ecvs {
		grid-column: span 6;
	}
	.col_s3_7.svelte-113ecvs {
		grid-column: span 7;
	}
	.col_s3_8.svelte-113ecvs {
		grid-column: span 8;
	}
	.col_s3_9.svelte-113ecvs {
		grid-column: span 9;
	}
	.col_s3_10.svelte-113ecvs {
		grid-column: span 10;
	}
	.col_s3_11.svelte-113ecvs {
		grid-column: span 11;
	}
	.col_s3_12.svelte-113ecvs {
		grid-column: span 12;
	}
	.col_s3_13.svelte-113ecvs {
		grid-column: span 13;
	}
}
@media (min-width: 1400px) {
	.col_s4_1.svelte-113ecvs {
		grid-column: span 1;
	}
	.col_s4_2.svelte-113ecvs {
		grid-column: span 2;
	}
	.col_s4_3.svelte-113ecvs {
		grid-column: span 3;
	}
	.col_s4_4.svelte-113ecvs {
		grid-column: span 4;
	}
	.col_s4_5.svelte-113ecvs {
		grid-column: span 5;
	}
	.col_s4_6.svelte-113ecvs {
		grid-column: span 6;
	}
	.col_s4_7.svelte-113ecvs {
		grid-column: span 7;
	}
	.col_s4_8.svelte-113ecvs {
		grid-column: span 8;
	}
	.col_s4_9.svelte-113ecvs {
		grid-column: span 9;
	}
	.col_s4_10.svelte-113ecvs {
		grid-column: span 10;
	}
	.col_s4_11.svelte-113ecvs {
		grid-column: span 11;
	}
	.col_s4_12.svelte-113ecvs {
		grid-column: span 12;
	}
	.col_s4_13.svelte-113ecvs {
		grid-column: span 13;
	}
}
.slot_1.svelte-113ecvs {
	grid-area: __1;
}
.slot_2.svelte-113ecvs {
	grid-area: __2;
}
.slot_3.svelte-113ecvs {
	grid-area: __3;
}
.slot_4.svelte-113ecvs {
	grid-area: __4;
}
.slot_5.svelte-113ecvs {
	grid-area: __5;
}
.pic.svelte-113ecvs {
	height: 100%;
	place-items: center;
}
.pcc.svelte-113ecvs {
	height: 100%;
	place-content: center;
	align-content: space-evenly;
}
.gap_0.svelte-113ecvs {
	gap: 0;
}
.gap_1.svelte-113ecvs {
	gap: 1rem;
}
.gap_2.svelte-113ecvs {
	gap: 1.618rem;
}
.gap_3.svelte-113ecvs {
	gap: 2.618rem;
}
.rg_1.svelte-113ecvs {
	row-gap: 1.618rem;
}
.rg_2.svelte-113ecvs {
	row-gap: 2.618rem;
}
.rg_3.svelte-113ecvs {
	row-gap: 4.236rem;
}
.rg_4.svelte-113ecvs {
	row-gap: 6.854rem;
}
.rg_5.svelte-113ecvs {
	row-gap: 11.089rem;
}
.cg_1.svelte-113ecvs {
	column-gap: 1.618rem;
}
.cg_2.svelte-113ecvs {
	column-gap: 2.618rem;
}
.cg_3.svelte-113ecvs {
	column-gap: 4.236rem;
}
.cg_4.svelte-113ecvs {
	column-gap: 6.854rem;
}
.cg_5.svelte-113ecvs {
	column-gap: 11.089rem;
}
@media (min-width: 769px) {
	.cg_s2_1.svelte-113ecvs {
		column-gap: 1.618rem;
	}
	.cg_s2_2.svelte-113ecvs {
		column-gap: 2.618rem;
	}
	.cg_s2_3.svelte-113ecvs {
		column-gap: 4.236rem;
	}
	.cg_s2_4.svelte-113ecvs {
		column-gap: 6.854rem;
	}
	.cg_s2_5.svelte-113ecvs {
		column-gap: 11.089rem;
	}
}
.tar.svelte-113ecvs {
	text-align: right;
}
.tac.svelte-113ecvs {
	text-align: center;
}
.tal.svelte-113ecvs {
	text-align: left;
}
@keyframes svelte-113ecvs-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-113ecvs-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-113ecvs-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.namespace.svelte-113ecvs {
	opacity: 0.7;
}
.token.cdata.svelte-113ecvs,
.token.comment.svelte-113ecvs,
.token.doctype.svelte-113ecvs,
.token.prolog.svelte-113ecvs {
	color: #6c6c6c;
}
.token.punctuation.svelte-113ecvs {
	color: #6c6c6c;
}
.token.boolean.svelte-113ecvs,
.token.constant.svelte-113ecvs,
.token.deleted.svelte-113ecvs,
.token.number.svelte-113ecvs,
.token.property.svelte-113ecvs,
.token.symbol.svelte-113ecvs,
.token.tag.svelte-113ecvs {
	color: #e5e5e5;
}
.token.attr-name.svelte-113ecvs,
.token.builtin.svelte-113ecvs,
.token.char.svelte-113ecvs,
.token.inserted.svelte-113ecvs,
.token.selector.svelte-113ecvs,
.token.string.svelte-113ecvs {
	color: #e5e5e5;
}
.token.entity.svelte-113ecvs,
.token.operator.svelte-113ecvs,
.token.url.svelte-113ecvs {
	color: #000;
}
.token.atrule.svelte-113ecvs,
.token.attr-value.svelte-113ecvs,
.token.keyword.svelte-113ecvs {
	color: #e5e5e5;
}
.token.function.svelte-113ecvs {
	color: #fff;
}
.token.important.svelte-113ecvs,
.token.regex.svelte-113ecvs,
.token.variable.svelte-113ecvs {
	color: #414141;
}
.token.bold.svelte-113ecvs,
.token.important.svelte-113ecvs {
	font-weight: 700;
}
.token.italic.svelte-113ecvs {
	font-style: italic;
}
.token.entity.svelte-113ecvs {
	cursor: help;
}
.line-highlight.svelte-113ecvs {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em;
	background: #4c4b48;
	box-shadow: inset 5px 0 0 #f77ea2;
	z-index: 0;
	pointer-events: none;
	line-height: inherit;
	white-space: pre;
}
.svelte-113ecvs:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-113ecvs::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.tachado.svelte-113ecvs {
	text-decoration: line-through;
}
.not-clickable.svelte-113ecvs {
	pointer-events: none;
}
.wrap-object-fit.svelte-113ecvs {
	height: inherit;
}
.object-fit.svelte-113ecvs {
	object-fit: cover;
	height: 100%;
}
.absolute.svelte-113ecvs {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.relative.svelte-113ecvs {
	position: relative;
	width: inherit;
}
.dn.svelte-113ecvs {
	display: none;
}
@media (min-width: 769px) {
	section.svelte-113ecvs {
		padding: 2.618rem;
	}
}
.Section_0.svelte-113ecvs {
	align-content: space-evenly;
	height: 100%;
	display: grid;
	color: inherit;
}
.Section_1.svelte-113ecvs {
	padding: 0;
}
.Section_2.svelte-113ecvs {
	color: inherit;
	display: grid;
	place-content: center;
}
.Section_3.svelte-113ecvs {
	color: #000;
	padding: 0;
}
.Section_4.svelte-113ecvs {
	color: #121212;
	padding: 2.618rem;
}
.Section_5.svelte-113ecvs {
	padding: 0;
	min-height: 50vh;
	color: #121212;
}
.Section_6.svelte-113ecvs {
	min-height: 50vh;
	color: #e5e5e5;
}
.Section_7.svelte-113ecvs {
	min-height: 50vh;
	color: #6c6c6c;
	padding: 0;
}
@media (min-width: 1023px) {
	.Section_7.svelte-113ecvs {
		margin-left: auto;
		margin-right: auto;
		max-width: 1023px;
	}
}
.Section_8.svelte-113ecvs {
	color: #b4b4b4;
	padding: 0;
}
.svelte-18uls8m,
.svelte-18uls8m:after,
.svelte-18uls8m:before {
	box-sizing: border-box;
}
a.svelte-18uls8m {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
.c_0.svelte-18uls8m {
	color: #e5e5e5;
}
.c_1.svelte-18uls8m {
	color: #b4b4b4;
}
.c_2.svelte-18uls8m {
	color: #6c6c6c;
}
.c_3.svelte-18uls8m {
	color: #414141;
}
.c_4.svelte-18uls8m {
	color: #323232;
}
.c_5.svelte-18uls8m {
	color: #121212;
}
.c_black.svelte-18uls8m {
	color: #000;
}
.c_white.svelte-18uls8m {
	color: #fff;
}
.c_primary.svelte-18uls8m {
	color: #d3b39c;
}
.bgc_0.svelte-18uls8m {
	background-color: #e5e5e5;
}
.bgc_1.svelte-18uls8m {
	background-color: #b4b4b4;
}
.bgc_2.svelte-18uls8m {
	background-color: #6c6c6c;
}
.bgc_3.svelte-18uls8m {
	background-color: #414141;
}
.bgc_4.svelte-18uls8m {
	background-color: #323232;
}
.bgc_5.svelte-18uls8m {
	background-color: #121212;
}
.bgwhite.svelte-18uls8m {
	background-color: #fff;
}
.bgblack.svelte-18uls8m {
	background-color: #000;
}
.bgc_primary.svelte-18uls8m {
	background-color: #d4b39c;
}
.fullfill.svelte-18uls8m {
	width: 100%;
	height: 100%;
}
.p_0.svelte-18uls8m {
	padding: 0;
}
.p_1.svelte-18uls8m {
	padding: 1rem;
}
.p_2.svelte-18uls8m {
	padding: 1.618rem;
}
.p_3.svelte-18uls8m {
	padding: 2.618rem;
}
.p_4.svelte-18uls8m {
	padding: 4.236rem;
}
.p_5.svelte-18uls8m {
	padding: 6.854rem;
}
.pt_0.svelte-18uls8m {
	padding-top: 0;
}
.pt_1.svelte-18uls8m {
	padding-top: 1rem;
}
.pt_2.svelte-18uls8m {
	padding-top: 1.618rem;
}
.pt_3.svelte-18uls8m {
	padding-top: 2.618rem;
}
.pt_4.svelte-18uls8m {
	padding-top: 4.236rem;
}
.pt_5.svelte-18uls8m {
	padding-top: 6.854rem;
}
.mt_-1.svelte-18uls8m {
	margin-top: -1rem;
}
.mt_-2.svelte-18uls8m {
	margin-top: -1.618rem;
}
.mt_-3.svelte-18uls8m {
	margin-top: -2.618rem;
}
.mt_-4.svelte-18uls8m {
	margin-top: -4.236rem;
}
.mt_-5.svelte-18uls8m {
	margin-top: -6.854rem;
}
.pr_0.svelte-18uls8m {
	padding-right: 0;
}
.pr_1.svelte-18uls8m {
	padding-right: 1rem;
}
.pr_2.svelte-18uls8m {
	padding-right: 1.618rem;
}
.pr_3.svelte-18uls8m {
	padding-right: 2.618rem;
}
.pr_4.svelte-18uls8m {
	padding-right: 4.236rem;
}
.pr_5.svelte-18uls8m {
	padding-right: 6.854rem;
}
.pb_0.svelte-18uls8m {
	padding-bottom: 0;
}
.pb_1.svelte-18uls8m {
	padding-bottom: 1rem;
}
.pb_2.svelte-18uls8m {
	padding-bottom: 1.618rem;
}
.pb_3.svelte-18uls8m {
	padding-bottom: 2.618rem;
}
.pb_4.svelte-18uls8m {
	padding-bottom: 4.236rem;
}
.pb_5.svelte-18uls8m {
	padding-bottom: 6.854rem;
}
.pl_0.svelte-18uls8m {
	padding-left: 0;
}
.pl_1.svelte-18uls8m {
	padding-left: 1rem;
}
.pl_2.svelte-18uls8m {
	padding-left: 1.618rem;
}
.pl_3.svelte-18uls8m {
	padding-left: 2.618rem;
}
.pl_4.svelte-18uls8m {
	padding-left: 4.236rem;
}
.pl_5.svelte-18uls8m {
	padding-left: 6.854rem;
}
.mh_0.svelte-18uls8m {
	min-height: 0;
}
.mh_1.svelte-18uls8m {
	min-height: 10vh;
}
.mh_2.svelte-18uls8m {
	min-height: 20vh;
}
.mh_3.svelte-18uls8m {
	min-height: 30vh;
}
.mh_4.svelte-18uls8m {
	min-height: 40vh;
}
.mh_5.svelte-18uls8m {
	min-height: 50vh;
}
.mh_6.svelte-18uls8m {
	min-height: 60vh;
}
.mh_7.svelte-18uls8m {
	min-height: 70vh;
}
.mh_8.svelte-18uls8m {
	min-height: 80vh;
}
.mh_9.svelte-18uls8m {
	min-height: 90vh;
}
.mh_10.svelte-18uls8m {
	min-height: 100vh;
}
@media (min-width: 769px) {
	.mh_s2_0.svelte-18uls8m {
		min-height: 0;
	}
	.mh_s2_1.svelte-18uls8m {
		min-height: 10vh;
	}
	.mh_s2_2.svelte-18uls8m {
		min-height: 20vh;
	}
	.mh_s2_3.svelte-18uls8m {
		min-height: 30vh;
	}
	.mh_s2_4.svelte-18uls8m {
		min-height: 40vh;
	}
	.mh_s2_5.svelte-18uls8m {
		min-height: 50vh;
	}
	.mh_s2_6.svelte-18uls8m {
		min-height: 60vh;
	}
	.mh_s2_7.svelte-18uls8m {
		min-height: 70vh;
	}
	.mh_s2_8.svelte-18uls8m {
		min-height: 80vh;
	}
	.mh_s2_9.svelte-18uls8m {
		min-height: 90vh;
	}
	.mh_s2_10.svelte-18uls8m {
		min-height: 100vh;
	}
}
.dg.svelte-18uls8m {
	display: grid;
	grid-template-columns: repeat(13, 1fr);
}
.dg_0.svelte-18uls8m {
	display: grid;
}
.col_1.svelte-18uls8m {
	grid-column: span 1;
}
.col_2.svelte-18uls8m {
	grid-column: span 2;
}
.col_3.svelte-18uls8m {
	grid-column: span 3;
}
.col_4.svelte-18uls8m {
	grid-column: span 4;
}
.col_5.svelte-18uls8m {
	grid-column: span 5;
}
.col_6.svelte-18uls8m {
	grid-column: span 6;
}
.col_7.svelte-18uls8m {
	grid-column: span 7;
}
.col_8.svelte-18uls8m {
	grid-column: span 8;
}
.col_9.svelte-18uls8m {
	grid-column: span 9;
}
.col_10.svelte-18uls8m {
	grid-column: span 10;
}
.col_11.svelte-18uls8m {
	grid-column: span 11;
}
.col_12.svelte-18uls8m {
	grid-column: span 12;
}
.col_13.svelte-18uls8m {
	grid-column: span 13;
}
@media (min-width: 769px) {
	.col_s2_1.svelte-18uls8m {
		grid-column: span 1;
	}
	.col_s2_2.svelte-18uls8m {
		grid-column: span 2;
	}
	.col_s2_3.svelte-18uls8m {
		grid-column: span 3;
	}
	.col_s2_4.svelte-18uls8m {
		grid-column: span 4;
	}
	.col_s2_5.svelte-18uls8m {
		grid-column: span 5;
	}
	.col_s2_6.svelte-18uls8m {
		grid-column: span 6;
	}
	.col_s2_7.svelte-18uls8m {
		grid-column: span 7;
	}
	.col_s2_8.svelte-18uls8m {
		grid-column: span 8;
	}
	.col_s2_9.svelte-18uls8m {
		grid-column: span 9;
	}
	.col_s2_10.svelte-18uls8m {
		grid-column: span 10;
	}
	.col_s2_11.svelte-18uls8m {
		grid-column: span 11;
	}
	.col_s2_12.svelte-18uls8m {
		grid-column: span 12;
	}
	.col_s2_13.svelte-18uls8m {
		grid-column: span 13;
	}
}
@media (min-width: 1023px) {
	.col_s3_1.svelte-18uls8m {
		grid-column: span 1;
	}
	.col_s3_2.svelte-18uls8m {
		grid-column: span 2;
	}
	.col_s3_3.svelte-18uls8m {
		grid-column: span 3;
	}
	.col_s3_4.svelte-18uls8m {
		grid-column: span 4;
	}
	.col_s3_5.svelte-18uls8m {
		grid-column: span 5;
	}
	.col_s3_6.svelte-18uls8m {
		grid-column: span 6;
	}
	.col_s3_7.svelte-18uls8m {
		grid-column: span 7;
	}
	.col_s3_8.svelte-18uls8m {
		grid-column: span 8;
	}
	.col_s3_9.svelte-18uls8m {
		grid-column: span 9;
	}
	.col_s3_10.svelte-18uls8m {
		grid-column: span 10;
	}
	.col_s3_11.svelte-18uls8m {
		grid-column: span 11;
	}
	.col_s3_12.svelte-18uls8m {
		grid-column: span 12;
	}
	.col_s3_13.svelte-18uls8m {
		grid-column: span 13;
	}
}
@media (min-width: 1400px) {
	.col_s4_1.svelte-18uls8m {
		grid-column: span 1;
	}
	.col_s4_2.svelte-18uls8m {
		grid-column: span 2;
	}
	.col_s4_3.svelte-18uls8m {
		grid-column: span 3;
	}
	.col_s4_4.svelte-18uls8m {
		grid-column: span 4;
	}
	.col_s4_5.svelte-18uls8m {
		grid-column: span 5;
	}
	.col_s4_6.svelte-18uls8m {
		grid-column: span 6;
	}
	.col_s4_7.svelte-18uls8m {
		grid-column: span 7;
	}
	.col_s4_8.svelte-18uls8m {
		grid-column: span 8;
	}
	.col_s4_9.svelte-18uls8m {
		grid-column: span 9;
	}
	.col_s4_10.svelte-18uls8m {
		grid-column: span 10;
	}
	.col_s4_11.svelte-18uls8m {
		grid-column: span 11;
	}
	.col_s4_12.svelte-18uls8m {
		grid-column: span 12;
	}
	.col_s4_13.svelte-18uls8m {
		grid-column: span 13;
	}
}
.slot_1.svelte-18uls8m {
	grid-area: __1;
}
.slot_2.svelte-18uls8m {
	grid-area: __2;
}
.slot_3.svelte-18uls8m {
	grid-area: __3;
}
.slot_4.svelte-18uls8m {
	grid-area: __4;
}
.slot_5.svelte-18uls8m {
	grid-area: __5;
}
.pic.svelte-18uls8m {
	height: 100%;
	place-items: center;
}
.pcc.svelte-18uls8m {
	height: 100%;
	place-content: center;
	align-content: space-evenly;
}
.gap_0.svelte-18uls8m {
	gap: 0;
}
.gap_1.svelte-18uls8m {
	gap: 1rem;
}
.gap_2.svelte-18uls8m {
	gap: 1.618rem;
}
.gap_3.svelte-18uls8m {
	gap: 2.618rem;
}
.rg_1.svelte-18uls8m {
	row-gap: 1.618rem;
}
.rg_2.svelte-18uls8m {
	row-gap: 2.618rem;
}
.rg_3.svelte-18uls8m {
	row-gap: 4.236rem;
}
.rg_4.svelte-18uls8m {
	row-gap: 6.854rem;
}
.rg_5.svelte-18uls8m {
	row-gap: 11.089rem;
}
.cg_1.svelte-18uls8m {
	column-gap: 1.618rem;
}
.cg_2.svelte-18uls8m {
	column-gap: 2.618rem;
}
.cg_3.svelte-18uls8m {
	column-gap: 4.236rem;
}
.cg_4.svelte-18uls8m {
	column-gap: 6.854rem;
}
.cg_5.svelte-18uls8m {
	column-gap: 11.089rem;
}
@media (min-width: 769px) {
	.cg_s2_1.svelte-18uls8m {
		column-gap: 1.618rem;
	}
	.cg_s2_2.svelte-18uls8m {
		column-gap: 2.618rem;
	}
	.cg_s2_3.svelte-18uls8m {
		column-gap: 4.236rem;
	}
	.cg_s2_4.svelte-18uls8m {
		column-gap: 6.854rem;
	}
	.cg_s2_5.svelte-18uls8m {
		column-gap: 11.089rem;
	}
}
.tar.svelte-18uls8m {
	text-align: right;
}
.tac.svelte-18uls8m {
	text-align: center;
}
.tal.svelte-18uls8m {
	text-align: left;
}
@keyframes svelte-18uls8m-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-18uls8m-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-18uls8m-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
a.svelte-18uls8m:hover {
	animation-name: svelte-18uls8m-fade;
	animation-duration: 0.3s;
}
.namespace.svelte-18uls8m {
	opacity: 0.7;
}
.token.cdata.svelte-18uls8m,
.token.comment.svelte-18uls8m,
.token.doctype.svelte-18uls8m,
.token.prolog.svelte-18uls8m {
	color: #6c6c6c;
}
.token.punctuation.svelte-18uls8m {
	color: #6c6c6c;
}
.token.boolean.svelte-18uls8m,
.token.constant.svelte-18uls8m,
.token.deleted.svelte-18uls8m,
.token.number.svelte-18uls8m,
.token.property.svelte-18uls8m,
.token.symbol.svelte-18uls8m,
.token.tag.svelte-18uls8m {
	color: #e5e5e5;
}
.token.attr-name.svelte-18uls8m,
.token.builtin.svelte-18uls8m,
.token.char.svelte-18uls8m,
.token.inserted.svelte-18uls8m,
.token.selector.svelte-18uls8m,
.token.string.svelte-18uls8m {
	color: #e5e5e5;
}
.token.entity.svelte-18uls8m,
.token.operator.svelte-18uls8m,
.token.url.svelte-18uls8m {
	color: #000;
}
.token.atrule.svelte-18uls8m,
.token.attr-value.svelte-18uls8m,
.token.keyword.svelte-18uls8m {
	color: #e5e5e5;
}
.token.function.svelte-18uls8m {
	color: #fff;
}
.token.important.svelte-18uls8m,
.token.regex.svelte-18uls8m,
.token.variable.svelte-18uls8m {
	color: #414141;
}
.token.bold.svelte-18uls8m,
.token.important.svelte-18uls8m {
	font-weight: 700;
}
.token.italic.svelte-18uls8m {
	font-style: italic;
}
.token.entity.svelte-18uls8m {
	cursor: help;
}
.line-highlight.svelte-18uls8m {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em;
	background: #4c4b48;
	box-shadow: inset 5px 0 0 #f77ea2;
	z-index: 0;
	pointer-events: none;
	line-height: inherit;
	white-space: pre;
}
.svelte-18uls8m:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-18uls8m::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.tachado.svelte-18uls8m {
	text-decoration: line-through;
}
.not-clickable.svelte-18uls8m {
	pointer-events: none;
}
.wrap-object-fit.svelte-18uls8m {
	height: inherit;
}
.object-fit.svelte-18uls8m {
	object-fit: cover;
	height: 100%;
}
.absolute.svelte-18uls8m {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.relative.svelte-18uls8m {
	position: relative;
	width: inherit;
}
.dn.svelte-18uls8m {
	display: none;
}
.button.svelte-18uls8m,
button {
	background-color: transparent;
	font-size: inherit;
	text-align: center;
	text-decoration: none;
	border: none;
	width: 100%;
}
.button.svelte-18uls8m:focus,
button:focus {
	border: none;
}
.button.svelte-18uls8m:after,
button:after {
	font-size: 1.618rem;
	padding-left: 0.618rem;
}
.button.svelte-18uls8m:hover,
button:hover {
	cursor: pointer;
}
.Button_0.svelte-18uls8m {
	padding: 1.618rem;
	color: #323232;
	border-color: #b4b4b4;
	margin: 0;
}
.Button_0.svelte-18uls8m:hover {
	color: #121212;
	background-color: #b4b4b4;
	border-color: #b4b4b4;
}
.Button_0.svelte-18uls8m:focus {
	background-color: #fff;
}
.Button_1.svelte-18uls8m {
	color: #121212;
	width: 100%;
}
.Button_2.svelte-18uls8m {
	color: #b4b4b4;
	margin-bottom: 0;
	margin-top: 0;
}
.Button_3.svelte-18uls8m {
	color: inherit;
}
.Button_4.svelte-18uls8m {
	color: #414141;
	border: 1px double #121212;
	margin: 0;
	background-color: #d9bba7;
	font-size: 1rem;
	line-height: 28.8px;
	border-radius: 50%;
	width: 11.089rem;
	height: 11.089rem;
}
@media (min-width: 769px) {
	.Button_4.svelte-18uls8m {
		font-size: 1.618rem;
		line-height: 40.896px;
		width: 17.942rem;
		height: 17.942rem;
	}
}
.Button_4.svelte-18uls8m:hover {
	color: #d9bba7;
	background-color: #323232;
}
.Button_5.svelte-18uls8m {
	color: #000;
	border: none;
	text-align: center;
	margin: 0;
	font-size: 2.618rem;
	line-height: 57.6px;
	display: block;
	background-color: transparent;
}
.Button_5.svelte-18uls8m:hover {
	color: #e5e5e5;
}
.Button_6.svelte-18uls8m {
	display: block;
	border: none;
	text-align: center;
	margin: 0;
	padding-left: 1.618rem;
	padding-right: 1.618rem;
	font-size: 1rem;
	line-height: 28.8px;
	color: #b4b4b4;
	background-color: #323232;
	width: 100%;
}
@media (min-width: 1023px) {
	.Button_6.svelte-18uls8m {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-top-right-radius: 1.618rem;
		border-bottom-right-radius: 1.618rem;
	}
}
.Button_6.svelte-18uls8m:hover {
	background-color: #d9bba7;
	color: #121212;
}
.Button_7.svelte-18uls8m {
	color: #b4b4b4;
	background-color: #323232;
	border: none;
	padding: 1.618rem 2.618rem;
	place-self: center;
	width: fit-content;
}
.Button_7.svelte-18uls8m:hover {
	color: #e5e5e5;
	background-color: #000;
}
.Button_8.svelte-18uls8m {
	padding: 1.618rem;
	color: #b4b4b4;
	margin: 0;
}
.Button_8.svelte-18uls8m:hover {
	color: #121212;
	background-color: #b4b4b4;
}
.Button_8.svelte-18uls8m:focus {
	background-color: #fff;
}
.svelte-1kv4pzu.svelte-1kv4pzu,
.svelte-1kv4pzu.svelte-1kv4pzu:after,
.svelte-1kv4pzu.svelte-1kv4pzu:before {
	box-sizing: border-box;
}
h1.svelte-1kv4pzu.svelte-1kv4pzu,
h2.svelte-1kv4pzu.svelte-1kv4pzu,
h3.svelte-1kv4pzu.svelte-1kv4pzu,
header.svelte-1kv4pzu.svelte-1kv4pzu,
span.svelte-1kv4pzu.svelte-1kv4pzu {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
header.svelte-1kv4pzu.svelte-1kv4pzu {
	display: block;
}
.c_0.svelte-1kv4pzu.svelte-1kv4pzu {
	color: #e5e5e5;
}
.c_1.svelte-1kv4pzu.svelte-1kv4pzu {
	color: #b4b4b4;
}
.c_2.svelte-1kv4pzu.svelte-1kv4pzu {
	color: #6c6c6c;
}
.c_3.svelte-1kv4pzu.svelte-1kv4pzu {
	color: #414141;
}
.c_4.svelte-1kv4pzu.svelte-1kv4pzu {
	color: #323232;
}
.c_5.svelte-1kv4pzu.svelte-1kv4pzu {
	color: #121212;
}
.c_black.svelte-1kv4pzu.svelte-1kv4pzu {
	color: #000;
}
.c_white.svelte-1kv4pzu.svelte-1kv4pzu {
	color: #fff;
}
.c_primary.svelte-1kv4pzu.svelte-1kv4pzu {
	color: #d3b39c;
}
.bgc_0.svelte-1kv4pzu.svelte-1kv4pzu {
	background-color: #e5e5e5;
}
.bgc_1.svelte-1kv4pzu.svelte-1kv4pzu {
	background-color: #b4b4b4;
}
.bgc_2.svelte-1kv4pzu.svelte-1kv4pzu {
	background-color: #6c6c6c;
}
.bgc_3.svelte-1kv4pzu.svelte-1kv4pzu {
	background-color: #414141;
}
.bgc_4.svelte-1kv4pzu.svelte-1kv4pzu {
	background-color: #323232;
}
.bgc_5.svelte-1kv4pzu.svelte-1kv4pzu {
	background-color: #121212;
}
.bgwhite.svelte-1kv4pzu.svelte-1kv4pzu {
	background-color: #fff;
}
.bgblack.svelte-1kv4pzu.svelte-1kv4pzu {
	background-color: #000;
}
.bgc_primary.svelte-1kv4pzu.svelte-1kv4pzu {
	background-color: #d4b39c;
}
.fullfill.svelte-1kv4pzu.svelte-1kv4pzu {
	width: 100%;
	height: 100%;
}
.p_0.svelte-1kv4pzu.svelte-1kv4pzu {
	padding: 0;
}
.p_1.svelte-1kv4pzu.svelte-1kv4pzu {
	padding: 1rem;
}
.p_2.svelte-1kv4pzu.svelte-1kv4pzu {
	padding: 1.618rem;
}
.p_3.svelte-1kv4pzu.svelte-1kv4pzu {
	padding: 2.618rem;
}
.p_4.svelte-1kv4pzu.svelte-1kv4pzu {
	padding: 4.236rem;
}
.p_5.svelte-1kv4pzu.svelte-1kv4pzu {
	padding: 6.854rem;
}
.pt_0.svelte-1kv4pzu.svelte-1kv4pzu {
	padding-top: 0;
}
.pt_1.svelte-1kv4pzu.svelte-1kv4pzu {
	padding-top: 1rem;
}
.pt_2.svelte-1kv4pzu.svelte-1kv4pzu {
	padding-top: 1.618rem;
}
.pt_3.svelte-1kv4pzu.svelte-1kv4pzu {
	padding-top: 2.618rem;
}
.pt_4.svelte-1kv4pzu.svelte-1kv4pzu {
	padding-top: 4.236rem;
}
.pt_5.svelte-1kv4pzu.svelte-1kv4pzu {
	padding-top: 6.854rem;
}
.mt_-1.svelte-1kv4pzu.svelte-1kv4pzu {
	margin-top: -1rem;
}
.mt_-2.svelte-1kv4pzu.svelte-1kv4pzu {
	margin-top: -1.618rem;
}
.mt_-3.svelte-1kv4pzu.svelte-1kv4pzu {
	margin-top: -2.618rem;
}
.mt_-4.svelte-1kv4pzu.svelte-1kv4pzu {
	margin-top: -4.236rem;
}
.mt_-5.svelte-1kv4pzu.svelte-1kv4pzu {
	margin-top: -6.854rem;
}
.pr_0.svelte-1kv4pzu.svelte-1kv4pzu {
	padding-right: 0;
}
.pr_1.svelte-1kv4pzu.svelte-1kv4pzu {
	padding-right: 1rem;
}
.pr_2.svelte-1kv4pzu.svelte-1kv4pzu {
	padding-right: 1.618rem;
}
.pr_3.svelte-1kv4pzu.svelte-1kv4pzu {
	padding-right: 2.618rem;
}
.pr_4.svelte-1kv4pzu.svelte-1kv4pzu {
	padding-right: 4.236rem;
}
.pr_5.svelte-1kv4pzu.svelte-1kv4pzu {
	padding-right: 6.854rem;
}
.pb_0.svelte-1kv4pzu.svelte-1kv4pzu {
	padding-bottom: 0;
}
.pb_1.svelte-1kv4pzu.svelte-1kv4pzu {
	padding-bottom: 1rem;
}
.pb_2.svelte-1kv4pzu.svelte-1kv4pzu {
	padding-bottom: 1.618rem;
}
.pb_3.svelte-1kv4pzu.svelte-1kv4pzu {
	padding-bottom: 2.618rem;
}
.pb_4.svelte-1kv4pzu.svelte-1kv4pzu {
	padding-bottom: 4.236rem;
}
.pb_5.svelte-1kv4pzu.svelte-1kv4pzu {
	padding-bottom: 6.854rem;
}
.pl_0.svelte-1kv4pzu.svelte-1kv4pzu {
	padding-left: 0;
}
.pl_1.svelte-1kv4pzu.svelte-1kv4pzu {
	padding-left: 1rem;
}
.pl_2.svelte-1kv4pzu.svelte-1kv4pzu {
	padding-left: 1.618rem;
}
.pl_3.svelte-1kv4pzu.svelte-1kv4pzu {
	padding-left: 2.618rem;
}
.pl_4.svelte-1kv4pzu.svelte-1kv4pzu {
	padding-left: 4.236rem;
}
.pl_5.svelte-1kv4pzu.svelte-1kv4pzu {
	padding-left: 6.854rem;
}
.mh_0.svelte-1kv4pzu.svelte-1kv4pzu {
	min-height: 0;
}
.mh_1.svelte-1kv4pzu.svelte-1kv4pzu {
	min-height: 10vh;
}
.mh_2.svelte-1kv4pzu.svelte-1kv4pzu {
	min-height: 20vh;
}
.mh_3.svelte-1kv4pzu.svelte-1kv4pzu {
	min-height: 30vh;
}
.mh_4.svelte-1kv4pzu.svelte-1kv4pzu {
	min-height: 40vh;
}
.mh_5.svelte-1kv4pzu.svelte-1kv4pzu {
	min-height: 50vh;
}
.mh_6.svelte-1kv4pzu.svelte-1kv4pzu {
	min-height: 60vh;
}
.mh_7.svelte-1kv4pzu.svelte-1kv4pzu {
	min-height: 70vh;
}
.mh_8.svelte-1kv4pzu.svelte-1kv4pzu {
	min-height: 80vh;
}
.mh_9.svelte-1kv4pzu.svelte-1kv4pzu {
	min-height: 90vh;
}
.mh_10.svelte-1kv4pzu.svelte-1kv4pzu {
	min-height: 100vh;
}
@media (min-width: 769px) {
	.mh_s2_0.svelte-1kv4pzu.svelte-1kv4pzu {
		min-height: 0;
	}
	.mh_s2_1.svelte-1kv4pzu.svelte-1kv4pzu {
		min-height: 10vh;
	}
	.mh_s2_2.svelte-1kv4pzu.svelte-1kv4pzu {
		min-height: 20vh;
	}
	.mh_s2_3.svelte-1kv4pzu.svelte-1kv4pzu {
		min-height: 30vh;
	}
	.mh_s2_4.svelte-1kv4pzu.svelte-1kv4pzu {
		min-height: 40vh;
	}
	.mh_s2_5.svelte-1kv4pzu.svelte-1kv4pzu {
		min-height: 50vh;
	}
	.mh_s2_6.svelte-1kv4pzu.svelte-1kv4pzu {
		min-height: 60vh;
	}
	.mh_s2_7.svelte-1kv4pzu.svelte-1kv4pzu {
		min-height: 70vh;
	}
	.mh_s2_8.svelte-1kv4pzu.svelte-1kv4pzu {
		min-height: 80vh;
	}
	.mh_s2_9.svelte-1kv4pzu.svelte-1kv4pzu {
		min-height: 90vh;
	}
	.mh_s2_10.svelte-1kv4pzu.svelte-1kv4pzu {
		min-height: 100vh;
	}
}
.dg.svelte-1kv4pzu.svelte-1kv4pzu {
	display: grid;
	grid-template-columns: repeat(13, 1fr);
}
.dg_0.svelte-1kv4pzu.svelte-1kv4pzu {
	display: grid;
}
.col_1.svelte-1kv4pzu.svelte-1kv4pzu {
	grid-column: span 1;
}
.col_2.svelte-1kv4pzu.svelte-1kv4pzu {
	grid-column: span 2;
}
.col_3.svelte-1kv4pzu.svelte-1kv4pzu {
	grid-column: span 3;
}
.col_4.svelte-1kv4pzu.svelte-1kv4pzu {
	grid-column: span 4;
}
.col_5.svelte-1kv4pzu.svelte-1kv4pzu {
	grid-column: span 5;
}
.col_6.svelte-1kv4pzu.svelte-1kv4pzu {
	grid-column: span 6;
}
.col_7.svelte-1kv4pzu.svelte-1kv4pzu {
	grid-column: span 7;
}
.col_8.svelte-1kv4pzu.svelte-1kv4pzu {
	grid-column: span 8;
}
.col_9.svelte-1kv4pzu.svelte-1kv4pzu {
	grid-column: span 9;
}
.col_10.svelte-1kv4pzu.svelte-1kv4pzu {
	grid-column: span 10;
}
.col_11.svelte-1kv4pzu.svelte-1kv4pzu {
	grid-column: span 11;
}
.col_12.svelte-1kv4pzu.svelte-1kv4pzu {
	grid-column: span 12;
}
.col_13.svelte-1kv4pzu.svelte-1kv4pzu {
	grid-column: span 13;
}
@media (min-width: 769px) {
	.col_s2_1.svelte-1kv4pzu.svelte-1kv4pzu {
		grid-column: span 1;
	}
	.col_s2_2.svelte-1kv4pzu.svelte-1kv4pzu {
		grid-column: span 2;
	}
	.col_s2_3.svelte-1kv4pzu.svelte-1kv4pzu {
		grid-column: span 3;
	}
	.col_s2_4.svelte-1kv4pzu.svelte-1kv4pzu {
		grid-column: span 4;
	}
	.col_s2_5.svelte-1kv4pzu.svelte-1kv4pzu {
		grid-column: span 5;
	}
	.col_s2_6.svelte-1kv4pzu.svelte-1kv4pzu {
		grid-column: span 6;
	}
	.col_s2_7.svelte-1kv4pzu.svelte-1kv4pzu {
		grid-column: span 7;
	}
	.col_s2_8.svelte-1kv4pzu.svelte-1kv4pzu {
		grid-column: span 8;
	}
	.col_s2_9.svelte-1kv4pzu.svelte-1kv4pzu {
		grid-column: span 9;
	}
	.col_s2_10.svelte-1kv4pzu.svelte-1kv4pzu {
		grid-column: span 10;
	}
	.col_s2_11.svelte-1kv4pzu.svelte-1kv4pzu {
		grid-column: span 11;
	}
	.col_s2_12.svelte-1kv4pzu.svelte-1kv4pzu {
		grid-column: span 12;
	}
	.col_s2_13.svelte-1kv4pzu.svelte-1kv4pzu {
		grid-column: span 13;
	}
}
@media (min-width: 1023px) {
	.col_s3_1.svelte-1kv4pzu.svelte-1kv4pzu {
		grid-column: span 1;
	}
	.col_s3_2.svelte-1kv4pzu.svelte-1kv4pzu {
		grid-column: span 2;
	}
	.col_s3_3.svelte-1kv4pzu.svelte-1kv4pzu {
		grid-column: span 3;
	}
	.col_s3_4.svelte-1kv4pzu.svelte-1kv4pzu {
		grid-column: span 4;
	}
	.col_s3_5.svelte-1kv4pzu.svelte-1kv4pzu {
		grid-column: span 5;
	}
	.col_s3_6.svelte-1kv4pzu.svelte-1kv4pzu {
		grid-column: span 6;
	}
	.col_s3_7.svelte-1kv4pzu.svelte-1kv4pzu {
		grid-column: span 7;
	}
	.col_s3_8.svelte-1kv4pzu.svelte-1kv4pzu {
		grid-column: span 8;
	}
	.col_s3_9.svelte-1kv4pzu.svelte-1kv4pzu {
		grid-column: span 9;
	}
	.col_s3_10.svelte-1kv4pzu.svelte-1kv4pzu {
		grid-column: span 10;
	}
	.col_s3_11.svelte-1kv4pzu.svelte-1kv4pzu {
		grid-column: span 11;
	}
	.col_s3_12.svelte-1kv4pzu.svelte-1kv4pzu {
		grid-column: span 12;
	}
	.col_s3_13.svelte-1kv4pzu.svelte-1kv4pzu {
		grid-column: span 13;
	}
}
@media (min-width: 1400px) {
	.col_s4_1.svelte-1kv4pzu.svelte-1kv4pzu {
		grid-column: span 1;
	}
	.col_s4_2.svelte-1kv4pzu.svelte-1kv4pzu {
		grid-column: span 2;
	}
	.col_s4_3.svelte-1kv4pzu.svelte-1kv4pzu {
		grid-column: span 3;
	}
	.col_s4_4.svelte-1kv4pzu.svelte-1kv4pzu {
		grid-column: span 4;
	}
	.col_s4_5.svelte-1kv4pzu.svelte-1kv4pzu {
		grid-column: span 5;
	}
	.col_s4_6.svelte-1kv4pzu.svelte-1kv4pzu {
		grid-column: span 6;
	}
	.col_s4_7.svelte-1kv4pzu.svelte-1kv4pzu {
		grid-column: span 7;
	}
	.col_s4_8.svelte-1kv4pzu.svelte-1kv4pzu {
		grid-column: span 8;
	}
	.col_s4_9.svelte-1kv4pzu.svelte-1kv4pzu {
		grid-column: span 9;
	}
	.col_s4_10.svelte-1kv4pzu.svelte-1kv4pzu {
		grid-column: span 10;
	}
	.col_s4_11.svelte-1kv4pzu.svelte-1kv4pzu {
		grid-column: span 11;
	}
	.col_s4_12.svelte-1kv4pzu.svelte-1kv4pzu {
		grid-column: span 12;
	}
	.col_s4_13.svelte-1kv4pzu.svelte-1kv4pzu {
		grid-column: span 13;
	}
}
.slot_1.svelte-1kv4pzu.svelte-1kv4pzu {
	grid-area: __1;
}
.slot_2.svelte-1kv4pzu.svelte-1kv4pzu {
	grid-area: __2;
}
.slot_3.svelte-1kv4pzu.svelte-1kv4pzu {
	grid-area: __3;
}
.slot_4.svelte-1kv4pzu.svelte-1kv4pzu {
	grid-area: __4;
}
.slot_5.svelte-1kv4pzu.svelte-1kv4pzu {
	grid-area: __5;
}
.pic.svelte-1kv4pzu.svelte-1kv4pzu {
	height: 100%;
	place-items: center;
}
.pcc.svelte-1kv4pzu.svelte-1kv4pzu {
	height: 100%;
	place-content: center;
	align-content: space-evenly;
}
.gap_0.svelte-1kv4pzu.svelte-1kv4pzu {
	gap: 0;
}
.gap_1.svelte-1kv4pzu.svelte-1kv4pzu {
	gap: 1rem;
}
.gap_2.svelte-1kv4pzu.svelte-1kv4pzu {
	gap: 1.618rem;
}
.gap_3.svelte-1kv4pzu.svelte-1kv4pzu {
	gap: 2.618rem;
}
.rg_1.svelte-1kv4pzu.svelte-1kv4pzu {
	row-gap: 1.618rem;
}
.rg_2.svelte-1kv4pzu.svelte-1kv4pzu {
	row-gap: 2.618rem;
}
.rg_3.svelte-1kv4pzu.svelte-1kv4pzu {
	row-gap: 4.236rem;
}
.rg_4.svelte-1kv4pzu.svelte-1kv4pzu {
	row-gap: 6.854rem;
}
.rg_5.svelte-1kv4pzu.svelte-1kv4pzu {
	row-gap: 11.089rem;
}
.cg_1.svelte-1kv4pzu.svelte-1kv4pzu {
	column-gap: 1.618rem;
}
.cg_2.svelte-1kv4pzu.svelte-1kv4pzu {
	column-gap: 2.618rem;
}
.cg_3.svelte-1kv4pzu.svelte-1kv4pzu {
	column-gap: 4.236rem;
}
.cg_4.svelte-1kv4pzu.svelte-1kv4pzu {
	column-gap: 6.854rem;
}
.cg_5.svelte-1kv4pzu.svelte-1kv4pzu {
	column-gap: 11.089rem;
}
@media (min-width: 769px) {
	.cg_s2_1.svelte-1kv4pzu.svelte-1kv4pzu {
		column-gap: 1.618rem;
	}
	.cg_s2_2.svelte-1kv4pzu.svelte-1kv4pzu {
		column-gap: 2.618rem;
	}
	.cg_s2_3.svelte-1kv4pzu.svelte-1kv4pzu {
		column-gap: 4.236rem;
	}
	.cg_s2_4.svelte-1kv4pzu.svelte-1kv4pzu {
		column-gap: 6.854rem;
	}
	.cg_s2_5.svelte-1kv4pzu.svelte-1kv4pzu {
		column-gap: 11.089rem;
	}
}
header.svelte-1kv4pzu.svelte-1kv4pzu {
	font-family: Montserrat, sans-serif;
	letter-spacing: 0;
	font-weight: 500;
	color: #b4b4b4;
}
h1.svelte-1kv4pzu.svelte-1kv4pzu {
	font-size: 1.618rem;
	line-height: 40.896px;
	font-weight: 700;
}
@media (min-width: 769px) {
	h1.svelte-1kv4pzu.svelte-1kv4pzu {
		font-size: 1.618rem;
		line-height: 40.896px;
	}
}
h2.svelte-1kv4pzu.svelte-1kv4pzu {
	font-weight: 500;
	font-size: 1rem;
	line-height: 28.8px;
}
h3.svelte-1kv4pzu.svelte-1kv4pzu {
	font-size: 0.618rem;
	line-height: 17.7777777778px;
}
@media (min-width: 574px) {
	h3.svelte-1kv4pzu.svelte-1kv4pzu {
		font-size: 1rem;
		line-height: 28.8px;
	}
}
.tar.svelte-1kv4pzu.svelte-1kv4pzu {
	text-align: right;
}
.tac.svelte-1kv4pzu.svelte-1kv4pzu {
	text-align: center;
}
.tal.svelte-1kv4pzu.svelte-1kv4pzu {
	text-align: left;
}
@keyframes svelte-1kv4pzu-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1kv4pzu-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1kv4pzu-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.namespace.svelte-1kv4pzu.svelte-1kv4pzu {
	opacity: 0.7;
}
.token.cdata.svelte-1kv4pzu.svelte-1kv4pzu,
.token.comment.svelte-1kv4pzu.svelte-1kv4pzu,
.token.doctype.svelte-1kv4pzu.svelte-1kv4pzu,
.token.prolog.svelte-1kv4pzu.svelte-1kv4pzu {
	color: #6c6c6c;
}
.token.punctuation.svelte-1kv4pzu.svelte-1kv4pzu {
	color: #6c6c6c;
}
.token.boolean.svelte-1kv4pzu.svelte-1kv4pzu,
.token.constant.svelte-1kv4pzu.svelte-1kv4pzu,
.token.deleted.svelte-1kv4pzu.svelte-1kv4pzu,
.token.number.svelte-1kv4pzu.svelte-1kv4pzu,
.token.property.svelte-1kv4pzu.svelte-1kv4pzu,
.token.symbol.svelte-1kv4pzu.svelte-1kv4pzu,
.token.tag.svelte-1kv4pzu.svelte-1kv4pzu {
	color: #e5e5e5;
}
.token.attr-name.svelte-1kv4pzu.svelte-1kv4pzu,
.token.builtin.svelte-1kv4pzu.svelte-1kv4pzu,
.token.char.svelte-1kv4pzu.svelte-1kv4pzu,
.token.inserted.svelte-1kv4pzu.svelte-1kv4pzu,
.token.selector.svelte-1kv4pzu.svelte-1kv4pzu,
.token.string.svelte-1kv4pzu.svelte-1kv4pzu {
	color: #e5e5e5;
}
.token.entity.svelte-1kv4pzu.svelte-1kv4pzu,
.token.operator.svelte-1kv4pzu.svelte-1kv4pzu,
.token.url.svelte-1kv4pzu.svelte-1kv4pzu {
	color: #000;
}
.token.atrule.svelte-1kv4pzu.svelte-1kv4pzu,
.token.attr-value.svelte-1kv4pzu.svelte-1kv4pzu,
.token.keyword.svelte-1kv4pzu.svelte-1kv4pzu {
	color: #e5e5e5;
}
.token.function.svelte-1kv4pzu.svelte-1kv4pzu {
	color: #fff;
}
.token.important.svelte-1kv4pzu.svelte-1kv4pzu,
.token.regex.svelte-1kv4pzu.svelte-1kv4pzu,
.token.variable.svelte-1kv4pzu.svelte-1kv4pzu {
	color: #414141;
}
.token.bold.svelte-1kv4pzu.svelte-1kv4pzu,
.token.important.svelte-1kv4pzu.svelte-1kv4pzu {
	font-weight: 700;
}
.token.italic.svelte-1kv4pzu.svelte-1kv4pzu {
	font-style: italic;
}
.token.entity.svelte-1kv4pzu.svelte-1kv4pzu {
	cursor: help;
}
.line-highlight.svelte-1kv4pzu.svelte-1kv4pzu {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em;
	background: #4c4b48;
	box-shadow: inset 5px 0 0 #f77ea2;
	z-index: 0;
	pointer-events: none;
	line-height: inherit;
	white-space: pre;
}
.svelte-1kv4pzu.svelte-1kv4pzu:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1kv4pzu.svelte-1kv4pzu::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.tachado.svelte-1kv4pzu.svelte-1kv4pzu {
	text-decoration: line-through;
}
.not-clickable.svelte-1kv4pzu.svelte-1kv4pzu {
	pointer-events: none;
}
.wrap-object-fit.svelte-1kv4pzu.svelte-1kv4pzu {
	height: inherit;
}
.object-fit.svelte-1kv4pzu.svelte-1kv4pzu {
	object-fit: cover;
	height: 100%;
}
.absolute.svelte-1kv4pzu.svelte-1kv4pzu {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.relative.svelte-1kv4pzu.svelte-1kv4pzu {
	position: relative;
	width: inherit;
}
.dn.svelte-1kv4pzu.svelte-1kv4pzu {
	display: none;
}
.Header_0.svelte-1kv4pzu.svelte-1kv4pzu {
	display: grid;
	place-content: center;
	color: inherit;
	height: 100%;
	background-position: center;
	background-size: 120%;
	background-repeat: no-repeat;
}
.Header_1.svelte-1kv4pzu.svelte-1kv4pzu {
	display: grid;
	align-content: center;
	color: inherit;
	height: 100%;
}
@media (min-width: 574px) {
	.Header_1.svelte-1kv4pzu.svelte-1kv4pzu {
		place-content: center;
	}
}
.Header_2.svelte-1kv4pzu.svelte-1kv4pzu {
	display: grid;
	place-content: center;
}
.Header_3.svelte-1kv4pzu.svelte-1kv4pzu {
	color: inherit;
}
.Header_5.svelte-1kv4pzu.svelte-1kv4pzu {
	color: inherit;
}
.Header_6.svelte-1kv4pzu.svelte-1kv4pzu {
	color: inherit;
	margin-bottom: 1rem;
}
.Header_6.svelte-1kv4pzu h2.svelte-1kv4pzu {
	font-weight: 700;
}
.Header_6.svelte-1kv4pzu h3.svelte-1kv4pzu {
	font-style: italic;
}
.Header_7.svelte-1kv4pzu.svelte-1kv4pzu {
	color: inherit;
}
