@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
.svelte-7lddgb,
.svelte-7lddgb:after,
.svelte-7lddgb:before {
	box-sizing: border-box;
}
section.svelte-7lddgb {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
section.svelte-7lddgb {
	display: block;
}
.c_0.svelte-7lddgb {
	color: #e5e5e5;
}
.c_1.svelte-7lddgb {
	color: #b4b4b4;
}
.c_2.svelte-7lddgb {
	color: #6c6c6c;
}
.c_3.svelte-7lddgb {
	color: #414141;
}
.c_4.svelte-7lddgb {
	color: #323232;
}
.c_5.svelte-7lddgb {
	color: #121212;
}
.c_black.svelte-7lddgb {
	color: #000;
}
.c_white.svelte-7lddgb {
	color: #fff;
}
.c_primary.svelte-7lddgb {
	color: #d3b39c;
}
.bgc_0.svelte-7lddgb {
	background-color: #e5e5e5;
}
.bgc_1.svelte-7lddgb {
	background-color: #b4b4b4;
}
.bgc_2.svelte-7lddgb {
	background-color: #6c6c6c;
}
.bgc_3.svelte-7lddgb {
	background-color: #414141;
}
.bgc_4.svelte-7lddgb {
	background-color: #323232;
}
.bgc_5.svelte-7lddgb {
	background-color: #121212;
}
.bgwhite.svelte-7lddgb {
	background-color: #fff;
}
.bgblack.svelte-7lddgb {
	background-color: #000;
}
.bgc_primary.svelte-7lddgb {
	background-color: #d4b39c;
}
.fullfill.svelte-7lddgb {
	width: 100%;
	height: 100%;
}
.p_0.svelte-7lddgb {
	padding: 0;
}
.p_1.svelte-7lddgb {
	padding: 1rem;
}
.p_2.svelte-7lddgb {
	padding: 1.618rem;
}
.p_3.svelte-7lddgb {
	padding: 2.618rem;
}
.p_4.svelte-7lddgb {
	padding: 4.236rem;
}
.p_5.svelte-7lddgb {
	padding: 6.854rem;
}
.pt_0.svelte-7lddgb {
	padding-top: 0;
}
.pt_1.svelte-7lddgb {
	padding-top: 1rem;
}
.pt_2.svelte-7lddgb {
	padding-top: 1.618rem;
}
.pt_3.svelte-7lddgb {
	padding-top: 2.618rem;
}
.pt_4.svelte-7lddgb {
	padding-top: 4.236rem;
}
.pt_5.svelte-7lddgb {
	padding-top: 6.854rem;
}
.mt_-1.svelte-7lddgb {
	margin-top: -1rem;
}
.mt_-2.svelte-7lddgb {
	margin-top: -1.618rem;
}
.mt_-3.svelte-7lddgb {
	margin-top: -2.618rem;
}
.mt_-4.svelte-7lddgb {
	margin-top: -4.236rem;
}
.mt_-5.svelte-7lddgb {
	margin-top: -6.854rem;
}
.pr_0.svelte-7lddgb {
	padding-right: 0;
}
.pr_1.svelte-7lddgb {
	padding-right: 1rem;
}
.pr_2.svelte-7lddgb {
	padding-right: 1.618rem;
}
.pr_3.svelte-7lddgb {
	padding-right: 2.618rem;
}
.pr_4.svelte-7lddgb {
	padding-right: 4.236rem;
}
.pr_5.svelte-7lddgb {
	padding-right: 6.854rem;
}
.pb_0.svelte-7lddgb {
	padding-bottom: 0;
}
.pb_1.svelte-7lddgb {
	padding-bottom: 1rem;
}
.pb_2.svelte-7lddgb {
	padding-bottom: 1.618rem;
}
.pb_3.svelte-7lddgb {
	padding-bottom: 2.618rem;
}
.pb_4.svelte-7lddgb {
	padding-bottom: 4.236rem;
}
.pb_5.svelte-7lddgb {
	padding-bottom: 6.854rem;
}
.pl_0.svelte-7lddgb {
	padding-left: 0;
}
.pl_1.svelte-7lddgb {
	padding-left: 1rem;
}
.pl_2.svelte-7lddgb {
	padding-left: 1.618rem;
}
.pl_3.svelte-7lddgb {
	padding-left: 2.618rem;
}
.pl_4.svelte-7lddgb {
	padding-left: 4.236rem;
}
.pl_5.svelte-7lddgb {
	padding-left: 6.854rem;
}
.mh_0.svelte-7lddgb {
	min-height: 0;
}
.mh_1.svelte-7lddgb {
	min-height: 10vh;
}
.mh_2.svelte-7lddgb {
	min-height: 20vh;
}
.mh_3.svelte-7lddgb {
	min-height: 30vh;
}
.mh_4.svelte-7lddgb {
	min-height: 40vh;
}
.mh_5.svelte-7lddgb {
	min-height: 50vh;
}
.mh_6.svelte-7lddgb {
	min-height: 60vh;
}
.mh_7.svelte-7lddgb {
	min-height: 70vh;
}
.mh_8.svelte-7lddgb {
	min-height: 80vh;
}
.mh_9.svelte-7lddgb {
	min-height: 90vh;
}
.mh_10.svelte-7lddgb {
	min-height: 100vh;
}
@media (min-width: 769px) {
	.mh_s2_0.svelte-7lddgb {
		min-height: 0;
	}
	.mh_s2_1.svelte-7lddgb {
		min-height: 10vh;
	}
	.mh_s2_2.svelte-7lddgb {
		min-height: 20vh;
	}
	.mh_s2_3.svelte-7lddgb {
		min-height: 30vh;
	}
	.mh_s2_4.svelte-7lddgb {
		min-height: 40vh;
	}
	.mh_s2_5.svelte-7lddgb {
		min-height: 50vh;
	}
	.mh_s2_6.svelte-7lddgb {
		min-height: 60vh;
	}
	.mh_s2_7.svelte-7lddgb {
		min-height: 70vh;
	}
	.mh_s2_8.svelte-7lddgb {
		min-height: 80vh;
	}
	.mh_s2_9.svelte-7lddgb {
		min-height: 90vh;
	}
	.mh_s2_10.svelte-7lddgb {
		min-height: 100vh;
	}
}
.dg.svelte-7lddgb {
	display: grid;
	grid-template-columns: repeat(13, 1fr);
}
.dg_0.svelte-7lddgb {
	display: grid;
}
.col_1.svelte-7lddgb {
	grid-column: span 1;
}
.col_2.svelte-7lddgb {
	grid-column: span 2;
}
.col_3.svelte-7lddgb {
	grid-column: span 3;
}
.col_4.svelte-7lddgb {
	grid-column: span 4;
}
.col_5.svelte-7lddgb {
	grid-column: span 5;
}
.col_6.svelte-7lddgb {
	grid-column: span 6;
}
.col_7.svelte-7lddgb {
	grid-column: span 7;
}
.col_8.svelte-7lddgb {
	grid-column: span 8;
}
.col_9.svelte-7lddgb {
	grid-column: span 9;
}
.col_10.svelte-7lddgb {
	grid-column: span 10;
}
.col_11.svelte-7lddgb {
	grid-column: span 11;
}
.col_12.svelte-7lddgb {
	grid-column: span 12;
}
.col_13.svelte-7lddgb {
	grid-column: span 13;
}
@media (min-width: 769px) {
	.col_s2_1.svelte-7lddgb {
		grid-column: span 1;
	}
	.col_s2_2.svelte-7lddgb {
		grid-column: span 2;
	}
	.col_s2_3.svelte-7lddgb {
		grid-column: span 3;
	}
	.col_s2_4.svelte-7lddgb {
		grid-column: span 4;
	}
	.col_s2_5.svelte-7lddgb {
		grid-column: span 5;
	}
	.col_s2_6.svelte-7lddgb {
		grid-column: span 6;
	}
	.col_s2_7.svelte-7lddgb {
		grid-column: span 7;
	}
	.col_s2_8.svelte-7lddgb {
		grid-column: span 8;
	}
	.col_s2_9.svelte-7lddgb {
		grid-column: span 9;
	}
	.col_s2_10.svelte-7lddgb {
		grid-column: span 10;
	}
	.col_s2_11.svelte-7lddgb {
		grid-column: span 11;
	}
	.col_s2_12.svelte-7lddgb {
		grid-column: span 12;
	}
	.col_s2_13.svelte-7lddgb {
		grid-column: span 13;
	}
}
@media (min-width: 1023px) {
	.col_s3_1.svelte-7lddgb {
		grid-column: span 1;
	}
	.col_s3_2.svelte-7lddgb {
		grid-column: span 2;
	}
	.col_s3_3.svelte-7lddgb {
		grid-column: span 3;
	}
	.col_s3_4.svelte-7lddgb {
		grid-column: span 4;
	}
	.col_s3_5.svelte-7lddgb {
		grid-column: span 5;
	}
	.col_s3_6.svelte-7lddgb {
		grid-column: span 6;
	}
	.col_s3_7.svelte-7lddgb {
		grid-column: span 7;
	}
	.col_s3_8.svelte-7lddgb {
		grid-column: span 8;
	}
	.col_s3_9.svelte-7lddgb {
		grid-column: span 9;
	}
	.col_s3_10.svelte-7lddgb {
		grid-column: span 10;
	}
	.col_s3_11.svelte-7lddgb {
		grid-column: span 11;
	}
	.col_s3_12.svelte-7lddgb {
		grid-column: span 12;
	}
	.col_s3_13.svelte-7lddgb {
		grid-column: span 13;
	}
}
@media (min-width: 1400px) {
	.col_s4_1.svelte-7lddgb {
		grid-column: span 1;
	}
	.col_s4_2.svelte-7lddgb {
		grid-column: span 2;
	}
	.col_s4_3.svelte-7lddgb {
		grid-column: span 3;
	}
	.col_s4_4.svelte-7lddgb {
		grid-column: span 4;
	}
	.col_s4_5.svelte-7lddgb {
		grid-column: span 5;
	}
	.col_s4_6.svelte-7lddgb {
		grid-column: span 6;
	}
	.col_s4_7.svelte-7lddgb {
		grid-column: span 7;
	}
	.col_s4_8.svelte-7lddgb {
		grid-column: span 8;
	}
	.col_s4_9.svelte-7lddgb {
		grid-column: span 9;
	}
	.col_s4_10.svelte-7lddgb {
		grid-column: span 10;
	}
	.col_s4_11.svelte-7lddgb {
		grid-column: span 11;
	}
	.col_s4_12.svelte-7lddgb {
		grid-column: span 12;
	}
	.col_s4_13.svelte-7lddgb {
		grid-column: span 13;
	}
}
.slot_1.svelte-7lddgb {
	grid-area: __1;
}
.slot_2.svelte-7lddgb {
	grid-area: __2;
}
.slot_3.svelte-7lddgb {
	grid-area: __3;
}
.slot_4.svelte-7lddgb {
	grid-area: __4;
}
.slot_5.svelte-7lddgb {
	grid-area: __5;
}
.pic.svelte-7lddgb {
	height: 100%;
	place-items: center;
}
.pcc.svelte-7lddgb {
	height: 100%;
	place-content: center;
	align-content: space-evenly;
}
.gap_0.svelte-7lddgb {
	gap: 0;
}
.gap_1.svelte-7lddgb {
	gap: 1rem;
}
.gap_2.svelte-7lddgb {
	gap: 1.618rem;
}
.gap_3.svelte-7lddgb {
	gap: 2.618rem;
}
.rg_1.svelte-7lddgb {
	row-gap: 1.618rem;
}
.rg_2.svelte-7lddgb {
	row-gap: 2.618rem;
}
.rg_3.svelte-7lddgb {
	row-gap: 4.236rem;
}
.rg_4.svelte-7lddgb {
	row-gap: 6.854rem;
}
.rg_5.svelte-7lddgb {
	row-gap: 11.089rem;
}
.cg_1.svelte-7lddgb {
	column-gap: 1.618rem;
}
.cg_2.svelte-7lddgb {
	column-gap: 2.618rem;
}
.cg_3.svelte-7lddgb {
	column-gap: 4.236rem;
}
.cg_4.svelte-7lddgb {
	column-gap: 6.854rem;
}
.cg_5.svelte-7lddgb {
	column-gap: 11.089rem;
}
@media (min-width: 769px) {
	.cg_s2_1.svelte-7lddgb {
		column-gap: 1.618rem;
	}
	.cg_s2_2.svelte-7lddgb {
		column-gap: 2.618rem;
	}
	.cg_s2_3.svelte-7lddgb {
		column-gap: 4.236rem;
	}
	.cg_s2_4.svelte-7lddgb {
		column-gap: 6.854rem;
	}
	.cg_s2_5.svelte-7lddgb {
		column-gap: 11.089rem;
	}
}
.tar.svelte-7lddgb {
	text-align: right;
}
.tac.svelte-7lddgb {
	text-align: center;
}
.tal.svelte-7lddgb {
	text-align: left;
}
@keyframes svelte-7lddgb-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-7lddgb-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-7lddgb-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.namespace.svelte-7lddgb {
	opacity: 0.7;
}
.token.cdata.svelte-7lddgb,
.token.comment.svelte-7lddgb,
.token.doctype.svelte-7lddgb,
.token.prolog.svelte-7lddgb {
	color: #6c6c6c;
}
.token.punctuation.svelte-7lddgb {
	color: #6c6c6c;
}
.token.boolean.svelte-7lddgb,
.token.constant.svelte-7lddgb,
.token.deleted.svelte-7lddgb,
.token.number.svelte-7lddgb,
.token.property.svelte-7lddgb,
.token.symbol.svelte-7lddgb,
.token.tag.svelte-7lddgb {
	color: #e5e5e5;
}
.token.attr-name.svelte-7lddgb,
.token.builtin.svelte-7lddgb,
.token.char.svelte-7lddgb,
.token.inserted.svelte-7lddgb,
.token.selector.svelte-7lddgb,
.token.string.svelte-7lddgb {
	color: #e5e5e5;
}
.token.entity.svelte-7lddgb,
.token.operator.svelte-7lddgb,
.token.url.svelte-7lddgb {
	color: #e5e5e5;
}
.token.atrule.svelte-7lddgb,
.token.attr-value.svelte-7lddgb,
.token.keyword.svelte-7lddgb {
	color: #e5e5e5;
}
.token.function.svelte-7lddgb {
	color: #fff;
}
.token.important.svelte-7lddgb,
.token.regex.svelte-7lddgb,
.token.variable.svelte-7lddgb {
	color: #414141;
}
.token.bold.svelte-7lddgb,
.token.important.svelte-7lddgb {
	font-weight: 700;
}
.token.italic.svelte-7lddgb {
	font-style: italic;
}
.token.entity.svelte-7lddgb {
	cursor: help;
}
.line-highlight.svelte-7lddgb {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em;
	background: #4c4b48;
	box-shadow: inset 5px 0 0 #f77ea2;
	z-index: 0;
	pointer-events: none;
	line-height: inherit;
	white-space: pre;
}
.svelte-7lddgb:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-7lddgb::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.tachado.svelte-7lddgb {
	text-decoration: line-through;
}
.not-clickable.svelte-7lddgb {
	pointer-events: none;
}
.wrap-object-fit.svelte-7lddgb {
	height: inherit;
}
.object-fit.svelte-7lddgb {
	object-fit: cover;
	height: 100%;
}
.absolute.svelte-7lddgb {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.relative.svelte-7lddgb {
	position: relative;
	width: inherit;
}
.dn.svelte-7lddgb {
	display: none;
}
@media (min-width: 769px) {
	section.svelte-7lddgb {
		padding: 2.618rem;
	}
}
.Section_0.svelte-7lddgb {
	align-content: space-evenly;
	height: 100%;
	display: grid;
	color: inherit;
}
.Section_1.svelte-7lddgb {
	padding: 0;
}
.Section_2.svelte-7lddgb {
	color: inherit;
	display: grid;
	place-content: center;
}
.Section_3.svelte-7lddgb {
	color: #000;
	padding: 0;
}
.Section_4.svelte-7lddgb {
	color: #121212;
	padding: 2.618rem;
}
.Section_5.svelte-7lddgb {
	padding: 0;
	min-height: 50vh;
	color: #121212;
}
.Section_6.svelte-7lddgb {
	min-height: 50vh;
	color: #e5e5e5;
}
.Section_7.svelte-7lddgb {
	min-height: 50vh;
	color: #6c6c6c;
	padding: 0;
}
@media (min-width: 1023px) {
	.Section_7.svelte-7lddgb {
		margin-left: auto;
		margin-right: auto;
		max-width: 1023px;
	}
}
.Section_8.svelte-7lddgb {
	color: #b4b4b4;
	padding: 0;
}
.svelte-1c3cpzx,
.svelte-1c3cpzx:after,
.svelte-1c3cpzx:before {
	box-sizing: border-box;
}
a.svelte-1c3cpzx {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
.c_0.svelte-1c3cpzx {
	color: #e5e5e5;
}
.c_1.svelte-1c3cpzx {
	color: #b4b4b4;
}
.c_2.svelte-1c3cpzx {
	color: #6c6c6c;
}
.c_3.svelte-1c3cpzx {
	color: #414141;
}
.c_4.svelte-1c3cpzx {
	color: #323232;
}
.c_5.svelte-1c3cpzx {
	color: #121212;
}
.c_black.svelte-1c3cpzx {
	color: #000;
}
.c_white.svelte-1c3cpzx {
	color: #fff;
}
.c_primary.svelte-1c3cpzx {
	color: #d3b39c;
}
.bgc_0.svelte-1c3cpzx {
	background-color: #e5e5e5;
}
.bgc_1.svelte-1c3cpzx {
	background-color: #b4b4b4;
}
.bgc_2.svelte-1c3cpzx {
	background-color: #6c6c6c;
}
.bgc_3.svelte-1c3cpzx {
	background-color: #414141;
}
.bgc_4.svelte-1c3cpzx {
	background-color: #323232;
}
.bgc_5.svelte-1c3cpzx {
	background-color: #121212;
}
.bgwhite.svelte-1c3cpzx {
	background-color: #fff;
}
.bgblack.svelte-1c3cpzx {
	background-color: #000;
}
.bgc_primary.svelte-1c3cpzx {
	background-color: #d4b39c;
}
.fullfill.svelte-1c3cpzx {
	width: 100%;
	height: 100%;
}
.p_0.svelte-1c3cpzx {
	padding: 0;
}
.p_1.svelte-1c3cpzx {
	padding: 1rem;
}
.p_2.svelte-1c3cpzx {
	padding: 1.618rem;
}
.p_3.svelte-1c3cpzx {
	padding: 2.618rem;
}
.p_4.svelte-1c3cpzx {
	padding: 4.236rem;
}
.p_5.svelte-1c3cpzx {
	padding: 6.854rem;
}
.pt_0.svelte-1c3cpzx {
	padding-top: 0;
}
.pt_1.svelte-1c3cpzx {
	padding-top: 1rem;
}
.pt_2.svelte-1c3cpzx {
	padding-top: 1.618rem;
}
.pt_3.svelte-1c3cpzx {
	padding-top: 2.618rem;
}
.pt_4.svelte-1c3cpzx {
	padding-top: 4.236rem;
}
.pt_5.svelte-1c3cpzx {
	padding-top: 6.854rem;
}
.mt_-1.svelte-1c3cpzx {
	margin-top: -1rem;
}
.mt_-2.svelte-1c3cpzx {
	margin-top: -1.618rem;
}
.mt_-3.svelte-1c3cpzx {
	margin-top: -2.618rem;
}
.mt_-4.svelte-1c3cpzx {
	margin-top: -4.236rem;
}
.mt_-5.svelte-1c3cpzx {
	margin-top: -6.854rem;
}
.pr_0.svelte-1c3cpzx {
	padding-right: 0;
}
.pr_1.svelte-1c3cpzx {
	padding-right: 1rem;
}
.pr_2.svelte-1c3cpzx {
	padding-right: 1.618rem;
}
.pr_3.svelte-1c3cpzx {
	padding-right: 2.618rem;
}
.pr_4.svelte-1c3cpzx {
	padding-right: 4.236rem;
}
.pr_5.svelte-1c3cpzx {
	padding-right: 6.854rem;
}
.pb_0.svelte-1c3cpzx {
	padding-bottom: 0;
}
.pb_1.svelte-1c3cpzx {
	padding-bottom: 1rem;
}
.pb_2.svelte-1c3cpzx {
	padding-bottom: 1.618rem;
}
.pb_3.svelte-1c3cpzx {
	padding-bottom: 2.618rem;
}
.pb_4.svelte-1c3cpzx {
	padding-bottom: 4.236rem;
}
.pb_5.svelte-1c3cpzx {
	padding-bottom: 6.854rem;
}
.pl_0.svelte-1c3cpzx {
	padding-left: 0;
}
.pl_1.svelte-1c3cpzx {
	padding-left: 1rem;
}
.pl_2.svelte-1c3cpzx {
	padding-left: 1.618rem;
}
.pl_3.svelte-1c3cpzx {
	padding-left: 2.618rem;
}
.pl_4.svelte-1c3cpzx {
	padding-left: 4.236rem;
}
.pl_5.svelte-1c3cpzx {
	padding-left: 6.854rem;
}
.mh_0.svelte-1c3cpzx {
	min-height: 0;
}
.mh_1.svelte-1c3cpzx {
	min-height: 10vh;
}
.mh_2.svelte-1c3cpzx {
	min-height: 20vh;
}
.mh_3.svelte-1c3cpzx {
	min-height: 30vh;
}
.mh_4.svelte-1c3cpzx {
	min-height: 40vh;
}
.mh_5.svelte-1c3cpzx {
	min-height: 50vh;
}
.mh_6.svelte-1c3cpzx {
	min-height: 60vh;
}
.mh_7.svelte-1c3cpzx {
	min-height: 70vh;
}
.mh_8.svelte-1c3cpzx {
	min-height: 80vh;
}
.mh_9.svelte-1c3cpzx {
	min-height: 90vh;
}
.mh_10.svelte-1c3cpzx {
	min-height: 100vh;
}
@media (min-width: 769px) {
	.mh_s2_0.svelte-1c3cpzx {
		min-height: 0;
	}
	.mh_s2_1.svelte-1c3cpzx {
		min-height: 10vh;
	}
	.mh_s2_2.svelte-1c3cpzx {
		min-height: 20vh;
	}
	.mh_s2_3.svelte-1c3cpzx {
		min-height: 30vh;
	}
	.mh_s2_4.svelte-1c3cpzx {
		min-height: 40vh;
	}
	.mh_s2_5.svelte-1c3cpzx {
		min-height: 50vh;
	}
	.mh_s2_6.svelte-1c3cpzx {
		min-height: 60vh;
	}
	.mh_s2_7.svelte-1c3cpzx {
		min-height: 70vh;
	}
	.mh_s2_8.svelte-1c3cpzx {
		min-height: 80vh;
	}
	.mh_s2_9.svelte-1c3cpzx {
		min-height: 90vh;
	}
	.mh_s2_10.svelte-1c3cpzx {
		min-height: 100vh;
	}
}
.dg.svelte-1c3cpzx {
	display: grid;
	grid-template-columns: repeat(13, 1fr);
}
.dg_0.svelte-1c3cpzx {
	display: grid;
}
.col_1.svelte-1c3cpzx {
	grid-column: span 1;
}
.col_2.svelte-1c3cpzx {
	grid-column: span 2;
}
.col_3.svelte-1c3cpzx {
	grid-column: span 3;
}
.col_4.svelte-1c3cpzx {
	grid-column: span 4;
}
.col_5.svelte-1c3cpzx {
	grid-column: span 5;
}
.col_6.svelte-1c3cpzx {
	grid-column: span 6;
}
.col_7.svelte-1c3cpzx {
	grid-column: span 7;
}
.col_8.svelte-1c3cpzx {
	grid-column: span 8;
}
.col_9.svelte-1c3cpzx {
	grid-column: span 9;
}
.col_10.svelte-1c3cpzx {
	grid-column: span 10;
}
.col_11.svelte-1c3cpzx {
	grid-column: span 11;
}
.col_12.svelte-1c3cpzx {
	grid-column: span 12;
}
.col_13.svelte-1c3cpzx {
	grid-column: span 13;
}
@media (min-width: 769px) {
	.col_s2_1.svelte-1c3cpzx {
		grid-column: span 1;
	}
	.col_s2_2.svelte-1c3cpzx {
		grid-column: span 2;
	}
	.col_s2_3.svelte-1c3cpzx {
		grid-column: span 3;
	}
	.col_s2_4.svelte-1c3cpzx {
		grid-column: span 4;
	}
	.col_s2_5.svelte-1c3cpzx {
		grid-column: span 5;
	}
	.col_s2_6.svelte-1c3cpzx {
		grid-column: span 6;
	}
	.col_s2_7.svelte-1c3cpzx {
		grid-column: span 7;
	}
	.col_s2_8.svelte-1c3cpzx {
		grid-column: span 8;
	}
	.col_s2_9.svelte-1c3cpzx {
		grid-column: span 9;
	}
	.col_s2_10.svelte-1c3cpzx {
		grid-column: span 10;
	}
	.col_s2_11.svelte-1c3cpzx {
		grid-column: span 11;
	}
	.col_s2_12.svelte-1c3cpzx {
		grid-column: span 12;
	}
	.col_s2_13.svelte-1c3cpzx {
		grid-column: span 13;
	}
}
@media (min-width: 1023px) {
	.col_s3_1.svelte-1c3cpzx {
		grid-column: span 1;
	}
	.col_s3_2.svelte-1c3cpzx {
		grid-column: span 2;
	}
	.col_s3_3.svelte-1c3cpzx {
		grid-column: span 3;
	}
	.col_s3_4.svelte-1c3cpzx {
		grid-column: span 4;
	}
	.col_s3_5.svelte-1c3cpzx {
		grid-column: span 5;
	}
	.col_s3_6.svelte-1c3cpzx {
		grid-column: span 6;
	}
	.col_s3_7.svelte-1c3cpzx {
		grid-column: span 7;
	}
	.col_s3_8.svelte-1c3cpzx {
		grid-column: span 8;
	}
	.col_s3_9.svelte-1c3cpzx {
		grid-column: span 9;
	}
	.col_s3_10.svelte-1c3cpzx {
		grid-column: span 10;
	}
	.col_s3_11.svelte-1c3cpzx {
		grid-column: span 11;
	}
	.col_s3_12.svelte-1c3cpzx {
		grid-column: span 12;
	}
	.col_s3_13.svelte-1c3cpzx {
		grid-column: span 13;
	}
}
@media (min-width: 1400px) {
	.col_s4_1.svelte-1c3cpzx {
		grid-column: span 1;
	}
	.col_s4_2.svelte-1c3cpzx {
		grid-column: span 2;
	}
	.col_s4_3.svelte-1c3cpzx {
		grid-column: span 3;
	}
	.col_s4_4.svelte-1c3cpzx {
		grid-column: span 4;
	}
	.col_s4_5.svelte-1c3cpzx {
		grid-column: span 5;
	}
	.col_s4_6.svelte-1c3cpzx {
		grid-column: span 6;
	}
	.col_s4_7.svelte-1c3cpzx {
		grid-column: span 7;
	}
	.col_s4_8.svelte-1c3cpzx {
		grid-column: span 8;
	}
	.col_s4_9.svelte-1c3cpzx {
		grid-column: span 9;
	}
	.col_s4_10.svelte-1c3cpzx {
		grid-column: span 10;
	}
	.col_s4_11.svelte-1c3cpzx {
		grid-column: span 11;
	}
	.col_s4_12.svelte-1c3cpzx {
		grid-column: span 12;
	}
	.col_s4_13.svelte-1c3cpzx {
		grid-column: span 13;
	}
}
.slot_1.svelte-1c3cpzx {
	grid-area: __1;
}
.slot_2.svelte-1c3cpzx {
	grid-area: __2;
}
.slot_3.svelte-1c3cpzx {
	grid-area: __3;
}
.slot_4.svelte-1c3cpzx {
	grid-area: __4;
}
.slot_5.svelte-1c3cpzx {
	grid-area: __5;
}
.pic.svelte-1c3cpzx {
	height: 100%;
	place-items: center;
}
.pcc.svelte-1c3cpzx {
	height: 100%;
	place-content: center;
	align-content: space-evenly;
}
.gap_0.svelte-1c3cpzx {
	gap: 0;
}
.gap_1.svelte-1c3cpzx {
	gap: 1rem;
}
.gap_2.svelte-1c3cpzx {
	gap: 1.618rem;
}
.gap_3.svelte-1c3cpzx {
	gap: 2.618rem;
}
.rg_1.svelte-1c3cpzx {
	row-gap: 1.618rem;
}
.rg_2.svelte-1c3cpzx {
	row-gap: 2.618rem;
}
.rg_3.svelte-1c3cpzx {
	row-gap: 4.236rem;
}
.rg_4.svelte-1c3cpzx {
	row-gap: 6.854rem;
}
.rg_5.svelte-1c3cpzx {
	row-gap: 11.089rem;
}
.cg_1.svelte-1c3cpzx {
	column-gap: 1.618rem;
}
.cg_2.svelte-1c3cpzx {
	column-gap: 2.618rem;
}
.cg_3.svelte-1c3cpzx {
	column-gap: 4.236rem;
}
.cg_4.svelte-1c3cpzx {
	column-gap: 6.854rem;
}
.cg_5.svelte-1c3cpzx {
	column-gap: 11.089rem;
}
@media (min-width: 769px) {
	.cg_s2_1.svelte-1c3cpzx {
		column-gap: 1.618rem;
	}
	.cg_s2_2.svelte-1c3cpzx {
		column-gap: 2.618rem;
	}
	.cg_s2_3.svelte-1c3cpzx {
		column-gap: 4.236rem;
	}
	.cg_s2_4.svelte-1c3cpzx {
		column-gap: 6.854rem;
	}
	.cg_s2_5.svelte-1c3cpzx {
		column-gap: 11.089rem;
	}
}
.tar.svelte-1c3cpzx {
	text-align: right;
}
.tac.svelte-1c3cpzx {
	text-align: center;
}
.tal.svelte-1c3cpzx {
	text-align: left;
}
@keyframes svelte-1c3cpzx-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1c3cpzx-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1c3cpzx-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
a.svelte-1c3cpzx:hover {
	animation-name: svelte-1c3cpzx-fade;
	animation-duration: 0.3s;
}
.namespace.svelte-1c3cpzx {
	opacity: 0.7;
}
.token.cdata.svelte-1c3cpzx,
.token.comment.svelte-1c3cpzx,
.token.doctype.svelte-1c3cpzx,
.token.prolog.svelte-1c3cpzx {
	color: #6c6c6c;
}
.token.punctuation.svelte-1c3cpzx {
	color: #6c6c6c;
}
.token.boolean.svelte-1c3cpzx,
.token.constant.svelte-1c3cpzx,
.token.deleted.svelte-1c3cpzx,
.token.number.svelte-1c3cpzx,
.token.property.svelte-1c3cpzx,
.token.symbol.svelte-1c3cpzx,
.token.tag.svelte-1c3cpzx {
	color: #e5e5e5;
}
.token.attr-name.svelte-1c3cpzx,
.token.builtin.svelte-1c3cpzx,
.token.char.svelte-1c3cpzx,
.token.inserted.svelte-1c3cpzx,
.token.selector.svelte-1c3cpzx,
.token.string.svelte-1c3cpzx {
	color: #e5e5e5;
}
.token.entity.svelte-1c3cpzx,
.token.operator.svelte-1c3cpzx,
.token.url.svelte-1c3cpzx {
	color: #e5e5e5;
}
.token.atrule.svelte-1c3cpzx,
.token.attr-value.svelte-1c3cpzx,
.token.keyword.svelte-1c3cpzx {
	color: #e5e5e5;
}
.token.function.svelte-1c3cpzx {
	color: #fff;
}
.token.important.svelte-1c3cpzx,
.token.regex.svelte-1c3cpzx,
.token.variable.svelte-1c3cpzx {
	color: #414141;
}
.token.bold.svelte-1c3cpzx,
.token.important.svelte-1c3cpzx {
	font-weight: 700;
}
.token.italic.svelte-1c3cpzx {
	font-style: italic;
}
.token.entity.svelte-1c3cpzx {
	cursor: help;
}
.line-highlight.svelte-1c3cpzx {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em;
	background: #4c4b48;
	box-shadow: inset 5px 0 0 #f77ea2;
	z-index: 0;
	pointer-events: none;
	line-height: inherit;
	white-space: pre;
}
.svelte-1c3cpzx:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1c3cpzx::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.tachado.svelte-1c3cpzx {
	text-decoration: line-through;
}
.not-clickable.svelte-1c3cpzx {
	pointer-events: none;
}
.wrap-object-fit.svelte-1c3cpzx {
	height: inherit;
}
.object-fit.svelte-1c3cpzx {
	object-fit: cover;
	height: 100%;
}
.absolute.svelte-1c3cpzx {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.relative.svelte-1c3cpzx {
	position: relative;
	width: inherit;
}
.dn.svelte-1c3cpzx {
	display: none;
}
.button.svelte-1c3cpzx,
button {
	background-color: transparent;
	font-size: inherit;
	text-align: center;
	text-decoration: none;
	border: none;
	width: 100%;
}
.button.svelte-1c3cpzx:focus,
button:focus {
	border: none;
}
.button.svelte-1c3cpzx:after,
button:after {
	font-size: 1.618rem;
	padding-left: 0.618rem;
}
.button.svelte-1c3cpzx:hover,
button:hover {
	cursor: pointer;
}
.Button_0.svelte-1c3cpzx {
	padding: 1.618rem;
	color: #323232;
	border-color: #b4b4b4;
	margin: 0;
}
.Button_0.svelte-1c3cpzx:hover {
	color: #121212;
	background-color: #b4b4b4;
	border-color: #b4b4b4;
}
.Button_0.svelte-1c3cpzx:focus {
	background-color: #fff;
}
.Button_1.svelte-1c3cpzx {
	color: #121212;
	width: 100%;
}
.Button_2.svelte-1c3cpzx {
	color: #b4b4b4;
	margin-bottom: 0;
	margin-top: 0;
}
.Button_3.svelte-1c3cpzx {
	color: inherit;
}
.Button_4.svelte-1c3cpzx {
	color: #414141;
	border: 1px double #121212;
	margin: 0;
	background-color: #d9bba7;
	font-size: 1rem;
	line-height: 28.8px;
	border-radius: 50%;
	width: 11.089rem;
	height: 11.089rem;
}
@media (min-width: 769px) {
	.Button_4.svelte-1c3cpzx {
		font-size: 1.618rem;
		line-height: 40.896px;
		width: 17.942rem;
		height: 17.942rem;
	}
}
.Button_4.svelte-1c3cpzx:hover {
	color: #d9bba7;
	background-color: #323232;
}
.Button_5.svelte-1c3cpzx {
	color: #000;
	border: none;
	text-align: center;
	margin: 0;
	font-size: 2.618rem;
	line-height: 57.6px;
	display: block;
	background-color: transparent;
}
.Button_5.svelte-1c3cpzx:hover {
	color: #e5e5e5;
}
.Button_6.svelte-1c3cpzx {
	display: block;
	border: none;
	text-align: center;
	margin: 0;
	padding-left: 1.618rem;
	padding-right: 1.618rem;
	font-size: 1rem;
	line-height: 28.8px;
	color: #b4b4b4;
	background-color: #323232;
	width: 100%;
}
@media (min-width: 1023px) {
	.Button_6.svelte-1c3cpzx {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-top-right-radius: 1.618rem;
		border-bottom-right-radius: 1.618rem;
	}
}
.Button_6.svelte-1c3cpzx:hover {
	background-color: #d9bba7;
	color: #121212;
}
.Button_7.svelte-1c3cpzx {
	color: #b4b4b4;
	background-color: #323232;
	border: none;
	padding: 1.618rem 2.618rem;
	place-self: center;
	width: fit-content;
}
.Button_7.svelte-1c3cpzx:hover {
	color: #e5e5e5;
	background-color: #000;
}
.Button_8.svelte-1c3cpzx {
	padding: 1.618rem;
	color: #b4b4b4;
	margin: 0;
}
.Button_8.svelte-1c3cpzx:hover {
	color: #121212;
	background-color: #b4b4b4;
}
.Button_8.svelte-1c3cpzx:focus {
	background-color: #fff;
}
.svelte-jhane1.svelte-jhane1,
.svelte-jhane1.svelte-jhane1:after,
.svelte-jhane1.svelte-jhane1:before {
	box-sizing: border-box;
}
h1.svelte-jhane1.svelte-jhane1,
h2.svelte-jhane1.svelte-jhane1,
h3.svelte-jhane1.svelte-jhane1,
header.svelte-jhane1.svelte-jhane1,
span.svelte-jhane1.svelte-jhane1 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
header.svelte-jhane1.svelte-jhane1 {
	display: block;
}
.c_0.svelte-jhane1.svelte-jhane1 {
	color: #e5e5e5;
}
.c_1.svelte-jhane1.svelte-jhane1 {
	color: #b4b4b4;
}
.c_2.svelte-jhane1.svelte-jhane1 {
	color: #6c6c6c;
}
.c_3.svelte-jhane1.svelte-jhane1 {
	color: #414141;
}
.c_4.svelte-jhane1.svelte-jhane1 {
	color: #323232;
}
.c_5.svelte-jhane1.svelte-jhane1 {
	color: #121212;
}
.c_black.svelte-jhane1.svelte-jhane1 {
	color: #000;
}
.c_white.svelte-jhane1.svelte-jhane1 {
	color: #fff;
}
.c_primary.svelte-jhane1.svelte-jhane1 {
	color: #d3b39c;
}
.bgc_0.svelte-jhane1.svelte-jhane1 {
	background-color: #e5e5e5;
}
.bgc_1.svelte-jhane1.svelte-jhane1 {
	background-color: #b4b4b4;
}
.bgc_2.svelte-jhane1.svelte-jhane1 {
	background-color: #6c6c6c;
}
.bgc_3.svelte-jhane1.svelte-jhane1 {
	background-color: #414141;
}
.bgc_4.svelte-jhane1.svelte-jhane1 {
	background-color: #323232;
}
.bgc_5.svelte-jhane1.svelte-jhane1 {
	background-color: #121212;
}
.bgwhite.svelte-jhane1.svelte-jhane1 {
	background-color: #fff;
}
.bgblack.svelte-jhane1.svelte-jhane1 {
	background-color: #000;
}
.bgc_primary.svelte-jhane1.svelte-jhane1 {
	background-color: #d4b39c;
}
.fullfill.svelte-jhane1.svelte-jhane1 {
	width: 100%;
	height: 100%;
}
.p_0.svelte-jhane1.svelte-jhane1 {
	padding: 0;
}
.p_1.svelte-jhane1.svelte-jhane1 {
	padding: 1rem;
}
.p_2.svelte-jhane1.svelte-jhane1 {
	padding: 1.618rem;
}
.p_3.svelte-jhane1.svelte-jhane1 {
	padding: 2.618rem;
}
.p_4.svelte-jhane1.svelte-jhane1 {
	padding: 4.236rem;
}
.p_5.svelte-jhane1.svelte-jhane1 {
	padding: 6.854rem;
}
.pt_0.svelte-jhane1.svelte-jhane1 {
	padding-top: 0;
}
.pt_1.svelte-jhane1.svelte-jhane1 {
	padding-top: 1rem;
}
.pt_2.svelte-jhane1.svelte-jhane1 {
	padding-top: 1.618rem;
}
.pt_3.svelte-jhane1.svelte-jhane1 {
	padding-top: 2.618rem;
}
.pt_4.svelte-jhane1.svelte-jhane1 {
	padding-top: 4.236rem;
}
.pt_5.svelte-jhane1.svelte-jhane1 {
	padding-top: 6.854rem;
}
.mt_-1.svelte-jhane1.svelte-jhane1 {
	margin-top: -1rem;
}
.mt_-2.svelte-jhane1.svelte-jhane1 {
	margin-top: -1.618rem;
}
.mt_-3.svelte-jhane1.svelte-jhane1 {
	margin-top: -2.618rem;
}
.mt_-4.svelte-jhane1.svelte-jhane1 {
	margin-top: -4.236rem;
}
.mt_-5.svelte-jhane1.svelte-jhane1 {
	margin-top: -6.854rem;
}
.pr_0.svelte-jhane1.svelte-jhane1 {
	padding-right: 0;
}
.pr_1.svelte-jhane1.svelte-jhane1 {
	padding-right: 1rem;
}
.pr_2.svelte-jhane1.svelte-jhane1 {
	padding-right: 1.618rem;
}
.pr_3.svelte-jhane1.svelte-jhane1 {
	padding-right: 2.618rem;
}
.pr_4.svelte-jhane1.svelte-jhane1 {
	padding-right: 4.236rem;
}
.pr_5.svelte-jhane1.svelte-jhane1 {
	padding-right: 6.854rem;
}
.pb_0.svelte-jhane1.svelte-jhane1 {
	padding-bottom: 0;
}
.pb_1.svelte-jhane1.svelte-jhane1 {
	padding-bottom: 1rem;
}
.pb_2.svelte-jhane1.svelte-jhane1 {
	padding-bottom: 1.618rem;
}
.pb_3.svelte-jhane1.svelte-jhane1 {
	padding-bottom: 2.618rem;
}
.pb_4.svelte-jhane1.svelte-jhane1 {
	padding-bottom: 4.236rem;
}
.pb_5.svelte-jhane1.svelte-jhane1 {
	padding-bottom: 6.854rem;
}
.pl_0.svelte-jhane1.svelte-jhane1 {
	padding-left: 0;
}
.pl_1.svelte-jhane1.svelte-jhane1 {
	padding-left: 1rem;
}
.pl_2.svelte-jhane1.svelte-jhane1 {
	padding-left: 1.618rem;
}
.pl_3.svelte-jhane1.svelte-jhane1 {
	padding-left: 2.618rem;
}
.pl_4.svelte-jhane1.svelte-jhane1 {
	padding-left: 4.236rem;
}
.pl_5.svelte-jhane1.svelte-jhane1 {
	padding-left: 6.854rem;
}
.mh_0.svelte-jhane1.svelte-jhane1 {
	min-height: 0;
}
.mh_1.svelte-jhane1.svelte-jhane1 {
	min-height: 10vh;
}
.mh_2.svelte-jhane1.svelte-jhane1 {
	min-height: 20vh;
}
.mh_3.svelte-jhane1.svelte-jhane1 {
	min-height: 30vh;
}
.mh_4.svelte-jhane1.svelte-jhane1 {
	min-height: 40vh;
}
.mh_5.svelte-jhane1.svelte-jhane1 {
	min-height: 50vh;
}
.mh_6.svelte-jhane1.svelte-jhane1 {
	min-height: 60vh;
}
.mh_7.svelte-jhane1.svelte-jhane1 {
	min-height: 70vh;
}
.mh_8.svelte-jhane1.svelte-jhane1 {
	min-height: 80vh;
}
.mh_9.svelte-jhane1.svelte-jhane1 {
	min-height: 90vh;
}
.mh_10.svelte-jhane1.svelte-jhane1 {
	min-height: 100vh;
}
@media (min-width: 769px) {
	.mh_s2_0.svelte-jhane1.svelte-jhane1 {
		min-height: 0;
	}
	.mh_s2_1.svelte-jhane1.svelte-jhane1 {
		min-height: 10vh;
	}
	.mh_s2_2.svelte-jhane1.svelte-jhane1 {
		min-height: 20vh;
	}
	.mh_s2_3.svelte-jhane1.svelte-jhane1 {
		min-height: 30vh;
	}
	.mh_s2_4.svelte-jhane1.svelte-jhane1 {
		min-height: 40vh;
	}
	.mh_s2_5.svelte-jhane1.svelte-jhane1 {
		min-height: 50vh;
	}
	.mh_s2_6.svelte-jhane1.svelte-jhane1 {
		min-height: 60vh;
	}
	.mh_s2_7.svelte-jhane1.svelte-jhane1 {
		min-height: 70vh;
	}
	.mh_s2_8.svelte-jhane1.svelte-jhane1 {
		min-height: 80vh;
	}
	.mh_s2_9.svelte-jhane1.svelte-jhane1 {
		min-height: 90vh;
	}
	.mh_s2_10.svelte-jhane1.svelte-jhane1 {
		min-height: 100vh;
	}
}
.dg.svelte-jhane1.svelte-jhane1 {
	display: grid;
	grid-template-columns: repeat(13, 1fr);
}
.dg_0.svelte-jhane1.svelte-jhane1 {
	display: grid;
}
.col_1.svelte-jhane1.svelte-jhane1 {
	grid-column: span 1;
}
.col_2.svelte-jhane1.svelte-jhane1 {
	grid-column: span 2;
}
.col_3.svelte-jhane1.svelte-jhane1 {
	grid-column: span 3;
}
.col_4.svelte-jhane1.svelte-jhane1 {
	grid-column: span 4;
}
.col_5.svelte-jhane1.svelte-jhane1 {
	grid-column: span 5;
}
.col_6.svelte-jhane1.svelte-jhane1 {
	grid-column: span 6;
}
.col_7.svelte-jhane1.svelte-jhane1 {
	grid-column: span 7;
}
.col_8.svelte-jhane1.svelte-jhane1 {
	grid-column: span 8;
}
.col_9.svelte-jhane1.svelte-jhane1 {
	grid-column: span 9;
}
.col_10.svelte-jhane1.svelte-jhane1 {
	grid-column: span 10;
}
.col_11.svelte-jhane1.svelte-jhane1 {
	grid-column: span 11;
}
.col_12.svelte-jhane1.svelte-jhane1 {
	grid-column: span 12;
}
.col_13.svelte-jhane1.svelte-jhane1 {
	grid-column: span 13;
}
@media (min-width: 769px) {
	.col_s2_1.svelte-jhane1.svelte-jhane1 {
		grid-column: span 1;
	}
	.col_s2_2.svelte-jhane1.svelte-jhane1 {
		grid-column: span 2;
	}
	.col_s2_3.svelte-jhane1.svelte-jhane1 {
		grid-column: span 3;
	}
	.col_s2_4.svelte-jhane1.svelte-jhane1 {
		grid-column: span 4;
	}
	.col_s2_5.svelte-jhane1.svelte-jhane1 {
		grid-column: span 5;
	}
	.col_s2_6.svelte-jhane1.svelte-jhane1 {
		grid-column: span 6;
	}
	.col_s2_7.svelte-jhane1.svelte-jhane1 {
		grid-column: span 7;
	}
	.col_s2_8.svelte-jhane1.svelte-jhane1 {
		grid-column: span 8;
	}
	.col_s2_9.svelte-jhane1.svelte-jhane1 {
		grid-column: span 9;
	}
	.col_s2_10.svelte-jhane1.svelte-jhane1 {
		grid-column: span 10;
	}
	.col_s2_11.svelte-jhane1.svelte-jhane1 {
		grid-column: span 11;
	}
	.col_s2_12.svelte-jhane1.svelte-jhane1 {
		grid-column: span 12;
	}
	.col_s2_13.svelte-jhane1.svelte-jhane1 {
		grid-column: span 13;
	}
}
@media (min-width: 1023px) {
	.col_s3_1.svelte-jhane1.svelte-jhane1 {
		grid-column: span 1;
	}
	.col_s3_2.svelte-jhane1.svelte-jhane1 {
		grid-column: span 2;
	}
	.col_s3_3.svelte-jhane1.svelte-jhane1 {
		grid-column: span 3;
	}
	.col_s3_4.svelte-jhane1.svelte-jhane1 {
		grid-column: span 4;
	}
	.col_s3_5.svelte-jhane1.svelte-jhane1 {
		grid-column: span 5;
	}
	.col_s3_6.svelte-jhane1.svelte-jhane1 {
		grid-column: span 6;
	}
	.col_s3_7.svelte-jhane1.svelte-jhane1 {
		grid-column: span 7;
	}
	.col_s3_8.svelte-jhane1.svelte-jhane1 {
		grid-column: span 8;
	}
	.col_s3_9.svelte-jhane1.svelte-jhane1 {
		grid-column: span 9;
	}
	.col_s3_10.svelte-jhane1.svelte-jhane1 {
		grid-column: span 10;
	}
	.col_s3_11.svelte-jhane1.svelte-jhane1 {
		grid-column: span 11;
	}
	.col_s3_12.svelte-jhane1.svelte-jhane1 {
		grid-column: span 12;
	}
	.col_s3_13.svelte-jhane1.svelte-jhane1 {
		grid-column: span 13;
	}
}
@media (min-width: 1400px) {
	.col_s4_1.svelte-jhane1.svelte-jhane1 {
		grid-column: span 1;
	}
	.col_s4_2.svelte-jhane1.svelte-jhane1 {
		grid-column: span 2;
	}
	.col_s4_3.svelte-jhane1.svelte-jhane1 {
		grid-column: span 3;
	}
	.col_s4_4.svelte-jhane1.svelte-jhane1 {
		grid-column: span 4;
	}
	.col_s4_5.svelte-jhane1.svelte-jhane1 {
		grid-column: span 5;
	}
	.col_s4_6.svelte-jhane1.svelte-jhane1 {
		grid-column: span 6;
	}
	.col_s4_7.svelte-jhane1.svelte-jhane1 {
		grid-column: span 7;
	}
	.col_s4_8.svelte-jhane1.svelte-jhane1 {
		grid-column: span 8;
	}
	.col_s4_9.svelte-jhane1.svelte-jhane1 {
		grid-column: span 9;
	}
	.col_s4_10.svelte-jhane1.svelte-jhane1 {
		grid-column: span 10;
	}
	.col_s4_11.svelte-jhane1.svelte-jhane1 {
		grid-column: span 11;
	}
	.col_s4_12.svelte-jhane1.svelte-jhane1 {
		grid-column: span 12;
	}
	.col_s4_13.svelte-jhane1.svelte-jhane1 {
		grid-column: span 13;
	}
}
.slot_1.svelte-jhane1.svelte-jhane1 {
	grid-area: __1;
}
.slot_2.svelte-jhane1.svelte-jhane1 {
	grid-area: __2;
}
.slot_3.svelte-jhane1.svelte-jhane1 {
	grid-area: __3;
}
.slot_4.svelte-jhane1.svelte-jhane1 {
	grid-area: __4;
}
.slot_5.svelte-jhane1.svelte-jhane1 {
	grid-area: __5;
}
.pic.svelte-jhane1.svelte-jhane1 {
	height: 100%;
	place-items: center;
}
.pcc.svelte-jhane1.svelte-jhane1 {
	height: 100%;
	place-content: center;
	align-content: space-evenly;
}
.gap_0.svelte-jhane1.svelte-jhane1 {
	gap: 0;
}
.gap_1.svelte-jhane1.svelte-jhane1 {
	gap: 1rem;
}
.gap_2.svelte-jhane1.svelte-jhane1 {
	gap: 1.618rem;
}
.gap_3.svelte-jhane1.svelte-jhane1 {
	gap: 2.618rem;
}
.rg_1.svelte-jhane1.svelte-jhane1 {
	row-gap: 1.618rem;
}
.rg_2.svelte-jhane1.svelte-jhane1 {
	row-gap: 2.618rem;
}
.rg_3.svelte-jhane1.svelte-jhane1 {
	row-gap: 4.236rem;
}
.rg_4.svelte-jhane1.svelte-jhane1 {
	row-gap: 6.854rem;
}
.rg_5.svelte-jhane1.svelte-jhane1 {
	row-gap: 11.089rem;
}
.cg_1.svelte-jhane1.svelte-jhane1 {
	column-gap: 1.618rem;
}
.cg_2.svelte-jhane1.svelte-jhane1 {
	column-gap: 2.618rem;
}
.cg_3.svelte-jhane1.svelte-jhane1 {
	column-gap: 4.236rem;
}
.cg_4.svelte-jhane1.svelte-jhane1 {
	column-gap: 6.854rem;
}
.cg_5.svelte-jhane1.svelte-jhane1 {
	column-gap: 11.089rem;
}
@media (min-width: 769px) {
	.cg_s2_1.svelte-jhane1.svelte-jhane1 {
		column-gap: 1.618rem;
	}
	.cg_s2_2.svelte-jhane1.svelte-jhane1 {
		column-gap: 2.618rem;
	}
	.cg_s2_3.svelte-jhane1.svelte-jhane1 {
		column-gap: 4.236rem;
	}
	.cg_s2_4.svelte-jhane1.svelte-jhane1 {
		column-gap: 6.854rem;
	}
	.cg_s2_5.svelte-jhane1.svelte-jhane1 {
		column-gap: 11.089rem;
	}
}
header.svelte-jhane1.svelte-jhane1 {
	font-family: Montserrat, sans-serif;
	letter-spacing: 0;
	font-weight: 500;
	color: #b4b4b4;
}
h1.svelte-jhane1.svelte-jhane1 {
	font-size: 1.618rem;
	line-height: 40.896px;
	font-weight: 700;
}
@media (min-width: 769px) {
	h1.svelte-jhane1.svelte-jhane1 {
		font-size: 1.618rem;
		line-height: 40.896px;
	}
}
h2.svelte-jhane1.svelte-jhane1 {
	font-weight: 500;
	font-size: 1rem;
	line-height: 28.8px;
}
h3.svelte-jhane1.svelte-jhane1 {
	font-size: 0.618rem;
	line-height: 17.7777777778px;
}
@media (min-width: 574px) {
	h3.svelte-jhane1.svelte-jhane1 {
		font-size: 1rem;
		line-height: 28.8px;
	}
}
.tar.svelte-jhane1.svelte-jhane1 {
	text-align: right;
}
.tac.svelte-jhane1.svelte-jhane1 {
	text-align: center;
}
.tal.svelte-jhane1.svelte-jhane1 {
	text-align: left;
}
@keyframes svelte-jhane1-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-jhane1-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-jhane1-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.namespace.svelte-jhane1.svelte-jhane1 {
	opacity: 0.7;
}
.token.cdata.svelte-jhane1.svelte-jhane1,
.token.comment.svelte-jhane1.svelte-jhane1,
.token.doctype.svelte-jhane1.svelte-jhane1,
.token.prolog.svelte-jhane1.svelte-jhane1 {
	color: #6c6c6c;
}
.token.punctuation.svelte-jhane1.svelte-jhane1 {
	color: #6c6c6c;
}
.token.boolean.svelte-jhane1.svelte-jhane1,
.token.constant.svelte-jhane1.svelte-jhane1,
.token.deleted.svelte-jhane1.svelte-jhane1,
.token.number.svelte-jhane1.svelte-jhane1,
.token.property.svelte-jhane1.svelte-jhane1,
.token.symbol.svelte-jhane1.svelte-jhane1,
.token.tag.svelte-jhane1.svelte-jhane1 {
	color: #e5e5e5;
}
.token.attr-name.svelte-jhane1.svelte-jhane1,
.token.builtin.svelte-jhane1.svelte-jhane1,
.token.char.svelte-jhane1.svelte-jhane1,
.token.inserted.svelte-jhane1.svelte-jhane1,
.token.selector.svelte-jhane1.svelte-jhane1,
.token.string.svelte-jhane1.svelte-jhane1 {
	color: #e5e5e5;
}
.token.entity.svelte-jhane1.svelte-jhane1,
.token.operator.svelte-jhane1.svelte-jhane1,
.token.url.svelte-jhane1.svelte-jhane1 {
	color: #e5e5e5;
}
.token.atrule.svelte-jhane1.svelte-jhane1,
.token.attr-value.svelte-jhane1.svelte-jhane1,
.token.keyword.svelte-jhane1.svelte-jhane1 {
	color: #e5e5e5;
}
.token.function.svelte-jhane1.svelte-jhane1 {
	color: #fff;
}
.token.important.svelte-jhane1.svelte-jhane1,
.token.regex.svelte-jhane1.svelte-jhane1,
.token.variable.svelte-jhane1.svelte-jhane1 {
	color: #414141;
}
.token.bold.svelte-jhane1.svelte-jhane1,
.token.important.svelte-jhane1.svelte-jhane1 {
	font-weight: 700;
}
.token.italic.svelte-jhane1.svelte-jhane1 {
	font-style: italic;
}
.token.entity.svelte-jhane1.svelte-jhane1 {
	cursor: help;
}
.line-highlight.svelte-jhane1.svelte-jhane1 {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em;
	background: #4c4b48;
	box-shadow: inset 5px 0 0 #f77ea2;
	z-index: 0;
	pointer-events: none;
	line-height: inherit;
	white-space: pre;
}
.svelte-jhane1.svelte-jhane1:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-jhane1.svelte-jhane1::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.tachado.svelte-jhane1.svelte-jhane1 {
	text-decoration: line-through;
}
.not-clickable.svelte-jhane1.svelte-jhane1 {
	pointer-events: none;
}
.wrap-object-fit.svelte-jhane1.svelte-jhane1 {
	height: inherit;
}
.object-fit.svelte-jhane1.svelte-jhane1 {
	object-fit: cover;
	height: 100%;
}
.absolute.svelte-jhane1.svelte-jhane1 {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.relative.svelte-jhane1.svelte-jhane1 {
	position: relative;
	width: inherit;
}
.dn.svelte-jhane1.svelte-jhane1 {
	display: none;
}
.Header_0.svelte-jhane1.svelte-jhane1 {
	display: grid;
	place-content: center;
	color: inherit;
	height: 100%;
	background-position: center;
	background-size: 120%;
	background-repeat: no-repeat;
}
.Header_1.svelte-jhane1.svelte-jhane1 {
	display: grid;
	align-content: center;
	color: inherit;
	height: 100%;
}
@media (min-width: 574px) {
	.Header_1.svelte-jhane1.svelte-jhane1 {
		place-content: center;
	}
}
.Header_2.svelte-jhane1.svelte-jhane1 {
	display: grid;
	place-content: center;
}
.Header_3.svelte-jhane1.svelte-jhane1 {
	color: inherit;
}
.Header_5.svelte-jhane1.svelte-jhane1 {
	color: inherit;
}
.Header_6.svelte-jhane1.svelte-jhane1 {
	color: inherit;
	margin-bottom: 1rem;
}
.Header_6.svelte-jhane1 h2.svelte-jhane1 {
	font-weight: 700;
}
.Header_6.svelte-jhane1 h3.svelte-jhane1 {
	font-style: italic;
}
.Header_7.svelte-jhane1.svelte-jhane1 {
	color: inherit;
}
