@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
.svelte-1r45r6o,
.svelte-1r45r6o:after,
.svelte-1r45r6o:before {
	box-sizing: border-box;
}
section.svelte-1r45r6o {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
section.svelte-1r45r6o {
	display: block;
}
.c_0.svelte-1r45r6o {
	color: #e5e5e5;
}
.c_1.svelte-1r45r6o {
	color: #b4b4b4;
}
.c_2.svelte-1r45r6o {
	color: #6c6c6c;
}
.c_3.svelte-1r45r6o {
	color: #414141;
}
.c_4.svelte-1r45r6o {
	color: #323232;
}
.c_5.svelte-1r45r6o {
	color: #121212;
}
.c_black.svelte-1r45r6o {
	color: #000;
}
.c_white.svelte-1r45r6o {
	color: #fff;
}
.c_primary.svelte-1r45r6o {
	color: #d3b39c;
}
.bgc_0.svelte-1r45r6o {
	background-color: #e5e5e5;
}
.bgc_1.svelte-1r45r6o {
	background-color: #b4b4b4;
}
.bgc_2.svelte-1r45r6o {
	background-color: #6c6c6c;
}
.bgc_3.svelte-1r45r6o {
	background-color: #414141;
}
.bgc_4.svelte-1r45r6o {
	background-color: #323232;
}
.bgc_5.svelte-1r45r6o {
	background-color: #121212;
}
.bgwhite.svelte-1r45r6o {
	background-color: #fff;
}
.bgblack.svelte-1r45r6o {
	background-color: #000;
}
.bgc_primary.svelte-1r45r6o {
	background-color: #d4b39c;
}
.fullfill.svelte-1r45r6o {
	width: 100%;
	height: 100%;
}
.p_0.svelte-1r45r6o {
	padding: 0;
}
.p_1.svelte-1r45r6o {
	padding: 1rem;
}
.p_2.svelte-1r45r6o {
	padding: 1.618rem;
}
.p_3.svelte-1r45r6o {
	padding: 2.618rem;
}
.p_4.svelte-1r45r6o {
	padding: 4.236rem;
}
.p_5.svelte-1r45r6o {
	padding: 6.854rem;
}
.pt_0.svelte-1r45r6o {
	padding-top: 0;
}
.pt_1.svelte-1r45r6o {
	padding-top: 1rem;
}
.pt_2.svelte-1r45r6o {
	padding-top: 1.618rem;
}
.pt_3.svelte-1r45r6o {
	padding-top: 2.618rem;
}
.pt_4.svelte-1r45r6o {
	padding-top: 4.236rem;
}
.pt_5.svelte-1r45r6o {
	padding-top: 6.854rem;
}
.pr_0.svelte-1r45r6o {
	padding-right: 0;
}
.pr_1.svelte-1r45r6o {
	padding-right: 1rem;
}
.pr_2.svelte-1r45r6o {
	padding-right: 1.618rem;
}
.pr_3.svelte-1r45r6o {
	padding-right: 2.618rem;
}
.pr_4.svelte-1r45r6o {
	padding-right: 4.236rem;
}
.pr_5.svelte-1r45r6o {
	padding-right: 6.854rem;
}
.pb_0.svelte-1r45r6o {
	padding-bottom: 0;
}
.pb_1.svelte-1r45r6o {
	padding-bottom: 1rem;
}
.pb_2.svelte-1r45r6o {
	padding-bottom: 1.618rem;
}
.pb_3.svelte-1r45r6o {
	padding-bottom: 2.618rem;
}
.pb_4.svelte-1r45r6o {
	padding-bottom: 4.236rem;
}
.pb_5.svelte-1r45r6o {
	padding-bottom: 6.854rem;
}
.pl_0.svelte-1r45r6o {
	padding-left: 0;
}
.pl_1.svelte-1r45r6o {
	padding-left: 1rem;
}
.pl_2.svelte-1r45r6o {
	padding-left: 1.618rem;
}
.pl_3.svelte-1r45r6o {
	padding-left: 2.618rem;
}
.pl_4.svelte-1r45r6o {
	padding-left: 4.236rem;
}
.pl_5.svelte-1r45r6o {
	padding-left: 6.854rem;
}
.dg.svelte-1r45r6o {
	display: grid;
	grid-template-columns: repeat(13, 1fr);
	gap: 1px;
	background-color: #000;
}
.grid-1.svelte-1r45r6o {
	grid-column: span 1;
	color: #fff;
	background-color: red;
}
.grid-2.svelte-1r45r6o {
	grid-column: span 2;
	color: #fff;
	background-color: red;
}
.grid-3.svelte-1r45r6o {
	grid-column: span 3;
	color: #fff;
	background-color: red;
}
.grid-4.svelte-1r45r6o {
	grid-column: span 4;
	color: #fff;
	background-color: red;
}
.grid-5.svelte-1r45r6o {
	grid-column: span 5;
	color: #fff;
	background-color: red;
}
.grid-6.svelte-1r45r6o {
	grid-column: span 6;
	color: #fff;
	background-color: red;
}
.grid-7.svelte-1r45r6o {
	grid-column: span 7;
	color: #fff;
	background-color: red;
}
.grid-8.svelte-1r45r6o {
	grid-column: span 8;
	color: #fff;
	background-color: red;
}
.grid-9.svelte-1r45r6o {
	grid-column: span 9;
	color: #fff;
	background-color: red;
}
.grid-10.svelte-1r45r6o {
	grid-column: span 10;
	color: #fff;
	background-color: red;
}
.grid-11.svelte-1r45r6o {
	grid-column: span 11;
	color: #fff;
	background-color: red;
}
.grid-12.svelte-1r45r6o {
	grid-column: span 12;
	color: #fff;
	background-color: red;
}
.grid-13.svelte-1r45r6o {
	grid-column: span 13;
	color: #fff;
	background-color: red;
}
.gr.svelte-1r45r6o {
	width: 100%;
}
.slot_1.svelte-1r45r6o {
	grid-area: __1;
}
.slot_2.svelte-1r45r6o {
	grid-area: __2;
}
.slot_3.svelte-1r45r6o {
	grid-area: __3;
}
.slot_4.svelte-1r45r6o {
	grid-area: __4;
}
.slot_5.svelte-1r45r6o {
	grid-area: __5;
}
.pic.svelte-1r45r6o {
	height: 100%;
	place-items: center;
}
.pcc.svelte-1r45r6o {
	height: 100%;
	place-content: center;
	align-content: space-evenly;
}
.gap_0.svelte-1r45r6o {
	gap: 0;
}
.gap_1.svelte-1r45r6o {
	gap: 1rem;
}
.gap_2.svelte-1r45r6o {
	gap: 1.618rem;
}
.gap_3.svelte-1r45r6o {
	gap: 2.618rem;
}
.tar.svelte-1r45r6o {
	text-align: right;
}
.tac.svelte-1r45r6o {
	text-align: center;
}
.tal.svelte-1r45r6o {
	text-align: left;
}
@keyframes svelte-1r45r6o-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1r45r6o-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1r45r6o-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.namespace.svelte-1r45r6o {
	opacity: 0.7;
}
.token.cdata.svelte-1r45r6o,
.token.comment.svelte-1r45r6o,
.token.doctype.svelte-1r45r6o,
.token.prolog.svelte-1r45r6o {
	color: #6c6c6c;
}
.token.punctuation.svelte-1r45r6o {
	color: #6c6c6c;
}
.token.boolean.svelte-1r45r6o,
.token.constant.svelte-1r45r6o,
.token.deleted.svelte-1r45r6o,
.token.number.svelte-1r45r6o,
.token.property.svelte-1r45r6o,
.token.symbol.svelte-1r45r6o,
.token.tag.svelte-1r45r6o {
	color: #e5e5e5;
}
.token.attr-name.svelte-1r45r6o,
.token.builtin.svelte-1r45r6o,
.token.char.svelte-1r45r6o,
.token.inserted.svelte-1r45r6o,
.token.selector.svelte-1r45r6o,
.token.string.svelte-1r45r6o {
	color: #e5e5e5;
}
.token.entity.svelte-1r45r6o,
.token.operator.svelte-1r45r6o,
.token.url.svelte-1r45r6o {
	color: #d3b39c;
	background: #414141;
}
.token.atrule.svelte-1r45r6o,
.token.attr-value.svelte-1r45r6o,
.token.keyword.svelte-1r45r6o {
	color: #b4b4b4;
}
.token.function.svelte-1r45r6o {
	color: #4bddc4;
}
.token.important.svelte-1r45r6o,
.token.regex.svelte-1r45r6o,
.token.variable.svelte-1r45r6o {
	color: #d3b39c;
}
.token.bold.svelte-1r45r6o,
.token.important.svelte-1r45r6o {
	font-weight: 700;
}
.token.italic.svelte-1r45r6o {
	font-style: italic;
}
.token.entity.svelte-1r45r6o {
	cursor: help;
}
.line-highlight.svelte-1r45r6o {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em;
	background: #4c4b48;
	box-shadow: inset 5px 0 0 #f77ea2;
	z-index: 0;
	pointer-events: none;
	line-height: inherit;
	white-space: pre;
}
.svelte-1r45r6o:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1r45r6o::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.tachado.svelte-1r45r6o {
	text-decoration: line-through;
}
.not-clickable.svelte-1r45r6o {
	pointer-events: none;
}
.wrap-object-fit.svelte-1r45r6o {
	height: inherit;
}
.object-fit.svelte-1r45r6o {
	object-fit: cover;
	height: 100%;
}
.absolute.svelte-1r45r6o {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.relative.svelte-1r45r6o {
	position: relative;
	width: inherit;
}
.dn.svelte-1r45r6o {
	display: none;
}
section.svelte-1r45r6o {
	padding: 1.618rem;
}
@media (min-width: 769px) {
	section.svelte-1r45r6o {
		padding: 2.618rem;
	}
}
.Section_0.svelte-1r45r6o {
	align-content: space-evenly;
	height: 100%;
	display: grid;
	color: #121212;
}
.Section_1.svelte-1r45r6o {
	padding: 0;
	min-height: 50vh;
}
.Section_2.svelte-1r45r6o {
	color: #e5e5e5;
	display: grid;
	place-content: center;
}
.Section_3.svelte-1r45r6o {
	color: #000;
	padding: 0;
}
.Section_4.svelte-1r45r6o {
	color: #121212;
	padding: 2.618rem;
}
.Section_5.svelte-1r45r6o {
	padding: 0;
	min-height: 50vh;
	color: #121212;
}
.Section_6.svelte-1r45r6o {
	min-height: 50vh;
	color: #e5e5e5;
}
.Section_7.svelte-1r45r6o {
	min-height: 50vh;
	color: #6c6c6c;
	padding: 0;
}
@media (min-width: 1023px) {
	.Section_7.svelte-1r45r6o {
		margin-left: auto;
		margin-right: auto;
		max-width: 1023px;
	}
}
.Section_8.svelte-1r45r6o {
	color: #b4b4b4;
	padding: 0;
}
.svelte-up86y2,
.svelte-up86y2:after,
.svelte-up86y2:before {
	box-sizing: border-box;
}
a.svelte-up86y2 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
.c_0.svelte-up86y2 {
	color: #e5e5e5;
}
.c_1.svelte-up86y2 {
	color: #b4b4b4;
}
.c_2.svelte-up86y2 {
	color: #6c6c6c;
}
.c_3.svelte-up86y2 {
	color: #414141;
}
.c_4.svelte-up86y2 {
	color: #323232;
}
.c_5.svelte-up86y2 {
	color: #121212;
}
.c_black.svelte-up86y2 {
	color: #000;
}
.c_white.svelte-up86y2 {
	color: #fff;
}
.c_primary.svelte-up86y2 {
	color: #d3b39c;
}
.bgc_0.svelte-up86y2 {
	background-color: #e5e5e5;
}
.bgc_1.svelte-up86y2 {
	background-color: #b4b4b4;
}
.bgc_2.svelte-up86y2 {
	background-color: #6c6c6c;
}
.bgc_3.svelte-up86y2 {
	background-color: #414141;
}
.bgc_4.svelte-up86y2 {
	background-color: #323232;
}
.bgc_5.svelte-up86y2 {
	background-color: #121212;
}
.bgwhite.svelte-up86y2 {
	background-color: #fff;
}
.bgblack.svelte-up86y2 {
	background-color: #000;
}
.bgc_primary.svelte-up86y2 {
	background-color: #d4b39c;
}
.fullfill.svelte-up86y2 {
	width: 100%;
	height: 100%;
}
.p_0.svelte-up86y2 {
	padding: 0;
}
.p_1.svelte-up86y2 {
	padding: 1rem;
}
.p_2.svelte-up86y2 {
	padding: 1.618rem;
}
.p_3.svelte-up86y2 {
	padding: 2.618rem;
}
.p_4.svelte-up86y2 {
	padding: 4.236rem;
}
.p_5.svelte-up86y2 {
	padding: 6.854rem;
}
.pt_0.svelte-up86y2 {
	padding-top: 0;
}
.pt_1.svelte-up86y2 {
	padding-top: 1rem;
}
.pt_2.svelte-up86y2 {
	padding-top: 1.618rem;
}
.pt_3.svelte-up86y2 {
	padding-top: 2.618rem;
}
.pt_4.svelte-up86y2 {
	padding-top: 4.236rem;
}
.pt_5.svelte-up86y2 {
	padding-top: 6.854rem;
}
.pr_0.svelte-up86y2 {
	padding-right: 0;
}
.pr_1.svelte-up86y2 {
	padding-right: 1rem;
}
.pr_2.svelte-up86y2 {
	padding-right: 1.618rem;
}
.pr_3.svelte-up86y2 {
	padding-right: 2.618rem;
}
.pr_4.svelte-up86y2 {
	padding-right: 4.236rem;
}
.pr_5.svelte-up86y2 {
	padding-right: 6.854rem;
}
.pb_0.svelte-up86y2 {
	padding-bottom: 0;
}
.pb_1.svelte-up86y2 {
	padding-bottom: 1rem;
}
.pb_2.svelte-up86y2 {
	padding-bottom: 1.618rem;
}
.pb_3.svelte-up86y2 {
	padding-bottom: 2.618rem;
}
.pb_4.svelte-up86y2 {
	padding-bottom: 4.236rem;
}
.pb_5.svelte-up86y2 {
	padding-bottom: 6.854rem;
}
.pl_0.svelte-up86y2 {
	padding-left: 0;
}
.pl_1.svelte-up86y2 {
	padding-left: 1rem;
}
.pl_2.svelte-up86y2 {
	padding-left: 1.618rem;
}
.pl_3.svelte-up86y2 {
	padding-left: 2.618rem;
}
.pl_4.svelte-up86y2 {
	padding-left: 4.236rem;
}
.pl_5.svelte-up86y2 {
	padding-left: 6.854rem;
}
.dg.svelte-up86y2 {
	display: grid;
	grid-template-columns: repeat(13, 1fr);
	gap: 1px;
	background-color: #000;
}
.grid-1.svelte-up86y2 {
	grid-column: span 1;
	color: #fff;
	background-color: red;
}
.grid-2.svelte-up86y2 {
	grid-column: span 2;
	color: #fff;
	background-color: red;
}
.grid-3.svelte-up86y2 {
	grid-column: span 3;
	color: #fff;
	background-color: red;
}
.grid-4.svelte-up86y2 {
	grid-column: span 4;
	color: #fff;
	background-color: red;
}
.grid-5.svelte-up86y2 {
	grid-column: span 5;
	color: #fff;
	background-color: red;
}
.grid-6.svelte-up86y2 {
	grid-column: span 6;
	color: #fff;
	background-color: red;
}
.grid-7.svelte-up86y2 {
	grid-column: span 7;
	color: #fff;
	background-color: red;
}
.grid-8.svelte-up86y2 {
	grid-column: span 8;
	color: #fff;
	background-color: red;
}
.grid-9.svelte-up86y2 {
	grid-column: span 9;
	color: #fff;
	background-color: red;
}
.grid-10.svelte-up86y2 {
	grid-column: span 10;
	color: #fff;
	background-color: red;
}
.grid-11.svelte-up86y2 {
	grid-column: span 11;
	color: #fff;
	background-color: red;
}
.grid-12.svelte-up86y2 {
	grid-column: span 12;
	color: #fff;
	background-color: red;
}
.grid-13.svelte-up86y2 {
	grid-column: span 13;
	color: #fff;
	background-color: red;
}
.gr.svelte-up86y2 {
	width: 100%;
}
.slot_1.svelte-up86y2 {
	grid-area: __1;
}
.slot_2.svelte-up86y2 {
	grid-area: __2;
}
.slot_3.svelte-up86y2 {
	grid-area: __3;
}
.slot_4.svelte-up86y2 {
	grid-area: __4;
}
.slot_5.svelte-up86y2 {
	grid-area: __5;
}
.pic.svelte-up86y2 {
	height: 100%;
	place-items: center;
}
.pcc.svelte-up86y2 {
	height: 100%;
	place-content: center;
	align-content: space-evenly;
}
.gap_0.svelte-up86y2 {
	gap: 0;
}
.gap_1.svelte-up86y2 {
	gap: 1rem;
}
.gap_2.svelte-up86y2 {
	gap: 1.618rem;
}
.gap_3.svelte-up86y2 {
	gap: 2.618rem;
}
.tar.svelte-up86y2 {
	text-align: right;
}
.tac.svelte-up86y2 {
	text-align: center;
}
.tal.svelte-up86y2 {
	text-align: left;
}
@keyframes svelte-up86y2-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-up86y2-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-up86y2-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
a.svelte-up86y2:hover {
	animation-name: svelte-up86y2-fade;
	animation-duration: 0.3s;
}
.namespace.svelte-up86y2 {
	opacity: 0.7;
}
.token.cdata.svelte-up86y2,
.token.comment.svelte-up86y2,
.token.doctype.svelte-up86y2,
.token.prolog.svelte-up86y2 {
	color: #6c6c6c;
}
.token.punctuation.svelte-up86y2 {
	color: #6c6c6c;
}
.token.boolean.svelte-up86y2,
.token.constant.svelte-up86y2,
.token.deleted.svelte-up86y2,
.token.number.svelte-up86y2,
.token.property.svelte-up86y2,
.token.symbol.svelte-up86y2,
.token.tag.svelte-up86y2 {
	color: #e5e5e5;
}
.token.attr-name.svelte-up86y2,
.token.builtin.svelte-up86y2,
.token.char.svelte-up86y2,
.token.inserted.svelte-up86y2,
.token.selector.svelte-up86y2,
.token.string.svelte-up86y2 {
	color: #e5e5e5;
}
.token.entity.svelte-up86y2,
.token.operator.svelte-up86y2,
.token.url.svelte-up86y2 {
	color: #d3b39c;
	background: #414141;
}
.token.atrule.svelte-up86y2,
.token.attr-value.svelte-up86y2,
.token.keyword.svelte-up86y2 {
	color: #b4b4b4;
}
.token.function.svelte-up86y2 {
	color: #4bddc4;
}
.token.important.svelte-up86y2,
.token.regex.svelte-up86y2,
.token.variable.svelte-up86y2 {
	color: #d3b39c;
}
.token.bold.svelte-up86y2,
.token.important.svelte-up86y2 {
	font-weight: 700;
}
.token.italic.svelte-up86y2 {
	font-style: italic;
}
.token.entity.svelte-up86y2 {
	cursor: help;
}
.line-highlight.svelte-up86y2 {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em;
	background: #4c4b48;
	box-shadow: inset 5px 0 0 #f77ea2;
	z-index: 0;
	pointer-events: none;
	line-height: inherit;
	white-space: pre;
}
.svelte-up86y2:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-up86y2::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.tachado.svelte-up86y2 {
	text-decoration: line-through;
}
.not-clickable.svelte-up86y2 {
	pointer-events: none;
}
.wrap-object-fit.svelte-up86y2 {
	height: inherit;
}
.object-fit.svelte-up86y2 {
	object-fit: cover;
	height: 100%;
}
.absolute.svelte-up86y2 {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.relative.svelte-up86y2 {
	position: relative;
	width: inherit;
}
.dn.svelte-up86y2 {
	display: none;
}
.button.svelte-up86y2,
button {
	background-color: transparent;
	font-size: inherit;
	text-align: center;
	text-decoration: none;
	border: none;
	width: 100%;
}
.button.svelte-up86y2:focus,
button:focus {
	border: none;
}
.button.svelte-up86y2:after,
button:after {
	font-size: 1.618rem;
	padding-left: 0.618rem;
}
.button.svelte-up86y2:hover,
button:hover {
	cursor: pointer;
}
.Button_0.svelte-up86y2 {
	padding: 1.618rem;
	color: #323232;
	border-color: #b4b4b4;
	margin: 0;
}
.Button_0.svelte-up86y2:hover {
	color: #121212;
	background-color: #b4b4b4;
	border-color: #b4b4b4;
}
.Button_0.svelte-up86y2:focus {
	background-color: #fff;
}
.Button_1.svelte-up86y2 {
	color: #121212;
	width: 100%;
}
.Button_2.svelte-up86y2 {
	color: #b4b4b4;
	margin-bottom: 0;
	margin-top: 0;
}
.Button_3.svelte-up86y2 {
	color: inherit;
}
.Button_4.svelte-up86y2 {
	color: #414141;
	border: 1px double #121212;
	margin: 0;
	background-color: #d9bba7;
	font-size: 1rem;
	line-height: 28.8px;
	border-radius: 50%;
	width: 11.089rem;
	height: 11.089rem;
}
@media (min-width: 769px) {
	.Button_4.svelte-up86y2 {
		font-size: 1.618rem;
		line-height: 40.896px;
		width: 17.942rem;
		height: 17.942rem;
	}
}
.Button_4.svelte-up86y2:hover {
	color: #d9bba7;
	background-color: #323232;
}
.Button_5.svelte-up86y2 {
	color: #000;
	border: none;
	text-align: center;
	margin: 0;
	font-size: 2.618rem;
	line-height: 57.6px;
	display: block;
	background-color: transparent;
}
.Button_5.svelte-up86y2:hover {
	color: #e5e5e5;
}
.Button_6.svelte-up86y2 {
	display: block;
	border: none;
	text-align: center;
	margin: 0;
	padding-left: 1.618rem;
	padding-right: 1.618rem;
	font-size: 1rem;
	line-height: 28.8px;
	color: #b4b4b4;
	background-color: #323232;
	width: 100%;
}
@media (min-width: 1023px) {
	.Button_6.svelte-up86y2 {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-top-right-radius: 1.618rem;
		border-bottom-right-radius: 1.618rem;
	}
}
.Button_6.svelte-up86y2:hover {
	background-color: #d9bba7;
	color: #121212;
}
.Button_7.svelte-up86y2 {
	color: #b4b4b4;
	background-color: #323232;
	border: none;
	padding: 1.618rem 2.618rem;
	place-self: center;
	width: fit-content;
}
.Button_7.svelte-up86y2:hover {
	color: #e5e5e5;
	background-color: #000;
}
.Button_8.svelte-up86y2 {
	padding: 1.618rem;
	color: #b4b4b4;
	margin: 0;
}
.Button_8.svelte-up86y2:hover {
	color: #121212;
	background-color: #b4b4b4;
}
.Button_8.svelte-up86y2:focus {
	background-color: #fff;
}
.svelte-18b7acj.svelte-18b7acj,
.svelte-18b7acj.svelte-18b7acj:after,
.svelte-18b7acj.svelte-18b7acj:before {
	box-sizing: border-box;
}
h1.svelte-18b7acj.svelte-18b7acj,
h2.svelte-18b7acj.svelte-18b7acj,
h3.svelte-18b7acj.svelte-18b7acj,
header.svelte-18b7acj.svelte-18b7acj,
span.svelte-18b7acj.svelte-18b7acj {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
header.svelte-18b7acj.svelte-18b7acj {
	display: block;
}
.c_0.svelte-18b7acj.svelte-18b7acj {
	color: #e5e5e5;
}
.c_1.svelte-18b7acj.svelte-18b7acj {
	color: #b4b4b4;
}
.c_2.svelte-18b7acj.svelte-18b7acj {
	color: #6c6c6c;
}
.c_3.svelte-18b7acj.svelte-18b7acj {
	color: #414141;
}
.c_4.svelte-18b7acj.svelte-18b7acj {
	color: #323232;
}
.c_5.svelte-18b7acj.svelte-18b7acj {
	color: #121212;
}
.c_black.svelte-18b7acj.svelte-18b7acj {
	color: #000;
}
.c_white.svelte-18b7acj.svelte-18b7acj {
	color: #fff;
}
.c_primary.svelte-18b7acj.svelte-18b7acj {
	color: #d3b39c;
}
.bgc_0.svelte-18b7acj.svelte-18b7acj {
	background-color: #e5e5e5;
}
.bgc_1.svelte-18b7acj.svelte-18b7acj {
	background-color: #b4b4b4;
}
.bgc_2.svelte-18b7acj.svelte-18b7acj {
	background-color: #6c6c6c;
}
.bgc_3.svelte-18b7acj.svelte-18b7acj {
	background-color: #414141;
}
.bgc_4.svelte-18b7acj.svelte-18b7acj {
	background-color: #323232;
}
.bgc_5.svelte-18b7acj.svelte-18b7acj {
	background-color: #121212;
}
.bgwhite.svelte-18b7acj.svelte-18b7acj {
	background-color: #fff;
}
.bgblack.svelte-18b7acj.svelte-18b7acj {
	background-color: #000;
}
.bgc_primary.svelte-18b7acj.svelte-18b7acj {
	background-color: #d4b39c;
}
.fullfill.svelte-18b7acj.svelte-18b7acj {
	width: 100%;
	height: 100%;
}
.p_0.svelte-18b7acj.svelte-18b7acj {
	padding: 0;
}
.p_1.svelte-18b7acj.svelte-18b7acj {
	padding: 1rem;
}
.p_2.svelte-18b7acj.svelte-18b7acj {
	padding: 1.618rem;
}
.p_3.svelte-18b7acj.svelte-18b7acj {
	padding: 2.618rem;
}
.p_4.svelte-18b7acj.svelte-18b7acj {
	padding: 4.236rem;
}
.p_5.svelte-18b7acj.svelte-18b7acj {
	padding: 6.854rem;
}
.pt_0.svelte-18b7acj.svelte-18b7acj {
	padding-top: 0;
}
.pt_1.svelte-18b7acj.svelte-18b7acj {
	padding-top: 1rem;
}
.pt_2.svelte-18b7acj.svelte-18b7acj {
	padding-top: 1.618rem;
}
.pt_3.svelte-18b7acj.svelte-18b7acj {
	padding-top: 2.618rem;
}
.pt_4.svelte-18b7acj.svelte-18b7acj {
	padding-top: 4.236rem;
}
.pt_5.svelte-18b7acj.svelte-18b7acj {
	padding-top: 6.854rem;
}
.pr_0.svelte-18b7acj.svelte-18b7acj {
	padding-right: 0;
}
.pr_1.svelte-18b7acj.svelte-18b7acj {
	padding-right: 1rem;
}
.pr_2.svelte-18b7acj.svelte-18b7acj {
	padding-right: 1.618rem;
}
.pr_3.svelte-18b7acj.svelte-18b7acj {
	padding-right: 2.618rem;
}
.pr_4.svelte-18b7acj.svelte-18b7acj {
	padding-right: 4.236rem;
}
.pr_5.svelte-18b7acj.svelte-18b7acj {
	padding-right: 6.854rem;
}
.pb_0.svelte-18b7acj.svelte-18b7acj {
	padding-bottom: 0;
}
.pb_1.svelte-18b7acj.svelte-18b7acj {
	padding-bottom: 1rem;
}
.pb_2.svelte-18b7acj.svelte-18b7acj {
	padding-bottom: 1.618rem;
}
.pb_3.svelte-18b7acj.svelte-18b7acj {
	padding-bottom: 2.618rem;
}
.pb_4.svelte-18b7acj.svelte-18b7acj {
	padding-bottom: 4.236rem;
}
.pb_5.svelte-18b7acj.svelte-18b7acj {
	padding-bottom: 6.854rem;
}
.pl_0.svelte-18b7acj.svelte-18b7acj {
	padding-left: 0;
}
.pl_1.svelte-18b7acj.svelte-18b7acj {
	padding-left: 1rem;
}
.pl_2.svelte-18b7acj.svelte-18b7acj {
	padding-left: 1.618rem;
}
.pl_3.svelte-18b7acj.svelte-18b7acj {
	padding-left: 2.618rem;
}
.pl_4.svelte-18b7acj.svelte-18b7acj {
	padding-left: 4.236rem;
}
.pl_5.svelte-18b7acj.svelte-18b7acj {
	padding-left: 6.854rem;
}
.dg.svelte-18b7acj.svelte-18b7acj {
	display: grid;
	grid-template-columns: repeat(13, 1fr);
	gap: 1px;
	background-color: #000;
}
.grid-1.svelte-18b7acj.svelte-18b7acj {
	grid-column: span 1;
	color: #fff;
	background-color: red;
}
.grid-2.svelte-18b7acj.svelte-18b7acj {
	grid-column: span 2;
	color: #fff;
	background-color: red;
}
.grid-3.svelte-18b7acj.svelte-18b7acj {
	grid-column: span 3;
	color: #fff;
	background-color: red;
}
.grid-4.svelte-18b7acj.svelte-18b7acj {
	grid-column: span 4;
	color: #fff;
	background-color: red;
}
.grid-5.svelte-18b7acj.svelte-18b7acj {
	grid-column: span 5;
	color: #fff;
	background-color: red;
}
.grid-6.svelte-18b7acj.svelte-18b7acj {
	grid-column: span 6;
	color: #fff;
	background-color: red;
}
.grid-7.svelte-18b7acj.svelte-18b7acj {
	grid-column: span 7;
	color: #fff;
	background-color: red;
}
.grid-8.svelte-18b7acj.svelte-18b7acj {
	grid-column: span 8;
	color: #fff;
	background-color: red;
}
.grid-9.svelte-18b7acj.svelte-18b7acj {
	grid-column: span 9;
	color: #fff;
	background-color: red;
}
.grid-10.svelte-18b7acj.svelte-18b7acj {
	grid-column: span 10;
	color: #fff;
	background-color: red;
}
.grid-11.svelte-18b7acj.svelte-18b7acj {
	grid-column: span 11;
	color: #fff;
	background-color: red;
}
.grid-12.svelte-18b7acj.svelte-18b7acj {
	grid-column: span 12;
	color: #fff;
	background-color: red;
}
.grid-13.svelte-18b7acj.svelte-18b7acj {
	grid-column: span 13;
	color: #fff;
	background-color: red;
}
.gr.svelte-18b7acj.svelte-18b7acj {
	width: 100%;
}
.slot_1.svelte-18b7acj.svelte-18b7acj {
	grid-area: __1;
}
.slot_2.svelte-18b7acj.svelte-18b7acj {
	grid-area: __2;
}
.slot_3.svelte-18b7acj.svelte-18b7acj {
	grid-area: __3;
}
.slot_4.svelte-18b7acj.svelte-18b7acj {
	grid-area: __4;
}
.slot_5.svelte-18b7acj.svelte-18b7acj {
	grid-area: __5;
}
.pic.svelte-18b7acj.svelte-18b7acj {
	height: 100%;
	place-items: center;
}
.pcc.svelte-18b7acj.svelte-18b7acj {
	height: 100%;
	place-content: center;
	align-content: space-evenly;
}
.gap_0.svelte-18b7acj.svelte-18b7acj {
	gap: 0;
}
.gap_1.svelte-18b7acj.svelte-18b7acj {
	gap: 1rem;
}
.gap_2.svelte-18b7acj.svelte-18b7acj {
	gap: 1.618rem;
}
.gap_3.svelte-18b7acj.svelte-18b7acj {
	gap: 2.618rem;
}
header.svelte-18b7acj.svelte-18b7acj {
	font-family: Montserrat, sans-serif;
	letter-spacing: 0;
	font-weight: 500;
	color: #b4b4b4;
}
h1.svelte-18b7acj.svelte-18b7acj {
	font-size: 1.618rem;
	line-height: 40.896px;
	font-weight: 700;
}
@media (min-width: 769px) {
	h1.svelte-18b7acj.svelte-18b7acj {
		font-size: 1.618rem;
		line-height: 40.896px;
	}
}
h2.svelte-18b7acj.svelte-18b7acj {
	font-weight: 500;
	font-size: 1rem;
	line-height: 28.8px;
}
h3.svelte-18b7acj.svelte-18b7acj {
	font-size: 0.618rem;
	line-height: 17.7777777778px;
}
@media (min-width: 374px) {
	h3.svelte-18b7acj.svelte-18b7acj {
		font-size: 1rem;
		line-height: 28.8px;
	}
}
.tar.svelte-18b7acj.svelte-18b7acj {
	text-align: right;
}
.tac.svelte-18b7acj.svelte-18b7acj {
	text-align: center;
}
.tal.svelte-18b7acj.svelte-18b7acj {
	text-align: left;
}
@keyframes svelte-18b7acj-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-18b7acj-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-18b7acj-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.namespace.svelte-18b7acj.svelte-18b7acj {
	opacity: 0.7;
}
.token.cdata.svelte-18b7acj.svelte-18b7acj,
.token.comment.svelte-18b7acj.svelte-18b7acj,
.token.doctype.svelte-18b7acj.svelte-18b7acj,
.token.prolog.svelte-18b7acj.svelte-18b7acj {
	color: #6c6c6c;
}
.token.punctuation.svelte-18b7acj.svelte-18b7acj {
	color: #6c6c6c;
}
.token.boolean.svelte-18b7acj.svelte-18b7acj,
.token.constant.svelte-18b7acj.svelte-18b7acj,
.token.deleted.svelte-18b7acj.svelte-18b7acj,
.token.number.svelte-18b7acj.svelte-18b7acj,
.token.property.svelte-18b7acj.svelte-18b7acj,
.token.symbol.svelte-18b7acj.svelte-18b7acj,
.token.tag.svelte-18b7acj.svelte-18b7acj {
	color: #e5e5e5;
}
.token.attr-name.svelte-18b7acj.svelte-18b7acj,
.token.builtin.svelte-18b7acj.svelte-18b7acj,
.token.char.svelte-18b7acj.svelte-18b7acj,
.token.inserted.svelte-18b7acj.svelte-18b7acj,
.token.selector.svelte-18b7acj.svelte-18b7acj,
.token.string.svelte-18b7acj.svelte-18b7acj {
	color: #e5e5e5;
}
.token.entity.svelte-18b7acj.svelte-18b7acj,
.token.operator.svelte-18b7acj.svelte-18b7acj,
.token.url.svelte-18b7acj.svelte-18b7acj {
	color: #d3b39c;
	background: #414141;
}
.token.atrule.svelte-18b7acj.svelte-18b7acj,
.token.attr-value.svelte-18b7acj.svelte-18b7acj,
.token.keyword.svelte-18b7acj.svelte-18b7acj {
	color: #b4b4b4;
}
.token.function.svelte-18b7acj.svelte-18b7acj {
	color: #4bddc4;
}
.token.important.svelte-18b7acj.svelte-18b7acj,
.token.regex.svelte-18b7acj.svelte-18b7acj,
.token.variable.svelte-18b7acj.svelte-18b7acj {
	color: #d3b39c;
}
.token.bold.svelte-18b7acj.svelte-18b7acj,
.token.important.svelte-18b7acj.svelte-18b7acj {
	font-weight: 700;
}
.token.italic.svelte-18b7acj.svelte-18b7acj {
	font-style: italic;
}
.token.entity.svelte-18b7acj.svelte-18b7acj {
	cursor: help;
}
.line-highlight.svelte-18b7acj.svelte-18b7acj {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em;
	background: #4c4b48;
	box-shadow: inset 5px 0 0 #f77ea2;
	z-index: 0;
	pointer-events: none;
	line-height: inherit;
	white-space: pre;
}
.svelte-18b7acj.svelte-18b7acj:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-18b7acj.svelte-18b7acj::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.tachado.svelte-18b7acj.svelte-18b7acj {
	text-decoration: line-through;
}
.not-clickable.svelte-18b7acj.svelte-18b7acj {
	pointer-events: none;
}
.wrap-object-fit.svelte-18b7acj.svelte-18b7acj {
	height: inherit;
}
.object-fit.svelte-18b7acj.svelte-18b7acj {
	object-fit: cover;
	height: 100%;
}
.absolute.svelte-18b7acj.svelte-18b7acj {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.relative.svelte-18b7acj.svelte-18b7acj {
	position: relative;
	width: inherit;
}
.dn.svelte-18b7acj.svelte-18b7acj {
	display: none;
}
.Header_0.svelte-18b7acj.svelte-18b7acj {
	display: grid;
	place-content: center;
	min-height: 50vh;
	background-color: #323232;
	text-align: center;
	padding: 0 1.618rem;
	color: #b4b4b4;
}
@media (min-width: 769px) {
	.Header_0.svelte-18b7acj.svelte-18b7acj {
		color: #e5e5e5;
		grid-template-areas: 'title' 'text';
		background-size: cover;
		background-position: top center;
		background-attachment: fixed;
		height: 100vh;
		background-position: center;
	}
}
.Header_1.svelte-18b7acj.svelte-18b7acj {
	display: grid;
	align-content: center;
	height: 100%;
	color: #323232;
	background-color: #d4b39c;
}
@media (min-width: 374px) {
	.Header_1.svelte-18b7acj.svelte-18b7acj {
		place-content: center;
		text-align: center;
	}
}
@media (min-width: 1023px) {
	.Header_1.svelte-18b7acj.svelte-18b7acj {
		padding: 0;
	}
}
@media (min-width: 1800px) {
	.Header_1.svelte-18b7acj.svelte-18b7acj {
		min-height: 29.03rem;
	}
}
.Header_2.svelte-18b7acj.svelte-18b7acj {
	display: grid;
	place-content: center;
	padding-top: 1.618rem;
	padding-bottom: 1.618rem;
}
.Header_2.svelte-18b7acj h1.svelte-18b7acj {
	color: #414141;
	font-size: 1.618rem;
	line-height: 40.896px;
	font-weight: 400;
}
.Header_3.svelte-18b7acj.svelte-18b7acj {
	padding-top: 2.618rem;
	padding-bottom: 2.618rem;
	padding-left: 1.618rem;
}
.Header_3.svelte-18b7acj h1.svelte-18b7acj {
	font-size: 1.618rem;
	line-height: 40.896px;
}
.Header_4.svelte-18b7acj.svelte-18b7acj {
	padding: 2.618rem;
	background-color: #323232;
}
.Header_4.svelte-18b7acj h1.svelte-18b7acj {
	font-size: 1.618rem;
	line-height: 40.896px;
}
.Header_5.svelte-18b7acj.svelte-18b7acj {
	color: inherit;
	padding: 2.618rem;
	background-color: #fff;
}
.Header_6.svelte-18b7acj.svelte-18b7acj {
	color: inherit;
	display: grid;
	justify-content: space-around;
	height: 100%;
	align-items: center;
}
.Header_6.svelte-18b7acj h1.svelte-18b7acj {
	padding: 0 1.618rem;
}
.Header_7.svelte-18b7acj.svelte-18b7acj {
	color: inherit;
	padding-bottom: 1.618rem;
}
