@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
.svelte-1ip5mvj.svelte-1ip5mvj,
.svelte-1ip5mvj.svelte-1ip5mvj:after,
.svelte-1ip5mvj.svelte-1ip5mvj:before {
	box-sizing: border-box;
}
div.svelte-1ip5mvj.svelte-1ip5mvj,
figure.svelte-1ip5mvj.svelte-1ip5mvj,
img.svelte-1ip5mvj.svelte-1ip5mvj {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
figcaption.svelte-1ip5mvj.svelte-1ip5mvj {
	text-align: left;
}
@keyframes svelte-1ip5mvj-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1ip5mvj-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1ip5mvj-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-1ip5mvj.svelte-1ip5mvj:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1ip5mvj.svelte-1ip5mvj::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
img.svelte-1ip5mvj.svelte-1ip5mvj {
	max-width: 100%;
	height: auto;
}
.tachado.svelte-1ip5mvj.svelte-1ip5mvj {
	text-decoration: line-through;
}
.not-clickable.svelte-1ip5mvj.svelte-1ip5mvj {
	pointer-events: none;
}
.Img_0.svelte-1ip5mvj.svelte-1ip5mvj {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	max-width: 100%;
	min-height: 50vh;
}
.Img_1.svelte-1ip5mvj.svelte-1ip5mvj {
	min-height: 50vh;
	object-fit: fill;
}
@media (min-width: 1023px) {
	.Img_1.svelte-1ip5mvj.svelte-1ip5mvj {
		border-top: 2.618rem solid #b4b4b4;
	}
}
.Img_2.svelte-1ip5mvj.svelte-1ip5mvj {
	min-height: 50vh;
	position: relative;
}
.Img_2.svelte-1ip5mvj figcaption.svelte-1ip5mvj {
	font-size: 0.618rem;
	line-height: 17.7777777778px;
	position: absolute;
	left: 1.618rem;
	bottom: 1.618rem;
}
.Img_3.svelte-1ip5mvj.svelte-1ip5mvj {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	max-width: 100%;
	min-height: 50vh;
	border-left: 2.618rem solid #b4b4b4;
	border-top: 2.618rem solid #414141;
}
.Img_4.svelte-1ip5mvj.svelte-1ip5mvj {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	max-width: 100%;
	min-height: 50vh;
}
@media (min-width: 769px) {
	.Img_4.svelte-1ip5mvj.svelte-1ip5mvj {
		border-bottom: 2.618rem solid #2a2929;
	}
}
.Img_5.svelte-1ip5mvj.svelte-1ip5mvj {
	border-bottom: 2.618rem solid #2a2929;
	background-size: cover;
	min-height: 50vh;
}
