@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
.svelte-gbpfu8.svelte-gbpfu8,
.svelte-gbpfu8.svelte-gbpfu8:after,
.svelte-gbpfu8.svelte-gbpfu8:before {
	box-sizing: border-box;
}
div.svelte-gbpfu8.svelte-gbpfu8,
figure.svelte-gbpfu8.svelte-gbpfu8,
img.svelte-gbpfu8.svelte-gbpfu8 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
.c_0.svelte-gbpfu8.svelte-gbpfu8 {
	color: #e5e5e5;
}
.c_1.svelte-gbpfu8.svelte-gbpfu8 {
	color: #b4b4b4;
}
.c_2.svelte-gbpfu8.svelte-gbpfu8 {
	color: #6c6c6c;
}
.c_3.svelte-gbpfu8.svelte-gbpfu8 {
	color: #414141;
}
.c_4.svelte-gbpfu8.svelte-gbpfu8 {
	color: #323232;
}
.c_5.svelte-gbpfu8.svelte-gbpfu8 {
	color: #121212;
}
.c_black.svelte-gbpfu8.svelte-gbpfu8 {
	color: #000;
}
.c_white.svelte-gbpfu8.svelte-gbpfu8 {
	color: #fff;
}
.c_primary.svelte-gbpfu8.svelte-gbpfu8 {
	color: #d3b39c;
}
.bgc_0.svelte-gbpfu8.svelte-gbpfu8 {
	background-color: #e5e5e5;
}
.bgc_1.svelte-gbpfu8.svelte-gbpfu8 {
	background-color: #b4b4b4;
}
.bgc_2.svelte-gbpfu8.svelte-gbpfu8 {
	background-color: #6c6c6c;
}
.bgc_3.svelte-gbpfu8.svelte-gbpfu8 {
	background-color: #414141;
}
.bgc_4.svelte-gbpfu8.svelte-gbpfu8 {
	background-color: #323232;
}
.bgc_5.svelte-gbpfu8.svelte-gbpfu8 {
	background-color: #121212;
}
.bgwhite.svelte-gbpfu8.svelte-gbpfu8 {
	background-color: #fff;
}
.bgblack.svelte-gbpfu8.svelte-gbpfu8 {
	background-color: #000;
}
.bgc_primary.svelte-gbpfu8.svelte-gbpfu8 {
	background-color: #d4b39c;
}
.fullfill.svelte-gbpfu8.svelte-gbpfu8 {
	width: 100%;
	height: 100%;
}
.p_0.svelte-gbpfu8.svelte-gbpfu8 {
	padding: 0;
}
.p_1.svelte-gbpfu8.svelte-gbpfu8 {
	padding: 1rem;
}
.p_2.svelte-gbpfu8.svelte-gbpfu8 {
	padding: 1.618rem;
}
.p_3.svelte-gbpfu8.svelte-gbpfu8 {
	padding: 2.618rem;
}
.p_4.svelte-gbpfu8.svelte-gbpfu8 {
	padding: 4.236rem;
}
.p_5.svelte-gbpfu8.svelte-gbpfu8 {
	padding: 6.854rem;
}
.pt_0.svelte-gbpfu8.svelte-gbpfu8 {
	padding-top: 0;
}
.pt_1.svelte-gbpfu8.svelte-gbpfu8 {
	padding-top: 1rem;
}
.pt_2.svelte-gbpfu8.svelte-gbpfu8 {
	padding-top: 1.618rem;
}
.pt_3.svelte-gbpfu8.svelte-gbpfu8 {
	padding-top: 2.618rem;
}
.pt_4.svelte-gbpfu8.svelte-gbpfu8 {
	padding-top: 4.236rem;
}
.pt_5.svelte-gbpfu8.svelte-gbpfu8 {
	padding-top: 6.854rem;
}
.mt_-1.svelte-gbpfu8.svelte-gbpfu8 {
	margin-top: -1rem;
}
.mt_-2.svelte-gbpfu8.svelte-gbpfu8 {
	margin-top: -1.618rem;
}
.mt_-3.svelte-gbpfu8.svelte-gbpfu8 {
	margin-top: -2.618rem;
}
.mt_-4.svelte-gbpfu8.svelte-gbpfu8 {
	margin-top: -4.236rem;
}
.mt_-5.svelte-gbpfu8.svelte-gbpfu8 {
	margin-top: -6.854rem;
}
.pr_0.svelte-gbpfu8.svelte-gbpfu8 {
	padding-right: 0;
}
.pr_1.svelte-gbpfu8.svelte-gbpfu8 {
	padding-right: 1rem;
}
.pr_2.svelte-gbpfu8.svelte-gbpfu8 {
	padding-right: 1.618rem;
}
.pr_3.svelte-gbpfu8.svelte-gbpfu8 {
	padding-right: 2.618rem;
}
.pr_4.svelte-gbpfu8.svelte-gbpfu8 {
	padding-right: 4.236rem;
}
.pr_5.svelte-gbpfu8.svelte-gbpfu8 {
	padding-right: 6.854rem;
}
.pb_0.svelte-gbpfu8.svelte-gbpfu8 {
	padding-bottom: 0;
}
.pb_1.svelte-gbpfu8.svelte-gbpfu8 {
	padding-bottom: 1rem;
}
.pb_2.svelte-gbpfu8.svelte-gbpfu8 {
	padding-bottom: 1.618rem;
}
.pb_3.svelte-gbpfu8.svelte-gbpfu8 {
	padding-bottom: 2.618rem;
}
.pb_4.svelte-gbpfu8.svelte-gbpfu8 {
	padding-bottom: 4.236rem;
}
.pb_5.svelte-gbpfu8.svelte-gbpfu8 {
	padding-bottom: 6.854rem;
}
.pl_0.svelte-gbpfu8.svelte-gbpfu8 {
	padding-left: 0;
}
.pl_1.svelte-gbpfu8.svelte-gbpfu8 {
	padding-left: 1rem;
}
.pl_2.svelte-gbpfu8.svelte-gbpfu8 {
	padding-left: 1.618rem;
}
.pl_3.svelte-gbpfu8.svelte-gbpfu8 {
	padding-left: 2.618rem;
}
.pl_4.svelte-gbpfu8.svelte-gbpfu8 {
	padding-left: 4.236rem;
}
.pl_5.svelte-gbpfu8.svelte-gbpfu8 {
	padding-left: 6.854rem;
}
.mh_0.svelte-gbpfu8.svelte-gbpfu8 {
	min-height: 0;
}
.mh_1.svelte-gbpfu8.svelte-gbpfu8 {
	min-height: 10vh;
}
.mh_2.svelte-gbpfu8.svelte-gbpfu8 {
	min-height: 20vh;
}
.mh_3.svelte-gbpfu8.svelte-gbpfu8 {
	min-height: 30vh;
}
.mh_4.svelte-gbpfu8.svelte-gbpfu8 {
	min-height: 40vh;
}
.mh_5.svelte-gbpfu8.svelte-gbpfu8 {
	min-height: 50vh;
}
.mh_6.svelte-gbpfu8.svelte-gbpfu8 {
	min-height: 60vh;
}
.mh_7.svelte-gbpfu8.svelte-gbpfu8 {
	min-height: 70vh;
}
.mh_8.svelte-gbpfu8.svelte-gbpfu8 {
	min-height: 80vh;
}
.mh_9.svelte-gbpfu8.svelte-gbpfu8 {
	min-height: 90vh;
}
.mh_10.svelte-gbpfu8.svelte-gbpfu8 {
	min-height: 100vh;
}
@media (min-width: 769px) {
	.mh_s2_0.svelte-gbpfu8.svelte-gbpfu8 {
		min-height: 0;
	}
	.mh_s2_1.svelte-gbpfu8.svelte-gbpfu8 {
		min-height: 10vh;
	}
	.mh_s2_2.svelte-gbpfu8.svelte-gbpfu8 {
		min-height: 20vh;
	}
	.mh_s2_3.svelte-gbpfu8.svelte-gbpfu8 {
		min-height: 30vh;
	}
	.mh_s2_4.svelte-gbpfu8.svelte-gbpfu8 {
		min-height: 40vh;
	}
	.mh_s2_5.svelte-gbpfu8.svelte-gbpfu8 {
		min-height: 50vh;
	}
	.mh_s2_6.svelte-gbpfu8.svelte-gbpfu8 {
		min-height: 60vh;
	}
	.mh_s2_7.svelte-gbpfu8.svelte-gbpfu8 {
		min-height: 70vh;
	}
	.mh_s2_8.svelte-gbpfu8.svelte-gbpfu8 {
		min-height: 80vh;
	}
	.mh_s2_9.svelte-gbpfu8.svelte-gbpfu8 {
		min-height: 90vh;
	}
	.mh_s2_10.svelte-gbpfu8.svelte-gbpfu8 {
		min-height: 100vh;
	}
}
.dg.svelte-gbpfu8.svelte-gbpfu8 {
	display: grid;
	grid-template-columns: repeat(13, 1fr);
}
.dg_0.svelte-gbpfu8.svelte-gbpfu8 {
	display: grid;
}
.col_1.svelte-gbpfu8.svelte-gbpfu8 {
	grid-column: span 1;
}
.col_2.svelte-gbpfu8.svelte-gbpfu8 {
	grid-column: span 2;
}
.col_3.svelte-gbpfu8.svelte-gbpfu8 {
	grid-column: span 3;
}
.col_4.svelte-gbpfu8.svelte-gbpfu8 {
	grid-column: span 4;
}
.col_5.svelte-gbpfu8.svelte-gbpfu8 {
	grid-column: span 5;
}
.col_6.svelte-gbpfu8.svelte-gbpfu8 {
	grid-column: span 6;
}
.col_7.svelte-gbpfu8.svelte-gbpfu8 {
	grid-column: span 7;
}
.col_8.svelte-gbpfu8.svelte-gbpfu8 {
	grid-column: span 8;
}
.col_9.svelte-gbpfu8.svelte-gbpfu8 {
	grid-column: span 9;
}
.col_10.svelte-gbpfu8.svelte-gbpfu8 {
	grid-column: span 10;
}
.col_11.svelte-gbpfu8.svelte-gbpfu8 {
	grid-column: span 11;
}
.col_12.svelte-gbpfu8.svelte-gbpfu8 {
	grid-column: span 12;
}
.col_13.svelte-gbpfu8.svelte-gbpfu8 {
	grid-column: span 13;
}
@media (min-width: 769px) {
	.col_s2_1.svelte-gbpfu8.svelte-gbpfu8 {
		grid-column: span 1;
	}
	.col_s2_2.svelte-gbpfu8.svelte-gbpfu8 {
		grid-column: span 2;
	}
	.col_s2_3.svelte-gbpfu8.svelte-gbpfu8 {
		grid-column: span 3;
	}
	.col_s2_4.svelte-gbpfu8.svelte-gbpfu8 {
		grid-column: span 4;
	}
	.col_s2_5.svelte-gbpfu8.svelte-gbpfu8 {
		grid-column: span 5;
	}
	.col_s2_6.svelte-gbpfu8.svelte-gbpfu8 {
		grid-column: span 6;
	}
	.col_s2_7.svelte-gbpfu8.svelte-gbpfu8 {
		grid-column: span 7;
	}
	.col_s2_8.svelte-gbpfu8.svelte-gbpfu8 {
		grid-column: span 8;
	}
	.col_s2_9.svelte-gbpfu8.svelte-gbpfu8 {
		grid-column: span 9;
	}
	.col_s2_10.svelte-gbpfu8.svelte-gbpfu8 {
		grid-column: span 10;
	}
	.col_s2_11.svelte-gbpfu8.svelte-gbpfu8 {
		grid-column: span 11;
	}
	.col_s2_12.svelte-gbpfu8.svelte-gbpfu8 {
		grid-column: span 12;
	}
	.col_s2_13.svelte-gbpfu8.svelte-gbpfu8 {
		grid-column: span 13;
	}
}
@media (min-width: 1023px) {
	.col_s3_1.svelte-gbpfu8.svelte-gbpfu8 {
		grid-column: span 1;
	}
	.col_s3_2.svelte-gbpfu8.svelte-gbpfu8 {
		grid-column: span 2;
	}
	.col_s3_3.svelte-gbpfu8.svelte-gbpfu8 {
		grid-column: span 3;
	}
	.col_s3_4.svelte-gbpfu8.svelte-gbpfu8 {
		grid-column: span 4;
	}
	.col_s3_5.svelte-gbpfu8.svelte-gbpfu8 {
		grid-column: span 5;
	}
	.col_s3_6.svelte-gbpfu8.svelte-gbpfu8 {
		grid-column: span 6;
	}
	.col_s3_7.svelte-gbpfu8.svelte-gbpfu8 {
		grid-column: span 7;
	}
	.col_s3_8.svelte-gbpfu8.svelte-gbpfu8 {
		grid-column: span 8;
	}
	.col_s3_9.svelte-gbpfu8.svelte-gbpfu8 {
		grid-column: span 9;
	}
	.col_s3_10.svelte-gbpfu8.svelte-gbpfu8 {
		grid-column: span 10;
	}
	.col_s3_11.svelte-gbpfu8.svelte-gbpfu8 {
		grid-column: span 11;
	}
	.col_s3_12.svelte-gbpfu8.svelte-gbpfu8 {
		grid-column: span 12;
	}
	.col_s3_13.svelte-gbpfu8.svelte-gbpfu8 {
		grid-column: span 13;
	}
}
@media (min-width: 1400px) {
	.col_s4_1.svelte-gbpfu8.svelte-gbpfu8 {
		grid-column: span 1;
	}
	.col_s4_2.svelte-gbpfu8.svelte-gbpfu8 {
		grid-column: span 2;
	}
	.col_s4_3.svelte-gbpfu8.svelte-gbpfu8 {
		grid-column: span 3;
	}
	.col_s4_4.svelte-gbpfu8.svelte-gbpfu8 {
		grid-column: span 4;
	}
	.col_s4_5.svelte-gbpfu8.svelte-gbpfu8 {
		grid-column: span 5;
	}
	.col_s4_6.svelte-gbpfu8.svelte-gbpfu8 {
		grid-column: span 6;
	}
	.col_s4_7.svelte-gbpfu8.svelte-gbpfu8 {
		grid-column: span 7;
	}
	.col_s4_8.svelte-gbpfu8.svelte-gbpfu8 {
		grid-column: span 8;
	}
	.col_s4_9.svelte-gbpfu8.svelte-gbpfu8 {
		grid-column: span 9;
	}
	.col_s4_10.svelte-gbpfu8.svelte-gbpfu8 {
		grid-column: span 10;
	}
	.col_s4_11.svelte-gbpfu8.svelte-gbpfu8 {
		grid-column: span 11;
	}
	.col_s4_12.svelte-gbpfu8.svelte-gbpfu8 {
		grid-column: span 12;
	}
	.col_s4_13.svelte-gbpfu8.svelte-gbpfu8 {
		grid-column: span 13;
	}
}
.slot_1.svelte-gbpfu8.svelte-gbpfu8 {
	grid-area: __1;
}
.slot_2.svelte-gbpfu8.svelte-gbpfu8 {
	grid-area: __2;
}
.slot_3.svelte-gbpfu8.svelte-gbpfu8 {
	grid-area: __3;
}
.slot_4.svelte-gbpfu8.svelte-gbpfu8 {
	grid-area: __4;
}
.slot_5.svelte-gbpfu8.svelte-gbpfu8 {
	grid-area: __5;
}
.pic.svelte-gbpfu8.svelte-gbpfu8 {
	height: 100%;
	place-items: center;
}
.pcc.svelte-gbpfu8.svelte-gbpfu8 {
	height: 100%;
	place-content: center;
	align-content: space-evenly;
}
.gap_0.svelte-gbpfu8.svelte-gbpfu8 {
	gap: 0;
}
.gap_1.svelte-gbpfu8.svelte-gbpfu8 {
	gap: 1rem;
}
.gap_2.svelte-gbpfu8.svelte-gbpfu8 {
	gap: 1.618rem;
}
.gap_3.svelte-gbpfu8.svelte-gbpfu8 {
	gap: 2.618rem;
}
.rg_1.svelte-gbpfu8.svelte-gbpfu8 {
	row-gap: 1.618rem;
}
.rg_2.svelte-gbpfu8.svelte-gbpfu8 {
	row-gap: 2.618rem;
}
.rg_3.svelte-gbpfu8.svelte-gbpfu8 {
	row-gap: 4.236rem;
}
.rg_4.svelte-gbpfu8.svelte-gbpfu8 {
	row-gap: 6.854rem;
}
.rg_5.svelte-gbpfu8.svelte-gbpfu8 {
	row-gap: 11.089rem;
}
.cg_1.svelte-gbpfu8.svelte-gbpfu8 {
	column-gap: 1.618rem;
}
.cg_2.svelte-gbpfu8.svelte-gbpfu8 {
	column-gap: 2.618rem;
}
.cg_3.svelte-gbpfu8.svelte-gbpfu8 {
	column-gap: 4.236rem;
}
.cg_4.svelte-gbpfu8.svelte-gbpfu8 {
	column-gap: 6.854rem;
}
.cg_5.svelte-gbpfu8.svelte-gbpfu8 {
	column-gap: 11.089rem;
}
@media (min-width: 769px) {
	.cg_s2_1.svelte-gbpfu8.svelte-gbpfu8 {
		column-gap: 1.618rem;
	}
	.cg_s2_2.svelte-gbpfu8.svelte-gbpfu8 {
		column-gap: 2.618rem;
	}
	.cg_s2_3.svelte-gbpfu8.svelte-gbpfu8 {
		column-gap: 4.236rem;
	}
	.cg_s2_4.svelte-gbpfu8.svelte-gbpfu8 {
		column-gap: 6.854rem;
	}
	.cg_s2_5.svelte-gbpfu8.svelte-gbpfu8 {
		column-gap: 11.089rem;
	}
}
figcaption.svelte-gbpfu8.svelte-gbpfu8 {
	text-align: left;
}
.tar.svelte-gbpfu8.svelte-gbpfu8 {
	text-align: right;
}
.tac.svelte-gbpfu8.svelte-gbpfu8 {
	text-align: center;
}
.tal.svelte-gbpfu8.svelte-gbpfu8 {
	text-align: left;
}
@keyframes svelte-gbpfu8-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-gbpfu8-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-gbpfu8-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.namespace.svelte-gbpfu8.svelte-gbpfu8 {
	opacity: 0.7;
}
.token.cdata.svelte-gbpfu8.svelte-gbpfu8,
.token.comment.svelte-gbpfu8.svelte-gbpfu8,
.token.doctype.svelte-gbpfu8.svelte-gbpfu8,
.token.prolog.svelte-gbpfu8.svelte-gbpfu8 {
	color: #6c6c6c;
}
.token.punctuation.svelte-gbpfu8.svelte-gbpfu8 {
	color: #6c6c6c;
}
.token.boolean.svelte-gbpfu8.svelte-gbpfu8,
.token.constant.svelte-gbpfu8.svelte-gbpfu8,
.token.deleted.svelte-gbpfu8.svelte-gbpfu8,
.token.number.svelte-gbpfu8.svelte-gbpfu8,
.token.property.svelte-gbpfu8.svelte-gbpfu8,
.token.symbol.svelte-gbpfu8.svelte-gbpfu8,
.token.tag.svelte-gbpfu8.svelte-gbpfu8 {
	color: #e5e5e5;
}
.token.attr-name.svelte-gbpfu8.svelte-gbpfu8,
.token.builtin.svelte-gbpfu8.svelte-gbpfu8,
.token.char.svelte-gbpfu8.svelte-gbpfu8,
.token.inserted.svelte-gbpfu8.svelte-gbpfu8,
.token.selector.svelte-gbpfu8.svelte-gbpfu8,
.token.string.svelte-gbpfu8.svelte-gbpfu8 {
	color: #e5e5e5;
}
.token.entity.svelte-gbpfu8.svelte-gbpfu8,
.token.operator.svelte-gbpfu8.svelte-gbpfu8,
.token.url.svelte-gbpfu8.svelte-gbpfu8 {
	color: #000;
}
.token.atrule.svelte-gbpfu8.svelte-gbpfu8,
.token.attr-value.svelte-gbpfu8.svelte-gbpfu8,
.token.keyword.svelte-gbpfu8.svelte-gbpfu8 {
	color: #b4b4b4;
}
.token.function.svelte-gbpfu8.svelte-gbpfu8 {
	color: #4bddc4;
}
.token.important.svelte-gbpfu8.svelte-gbpfu8,
.token.regex.svelte-gbpfu8.svelte-gbpfu8,
.token.variable.svelte-gbpfu8.svelte-gbpfu8 {
	color: #414141;
}
.token.bold.svelte-gbpfu8.svelte-gbpfu8,
.token.important.svelte-gbpfu8.svelte-gbpfu8 {
	font-weight: 700;
}
.token.italic.svelte-gbpfu8.svelte-gbpfu8 {
	font-style: italic;
}
.token.entity.svelte-gbpfu8.svelte-gbpfu8 {
	cursor: help;
}
.line-highlight.svelte-gbpfu8.svelte-gbpfu8 {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em;
	background: #4c4b48;
	box-shadow: inset 5px 0 0 #f77ea2;
	z-index: 0;
	pointer-events: none;
	line-height: inherit;
	white-space: pre;
}
.svelte-gbpfu8.svelte-gbpfu8:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-gbpfu8.svelte-gbpfu8::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
img.svelte-gbpfu8.svelte-gbpfu8 {
	max-width: 100%;
	height: auto;
}
.tachado.svelte-gbpfu8.svelte-gbpfu8 {
	text-decoration: line-through;
}
.not-clickable.svelte-gbpfu8.svelte-gbpfu8 {
	pointer-events: none;
}
.wrap-object-fit.svelte-gbpfu8.svelte-gbpfu8 {
	height: inherit;
}
.object-fit.svelte-gbpfu8.svelte-gbpfu8 {
	object-fit: cover;
	height: 100%;
}
.absolute.svelte-gbpfu8.svelte-gbpfu8 {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.relative.svelte-gbpfu8.svelte-gbpfu8 {
	position: relative;
	width: inherit;
}
.dn.svelte-gbpfu8.svelte-gbpfu8 {
	display: none;
}
.Img_0.svelte-gbpfu8.svelte-gbpfu8 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	max-width: 100%;
	min-height: 50vh;
}
.Img_1.svelte-gbpfu8.svelte-gbpfu8 {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.Img_2.svelte-gbpfu8.svelte-gbpfu8 {
	height: auto;
	position: relative;
}
.Img_2.svelte-gbpfu8 figcaption.svelte-gbpfu8 {
	font-size: 0.618rem;
	line-height: 17.7777777778px;
	position: absolute;
	left: 1.618rem;
	bottom: 1rem;
}
.Img_3.svelte-gbpfu8.svelte-gbpfu8 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	max-width: 100%;
	min-height: 50vh;
	border-left: 2.618rem solid #b4b4b4;
	border-top: 2.618rem solid #414141;
}
.Img_4.svelte-gbpfu8.svelte-gbpfu8 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	max-width: 100%;
	min-height: 50vh;
}
@media (min-width: 769px) {
	.Img_4.svelte-gbpfu8.svelte-gbpfu8 {
		border-bottom: 2.618rem solid #323232;
	}
}
.Img_5.svelte-gbpfu8.svelte-gbpfu8 {
	background-size: cover;
	min-height: 50vh;
}
