@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
.svelte-4klrwr.svelte-4klrwr,
.svelte-4klrwr.svelte-4klrwr:after,
.svelte-4klrwr.svelte-4klrwr:before {
	box-sizing: border-box;
}
div.svelte-4klrwr.svelte-4klrwr,
figure.svelte-4klrwr.svelte-4klrwr,
img.svelte-4klrwr.svelte-4klrwr {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
.bg_color_0.svelte-4klrwr.svelte-4klrwr {
	background-color: #e5e5e5;
}
.bg_color_1.svelte-4klrwr.svelte-4klrwr {
	background-color: #b4b4b4;
}
.bg_color_2.svelte-4klrwr.svelte-4klrwr {
	background-color: #6c6c6c;
}
.bg_color_3.svelte-4klrwr.svelte-4klrwr {
	background-color: #414141;
}
.bg_color_4.svelte-4klrwr.svelte-4klrwr {
	background-color: #323232;
}
.bg_color_5.svelte-4klrwr.svelte-4klrwr {
	background-color: #2d2d2d;
}
figcaption.svelte-4klrwr.svelte-4klrwr {
	text-align: left;
}
.align-right.svelte-4klrwr.svelte-4klrwr {
	text-align: right;
}
.align-center.svelte-4klrwr.svelte-4klrwr {
	text-align: center;
}
.align-left.svelte-4klrwr.svelte-4klrwr {
	text-align: left;
}
@keyframes svelte-4klrwr-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-4klrwr-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-4klrwr-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.namespace.svelte-4klrwr.svelte-4klrwr {
	opacity: 0.7;
}
.token.cdata.svelte-4klrwr.svelte-4klrwr,
.token.comment.svelte-4klrwr.svelte-4klrwr,
.token.doctype.svelte-4klrwr.svelte-4klrwr,
.token.prolog.svelte-4klrwr.svelte-4klrwr {
	color: #6c6c6c;
}
.token.punctuation.svelte-4klrwr.svelte-4klrwr {
	color: #6c6c6c;
}
.token.boolean.svelte-4klrwr.svelte-4klrwr,
.token.constant.svelte-4klrwr.svelte-4klrwr,
.token.deleted.svelte-4klrwr.svelte-4klrwr,
.token.number.svelte-4klrwr.svelte-4klrwr,
.token.property.svelte-4klrwr.svelte-4klrwr,
.token.symbol.svelte-4klrwr.svelte-4klrwr,
.token.tag.svelte-4klrwr.svelte-4klrwr {
	color: #e5e5e5;
}
.token.attr-name.svelte-4klrwr.svelte-4klrwr,
.token.builtin.svelte-4klrwr.svelte-4klrwr,
.token.char.svelte-4klrwr.svelte-4klrwr,
.token.inserted.svelte-4klrwr.svelte-4klrwr,
.token.selector.svelte-4klrwr.svelte-4klrwr,
.token.string.svelte-4klrwr.svelte-4klrwr {
	color: #e5e5e5;
}
.token.entity.svelte-4klrwr.svelte-4klrwr,
.token.operator.svelte-4klrwr.svelte-4klrwr,
.token.url.svelte-4klrwr.svelte-4klrwr {
	color: #d3b39c;
	background: #414141;
}
.token.atrule.svelte-4klrwr.svelte-4klrwr,
.token.attr-value.svelte-4klrwr.svelte-4klrwr,
.token.keyword.svelte-4klrwr.svelte-4klrwr {
	color: #b4b4b4;
}
.token.function.svelte-4klrwr.svelte-4klrwr {
	color: #4bddc4;
}
.token.important.svelte-4klrwr.svelte-4klrwr,
.token.regex.svelte-4klrwr.svelte-4klrwr,
.token.variable.svelte-4klrwr.svelte-4klrwr {
	color: #d3b39c;
}
.token.bold.svelte-4klrwr.svelte-4klrwr,
.token.important.svelte-4klrwr.svelte-4klrwr {
	font-weight: 700;
}
.token.italic.svelte-4klrwr.svelte-4klrwr {
	font-style: italic;
}
.token.entity.svelte-4klrwr.svelte-4klrwr {
	cursor: help;
}
.line-highlight.svelte-4klrwr.svelte-4klrwr {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em;
	background: #4c4b48;
	box-shadow: inset 5px 0 0 #f77ea2;
	z-index: 0;
	pointer-events: none;
	line-height: inherit;
	white-space: pre;
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-4klrwr.svelte-4klrwr:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-4klrwr.svelte-4klrwr::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
img.svelte-4klrwr.svelte-4klrwr {
	max-width: 100%;
	height: auto;
}
.tachado.svelte-4klrwr.svelte-4klrwr {
	text-decoration: line-through;
}
.not-clickable.svelte-4klrwr.svelte-4klrwr {
	pointer-events: none;
}
.wrap-object-fit.svelte-4klrwr.svelte-4klrwr {
	height: inherit;
}
.object-fit.svelte-4klrwr.svelte-4klrwr {
	object-fit: cover;
	height: 100%;
}
.absolute.svelte-4klrwr.svelte-4klrwr {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.relative.svelte-4klrwr.svelte-4klrwr {
	position: relative;
	width: inherit;
}
.Img_0.svelte-4klrwr.svelte-4klrwr {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	max-width: 100%;
	min-height: 50vh;
}
.Img_1.svelte-4klrwr.svelte-4klrwr {
	min-height: 50vh;
	object-fit: fill;
}
@media (min-width: 769px) {
	.Img_1.svelte-4klrwr.svelte-4klrwr {
		border-bottom: 2.618rem solid #b4b4b4;
	}
}
.Img_2.svelte-4klrwr.svelte-4klrwr {
	min-height: 50vh;
	position: relative;
}
.Img_2.svelte-4klrwr figcaption.svelte-4klrwr {
	font-size: 0.618rem;
	line-height: 17.7777777778px;
	position: absolute;
	left: 1.618rem;
	bottom: 1.618rem;
}
.Img_3.svelte-4klrwr.svelte-4klrwr {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	max-width: 100%;
	min-height: 50vh;
	border-left: 2.618rem solid #b4b4b4;
	border-top: 2.618rem solid #414141;
}
.Img_4.svelte-4klrwr.svelte-4klrwr {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	max-width: 100%;
	min-height: 50vh;
}
@media (min-width: 769px) {
	.Img_4.svelte-4klrwr.svelte-4klrwr {
		border-bottom: 2.618rem solid #323232;
	}
}
.Img_5.svelte-4klrwr.svelte-4klrwr {
	border-bottom: 2.618rem solid #323232;
	background-size: cover;
	min-height: 50vh;
}
