@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
.svelte-1rmsu4j,
.svelte-1rmsu4j:after,
.svelte-1rmsu4j:before {
	box-sizing: border-box;
}
blockquote.svelte-1rmsu4j {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
blockquote.svelte-1rmsu4j,
q.svelte-1rmsu4j {
	quotes: none;
}
blockquote.svelte-1rmsu4j:after,
blockquote.svelte-1rmsu4j:before,
q.svelte-1rmsu4j:after,
q.svelte-1rmsu4j:before {
	content: '';
	content: none;
}
.grey_0.svelte-1rmsu4j {
	color: #e5e5e5;
}
.grey_1.svelte-1rmsu4j {
	color: #b4b4b4;
}
.grey_2.svelte-1rmsu4j {
	color: #6c6c6c;
}
.grey_3.svelte-1rmsu4j {
	color: #414141;
}
.grey_4.svelte-1rmsu4j {
	color: #323232;
}
.grey_5.svelte-1rmsu4j {
	color: #121212;
}
.black.svelte-1rmsu4j {
	color: #000;
}
.white.svelte-1rmsu4j {
	color: #fff;
}
.primary.svelte-1rmsu4j {
	color: #d3b39c;
}
.bggrey_0.svelte-1rmsu4j {
	background-color: #e5e5e5;
}
.bggrey_1.svelte-1rmsu4j {
	background-color: #b4b4b4;
}
.bggrey_2.svelte-1rmsu4j {
	background-color: #6c6c6c;
}
.bggrey_3.svelte-1rmsu4j {
	background-color: #414141;
}
.bggrey_4.svelte-1rmsu4j {
	background-color: #323232;
}
.bggrey_5.svelte-1rmsu4j {
	background-color: #121212;
}
.bgwhite.svelte-1rmsu4j {
	background-color: #fff;
}
.bgblack.svelte-1rmsu4j {
	background-color: #000;
}
.highlight.svelte-1rmsu4j {
	background-color: #d4b39c;
}
.fullfill.svelte-1rmsu4j {
	width: 100%;
	height: 100%;
}
.tar.svelte-1rmsu4j {
	text-align: right;
}
.tac.svelte-1rmsu4j {
	text-align: center;
}
.tal.svelte-1rmsu4j {
	text-align: left;
}
@keyframes svelte-1rmsu4j-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1rmsu4j-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1rmsu4j-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.namespace.svelte-1rmsu4j {
	opacity: 0.7;
}
.token.cdata.svelte-1rmsu4j,
.token.comment.svelte-1rmsu4j,
.token.doctype.svelte-1rmsu4j,
.token.prolog.svelte-1rmsu4j {
	color: #6c6c6c;
}
.token.punctuation.svelte-1rmsu4j {
	color: #6c6c6c;
}
.token.boolean.svelte-1rmsu4j,
.token.constant.svelte-1rmsu4j,
.token.deleted.svelte-1rmsu4j,
.token.number.svelte-1rmsu4j,
.token.property.svelte-1rmsu4j,
.token.symbol.svelte-1rmsu4j,
.token.tag.svelte-1rmsu4j {
	color: #e5e5e5;
}
.token.attr-name.svelte-1rmsu4j,
.token.builtin.svelte-1rmsu4j,
.token.char.svelte-1rmsu4j,
.token.inserted.svelte-1rmsu4j,
.token.selector.svelte-1rmsu4j,
.token.string.svelte-1rmsu4j {
	color: #e5e5e5;
}
.token.entity.svelte-1rmsu4j,
.token.operator.svelte-1rmsu4j,
.token.url.svelte-1rmsu4j {
	color: #d3b39c;
	background: #414141;
}
.token.atrule.svelte-1rmsu4j,
.token.attr-value.svelte-1rmsu4j,
.token.keyword.svelte-1rmsu4j {
	color: #b4b4b4;
}
.token.function.svelte-1rmsu4j {
	color: #4bddc4;
}
.token.important.svelte-1rmsu4j,
.token.regex.svelte-1rmsu4j,
.token.variable.svelte-1rmsu4j {
	color: #d3b39c;
}
.token.bold.svelte-1rmsu4j,
.token.important.svelte-1rmsu4j {
	font-weight: 700;
}
.token.italic.svelte-1rmsu4j {
	font-style: italic;
}
.token.entity.svelte-1rmsu4j {
	cursor: help;
}
.line-highlight.svelte-1rmsu4j {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em;
	background: #4c4b48;
	box-shadow: inset 5px 0 0 #f77ea2;
	z-index: 0;
	pointer-events: none;
	line-height: inherit;
	white-space: pre;
}
.svelte-1rmsu4j:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1rmsu4j::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.tachado.svelte-1rmsu4j {
	text-decoration: line-through;
}
.not-clickable.svelte-1rmsu4j {
	pointer-events: none;
}
.wrap-object-fit.svelte-1rmsu4j {
	height: inherit;
}
.object-fit.svelte-1rmsu4j {
	object-fit: cover;
	height: 100%;
}
.absolute.svelte-1rmsu4j {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.relative.svelte-1rmsu4j {
	position: relative;
	width: inherit;
}
blockquote.svelte-1rmsu4j {
	font-style: italic;
	font-size: 1rem;
	line-height: 28.8px;
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
}
.Blockquote_0.svelte-1rmsu4j {
	max-width: 75%;
}
.Blockquote_0.svelte-1rmsu4j span {
	color: #b4b4b4;
	font-size: 1rem;
	line-height: 28.8px;
	font-style: normal;
}
.Blockquote_1.svelte-1rmsu4j {
	display: grid;
	font-weight: 400;
	place-items: center;
	height: 100%;
	max-width: 80%;
}
@media (min-width: 769px) {
	.Blockquote_1.svelte-1rmsu4j {
		font-size: 1.618rem;
		line-height: 40.896px;
	}
}
.svelte-1j1j2e1.svelte-1j1j2e1,
.svelte-1j1j2e1.svelte-1j1j2e1:after,
.svelte-1j1j2e1.svelte-1j1j2e1:before {
	box-sizing: border-box;
}
div.svelte-1j1j2e1.svelte-1j1j2e1,
figure.svelte-1j1j2e1.svelte-1j1j2e1,
img.svelte-1j1j2e1.svelte-1j1j2e1 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
.grey_0.svelte-1j1j2e1.svelte-1j1j2e1 {
	color: #e5e5e5;
}
.grey_1.svelte-1j1j2e1.svelte-1j1j2e1 {
	color: #b4b4b4;
}
.grey_2.svelte-1j1j2e1.svelte-1j1j2e1 {
	color: #6c6c6c;
}
.grey_3.svelte-1j1j2e1.svelte-1j1j2e1 {
	color: #414141;
}
.grey_4.svelte-1j1j2e1.svelte-1j1j2e1 {
	color: #323232;
}
.grey_5.svelte-1j1j2e1.svelte-1j1j2e1 {
	color: #121212;
}
.black.svelte-1j1j2e1.svelte-1j1j2e1 {
	color: #000;
}
.white.svelte-1j1j2e1.svelte-1j1j2e1 {
	color: #fff;
}
.primary.svelte-1j1j2e1.svelte-1j1j2e1 {
	color: #d3b39c;
}
.bggrey_0.svelte-1j1j2e1.svelte-1j1j2e1 {
	background-color: #e5e5e5;
}
.bggrey_1.svelte-1j1j2e1.svelte-1j1j2e1 {
	background-color: #b4b4b4;
}
.bggrey_2.svelte-1j1j2e1.svelte-1j1j2e1 {
	background-color: #6c6c6c;
}
.bggrey_3.svelte-1j1j2e1.svelte-1j1j2e1 {
	background-color: #414141;
}
.bggrey_4.svelte-1j1j2e1.svelte-1j1j2e1 {
	background-color: #323232;
}
.bggrey_5.svelte-1j1j2e1.svelte-1j1j2e1 {
	background-color: #121212;
}
.bgwhite.svelte-1j1j2e1.svelte-1j1j2e1 {
	background-color: #fff;
}
.bgblack.svelte-1j1j2e1.svelte-1j1j2e1 {
	background-color: #000;
}
.highlight.svelte-1j1j2e1.svelte-1j1j2e1 {
	background-color: #d4b39c;
}
.fullfill.svelte-1j1j2e1.svelte-1j1j2e1 {
	width: 100%;
	height: 100%;
}
figcaption.svelte-1j1j2e1.svelte-1j1j2e1 {
	text-align: left;
}
.tar.svelte-1j1j2e1.svelte-1j1j2e1 {
	text-align: right;
}
.tac.svelte-1j1j2e1.svelte-1j1j2e1 {
	text-align: center;
}
.tal.svelte-1j1j2e1.svelte-1j1j2e1 {
	text-align: left;
}
@keyframes svelte-1j1j2e1-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1j1j2e1-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1j1j2e1-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.namespace.svelte-1j1j2e1.svelte-1j1j2e1 {
	opacity: 0.7;
}
.token.cdata.svelte-1j1j2e1.svelte-1j1j2e1,
.token.comment.svelte-1j1j2e1.svelte-1j1j2e1,
.token.doctype.svelte-1j1j2e1.svelte-1j1j2e1,
.token.prolog.svelte-1j1j2e1.svelte-1j1j2e1 {
	color: #6c6c6c;
}
.token.punctuation.svelte-1j1j2e1.svelte-1j1j2e1 {
	color: #6c6c6c;
}
.token.boolean.svelte-1j1j2e1.svelte-1j1j2e1,
.token.constant.svelte-1j1j2e1.svelte-1j1j2e1,
.token.deleted.svelte-1j1j2e1.svelte-1j1j2e1,
.token.number.svelte-1j1j2e1.svelte-1j1j2e1,
.token.property.svelte-1j1j2e1.svelte-1j1j2e1,
.token.symbol.svelte-1j1j2e1.svelte-1j1j2e1,
.token.tag.svelte-1j1j2e1.svelte-1j1j2e1 {
	color: #e5e5e5;
}
.token.attr-name.svelte-1j1j2e1.svelte-1j1j2e1,
.token.builtin.svelte-1j1j2e1.svelte-1j1j2e1,
.token.char.svelte-1j1j2e1.svelte-1j1j2e1,
.token.inserted.svelte-1j1j2e1.svelte-1j1j2e1,
.token.selector.svelte-1j1j2e1.svelte-1j1j2e1,
.token.string.svelte-1j1j2e1.svelte-1j1j2e1 {
	color: #e5e5e5;
}
.token.entity.svelte-1j1j2e1.svelte-1j1j2e1,
.token.operator.svelte-1j1j2e1.svelte-1j1j2e1,
.token.url.svelte-1j1j2e1.svelte-1j1j2e1 {
	color: #d3b39c;
	background: #414141;
}
.token.atrule.svelte-1j1j2e1.svelte-1j1j2e1,
.token.attr-value.svelte-1j1j2e1.svelte-1j1j2e1,
.token.keyword.svelte-1j1j2e1.svelte-1j1j2e1 {
	color: #b4b4b4;
}
.token.function.svelte-1j1j2e1.svelte-1j1j2e1 {
	color: #4bddc4;
}
.token.important.svelte-1j1j2e1.svelte-1j1j2e1,
.token.regex.svelte-1j1j2e1.svelte-1j1j2e1,
.token.variable.svelte-1j1j2e1.svelte-1j1j2e1 {
	color: #d3b39c;
}
.token.bold.svelte-1j1j2e1.svelte-1j1j2e1,
.token.important.svelte-1j1j2e1.svelte-1j1j2e1 {
	font-weight: 700;
}
.token.italic.svelte-1j1j2e1.svelte-1j1j2e1 {
	font-style: italic;
}
.token.entity.svelte-1j1j2e1.svelte-1j1j2e1 {
	cursor: help;
}
.line-highlight.svelte-1j1j2e1.svelte-1j1j2e1 {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em;
	background: #4c4b48;
	box-shadow: inset 5px 0 0 #f77ea2;
	z-index: 0;
	pointer-events: none;
	line-height: inherit;
	white-space: pre;
}
.svelte-1j1j2e1.svelte-1j1j2e1:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1j1j2e1.svelte-1j1j2e1::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
img.svelte-1j1j2e1.svelte-1j1j2e1 {
	max-width: 100%;
	height: auto;
}
.tachado.svelte-1j1j2e1.svelte-1j1j2e1 {
	text-decoration: line-through;
}
.not-clickable.svelte-1j1j2e1.svelte-1j1j2e1 {
	pointer-events: none;
}
.wrap-object-fit.svelte-1j1j2e1.svelte-1j1j2e1 {
	height: inherit;
}
.object-fit.svelte-1j1j2e1.svelte-1j1j2e1 {
	object-fit: cover;
	height: 100%;
}
.absolute.svelte-1j1j2e1.svelte-1j1j2e1 {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.relative.svelte-1j1j2e1.svelte-1j1j2e1 {
	position: relative;
	width: inherit;
}
.Img_0.svelte-1j1j2e1.svelte-1j1j2e1 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	max-width: 100%;
	min-height: 50vh;
}
.Img_1.svelte-1j1j2e1.svelte-1j1j2e1 {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.Img_2.svelte-1j1j2e1.svelte-1j1j2e1 {
	height: auto;
	position: relative;
}
.Img_2.svelte-1j1j2e1 figcaption.svelte-1j1j2e1 {
	font-size: 0.618rem;
	line-height: 17.7777777778px;
	position: absolute;
	left: 1.618rem;
	bottom: 1rem;
}
.Img_3.svelte-1j1j2e1.svelte-1j1j2e1 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	max-width: 100%;
	min-height: 50vh;
	border-left: 2.618rem solid #b4b4b4;
	border-top: 2.618rem solid #414141;
}
.Img_4.svelte-1j1j2e1.svelte-1j1j2e1 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	max-width: 100%;
	min-height: 50vh;
}
@media (min-width: 769px) {
	.Img_4.svelte-1j1j2e1.svelte-1j1j2e1 {
		border-bottom: 2.618rem solid #323232;
	}
}
.Img_5.svelte-1j1j2e1.svelte-1j1j2e1 {
	border-bottom: 2.618rem solid #323232;
	background-size: cover;
	min-height: 50vh;
}
