@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
.svelte-vx0w1e,
.svelte-vx0w1e:after,
.svelte-vx0w1e:before {
	box-sizing: border-box;
}
div.svelte-vx0w1e,
nav.svelte-vx0w1e,
ol.svelte-vx0w1e {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
nav.svelte-vx0w1e {
	display: block;
}
ol.svelte-vx0w1e,
ul.svelte-vx0w1e {
	list-style: none;
}
.bg_color_0.svelte-vx0w1e {
	background-color: #e5e5e5;
}
.bg_color_1.svelte-vx0w1e {
	background-color: #b4b4b4;
}
.bg_color_2.svelte-vx0w1e {
	background-color: #6c6c6c;
}
.bg_color_3.svelte-vx0w1e {
	background-color: #414141;
}
.bg_color_4.svelte-vx0w1e {
	background-color: #323232;
}
.bg_color_5.svelte-vx0w1e {
	background-color: #121212;
}
dl.svelte-vx0w1e,
ol.svelte-vx0w1e,
ul.svelte-vx0w1e {
	font-size: 1rem;
	line-height: 28.8px;
	margin-top: 1.618rem;
}
.align-right.svelte-vx0w1e {
	text-align: right;
}
.align-center.svelte-vx0w1e {
	text-align: center;
}
.align-left.svelte-vx0w1e {
	text-align: left;
}
@keyframes svelte-vx0w1e-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-vx0w1e-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-vx0w1e-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.namespace.svelte-vx0w1e {
	opacity: 0.7;
}
.token.cdata.svelte-vx0w1e,
.token.comment.svelte-vx0w1e,
.token.doctype.svelte-vx0w1e,
.token.prolog.svelte-vx0w1e {
	color: #6c6c6c;
}
.token.punctuation.svelte-vx0w1e {
	color: #6c6c6c;
}
.token.boolean.svelte-vx0w1e,
.token.constant.svelte-vx0w1e,
.token.deleted.svelte-vx0w1e,
.token.number.svelte-vx0w1e,
.token.property.svelte-vx0w1e,
.token.symbol.svelte-vx0w1e,
.token.tag.svelte-vx0w1e {
	color: #e5e5e5;
}
.token.attr-name.svelte-vx0w1e,
.token.builtin.svelte-vx0w1e,
.token.char.svelte-vx0w1e,
.token.inserted.svelte-vx0w1e,
.token.selector.svelte-vx0w1e,
.token.string.svelte-vx0w1e {
	color: #e5e5e5;
}
.token.entity.svelte-vx0w1e,
.token.operator.svelte-vx0w1e,
.token.url.svelte-vx0w1e {
	color: #d3b39c;
	background: #414141;
}
.token.atrule.svelte-vx0w1e,
.token.attr-value.svelte-vx0w1e,
.token.keyword.svelte-vx0w1e {
	color: #b4b4b4;
}
.token.function.svelte-vx0w1e {
	color: #4bddc4;
}
.token.important.svelte-vx0w1e,
.token.regex.svelte-vx0w1e,
.token.variable.svelte-vx0w1e {
	color: #d3b39c;
}
.token.bold.svelte-vx0w1e,
.token.important.svelte-vx0w1e {
	font-weight: 700;
}
.token.italic.svelte-vx0w1e {
	font-style: italic;
}
.token.entity.svelte-vx0w1e {
	cursor: help;
}
.line-highlight.svelte-vx0w1e {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em;
	background: #4c4b48;
	box-shadow: inset 5px 0 0 #f77ea2;
	z-index: 0;
	pointer-events: none;
	line-height: inherit;
	white-space: pre;
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-vx0w1e:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-vx0w1e::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.tachado.svelte-vx0w1e {
	text-decoration: line-through;
}
.not-clickable.svelte-vx0w1e {
	pointer-events: none;
}
.wrap-object-fit.svelte-vx0w1e {
	height: inherit;
}
.object-fit.svelte-vx0w1e {
	object-fit: cover;
	height: 100%;
}
.absolute.svelte-vx0w1e {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.relative.svelte-vx0w1e {
	position: relative;
	width: inherit;
}
ul {
	margin-top: 1rem;
}
@media (min-width: 1023px) {
	ul {
		max-width: 769px;
		margin-left: auto;
		margin-right: auto;
	}
}
li {
	text-align: left;
}
@media (min-width: 1400px) {
	li {
		font-size: 1.618rem;
		line-height: 40.896px;
	}
}
dt {
	font-weight: 700;
	margin-top: 1.618rem;
	margin-bottom: 0.618rem;
}
dd {
	margin-bottom: 0.618rem;
	margin-left: 1.618rem;
}
::marker {
	color: #d3b39c;
}
.List_0.svelte-vx0w1e {
	color: #000;
	text-align: left;
}
.List_1.svelte-vx0w1e {
	margin-top: 1rem;
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(5, 1fr);
	place-items: center;
	color: #6c6c6c;
}
.List_2.svelte-vx0w1e {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(90px, 0.25fr));
	margin-top: 1.618rem;
	place-content: center;
}
.List_2.svelte-vx0w1e a:nth-child(1) {
	border-left: 1px solid #414141;
}
.List_3.svelte-vx0w1e {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(90px, 0.25fr));
	place-content: center;
	background-color: #414141;
}
.List_3.svelte-vx0w1e a:nth-child(1) {
	border-left: 1px solid #414141;
}
.List_4.svelte-vx0w1e {
	display: grid;
	width: 100vw;
	min-height: 50vh;
	grid-template-columns: repeat(auto-fit, minmax(177px, 0.186fr));
	text-align: center;
	place-content: center;
	place-items: center;
}
@media (min-width: 1023px) {
	.List_4.svelte-vx0w1e {
		grid-template-columns: repeat(auto-fit, minmax(245px, 0.186fr));
	}
}
.List_5.svelte-vx0w1e {
	display: grid;
	place-items: center;
}
.List_6.svelte-vx0w1e {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	padding-left: 0.618rem;
}
@media (min-width: 769px) {
	.List_6.svelte-vx0w1e {
		padding-left: 0;
		height: 100%;
		grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
		grid-template-rows: auto auto;
	}
}
