@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
.svelte-1dfaotq.svelte-1dfaotq,
.svelte-1dfaotq.svelte-1dfaotq:after,
.svelte-1dfaotq.svelte-1dfaotq:before {
	box-sizing: border-box;
}
div.svelte-1dfaotq.svelte-1dfaotq {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
.bg_color_0.svelte-1dfaotq.svelte-1dfaotq {
	background-color: #e5e5e5;
}
.bg_color_1.svelte-1dfaotq.svelte-1dfaotq {
	background-color: #b4b4b4;
}
.bg_color_2.svelte-1dfaotq.svelte-1dfaotq {
	background-color: #6c6c6c;
}
.bg_color_3.svelte-1dfaotq.svelte-1dfaotq {
	background-color: #414141;
}
.bg_color_4.svelte-1dfaotq.svelte-1dfaotq {
	background-color: #323232;
}
.bg_color_5.svelte-1dfaotq.svelte-1dfaotq {
	background-color: #121212;
}
.align-right.svelte-1dfaotq.svelte-1dfaotq {
	text-align: right;
}
.align-center.svelte-1dfaotq.svelte-1dfaotq {
	text-align: center;
}
.align-left.svelte-1dfaotq.svelte-1dfaotq {
	text-align: left;
}
@keyframes svelte-1dfaotq-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1dfaotq-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1dfaotq-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.namespace.svelte-1dfaotq.svelte-1dfaotq {
	opacity: 0.7;
}
.token.cdata.svelte-1dfaotq.svelte-1dfaotq,
.token.comment.svelte-1dfaotq.svelte-1dfaotq,
.token.doctype.svelte-1dfaotq.svelte-1dfaotq,
.token.prolog.svelte-1dfaotq.svelte-1dfaotq {
	color: #6c6c6c;
}
.token.punctuation.svelte-1dfaotq.svelte-1dfaotq {
	color: #6c6c6c;
}
.token.boolean.svelte-1dfaotq.svelte-1dfaotq,
.token.constant.svelte-1dfaotq.svelte-1dfaotq,
.token.deleted.svelte-1dfaotq.svelte-1dfaotq,
.token.number.svelte-1dfaotq.svelte-1dfaotq,
.token.property.svelte-1dfaotq.svelte-1dfaotq,
.token.symbol.svelte-1dfaotq.svelte-1dfaotq,
.token.tag.svelte-1dfaotq.svelte-1dfaotq {
	color: #e5e5e5;
}
.token.attr-name.svelte-1dfaotq.svelte-1dfaotq,
.token.builtin.svelte-1dfaotq.svelte-1dfaotq,
.token.char.svelte-1dfaotq.svelte-1dfaotq,
.token.inserted.svelte-1dfaotq.svelte-1dfaotq,
.token.selector.svelte-1dfaotq.svelte-1dfaotq,
.token.string.svelte-1dfaotq.svelte-1dfaotq {
	color: #e5e5e5;
}
.token.entity.svelte-1dfaotq.svelte-1dfaotq,
.token.operator.svelte-1dfaotq.svelte-1dfaotq,
.token.url.svelte-1dfaotq.svelte-1dfaotq {
	color: #d3b39c;
	background: #414141;
}
.token.atrule.svelte-1dfaotq.svelte-1dfaotq,
.token.attr-value.svelte-1dfaotq.svelte-1dfaotq,
.token.keyword.svelte-1dfaotq.svelte-1dfaotq {
	color: #b4b4b4;
}
.token.function.svelte-1dfaotq.svelte-1dfaotq {
	color: #4bddc4;
}
.token.important.svelte-1dfaotq.svelte-1dfaotq,
.token.regex.svelte-1dfaotq.svelte-1dfaotq,
.token.variable.svelte-1dfaotq.svelte-1dfaotq {
	color: #d3b39c;
}
.token.bold.svelte-1dfaotq.svelte-1dfaotq,
.token.important.svelte-1dfaotq.svelte-1dfaotq {
	font-weight: 700;
}
.token.italic.svelte-1dfaotq.svelte-1dfaotq {
	font-style: italic;
}
.token.entity.svelte-1dfaotq.svelte-1dfaotq {
	cursor: help;
}
.line-highlight.svelte-1dfaotq.svelte-1dfaotq {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em;
	background: #4c4b48;
	box-shadow: inset 5px 0 0 #f77ea2;
	z-index: 0;
	pointer-events: none;
	line-height: inherit;
	white-space: pre;
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-1dfaotq.svelte-1dfaotq:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1dfaotq.svelte-1dfaotq::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.tachado.svelte-1dfaotq.svelte-1dfaotq {
	text-decoration: line-through;
}
.not-clickable.svelte-1dfaotq.svelte-1dfaotq {
	pointer-events: none;
}
.wrap-object-fit.svelte-1dfaotq.svelte-1dfaotq {
	height: inherit;
}
.object-fit.svelte-1dfaotq.svelte-1dfaotq {
	object-fit: cover;
	height: 100%;
}
.absolute.svelte-1dfaotq.svelte-1dfaotq {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.relative.svelte-1dfaotq.svelte-1dfaotq {
	position: relative;
	width: inherit;
}
.Grid_0.svelte-1dfaotq.svelte-1dfaotq {
	display: grid;
	min-height: 50vh;
	gap: 2.618rem;
	grid-template-areas: 'subarea0' 'subarea1' 'subarea2';
}
@media (min-width: 769px) {
	.Grid_0.svelte-1dfaotq.svelte-1dfaotq {
		grid-template-areas: 'subarea1 subarea0' 'subarea2 subarea0';
		grid-row-gap: 1.618rem;
	}
}
.Grid_0.svelte-1dfaotq .svelte-1dfaotq:nth-child(1) {
	grid-area: subarea1;
	align-self: end;
}
.Grid_0.svelte-1dfaotq .svelte-1dfaotq:nth-child(2) {
	grid-area: subarea0;
	display: flex;
	min-width: 40vw;
	max-height: 50vh;
}
.Grid_0.svelte-1dfaotq .svelte-1dfaotq:nth-child(3) {
	grid-area: subarea2;
	display: grid;
	align-self: start;
	place-content: center;
}
.Grid_1.svelte-1dfaotq.svelte-1dfaotq {
	display: grid;
	min-height: 50vh;
	gap: 2.618rem;
	grid-template-areas: 'subarea0' 'subarea1' 'subarea2';
}
@media (min-width: 769px) {
	.Grid_1.svelte-1dfaotq.svelte-1dfaotq {
		grid-row-gap: 1.618rem;
		grid-template-areas: 'subarea0 subarea1' 'subarea0 subarea2';
	}
}
.Grid_1.svelte-1dfaotq .svelte-1dfaotq:nth-child(1) {
	grid-area: subarea1;
	display: grid;
	align-self: end;
	text-align: center;
}
.Grid_1.svelte-1dfaotq .svelte-1dfaotq:nth-child(2) {
	grid-area: subarea0;
	min-width: 50vw;
	display: flex;
	min-width: 40vw;
	max-height: 50vh;
}
.Grid_1.svelte-1dfaotq .svelte-1dfaotq:nth-child(3) {
	grid-area: subarea2;
	display: grid;
	align-self: start;
	text-align: center;
}
.Grid_2.svelte-1dfaotq.svelte-1dfaotq {
	display: grid;
	min-height: 50vh;
	gap: 2.618rem;
	grid-template-areas: 'subarea0' 'subarea1' 'subarea2';
}
@media (min-width: 769px) {
	.Grid_2.svelte-1dfaotq.svelte-1dfaotq {
		grid-row-gap: 1.618rem;
		grid-template-areas: 'subarea0 subarea1' 'subarea0 subarea2';
		grid-template-rows: auto auto;
	}
}
.Grid_2.svelte-1dfaotq .svelte-1dfaotq:nth-child(1) {
	grid-area: subarea1;
	align-self: end;
}
.Grid_2.svelte-1dfaotq .svelte-1dfaotq:nth-child(2) {
	grid-area: subarea0;
	min-width: 50vw;
	display: flex;
	min-width: 40vw;
	max-height: 50vh;
}
.Grid_2.svelte-1dfaotq .svelte-1dfaotq:nth-child(3) {
	grid-area: subarea2;
	display: grid;
	align-self: start;
	place-content: center;
}
@media (min-width: 769px) {
	.Grid_2.svelte-1dfaotq .svelte-1dfaotq:nth-child(3) {
		place-content: start;
	}
}
.Grid_3.svelte-1dfaotq.svelte-1dfaotq {
	display: grid;
	min-height: 50vh;
	gap: 2.618rem;
	grid-template-areas: 'subarea0' 'subarea1' 'subarea2';
}
@media (min-width: 769px) {
	.Grid_3.svelte-1dfaotq.svelte-1dfaotq {
		grid-template-areas: 'subarea1 subarea0' 'subarea2 subarea2';
		grid-template-columns: 1fr 1.618fr;
	}
}
.Grid_3.svelte-1dfaotq .svelte-1dfaotq:nth-child(1) {
	grid-area: subarea1;
}
.Grid_3.svelte-1dfaotq .svelte-1dfaotq:nth-child(2) {
	grid-area: subarea0;
	min-width: 50vw;
}
.Grid_3.svelte-1dfaotq .svelte-1dfaotq:nth-child(3) {
	grid-area: subarea2;
	display: grid;
	place-content: center;
}
.Grid_4.svelte-1dfaotq.svelte-1dfaotq {
	display: grid;
	min-height: 50vh;
	gap: 1rem;
	grid-template-areas: 'subarea0' 'subarea1' 'subarea2';
	padding-bottom: 2.618rem;
}
@media (min-width: 769px) {
	.Grid_4.svelte-1dfaotq.svelte-1dfaotq {
		grid-row-gap: 1.618rem;
		padding-bottom: 0;
		grid-template-areas: 'subarea1 subarea0' 'subarea2 subarea0';
	}
}
.Grid_4.svelte-1dfaotq .svelte-1dfaotq:nth-child(1) {
	grid-area: subarea1;
	align-self: end;
	padding-left: 2.618rem;
	padding-top: 1.618rem;
}
.Grid_4.svelte-1dfaotq .svelte-1dfaotq:nth-child(2) {
	grid-area: subarea0;
	min-width: 50vw;
	background-color: #323232;
}
.Grid_4.svelte-1dfaotq .svelte-1dfaotq:nth-child(3) {
	grid-area: subarea2;
	display: grid;
	align-self: start;
	place-content: center;
	padding-right: 2.618rem;
	padding-left: 2.618rem;
}
.Grid_5.svelte-1dfaotq.svelte-1dfaotq {
	display: grid;
	min-height: 50vh;
	gap: 1.618rem;
	padding-bottom: 2.618rem;
	grid-template-areas: 'subarea0' 'subarea2' 'subarea1';
}
@media (min-width: 769px) {
	.Grid_5.svelte-1dfaotq.svelte-1dfaotq {
		padding-bottom: inherit;
		gap: 2.618rem;
		grid-template-areas: 'subarea0 subarea2' 'subarea0 subarea1';
		grid-template-rows: auto auto;
	}
}
.Grid_5.svelte-1dfaotq .svelte-1dfaotq:nth-child(1) {
	grid-area: subarea1;
	justify-self: center;
}
@media (min-width: 769px) {
	.Grid_5.svelte-1dfaotq .svelte-1dfaotq:nth-child(1) {
		justify-self: start;
		align-self: start;
	}
}
.Grid_5.svelte-1dfaotq .svelte-1dfaotq:nth-child(2) {
	grid-area: subarea0;
	min-width: 50vw;
	align-self: center;
}
.Grid_5.svelte-1dfaotq .svelte-1dfaotq:nth-child(3) {
	grid-area: subarea2;
	display: grid;
	margin-left: 2.618rem;
	margin-right: 2.618rem;
	padding-bottom: 1.618rem;
	text-align: center;
}
@media (min-width: 769px) {
	.Grid_5.svelte-1dfaotq .svelte-1dfaotq:nth-child(3) {
		text-align: inherit;
		padding-bottom: 0;
		margin-left: 0;
		align-self: end;
	}
}
.Grid_6.svelte-1dfaotq.svelte-1dfaotq {
	width: 100vw;
	max-height: 100vh;
	max-width: 100vw;
}
@media (min-width: 769px) {
	.Grid_6.svelte-1dfaotq.svelte-1dfaotq {
		height: 61.804697157vw;
		display: grid;
		grid-template-columns: 61.8% 9.02% 5.58% 23.6%;
		grid-template-rows: 61.8% 9.02% 5.58% 23.6%;
		grid-template-areas: 'A B B B' 'A E F C' 'A E G C' 'A D D C';
	}
}
.subarea.a.svelte-1dfaotq.svelte-1dfaotq {
	padding-top: 2.618rem;
	padding-bottom: 2.618rem;
}
@media (min-width: 769px) {
	.subarea.a.svelte-1dfaotq.svelte-1dfaotq {
		display: flex;
		justify-content: center;
		align-items: center;
		grid-area: A;
	}
	.subarea.b.svelte-1dfaotq.svelte-1dfaotq {
		grid-area: B;
	}
	.subarea.c.svelte-1dfaotq.svelte-1dfaotq {
		grid-area: C;
		border-top: 0.5px solid #414141;
		border-left: 0.5px solid #414141;
	}
	.subarea.d.svelte-1dfaotq.svelte-1dfaotq {
		grid-area: D;
		border-left: 0.5px solid #414141;
		border-top: 0.5px solid #414141;
	}
	.subarea.e.svelte-1dfaotq.svelte-1dfaotq {
		grid-area: E;
		font-size: 0.618rem;
		line-height: 17.7777777778px;
		border-top: 0.5px solid #414141;
		border-left: 0.5px solid #414141;
	}
	.subarea.f.svelte-1dfaotq.svelte-1dfaotq {
		grid-area: F;
		font-size: 0.618rem;
		line-height: 17.7777777778px;
		border-top: 0.5px solid #414141;
		border-left: 0.5px solid #414141;
	}
	.subarea.g.svelte-1dfaotq.svelte-1dfaotq {
		grid-area: G;
		font-size: 0.618rem;
		line-height: 17.7777777778px;
		border-top: 0.5px solid #414141;
		border-left: 0.5px solid #414141;
	}
}
.svelte-iweyq1,
.svelte-iweyq1:after,
.svelte-iweyq1:before {
	box-sizing: border-box;
}
a.svelte-iweyq1,
div.svelte-iweyq1,
li.svelte-iweyq1 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
.bg_color_0.svelte-iweyq1 {
	background-color: #e5e5e5;
}
.bg_color_1.svelte-iweyq1 {
	background-color: #b4b4b4;
}
.bg_color_2.svelte-iweyq1 {
	background-color: #6c6c6c;
}
.bg_color_3.svelte-iweyq1 {
	background-color: #414141;
}
.bg_color_4.svelte-iweyq1 {
	background-color: #323232;
}
.bg_color_5.svelte-iweyq1 {
	background-color: #121212;
}
.align-right.svelte-iweyq1 {
	text-align: right;
}
.align-center.svelte-iweyq1 {
	text-align: center;
}
.align-left.svelte-iweyq1 {
	text-align: left;
}
@keyframes svelte-iweyq1-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-iweyq1-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-iweyq1-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
a.svelte-iweyq1:hover {
	animation-name: svelte-iweyq1-fade;
	animation-duration: 0.3s;
}
.namespace.svelte-iweyq1 {
	opacity: 0.7;
}
.token.cdata.svelte-iweyq1,
.token.comment.svelte-iweyq1,
.token.doctype.svelte-iweyq1,
.token.prolog.svelte-iweyq1 {
	color: #6c6c6c;
}
.token.punctuation.svelte-iweyq1 {
	color: #6c6c6c;
}
.token.boolean.svelte-iweyq1,
.token.constant.svelte-iweyq1,
.token.deleted.svelte-iweyq1,
.token.number.svelte-iweyq1,
.token.property.svelte-iweyq1,
.token.symbol.svelte-iweyq1,
.token.tag.svelte-iweyq1 {
	color: #e5e5e5;
}
.token.attr-name.svelte-iweyq1,
.token.builtin.svelte-iweyq1,
.token.char.svelte-iweyq1,
.token.inserted.svelte-iweyq1,
.token.selector.svelte-iweyq1,
.token.string.svelte-iweyq1 {
	color: #e5e5e5;
}
.token.entity.svelte-iweyq1,
.token.operator.svelte-iweyq1,
.token.url.svelte-iweyq1 {
	color: #d3b39c;
	background: #414141;
}
.token.atrule.svelte-iweyq1,
.token.attr-value.svelte-iweyq1,
.token.keyword.svelte-iweyq1 {
	color: #b4b4b4;
}
.token.function.svelte-iweyq1 {
	color: #4bddc4;
}
.token.important.svelte-iweyq1,
.token.regex.svelte-iweyq1,
.token.variable.svelte-iweyq1 {
	color: #d3b39c;
}
.token.bold.svelte-iweyq1,
.token.important.svelte-iweyq1 {
	font-weight: 700;
}
.token.italic.svelte-iweyq1 {
	font-style: italic;
}
.token.entity.svelte-iweyq1 {
	cursor: help;
}
.line-highlight.svelte-iweyq1 {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em;
	background: #4c4b48;
	box-shadow: inset 5px 0 0 #f77ea2;
	z-index: 0;
	pointer-events: none;
	line-height: inherit;
	white-space: pre;
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-iweyq1:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-iweyq1::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.tachado.svelte-iweyq1 {
	text-decoration: line-through;
}
.not-clickable.svelte-iweyq1 {
	pointer-events: none;
}
.wrap-object-fit.svelte-iweyq1 {
	height: inherit;
}
.object-fit.svelte-iweyq1 {
	object-fit: cover;
	height: 100%;
}
.absolute.svelte-iweyq1 {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.relative.svelte-iweyq1 {
	position: relative;
	width: inherit;
}
a {
	font-size: 1rem;
	line-height: 28.8px;
}
li {
	margin-top: 1rem;
}
@media (min-width: 1023px) {
	li {
		max-width: 769px;
		margin-left: auto;
		margin-right: auto;
	}
}
.ListItem_0.svelte-iweyq1 {
	text-align: center;
	padding: 1rem;
	border-top: 1px solid #121212;
	border-right: 1px solid #121212;
	border-bottom: 1px solid #121212;
	font-size: 1rem;
	line-height: 28.8px;
	height: 100%;
	color: #323232;
}
.ListItem_0.svelte-iweyq1:hover {
	color: #fff;
	background-color: #323232;
}
.ListItem_1.svelte-iweyq1 {
	color: #b4b4b4;
	font-size: 1rem;
	line-height: 28.8px;
	border-top: 0.5px solid #414141;
	padding-top: 0.618rem;
	padding-bottom: 0.618rem;
	padding-right: 0.618rem;
}
.ListItem_1.svelte-iweyq1:hover {
	background-color: #000;
}
@media (min-width: 1023px) {
	.ListItem_1.svelte-iweyq1 {
		border-left: 0.5px solid #414141;
		padding-bottom: 0.618rem;
		padding-left: 0.618rem;
	}
}
.ListItem_2.svelte-iweyq1 {
	font-size: 1rem;
	line-height: 28.8px;
	font-style: italic;
	color: #d3b39c;
	align-self: start;
}
.ListItem_3.svelte-iweyq1 {
	color: #e5e5e5;
	align-self: start;
}
.ListItem_4.svelte-iweyq1 {
	font-size: 1rem;
	line-height: 28.8px;
	padding: 1rem;
	border: 1px solid #121212;
	color: #323232;
	align-self: start;
}
.ListItem_4.svelte-iweyq1:hover {
	color: #fff;
	background-color: #323232;
}
.ListItem_5.svelte-iweyq1 {
	font-size: 1rem;
	line-height: 28.8px;
	padding: 1rem;
	border-radius: 50%;
	border: 1px solid #121212;
	color: #323232;
	display: grid;
	place-items: center;
	width: 11.089rem;
	height: 11.089rem;
}
.ListItem_5.svelte-iweyq1:hover {
	color: #fff;
	background-color: #323232;
}
@media (min-width: 1023px) {
	.ListItem_5.svelte-iweyq1 {
		width: 15.325rem;
		height: 15.325rem;
	}
}
@media (min-width: 1400px) {
	.ListItem_5.svelte-iweyq1 {
		font-size: 1.618rem;
		line-height: 40.896px;
		width: 15.325rem;
		height: 15.325rem;
	}
}
.ListItem_6.svelte-iweyq1 {
	text-decoration: none;
	color: #6c6c6c;
	font-size: 1rem;
	line-height: 28.8px;
}
.ListItem_7.svelte-iweyq1 {
	font-size: 1rem;
	line-height: 28.8px;
	padding: 1rem;
	border-radius: 50%;
	border: 1px solid #e5e5e5;
	color: #e5e5e5;
	display: grid;
	place-items: center;
	place-content: center;
	width: 11.089rem;
	height: 11.089rem;
}
.ListItem_7.svelte-iweyq1 span {
	color: #d3b39c;
	font-size: 1rem;
	line-height: 28.8px;
}
.ListItem_7.svelte-iweyq1:hover {
	color: #fff;
	background-color: #323232;
}
@media (min-width: 1023px) {
	.ListItem_7.svelte-iweyq1 {
		width: 15.325rem;
		height: 15.325rem;
	}
}
@media (min-width: 1400px) {
	.ListItem_7.svelte-iweyq1 {
		font-size: 1.618rem;
		line-height: 40.896px;
		width: 15.325rem;
		height: 15.325rem;
	}
}
