@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
.svelte-pkth5g,
.svelte-pkth5g:after,
.svelte-pkth5g:before {
	box-sizing: border-box;
}
section.svelte-pkth5g {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
section.svelte-pkth5g {
	display: block;
}
@keyframes svelte-pkth5g-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-pkth5g-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-pkth5g-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-pkth5g:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-pkth5g::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.tachado.svelte-pkth5g {
	text-decoration: line-through;
}
.not-clickable.svelte-pkth5g {
	pointer-events: none;
}
.Section_0.svelte-pkth5g {
	padding: 2.618rem;
	min-height: 50vh;
	color: #110e08;
	background-color: #e5e5e5;
}
.Section_1.svelte-pkth5g {
	padding: 2.618rem;
	min-height: 50vh;
	color: #fff;
	background-color: #414141;
}
.Section_2.svelte-pkth5g {
	display: grid;
	place-content: center;
	color: #e5e5e5;
	background-color: #2a2929;
}
.Section_3.svelte-pkth5g {
	color: #000;
	background-color: #b4b4b4;
	padding: 0;
}
.Section_4.svelte-pkth5g {
	color: red;
	background-color: #fff;
	padding: 0;
}
