@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
#svelte-announcer.svelte-1j55zn5 {
	position: absolute;
	left: 0;
	top: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	overflow: hidden;
	white-space: nowrap;
	width: 1px;
	height: 1px;
}
*,
:after,
:before {
	box-sizing: border-box;
}
a,
b,
blockquote,
body,
canvas,
caption,
code,
div,
em,
embed,
fieldset,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
label,
li,
main,
nav,
object,
ol,
p,
pre,
section,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
footer,
header,
main,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input {
	-webkit-appearance: none;
	border-radius: 0;
}
.c_0 {
	color: #e5e5e5;
}
.c_1 {
	color: #b4b4b4;
}
.c_2 {
	color: #6c6c6c;
}
.c_3 {
	color: #414141;
}
.c_4 {
	color: #323232;
}
.c_5 {
	color: #121212;
}
.c_black {
	color: #000;
}
.c_white {
	color: #fff;
}
.c_primary {
	color: #d3b39c;
}
.bgc_0 {
	background-color: #e5e5e5;
}
.bgc_1 {
	background-color: #b4b4b4;
}
.bgc_2 {
	background-color: #6c6c6c;
}
.bgc_3 {
	background-color: #414141;
}
.bgc_4 {
	background-color: #323232;
}
.bgc_5 {
	background-color: #121212;
}
.bgwhite {
	background-color: #fff;
}
.bgblack {
	background-color: #000;
}
.bgc_primary {
	background-color: #d4b39c;
}
.fullfill {
	width: 100%;
	height: 100%;
}
svg {
	max-height: 90vh;
}
.p_0 {
	padding: 0;
}
.p_1 {
	padding: 1rem;
}
.p_2 {
	padding: 1.618rem;
}
.p_3 {
	padding: 2.618rem;
}
.p_4 {
	padding: 4.236rem;
}
.p_5 {
	padding: 6.854rem;
}
.pt_0 {
	padding-top: 0;
}
.pt_1 {
	padding-top: 1rem;
}
.pt_2 {
	padding-top: 1.618rem;
}
.pt_3 {
	padding-top: 2.618rem;
}
.pt_4 {
	padding-top: 4.236rem;
}
.pt_5 {
	padding-top: 6.854rem;
}
.pr_0 {
	padding-right: 0;
}
.pr_1 {
	padding-right: 1rem;
}
.pr_2 {
	padding-right: 1.618rem;
}
.pr_3 {
	padding-right: 2.618rem;
}
.pr_4 {
	padding-right: 4.236rem;
}
.pr_5 {
	padding-right: 6.854rem;
}
.pb_0 {
	padding-bottom: 0;
}
.pb_1 {
	padding-bottom: 1rem;
}
.pb_2 {
	padding-bottom: 1.618rem;
}
.pb_3 {
	padding-bottom: 2.618rem;
}
.pb_4 {
	padding-bottom: 4.236rem;
}
.pb_5 {
	padding-bottom: 6.854rem;
}
.pl_0 {
	padding-left: 0;
}
.pl_1 {
	padding-left: 1rem;
}
.pl_2 {
	padding-left: 1.618rem;
}
.pl_3 {
	padding-left: 2.618rem;
}
.pl_4 {
	padding-left: 4.236rem;
}
.pl_5 {
	padding-left: 6.854rem;
}
.dg {
	display: grid;
	grid-template-columns: repeat(13, 1fr);
	gap: 1px;
	background-color: #000;
}
.grid-1 {
	grid-column: span 1;
	color: #fff;
	background-color: red;
}
.grid-2 {
	grid-column: span 2;
	color: #fff;
	background-color: red;
}
.grid-3 {
	grid-column: span 3;
	color: #fff;
	background-color: red;
}
.grid-4 {
	grid-column: span 4;
	color: #fff;
	background-color: red;
}
.grid-5 {
	grid-column: span 5;
	color: #fff;
	background-color: red;
}
.grid-6 {
	grid-column: span 6;
	color: #fff;
	background-color: red;
}
.grid-7 {
	grid-column: span 7;
	color: #fff;
	background-color: red;
}
.grid-8 {
	grid-column: span 8;
	color: #fff;
	background-color: red;
}
.grid-9 {
	grid-column: span 9;
	color: #fff;
	background-color: red;
}
.grid-10 {
	grid-column: span 10;
	color: #fff;
	background-color: red;
}
.grid-11 {
	grid-column: span 11;
	color: #fff;
	background-color: red;
}
.grid-12 {
	grid-column: span 12;
	color: #fff;
	background-color: red;
}
.grid-13 {
	grid-column: span 13;
	color: #fff;
	background-color: red;
}
.gr {
	width: 100%;
}
.slot_1 {
	grid-area: __1;
}
.slot_2 {
	grid-area: __2;
}
.slot_3 {
	grid-area: __3;
}
.slot_4 {
	grid-area: __4;
}
.slot_5 {
	grid-area: __5;
}
.pic {
	height: 100%;
	place-items: center;
}
.pcc {
	height: 100%;
	place-content: center;
	align-content: space-evenly;
}
.gap_0 {
	gap: 0;
}
.gap_1 {
	gap: 1rem;
}
.gap_2 {
	gap: 1.618rem;
}
.gap_3 {
	gap: 2.618rem;
}
pre {
	width: 100%;
}
body,
header,
main,
small {
	font-family: Montserrat, sans-serif;
	letter-spacing: 0;
	font-weight: 500;
	color: #b4b4b4;
}
i {
	font-style: italic;
}
em {
	color: #6c6c6c;
	font-weight: 500;
}
strong {
	font-weight: 600;
}
dl,
ol,
ul {
	font-size: 1rem;
	line-height: 28.8px;
	margin-top: 1.618rem;
}
h1 {
	font-size: 1.618rem;
	line-height: 40.896px;
	font-weight: 700;
}
@media (min-width: 769px) {
	h1 {
		font-size: 1.618rem;
		line-height: 40.896px;
	}
}
h2 {
	font-weight: 500;
	font-size: 1rem;
	line-height: 28.8px;
}
h3,
h4 {
	font-size: 0.618rem;
	line-height: 17.7777777778px;
}
@media (min-width: 374px) {
	h3,
	h4 {
		font-size: 1rem;
		line-height: 28.8px;
	}
}
p {
	font-size: 1rem;
	line-height: 28.8px;
}
@media (min-width: 1800px) {
	p {
		font-size: 1.618rem;
		line-height: 40.896px;
	}
}
hgroup {
	margin-bottom: 1.618rem;
}
@media (min-width: 769px) {
	h4,
	p {
		max-width: 769px;
		margin-left: auto;
		margin-right: auto;
	}
}
sub {
	color: #121212;
	font-weight: 500;
	padding-left: 2px;
	padding-top: 0;
	font-size: 0.618rem;
	line-height: 17.7777777778px;
}
figcaption {
	text-align: left;
}
.tar {
	text-align: right;
}
.tac {
	text-align: center;
}
.tal {
	text-align: left;
}
input {
	border: none;
	font-family: inherit;
	font-size: 1rem;
	line-height: 28.8px;
	font-weight: inherit;
	color: #414141;
}
input[type='text'] {
	padding: 0.618rem;
	background-color: #e5e5e5;
}
input[type='number'] {
	color: #d3b39c;
	background-color: #d3b39c;
	padding: 0.618rem;
}
input[type='number']:focus {
	outline: 0;
}
input[type='range'] {
	-webkit-appearance: none;
	width: 100%;
}
input[type='range']:focus {
	outline: 0;
}
input[type='range']::-webkit-slider-runnable-track {
	width: 100%;
	height: 1px;
	cursor: pointer;
	background: #b4b4b4;
	border-radius: 0;
}
input[type='range']::-webkit-slider-thumb {
	height: 30px;
	width: 30px;
	border-radius: 50px;
	background: #b4b4b4;
	cursor: grab;
	-webkit-appearance: none;
	margin-top: -14.5px;
}
input[type='range']:focus::-webkit-slider-runnable-track {
	background: #4bddc4;
}
@keyframes fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
a:hover {
	animation-name: fade;
	animation-duration: 0.3s;
}
code[class*='language-'],
pre[class*='language-'] {
	color: #d3b39c;
	font-size: 1rem;
	line-height: 28.8px;
	text-shadow: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	tab-size: 4;
	hyphens: none;
}
code[class*='language-']::mozselection,
code[class*='language-']::selection,
pre[class*='language-']::mozselection,
pre[class*='language-']::selection {
	text-shadow: none;
	background: #d4b39c;
}
@media print {
	code[class*='language-'],
	pre[class*='language-'] {
		text-shadow: none;
	}
}
pre[class*='language-'] {
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
	background: #323232;
}
:not(pre) > code[class*='language-'] {
	padding: 0.1em 0.3em;
	border-radius: 0.3em;
	color: #fff;
	background: red;
}
.namespace {
	opacity: 0.7;
}
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
	color: #6c6c6c;
}
.token.punctuation {
	color: #6c6c6c;
}
.token.boolean,
.token.constant,
.token.deleted,
.token.number,
.token.property,
.token.symbol,
.token.tag {
	color: #e5e5e5;
}
.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string {
	color: #e5e5e5;
}
.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url {
	color: #d3b39c;
	background: #414141;
}
.token.atrule,
.token.attr-value,
.token.keyword {
	color: #b4b4b4;
}
.token.function {
	color: #4bddc4;
}
.token.important,
.token.regex,
.token.variable {
	color: #d3b39c;
}
.token.bold,
.token.important {
	font-weight: 700;
}
.token.italic {
	font-style: italic;
}
.token.entity {
	cursor: help;
}
pre[data-line] {
	position: relative;
}
pre[class*='language-'] > code[class*='language-'] {
	position: relative;
	z-index: 1;
}
.line-highlight {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em;
	background: #4c4b48;
	box-shadow: inset 5px 0 0 #f77ea2;
	z-index: 0;
	pointer-events: none;
	line-height: inherit;
	white-space: pre;
}
:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
body {
	background-color: #323232;
}
::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
img {
	max-width: 100%;
	height: auto;
}
.tachado {
	text-decoration: line-through;
}
.not-clickable {
	pointer-events: none;
}
video {
	width: 100%;
	object-fit: cover;
	height: -webkit-fill-available;
}
a > svg {
	display: flex;
	justify-content: center;
}
svg {
	width: 100%;
}
.wrap-object-fit {
	height: inherit;
}
.object-fit {
	object-fit: cover;
	height: 100%;
}
.absolute {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.relative {
	position: relative;
	width: inherit;
}
.dn {
	display: none;
}
.svelte-7hu05h.svelte-7hu05h,
.svelte-7hu05h.svelte-7hu05h:after,
.svelte-7hu05h.svelte-7hu05h:before {
	box-sizing: border-box;
}
svg.svelte-7hu05h.svelte-7hu05h {
	max-height: 90vh;
}
@keyframes svelte-7hu05h-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-7hu05h-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-7hu05h-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-7hu05h.svelte-7hu05h:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-7hu05h.svelte-7hu05h::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
svg.svelte-7hu05h.svelte-7hu05h {
	width: 100%;
}
svg.svelte-7hu05h.svelte-7hu05h {
	fill: #000;
}
svg.svelte-7hu05h.svelte-7hu05h:hover {
	fill: #fff;
}
svg.svelte-7hu05h:hover circle.svelte-7hu05h {
	stroke: #000;
}
circle.svelte-7hu05h.svelte-7hu05h {
	stroke: #b4b4b4;
}
.svelte-1h90iqo.svelte-1h90iqo,
.svelte-1h90iqo.svelte-1h90iqo:after,
.svelte-1h90iqo.svelte-1h90iqo:before {
	box-sizing: border-box;
}
a.svelte-1h90iqo.svelte-1h90iqo,
div.svelte-1h90iqo.svelte-1h90iqo,
nav.svelte-1h90iqo.svelte-1h90iqo {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
nav.svelte-1h90iqo.svelte-1h90iqo {
	display: block;
}
.c_0.svelte-1h90iqo.svelte-1h90iqo {
	color: #e5e5e5;
}
.c_1.svelte-1h90iqo.svelte-1h90iqo {
	color: #b4b4b4;
}
.c_2.svelte-1h90iqo.svelte-1h90iqo {
	color: #6c6c6c;
}
.c_3.svelte-1h90iqo.svelte-1h90iqo {
	color: #414141;
}
.c_4.svelte-1h90iqo.svelte-1h90iqo {
	color: #323232;
}
.c_5.svelte-1h90iqo.svelte-1h90iqo {
	color: #121212;
}
.c_black.svelte-1h90iqo.svelte-1h90iqo {
	color: #000;
}
.c_white.svelte-1h90iqo.svelte-1h90iqo {
	color: #fff;
}
.c_primary.svelte-1h90iqo.svelte-1h90iqo {
	color: #d3b39c;
}
.bgc_0.svelte-1h90iqo.svelte-1h90iqo {
	background-color: #e5e5e5;
}
.bgc_1.svelte-1h90iqo.svelte-1h90iqo {
	background-color: #b4b4b4;
}
.bgc_2.svelte-1h90iqo.svelte-1h90iqo {
	background-color: #6c6c6c;
}
.bgc_3.svelte-1h90iqo.svelte-1h90iqo {
	background-color: #414141;
}
.bgc_4.svelte-1h90iqo.svelte-1h90iqo {
	background-color: #323232;
}
.bgc_5.svelte-1h90iqo.svelte-1h90iqo {
	background-color: #121212;
}
.bgwhite.svelte-1h90iqo.svelte-1h90iqo {
	background-color: #fff;
}
.bgblack.svelte-1h90iqo.svelte-1h90iqo {
	background-color: #000;
}
.bgc_primary.svelte-1h90iqo.svelte-1h90iqo {
	background-color: #d4b39c;
}
.fullfill.svelte-1h90iqo.svelte-1h90iqo {
	width: 100%;
	height: 100%;
}
.p_0.svelte-1h90iqo.svelte-1h90iqo {
	padding: 0;
}
.p_1.svelte-1h90iqo.svelte-1h90iqo {
	padding: 1rem;
}
.p_2.svelte-1h90iqo.svelte-1h90iqo {
	padding: 1.618rem;
}
.p_3.svelte-1h90iqo.svelte-1h90iqo {
	padding: 2.618rem;
}
.p_4.svelte-1h90iqo.svelte-1h90iqo {
	padding: 4.236rem;
}
.p_5.svelte-1h90iqo.svelte-1h90iqo {
	padding: 6.854rem;
}
.pt_0.svelte-1h90iqo.svelte-1h90iqo {
	padding-top: 0;
}
.pt_1.svelte-1h90iqo.svelte-1h90iqo {
	padding-top: 1rem;
}
.pt_2.svelte-1h90iqo.svelte-1h90iqo {
	padding-top: 1.618rem;
}
.pt_3.svelte-1h90iqo.svelte-1h90iqo {
	padding-top: 2.618rem;
}
.pt_4.svelte-1h90iqo.svelte-1h90iqo {
	padding-top: 4.236rem;
}
.pt_5.svelte-1h90iqo.svelte-1h90iqo {
	padding-top: 6.854rem;
}
.pr_0.svelte-1h90iqo.svelte-1h90iqo {
	padding-right: 0;
}
.pr_1.svelte-1h90iqo.svelte-1h90iqo {
	padding-right: 1rem;
}
.pr_2.svelte-1h90iqo.svelte-1h90iqo {
	padding-right: 1.618rem;
}
.pr_3.svelte-1h90iqo.svelte-1h90iqo {
	padding-right: 2.618rem;
}
.pr_4.svelte-1h90iqo.svelte-1h90iqo {
	padding-right: 4.236rem;
}
.pr_5.svelte-1h90iqo.svelte-1h90iqo {
	padding-right: 6.854rem;
}
.pb_0.svelte-1h90iqo.svelte-1h90iqo {
	padding-bottom: 0;
}
.pb_1.svelte-1h90iqo.svelte-1h90iqo {
	padding-bottom: 1rem;
}
.pb_2.svelte-1h90iqo.svelte-1h90iqo {
	padding-bottom: 1.618rem;
}
.pb_3.svelte-1h90iqo.svelte-1h90iqo {
	padding-bottom: 2.618rem;
}
.pb_4.svelte-1h90iqo.svelte-1h90iqo {
	padding-bottom: 4.236rem;
}
.pb_5.svelte-1h90iqo.svelte-1h90iqo {
	padding-bottom: 6.854rem;
}
.pl_0.svelte-1h90iqo.svelte-1h90iqo {
	padding-left: 0;
}
.pl_1.svelte-1h90iqo.svelte-1h90iqo {
	padding-left: 1rem;
}
.pl_2.svelte-1h90iqo.svelte-1h90iqo {
	padding-left: 1.618rem;
}
.pl_3.svelte-1h90iqo.svelte-1h90iqo {
	padding-left: 2.618rem;
}
.pl_4.svelte-1h90iqo.svelte-1h90iqo {
	padding-left: 4.236rem;
}
.pl_5.svelte-1h90iqo.svelte-1h90iqo {
	padding-left: 6.854rem;
}
.dg.svelte-1h90iqo.svelte-1h90iqo {
	display: grid;
	grid-template-columns: repeat(13, 1fr);
	gap: 1px;
	background-color: #000;
}
.grid-1.svelte-1h90iqo.svelte-1h90iqo {
	grid-column: span 1;
	color: #fff;
	background-color: red;
}
.grid-2.svelte-1h90iqo.svelte-1h90iqo {
	grid-column: span 2;
	color: #fff;
	background-color: red;
}
.grid-3.svelte-1h90iqo.svelte-1h90iqo {
	grid-column: span 3;
	color: #fff;
	background-color: red;
}
.grid-4.svelte-1h90iqo.svelte-1h90iqo {
	grid-column: span 4;
	color: #fff;
	background-color: red;
}
.grid-5.svelte-1h90iqo.svelte-1h90iqo {
	grid-column: span 5;
	color: #fff;
	background-color: red;
}
.grid-6.svelte-1h90iqo.svelte-1h90iqo {
	grid-column: span 6;
	color: #fff;
	background-color: red;
}
.grid-7.svelte-1h90iqo.svelte-1h90iqo {
	grid-column: span 7;
	color: #fff;
	background-color: red;
}
.grid-8.svelte-1h90iqo.svelte-1h90iqo {
	grid-column: span 8;
	color: #fff;
	background-color: red;
}
.grid-9.svelte-1h90iqo.svelte-1h90iqo {
	grid-column: span 9;
	color: #fff;
	background-color: red;
}
.grid-10.svelte-1h90iqo.svelte-1h90iqo {
	grid-column: span 10;
	color: #fff;
	background-color: red;
}
.grid-11.svelte-1h90iqo.svelte-1h90iqo {
	grid-column: span 11;
	color: #fff;
	background-color: red;
}
.grid-12.svelte-1h90iqo.svelte-1h90iqo {
	grid-column: span 12;
	color: #fff;
	background-color: red;
}
.grid-13.svelte-1h90iqo.svelte-1h90iqo {
	grid-column: span 13;
	color: #fff;
	background-color: red;
}
.gr.svelte-1h90iqo.svelte-1h90iqo {
	width: 100%;
}
.slot_1.svelte-1h90iqo.svelte-1h90iqo {
	grid-area: __1;
}
.slot_2.svelte-1h90iqo.svelte-1h90iqo {
	grid-area: __2;
}
.slot_3.svelte-1h90iqo.svelte-1h90iqo {
	grid-area: __3;
}
.slot_4.svelte-1h90iqo.svelte-1h90iqo {
	grid-area: __4;
}
.slot_5.svelte-1h90iqo.svelte-1h90iqo {
	grid-area: __5;
}
.pic.svelte-1h90iqo.svelte-1h90iqo {
	height: 100%;
	place-items: center;
}
.pcc.svelte-1h90iqo.svelte-1h90iqo {
	height: 100%;
	place-content: center;
	align-content: space-evenly;
}
.gap_0.svelte-1h90iqo.svelte-1h90iqo {
	gap: 0;
}
.gap_1.svelte-1h90iqo.svelte-1h90iqo {
	gap: 1rem;
}
.gap_2.svelte-1h90iqo.svelte-1h90iqo {
	gap: 1.618rem;
}
.gap_3.svelte-1h90iqo.svelte-1h90iqo {
	gap: 2.618rem;
}
.tar.svelte-1h90iqo.svelte-1h90iqo {
	text-align: right;
}
.tac.svelte-1h90iqo.svelte-1h90iqo {
	text-align: center;
}
.tal.svelte-1h90iqo.svelte-1h90iqo {
	text-align: left;
}
@keyframes svelte-1h90iqo-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1h90iqo-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1h90iqo-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
a.svelte-1h90iqo.svelte-1h90iqo:hover {
	animation-name: svelte-1h90iqo-fade;
	animation-duration: 0.3s;
}
.namespace.svelte-1h90iqo.svelte-1h90iqo {
	opacity: 0.7;
}
.token.cdata.svelte-1h90iqo.svelte-1h90iqo,
.token.comment.svelte-1h90iqo.svelte-1h90iqo,
.token.doctype.svelte-1h90iqo.svelte-1h90iqo,
.token.prolog.svelte-1h90iqo.svelte-1h90iqo {
	color: #6c6c6c;
}
.token.punctuation.svelte-1h90iqo.svelte-1h90iqo {
	color: #6c6c6c;
}
.token.boolean.svelte-1h90iqo.svelte-1h90iqo,
.token.constant.svelte-1h90iqo.svelte-1h90iqo,
.token.deleted.svelte-1h90iqo.svelte-1h90iqo,
.token.number.svelte-1h90iqo.svelte-1h90iqo,
.token.property.svelte-1h90iqo.svelte-1h90iqo,
.token.symbol.svelte-1h90iqo.svelte-1h90iqo,
.token.tag.svelte-1h90iqo.svelte-1h90iqo {
	color: #e5e5e5;
}
.token.attr-name.svelte-1h90iqo.svelte-1h90iqo,
.token.builtin.svelte-1h90iqo.svelte-1h90iqo,
.token.char.svelte-1h90iqo.svelte-1h90iqo,
.token.inserted.svelte-1h90iqo.svelte-1h90iqo,
.token.selector.svelte-1h90iqo.svelte-1h90iqo,
.token.string.svelte-1h90iqo.svelte-1h90iqo {
	color: #e5e5e5;
}
.token.entity.svelte-1h90iqo.svelte-1h90iqo,
.token.operator.svelte-1h90iqo.svelte-1h90iqo,
.token.url.svelte-1h90iqo.svelte-1h90iqo {
	color: #d3b39c;
	background: #414141;
}
.token.atrule.svelte-1h90iqo.svelte-1h90iqo,
.token.attr-value.svelte-1h90iqo.svelte-1h90iqo,
.token.keyword.svelte-1h90iqo.svelte-1h90iqo {
	color: #b4b4b4;
}
.token.function.svelte-1h90iqo.svelte-1h90iqo {
	color: #4bddc4;
}
.token.important.svelte-1h90iqo.svelte-1h90iqo,
.token.regex.svelte-1h90iqo.svelte-1h90iqo,
.token.variable.svelte-1h90iqo.svelte-1h90iqo {
	color: #d3b39c;
}
.token.bold.svelte-1h90iqo.svelte-1h90iqo,
.token.important.svelte-1h90iqo.svelte-1h90iqo {
	font-weight: 700;
}
.token.italic.svelte-1h90iqo.svelte-1h90iqo {
	font-style: italic;
}
.token.entity.svelte-1h90iqo.svelte-1h90iqo {
	cursor: help;
}
.line-highlight.svelte-1h90iqo.svelte-1h90iqo {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em;
	background: #4c4b48;
	box-shadow: inset 5px 0 0 #f77ea2;
	z-index: 0;
	pointer-events: none;
	line-height: inherit;
	white-space: pre;
}
.svelte-1h90iqo.svelte-1h90iqo:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1h90iqo.svelte-1h90iqo::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.tachado.svelte-1h90iqo.svelte-1h90iqo {
	text-decoration: line-through;
}
.not-clickable.svelte-1h90iqo.svelte-1h90iqo {
	pointer-events: none;
}
.wrap-object-fit.svelte-1h90iqo.svelte-1h90iqo {
	height: inherit;
}
.object-fit.svelte-1h90iqo.svelte-1h90iqo {
	object-fit: cover;
	height: 100%;
}
.absolute.svelte-1h90iqo.svelte-1h90iqo {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.relative.svelte-1h90iqo.svelte-1h90iqo {
	position: relative;
	width: inherit;
}
.dn.svelte-1h90iqo.svelte-1h90iqo {
	display: none;
}
nav > a {
	color: #d3b39c;
	text-decoration: none;
}
.Variante_0.svelte-1h90iqo.svelte-1h90iqo {
	padding: 2.618rem;
	text-align: center;
}
.Variante_0.svelte-1h90iqo a.svelte-1h90iqo:hover {
	color: #000;
}
.Variante_0.svelte-1h90iqo .active.svelte-1h90iqo {
	background-color: #e5e5e5;
}
.Variante_1.svelte-1h90iqo .active.svelte-1h90iqo {
	background-color: transparent;
	color: #fff;
	font-weight: 700;
}
.Variante_1.svelte-1h90iqo .MainNav.svelte-1h90iqo {
	display: none;
	position: fixed;
	top: 5.236rem;
	left: 0;
	z-index: 500;
	list-style: none;
	padding-top: 1rem;
	padding-bottom: 0.618rem;
	font-size: 1.618rem;
	line-height: 40.896px;
	background-color: #000;
}
@media (min-width: 769px) {
	.Variante_1.svelte-1h90iqo .MainNav.svelte-1h90iqo {
		font-size: 1rem;
		line-height: 28.8px;
	}
}
.Variante_1.svelte-1h90iqo .NavItem.svelte-1h90iqo {
	text-decoration: none;
	user-select: none;
	padding: 0.618rem 1.618rem;
	display: block;
	border: none;
}
.Variante_1.svelte-1h90iqo .NavItem.svelte-1h90iqo:hover {
	color: #fff;
}
.Variante_1.svelte-1h90iqo .MainNavVisible.svelte-1h90iqo {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: column;
	animation-name: svelte-1h90iqo-slide;
	animation-duration: 0.3s;
}
.Variante_1.svelte-1h90iqo .ButtonNav.svelte-1h90iqo {
	position: fixed;
	z-index: 1000;
	top: 21px;
	left: 21px;
}
.Variante_1.svelte-1h90iqo .ButtonNav.svelte-1h90iqo:hover {
	cursor: pointer;
}
.svelte-1l1vboa,
.svelte-1l1vboa:after,
.svelte-1l1vboa:before {
	box-sizing: border-box;
}
small.svelte-1l1vboa {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
svg.svelte-1l1vboa {
	max-height: 90vh;
}
small.svelte-1l1vboa {
	font-family: Montserrat, sans-serif;
	letter-spacing: 0;
	font-weight: 500;
	color: #b4b4b4;
}
@keyframes svelte-1l1vboa-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1l1vboa-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1l1vboa-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-1l1vboa:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1l1vboa::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
svg.svelte-1l1vboa {
	width: 100%;
}
.Links.svelte-1l1vboa {
	display: grid;
	padding-top: 2.618rem;
	padding-bottom: 2.618rem;
	background-color: #323232;
	place-items: center;
	width: 100%;
}
@media (min-width: 1023px) {
	.Links.svelte-1l1vboa {
		padding-top: 4.236rem;
		padding-bottom: 4.236rem;
	}
}
footer.svelte-lti6kl {
	padding: 0;
	background-color: #f3f3f3;
}
