@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
#svelte-announcer.svelte-1j55zn5 {
	position: absolute;
	left: 0;
	top: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	overflow: hidden;
	white-space: nowrap;
	width: 1px;
	height: 1px;
}
*,
:after,
:before {
	box-sizing: border-box;
}
a,
b,
blockquote,
body,
canvas,
caption,
code,
div,
em,
embed,
fieldset,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
label,
li,
main,
nav,
object,
ol,
p,
pre,
section,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
footer,
header,
main,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input {
	-webkit-appearance: none;
	border-radius: 0;
}
.grey_0 {
	color: #e5e5e5;
}
.grey_1 {
	color: #b4b4b4;
}
.grey_2 {
	color: #6c6c6c;
}
.grey_3 {
	color: #414141;
}
.grey_4 {
	color: #323232;
}
.grey_5 {
	color: #121212;
}
.black {
	color: #000;
}
.white {
	color: #fff;
}
.primary {
	color: #d3b39c;
}
.bggrey_0 {
	background-color: #e5e5e5;
}
.bggrey_1 {
	background-color: #b4b4b4;
}
.bggrey_2 {
	background-color: #6c6c6c;
}
.bggrey_3 {
	background-color: #414141;
}
.bggrey_4 {
	background-color: #323232;
}
.bggrey_5 {
	background-color: #121212;
}
.bgwhite {
	background-color: #fff;
}
.bgblack {
	background-color: #000;
}
.highlight {
	background-color: #d4b39c;
}
.fullfill {
	width: 100%;
	height: 100%;
}
svg {
	max-height: 90vh;
}
pre {
	width: 100%;
}
body,
header,
main,
small {
	font-family: Montserrat, sans-serif;
	letter-spacing: 0;
	font-weight: 500;
	color: #b4b4b4;
}
i {
	font-style: italic;
}
em {
	color: #6c6c6c;
	font-weight: 500;
}
strong {
	font-weight: 600;
}
dl,
ol,
ul {
	font-size: 1rem;
	line-height: 28.8px;
	margin-top: 1.618rem;
}
h1 {
	font-size: 1.618rem;
	line-height: 40.896px;
	font-weight: 700;
}
@media (min-width: 769px) {
	h1 {
		font-size: 1.618rem;
		line-height: 40.896px;
	}
}
h2 {
	font-weight: 500;
	font-size: 1rem;
	line-height: 28.8px;
}
h3,
h4 {
	font-size: 0.618rem;
	line-height: 17.7777777778px;
}
@media (min-width: 374px) {
	h3,
	h4 {
		font-size: 1rem;
		line-height: 28.8px;
	}
}
p {
	font-size: 1rem;
	line-height: 28.8px;
}
@media (min-width: 1800px) {
	p {
		font-size: 1.618rem;
		line-height: 40.896px;
	}
}
hgroup {
	margin-bottom: 1.618rem;
}
@media (min-width: 769px) {
	h4,
	p {
		max-width: 769px;
		margin-left: auto;
		margin-right: auto;
	}
}
sub {
	color: #121212;
	font-weight: 500;
	padding-left: 2px;
	padding-top: 0;
	font-size: 0.618rem;
	line-height: 17.7777777778px;
}
figcaption {
	text-align: left;
}
.tar {
	text-align: right;
}
.tac {
	text-align: center;
}
.tal {
	text-align: left;
}
input {
	border: none;
	font-family: inherit;
	font-size: 1rem;
	line-height: 28.8px;
	font-weight: inherit;
	color: #414141;
}
input[type='text'] {
	padding: 0.618rem;
	background-color: #e5e5e5;
}
input[type='number'] {
	color: #d3b39c;
	background-color: #d3b39c;
	padding: 0.618rem;
}
input[type='number']:focus {
	outline: 0;
}
input[type='range'] {
	-webkit-appearance: none;
	width: 100%;
}
input[type='range']:focus {
	outline: 0;
}
input[type='range']::-webkit-slider-runnable-track {
	width: 100%;
	height: 1px;
	cursor: pointer;
	background: #b4b4b4;
	border-radius: 0;
}
input[type='range']::-webkit-slider-thumb {
	height: 30px;
	width: 30px;
	border-radius: 50px;
	background: #b4b4b4;
	cursor: grab;
	-webkit-appearance: none;
	margin-top: -14.5px;
}
input[type='range']:focus::-webkit-slider-runnable-track {
	background: #4bddc4;
}
@keyframes fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
a:hover {
	animation-name: fade;
	animation-duration: 0.3s;
}
code[class*='language-'],
pre[class*='language-'] {
	color: #d3b39c;
	font-size: 1rem;
	line-height: 28.8px;
	text-shadow: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	tab-size: 4;
	hyphens: none;
}
code[class*='language-']::mozselection,
code[class*='language-']::selection,
pre[class*='language-']::mozselection,
pre[class*='language-']::selection {
	text-shadow: none;
	background: #d4b39c;
}
@media print {
	code[class*='language-'],
	pre[class*='language-'] {
		text-shadow: none;
	}
}
pre[class*='language-'] {
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
	background: #323232;
}
:not(pre) > code[class*='language-'] {
	padding: 0.1em 0.3em;
	border-radius: 0.3em;
	color: #fff;
	background: red;
}
.namespace {
	opacity: 0.7;
}
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
	color: #6c6c6c;
}
.token.punctuation {
	color: #6c6c6c;
}
.token.boolean,
.token.constant,
.token.deleted,
.token.number,
.token.property,
.token.symbol,
.token.tag {
	color: #e5e5e5;
}
.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string {
	color: #e5e5e5;
}
.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url {
	color: #d3b39c;
	background: #414141;
}
.token.atrule,
.token.attr-value,
.token.keyword {
	color: #b4b4b4;
}
.token.function {
	color: #4bddc4;
}
.token.important,
.token.regex,
.token.variable {
	color: #d3b39c;
}
.token.bold,
.token.important {
	font-weight: 700;
}
.token.italic {
	font-style: italic;
}
.token.entity {
	cursor: help;
}
pre[data-line] {
	position: relative;
}
pre[class*='language-'] > code[class*='language-'] {
	position: relative;
	z-index: 1;
}
.line-highlight {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em;
	background: #4c4b48;
	box-shadow: inset 5px 0 0 #f77ea2;
	z-index: 0;
	pointer-events: none;
	line-height: inherit;
	white-space: pre;
}
:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
body {
	background-color: #323232;
}
::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
img {
	max-width: 100%;
	height: auto;
}
.tachado {
	text-decoration: line-through;
}
.not-clickable {
	pointer-events: none;
}
video {
	width: 100%;
	object-fit: cover;
	height: -webkit-fill-available;
}
a > svg {
	display: flex;
	justify-content: center;
}
svg {
	width: 100%;
}
.wrap-object-fit {
	height: inherit;
}
.object-fit {
	object-fit: cover;
	height: 100%;
}
.absolute {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.relative {
	position: relative;
	width: inherit;
}
.svelte-1sarock.svelte-1sarock,
.svelte-1sarock.svelte-1sarock:after,
.svelte-1sarock.svelte-1sarock:before {
	box-sizing: border-box;
}
svg.svelte-1sarock.svelte-1sarock {
	max-height: 90vh;
}
@keyframes svelte-1sarock-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1sarock-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1sarock-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-1sarock.svelte-1sarock:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1sarock.svelte-1sarock::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
svg.svelte-1sarock.svelte-1sarock {
	width: 100%;
}
svg.svelte-1sarock.svelte-1sarock {
	fill: #000;
}
svg.svelte-1sarock.svelte-1sarock:hover {
	fill: #fff;
}
svg.svelte-1sarock:hover circle.svelte-1sarock {
	stroke: #000;
}
circle.svelte-1sarock.svelte-1sarock {
	stroke: #b4b4b4;
}
.svelte-1h27k2l.svelte-1h27k2l,
.svelte-1h27k2l.svelte-1h27k2l:after,
.svelte-1h27k2l.svelte-1h27k2l:before {
	box-sizing: border-box;
}
a.svelte-1h27k2l.svelte-1h27k2l,
div.svelte-1h27k2l.svelte-1h27k2l,
nav.svelte-1h27k2l.svelte-1h27k2l {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
nav.svelte-1h27k2l.svelte-1h27k2l {
	display: block;
}
.grey_0.svelte-1h27k2l.svelte-1h27k2l {
	color: #e5e5e5;
}
.grey_1.svelte-1h27k2l.svelte-1h27k2l {
	color: #b4b4b4;
}
.grey_2.svelte-1h27k2l.svelte-1h27k2l {
	color: #6c6c6c;
}
.grey_3.svelte-1h27k2l.svelte-1h27k2l {
	color: #414141;
}
.grey_4.svelte-1h27k2l.svelte-1h27k2l {
	color: #323232;
}
.grey_5.svelte-1h27k2l.svelte-1h27k2l {
	color: #121212;
}
.black.svelte-1h27k2l.svelte-1h27k2l {
	color: #000;
}
.white.svelte-1h27k2l.svelte-1h27k2l {
	color: #fff;
}
.primary.svelte-1h27k2l.svelte-1h27k2l {
	color: #d3b39c;
}
.bggrey_0.svelte-1h27k2l.svelte-1h27k2l {
	background-color: #e5e5e5;
}
.bggrey_1.svelte-1h27k2l.svelte-1h27k2l {
	background-color: #b4b4b4;
}
.bggrey_2.svelte-1h27k2l.svelte-1h27k2l {
	background-color: #6c6c6c;
}
.bggrey_3.svelte-1h27k2l.svelte-1h27k2l {
	background-color: #414141;
}
.bggrey_4.svelte-1h27k2l.svelte-1h27k2l {
	background-color: #323232;
}
.bggrey_5.svelte-1h27k2l.svelte-1h27k2l {
	background-color: #121212;
}
.bgwhite.svelte-1h27k2l.svelte-1h27k2l {
	background-color: #fff;
}
.bgblack.svelte-1h27k2l.svelte-1h27k2l {
	background-color: #000;
}
.highlight.svelte-1h27k2l.svelte-1h27k2l {
	background-color: #d4b39c;
}
.fullfill.svelte-1h27k2l.svelte-1h27k2l {
	width: 100%;
	height: 100%;
}
.tar.svelte-1h27k2l.svelte-1h27k2l {
	text-align: right;
}
.tac.svelte-1h27k2l.svelte-1h27k2l {
	text-align: center;
}
.tal.svelte-1h27k2l.svelte-1h27k2l {
	text-align: left;
}
@keyframes svelte-1h27k2l-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1h27k2l-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1h27k2l-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
a.svelte-1h27k2l.svelte-1h27k2l:hover {
	animation-name: svelte-1h27k2l-fade;
	animation-duration: 0.3s;
}
.namespace.svelte-1h27k2l.svelte-1h27k2l {
	opacity: 0.7;
}
.token.cdata.svelte-1h27k2l.svelte-1h27k2l,
.token.comment.svelte-1h27k2l.svelte-1h27k2l,
.token.doctype.svelte-1h27k2l.svelte-1h27k2l,
.token.prolog.svelte-1h27k2l.svelte-1h27k2l {
	color: #6c6c6c;
}
.token.punctuation.svelte-1h27k2l.svelte-1h27k2l {
	color: #6c6c6c;
}
.token.boolean.svelte-1h27k2l.svelte-1h27k2l,
.token.constant.svelte-1h27k2l.svelte-1h27k2l,
.token.deleted.svelte-1h27k2l.svelte-1h27k2l,
.token.number.svelte-1h27k2l.svelte-1h27k2l,
.token.property.svelte-1h27k2l.svelte-1h27k2l,
.token.symbol.svelte-1h27k2l.svelte-1h27k2l,
.token.tag.svelte-1h27k2l.svelte-1h27k2l {
	color: #e5e5e5;
}
.token.attr-name.svelte-1h27k2l.svelte-1h27k2l,
.token.builtin.svelte-1h27k2l.svelte-1h27k2l,
.token.char.svelte-1h27k2l.svelte-1h27k2l,
.token.inserted.svelte-1h27k2l.svelte-1h27k2l,
.token.selector.svelte-1h27k2l.svelte-1h27k2l,
.token.string.svelte-1h27k2l.svelte-1h27k2l {
	color: #e5e5e5;
}
.token.entity.svelte-1h27k2l.svelte-1h27k2l,
.token.operator.svelte-1h27k2l.svelte-1h27k2l,
.token.url.svelte-1h27k2l.svelte-1h27k2l {
	color: #d3b39c;
	background: #414141;
}
.token.atrule.svelte-1h27k2l.svelte-1h27k2l,
.token.attr-value.svelte-1h27k2l.svelte-1h27k2l,
.token.keyword.svelte-1h27k2l.svelte-1h27k2l {
	color: #b4b4b4;
}
.token.function.svelte-1h27k2l.svelte-1h27k2l {
	color: #4bddc4;
}
.token.important.svelte-1h27k2l.svelte-1h27k2l,
.token.regex.svelte-1h27k2l.svelte-1h27k2l,
.token.variable.svelte-1h27k2l.svelte-1h27k2l {
	color: #d3b39c;
}
.token.bold.svelte-1h27k2l.svelte-1h27k2l,
.token.important.svelte-1h27k2l.svelte-1h27k2l {
	font-weight: 700;
}
.token.italic.svelte-1h27k2l.svelte-1h27k2l {
	font-style: italic;
}
.token.entity.svelte-1h27k2l.svelte-1h27k2l {
	cursor: help;
}
.line-highlight.svelte-1h27k2l.svelte-1h27k2l {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em;
	background: #4c4b48;
	box-shadow: inset 5px 0 0 #f77ea2;
	z-index: 0;
	pointer-events: none;
	line-height: inherit;
	white-space: pre;
}
.svelte-1h27k2l.svelte-1h27k2l:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1h27k2l.svelte-1h27k2l::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.tachado.svelte-1h27k2l.svelte-1h27k2l {
	text-decoration: line-through;
}
.not-clickable.svelte-1h27k2l.svelte-1h27k2l {
	pointer-events: none;
}
.wrap-object-fit.svelte-1h27k2l.svelte-1h27k2l {
	height: inherit;
}
.object-fit.svelte-1h27k2l.svelte-1h27k2l {
	object-fit: cover;
	height: 100%;
}
.absolute.svelte-1h27k2l.svelte-1h27k2l {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.relative.svelte-1h27k2l.svelte-1h27k2l {
	position: relative;
	width: inherit;
}
nav > a {
	color: #d3b39c;
	text-decoration: none;
}
.Variante_0.svelte-1h27k2l.svelte-1h27k2l {
	padding: 2.618rem;
	text-align: center;
}
.Variante_0.svelte-1h27k2l a.svelte-1h27k2l:hover {
	color: #000;
}
.Variante_0.svelte-1h27k2l .active.svelte-1h27k2l {
	background-color: #e5e5e5;
}
.Variante_1.svelte-1h27k2l .active.svelte-1h27k2l {
	background-color: transparent;
	color: #fff;
	font-weight: 700;
}
.Variante_1.svelte-1h27k2l .MainNav.svelte-1h27k2l {
	display: none;
	position: fixed;
	top: 5.236rem;
	left: 0;
	z-index: 500;
	list-style: none;
	padding-top: 1rem;
	padding-bottom: 0.618rem;
	font-size: 1.618rem;
	line-height: 40.896px;
	background-color: #000;
}
@media (min-width: 769px) {
	.Variante_1.svelte-1h27k2l .MainNav.svelte-1h27k2l {
		font-size: 1rem;
		line-height: 28.8px;
	}
}
.Variante_1.svelte-1h27k2l .NavItem.svelte-1h27k2l {
	text-decoration: none;
	user-select: none;
	padding: 0.618rem 1.618rem;
	display: block;
	border: none;
}
.Variante_1.svelte-1h27k2l .NavItem.svelte-1h27k2l:hover {
	color: #fff;
}
.Variante_1.svelte-1h27k2l .MainNavVisible.svelte-1h27k2l {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: column;
	animation-name: svelte-1h27k2l-slide;
	animation-duration: 0.3s;
}
.Variante_1.svelte-1h27k2l .ButtonNav.svelte-1h27k2l {
	position: fixed;
	z-index: 1000;
	top: 21px;
	left: 21px;
}
.Variante_1.svelte-1h27k2l .ButtonNav.svelte-1h27k2l:hover {
	cursor: pointer;
}
.svelte-ob1bf,
.svelte-ob1bf:after,
.svelte-ob1bf:before {
	box-sizing: border-box;
}
small.svelte-ob1bf {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
svg.svelte-ob1bf {
	max-height: 90vh;
}
small.svelte-ob1bf {
	font-family: Montserrat, sans-serif;
	letter-spacing: 0;
	font-weight: 500;
	color: #b4b4b4;
}
@keyframes svelte-ob1bf-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-ob1bf-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-ob1bf-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-ob1bf:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-ob1bf::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
svg.svelte-ob1bf {
	width: 100%;
}
.Links.svelte-ob1bf {
	display: grid;
	padding-top: 2.618rem;
	padding-bottom: 2.618rem;
	background-color: #323232;
	place-items: center;
	width: 100%;
}
@media (min-width: 1023px) {
	.Links.svelte-ob1bf {
		padding-top: 4.236rem;
		padding-bottom: 4.236rem;
	}
}
footer.svelte-lti6kl {
	padding: 0;
	background-color: #f3f3f3;
}
