@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
.svelte-xlu5uq,
.svelte-xlu5uq:after,
.svelte-xlu5uq:before {
	box-sizing: border-box;
}
div.svelte-xlu5uq,
p.svelte-xlu5uq,
span.svelte-xlu5uq {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
.c_0.svelte-xlu5uq {
	color: #e5e5e5;
}
.c_1.svelte-xlu5uq {
	color: #b4b4b4;
}
.c_2.svelte-xlu5uq {
	color: #6c6c6c;
}
.c_3.svelte-xlu5uq {
	color: #414141;
}
.c_4.svelte-xlu5uq {
	color: #323232;
}
.c_5.svelte-xlu5uq {
	color: #121212;
}
.c_black.svelte-xlu5uq {
	color: #000;
}
.c_white.svelte-xlu5uq {
	color: #fff;
}
.c_primary.svelte-xlu5uq {
	color: #d3b39c;
}
.bgc_0.svelte-xlu5uq {
	background-color: #e5e5e5;
}
.bgc_1.svelte-xlu5uq {
	background-color: #b4b4b4;
}
.bgc_2.svelte-xlu5uq {
	background-color: #6c6c6c;
}
.bgc_3.svelte-xlu5uq {
	background-color: #414141;
}
.bgc_4.svelte-xlu5uq {
	background-color: #323232;
}
.bgc_5.svelte-xlu5uq {
	background-color: #121212;
}
.bgwhite.svelte-xlu5uq {
	background-color: #fff;
}
.bgblack.svelte-xlu5uq {
	background-color: #000;
}
.bgc_primary.svelte-xlu5uq {
	background-color: #d4b39c;
}
.p_0.svelte-xlu5uq {
	padding: 0;
}
.p_1.svelte-xlu5uq {
	padding: 1rem;
}
.p_2.svelte-xlu5uq {
	padding: 1.618rem;
}
.p_3.svelte-xlu5uq {
	padding: 2.618rem;
}
.p_4.svelte-xlu5uq {
	padding: 4.236rem;
}
.p_5.svelte-xlu5uq {
	padding: 6.854rem;
}
.pt_0.svelte-xlu5uq {
	padding-top: 0;
}
.pt_1.svelte-xlu5uq {
	padding-top: 1rem;
}
.pt_2.svelte-xlu5uq {
	padding-top: 1.618rem;
}
.pt_3.svelte-xlu5uq {
	padding-top: 2.618rem;
}
.pt_4.svelte-xlu5uq {
	padding-top: 4.236rem;
}
.pt_5.svelte-xlu5uq {
	padding-top: 6.854rem;
}
.mt_-1.svelte-xlu5uq {
	margin-top: -1rem;
}
.mt_-2.svelte-xlu5uq {
	margin-top: -1.618rem;
}
.mt_-3.svelte-xlu5uq {
	margin-top: -2.618rem;
}
.mt_-4.svelte-xlu5uq {
	margin-top: -4.236rem;
}
.mt_-5.svelte-xlu5uq {
	margin-top: -6.854rem;
}
.pr_0.svelte-xlu5uq {
	padding-right: 0;
}
.pr_1.svelte-xlu5uq {
	padding-right: 1rem;
}
.pr_2.svelte-xlu5uq {
	padding-right: 1.618rem;
}
.pr_3.svelte-xlu5uq {
	padding-right: 2.618rem;
}
.pr_4.svelte-xlu5uq {
	padding-right: 4.236rem;
}
.pr_5.svelte-xlu5uq {
	padding-right: 6.854rem;
}
.pb_0.svelte-xlu5uq {
	padding-bottom: 0;
}
.pb_1.svelte-xlu5uq {
	padding-bottom: 1rem;
}
.pb_2.svelte-xlu5uq {
	padding-bottom: 1.618rem;
}
.pb_3.svelte-xlu5uq {
	padding-bottom: 2.618rem;
}
.pb_4.svelte-xlu5uq {
	padding-bottom: 4.236rem;
}
.pb_5.svelte-xlu5uq {
	padding-bottom: 6.854rem;
}
.pl_0.svelte-xlu5uq {
	padding-left: 0;
}
.pl_1.svelte-xlu5uq {
	padding-left: 1rem;
}
.pl_2.svelte-xlu5uq {
	padding-left: 1.618rem;
}
.pl_3.svelte-xlu5uq {
	padding-left: 2.618rem;
}
.pl_4.svelte-xlu5uq {
	padding-left: 4.236rem;
}
.pl_5.svelte-xlu5uq {
	padding-left: 6.854rem;
}
.mh_0.svelte-xlu5uq {
	min-height: 0;
}
.mh_1.svelte-xlu5uq {
	min-height: 10vh;
}
.mh_2.svelte-xlu5uq {
	min-height: 20vh;
}
.mh_3.svelte-xlu5uq {
	min-height: 30vh;
}
.mh_4.svelte-xlu5uq {
	min-height: 40vh;
}
.mh_5.svelte-xlu5uq {
	min-height: 50vh;
}
.mh_6.svelte-xlu5uq {
	min-height: 60vh;
}
.mh_7.svelte-xlu5uq {
	min-height: 70vh;
}
.mh_8.svelte-xlu5uq {
	min-height: 80vh;
}
.mh_9.svelte-xlu5uq {
	min-height: 90vh;
}
.mh_10.svelte-xlu5uq {
	min-height: 100vh;
}
@media (min-width: 769px) {
	.mh_s2_0.svelte-xlu5uq {
		min-height: 0;
	}
	.mh_s2_1.svelte-xlu5uq {
		min-height: 10vh;
	}
	.mh_s2_2.svelte-xlu5uq {
		min-height: 20vh;
	}
	.mh_s2_3.svelte-xlu5uq {
		min-height: 30vh;
	}
	.mh_s2_4.svelte-xlu5uq {
		min-height: 40vh;
	}
	.mh_s2_5.svelte-xlu5uq {
		min-height: 50vh;
	}
	.mh_s2_6.svelte-xlu5uq {
		min-height: 60vh;
	}
	.mh_s2_7.svelte-xlu5uq {
		min-height: 70vh;
	}
	.mh_s2_8.svelte-xlu5uq {
		min-height: 80vh;
	}
	.mh_s2_9.svelte-xlu5uq {
		min-height: 90vh;
	}
	.mh_s2_10.svelte-xlu5uq {
		min-height: 100vh;
	}
}
.mw_1.svelte-xlu5uq {
	max-width: 10%;
	margin-left: auto;
	margin-right: auto;
}
.mw_2.svelte-xlu5uq {
	max-width: 20%;
	margin-left: auto;
	margin-right: auto;
}
.mw_3.svelte-xlu5uq {
	max-width: 30%;
	margin-left: auto;
	margin-right: auto;
}
.mw_4.svelte-xlu5uq {
	max-width: 40%;
	margin-left: auto;
	margin-right: auto;
}
.mw_5.svelte-xlu5uq {
	max-width: 50%;
	margin-left: auto;
	margin-right: auto;
}
.mw_6.svelte-xlu5uq {
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
}
.mw_7.svelte-xlu5uq {
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
}
.mw_8.svelte-xlu5uq {
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.mw_9.svelte-xlu5uq {
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.mw_10.svelte-xlu5uq {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.fullfill.svelte-xlu5uq {
	width: 100%;
	height: 100%;
}
.dg_0.svelte-xlu5uq {
	display: grid;
}
.dg.svelte-xlu5uq {
	display: grid;
	grid-template-columns: repeat(13, 1fr);
}
.dg_12.svelte-xlu5uq {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}
.col_1.svelte-xlu5uq {
	grid-column: span 1;
}
.col_2.svelte-xlu5uq {
	grid-column: span 2;
}
.col_3.svelte-xlu5uq {
	grid-column: span 3;
}
.col_4.svelte-xlu5uq {
	grid-column: span 4;
}
.col_5.svelte-xlu5uq {
	grid-column: span 5;
}
.col_6.svelte-xlu5uq {
	grid-column: span 6;
}
.col_7.svelte-xlu5uq {
	grid-column: span 7;
}
.col_8.svelte-xlu5uq {
	grid-column: span 8;
}
.col_9.svelte-xlu5uq {
	grid-column: span 9;
}
.col_10.svelte-xlu5uq {
	grid-column: span 10;
}
.col_11.svelte-xlu5uq {
	grid-column: span 11;
}
.col_12.svelte-xlu5uq {
	grid-column: span 12;
}
.col_13.svelte-xlu5uq {
	grid-column: span 13;
}
@media (min-width: 769px) {
	.col_s2_1.svelte-xlu5uq {
		grid-column: span 1;
	}
	.col_s2_2.svelte-xlu5uq {
		grid-column: span 2;
	}
	.col_s2_3.svelte-xlu5uq {
		grid-column: span 3;
	}
	.col_s2_4.svelte-xlu5uq {
		grid-column: span 4;
	}
	.col_s2_5.svelte-xlu5uq {
		grid-column: span 5;
	}
	.col_s2_6.svelte-xlu5uq {
		grid-column: span 6;
	}
	.col_s2_7.svelte-xlu5uq {
		grid-column: span 7;
	}
	.col_s2_8.svelte-xlu5uq {
		grid-column: span 8;
	}
	.col_s2_9.svelte-xlu5uq {
		grid-column: span 9;
	}
	.col_s2_10.svelte-xlu5uq {
		grid-column: span 10;
	}
	.col_s2_11.svelte-xlu5uq {
		grid-column: span 11;
	}
	.col_s2_12.svelte-xlu5uq {
		grid-column: span 12;
	}
	.col_s2_13.svelte-xlu5uq {
		grid-column: span 13;
	}
}
@media (min-width: 1023px) {
	.col_s3_1.svelte-xlu5uq {
		grid-column: span 1;
	}
	.col_s3_2.svelte-xlu5uq {
		grid-column: span 2;
	}
	.col_s3_3.svelte-xlu5uq {
		grid-column: span 3;
	}
	.col_s3_4.svelte-xlu5uq {
		grid-column: span 4;
	}
	.col_s3_5.svelte-xlu5uq {
		grid-column: span 5;
	}
	.col_s3_6.svelte-xlu5uq {
		grid-column: span 6;
	}
	.col_s3_7.svelte-xlu5uq {
		grid-column: span 7;
	}
	.col_s3_8.svelte-xlu5uq {
		grid-column: span 8;
	}
	.col_s3_9.svelte-xlu5uq {
		grid-column: span 9;
	}
	.col_s3_10.svelte-xlu5uq {
		grid-column: span 10;
	}
	.col_s3_11.svelte-xlu5uq {
		grid-column: span 11;
	}
	.col_s3_12.svelte-xlu5uq {
		grid-column: span 12;
	}
	.col_s3_13.svelte-xlu5uq {
		grid-column: span 13;
	}
}
@media (min-width: 1400px) {
	.col_s4_1.svelte-xlu5uq {
		grid-column: span 1;
	}
	.col_s4_2.svelte-xlu5uq {
		grid-column: span 2;
	}
	.col_s4_3.svelte-xlu5uq {
		grid-column: span 3;
	}
	.col_s4_4.svelte-xlu5uq {
		grid-column: span 4;
	}
	.col_s4_5.svelte-xlu5uq {
		grid-column: span 5;
	}
	.col_s4_6.svelte-xlu5uq {
		grid-column: span 6;
	}
	.col_s4_7.svelte-xlu5uq {
		grid-column: span 7;
	}
	.col_s4_8.svelte-xlu5uq {
		grid-column: span 8;
	}
	.col_s4_9.svelte-xlu5uq {
		grid-column: span 9;
	}
	.col_s4_10.svelte-xlu5uq {
		grid-column: span 10;
	}
	.col_s4_11.svelte-xlu5uq {
		grid-column: span 11;
	}
	.col_s4_12.svelte-xlu5uq {
		grid-column: span 12;
	}
	.col_s4_13.svelte-xlu5uq {
		grid-column: span 13;
	}
}
.slot_1.svelte-xlu5uq {
	grid-area: __1;
}
.slot_2.svelte-xlu5uq {
	grid-area: __2;
}
.slot_3.svelte-xlu5uq {
	grid-area: __3;
}
.slot_4.svelte-xlu5uq {
	grid-area: __4;
}
.slot_5.svelte-xlu5uq {
	grid-area: __5;
}
.pic.svelte-xlu5uq {
	height: 100%;
	place-items: center;
}
.pcc.svelte-xlu5uq {
	height: 100%;
	place-content: center;
	align-content: space-evenly;
}
.pcc_0.svelte-xlu5uq {
	height: 100%;
	place-content: center;
}
.gap_0.svelte-xlu5uq {
	gap: 0;
}
.gap_1.svelte-xlu5uq {
	gap: 1rem;
}
.gap_2.svelte-xlu5uq {
	gap: 1.618rem;
}
.gap_3.svelte-xlu5uq {
	gap: 2.618rem;
}
.rg_1.svelte-xlu5uq {
	row-gap: 1.618rem;
}
.rg_2.svelte-xlu5uq {
	row-gap: 2.618rem;
}
.rg_3.svelte-xlu5uq {
	row-gap: 4.236rem;
}
.rg_4.svelte-xlu5uq {
	row-gap: 6.854rem;
}
.rg_5.svelte-xlu5uq {
	row-gap: 11.089rem;
}
.rg_-1.svelte-xlu5uq {
	row-gap: 0.618rem;
}
.cg_1.svelte-xlu5uq {
	column-gap: 1.618rem;
}
.cg_2.svelte-xlu5uq {
	column-gap: 2.618rem;
}
.cg_3.svelte-xlu5uq {
	column-gap: 4.236rem;
}
.cg_4.svelte-xlu5uq {
	column-gap: 6.854rem;
}
.cg_5.svelte-xlu5uq {
	column-gap: 11.089rem;
}
@media (min-width: 769px) {
	.cg_s2_1.svelte-xlu5uq {
		column-gap: 1.618rem;
	}
	.cg_s2_2.svelte-xlu5uq {
		column-gap: 2.618rem;
	}
	.cg_s2_3.svelte-xlu5uq {
		column-gap: 4.236rem;
	}
	.cg_s2_4.svelte-xlu5uq {
		column-gap: 6.854rem;
	}
	.cg_s2_5.svelte-xlu5uq {
		column-gap: 11.089rem;
	}
}
.oh.svelte-xlu5uq {
	overflow: hidden;
}
p.svelte-xlu5uq {
	font-size: 1rem;
	line-height: 28.8px;
}
@media (min-width: 1800px) {
	p.svelte-xlu5uq {
		font-size: 1.618rem;
		line-height: 40.896px;
	}
}
@media (min-width: 769px) {
	p.svelte-xlu5uq {
		max-width: 769px;
		margin-left: auto;
		margin-right: auto;
	}
}
.tar.svelte-xlu5uq {
	text-align: right;
}
.tac.svelte-xlu5uq {
	text-align: center;
}
.tal.svelte-xlu5uq {
	text-align: left;
}
@keyframes svelte-xlu5uq-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-xlu5uq-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-xlu5uq-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.namespace.svelte-xlu5uq {
	opacity: 0.7;
}
.token.cdata.svelte-xlu5uq,
.token.comment.svelte-xlu5uq,
.token.doctype.svelte-xlu5uq,
.token.prolog.svelte-xlu5uq {
	color: #93a1a1;
}
.token.punctuation.svelte-xlu5uq {
	color: #999;
}
.token.boolean.svelte-xlu5uq,
.token.constant.svelte-xlu5uq,
.token.deleted.svelte-xlu5uq,
.token.number.svelte-xlu5uq,
.token.property.svelte-xlu5uq,
.token.symbol.svelte-xlu5uq,
.token.tag.svelte-xlu5uq {
	color: #905;
}
.token.attr-name.svelte-xlu5uq,
.token.builtin.svelte-xlu5uq,
.token.char.svelte-xlu5uq,
.token.inserted.svelte-xlu5uq,
.token.selector.svelte-xlu5uq,
.token.string.svelte-xlu5uq {
	color: #690;
}
.token.entity.svelte-xlu5uq,
.token.operator.svelte-xlu5uq,
.token.url.svelte-xlu5uq {
	color: #a67f59;
	background: #fff;
}
.token.atrule.svelte-xlu5uq,
.token.attr-value.svelte-xlu5uq,
.token.keyword.svelte-xlu5uq {
	color: #07a;
}
.token.function.svelte-xlu5uq {
	color: #dd4a68;
}
.token.important.svelte-xlu5uq,
.token.regex.svelte-xlu5uq,
.token.variable.svelte-xlu5uq {
	color: #e90;
}
.token.bold.svelte-xlu5uq,
.token.important.svelte-xlu5uq {
	font-weight: 700;
}
.token.italic.svelte-xlu5uq {
	font-style: italic;
}
.token.entity.svelte-xlu5uq {
	cursor: help;
}
.line-highlight.svelte-xlu5uq {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em;
	background: #f7ebc6;
	box-shadow: inset 5px 0 0 #f7d87c;
	z-index: 0;
	pointer-events: none;
	line-height: inherit;
	white-space: pre;
}
.svelte-xlu5uq:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-xlu5uq::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.tachado.svelte-xlu5uq {
	text-decoration: line-through;
}
.not-clickable.svelte-xlu5uq {
	pointer-events: none;
}
.wrap-object-fit.svelte-xlu5uq {
	height: inherit;
}
.object-fit.svelte-xlu5uq {
	object-fit: cover;
	height: 100%;
}
.absolute.svelte-xlu5uq {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.relative.svelte-xlu5uq {
	position: relative;
	width: inherit;
}
.dn.svelte-xlu5uq {
	display: none;
}
.active.svelte-xlu5uq {
	color: #000;
	background-color: #e5e5e5;
	width: 100%;
}
span.svelte-xlu5uq {
	text-align: center;
	width: 100%;
}
