@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
.svelte-139nqg1,
.svelte-139nqg1:after,
.svelte-139nqg1:before {
	box-sizing: border-box;
}
section.svelte-139nqg1 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
section.svelte-139nqg1 {
	display: block;
}
.bg_color_0.svelte-139nqg1 {
	background-color: #e5e5e5;
}
.bg_color_1.svelte-139nqg1 {
	background-color: #b4b4b4;
}
.bg_color_2.svelte-139nqg1 {
	background-color: #6c6c6c;
}
.bg_color_3.svelte-139nqg1 {
	background-color: #414141;
}
.bg_color_4.svelte-139nqg1 {
	background-color: #323232;
}
.bg_color_5.svelte-139nqg1 {
	background-color: #2d2d2d;
}
.align-right.svelte-139nqg1 {
	text-align: right;
}
.align-center.svelte-139nqg1 {
	text-align: center;
}
.align-left.svelte-139nqg1 {
	text-align: left;
}
@keyframes svelte-139nqg1-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-139nqg1-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-139nqg1-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.namespace.svelte-139nqg1 {
	opacity: 0.7;
}
.token.cdata.svelte-139nqg1,
.token.comment.svelte-139nqg1,
.token.doctype.svelte-139nqg1,
.token.prolog.svelte-139nqg1 {
	color: #6c6c6c;
}
.token.punctuation.svelte-139nqg1 {
	color: #6c6c6c;
}
.token.boolean.svelte-139nqg1,
.token.constant.svelte-139nqg1,
.token.deleted.svelte-139nqg1,
.token.number.svelte-139nqg1,
.token.property.svelte-139nqg1,
.token.symbol.svelte-139nqg1,
.token.tag.svelte-139nqg1 {
	color: #e5e5e5;
}
.token.attr-name.svelte-139nqg1,
.token.builtin.svelte-139nqg1,
.token.char.svelte-139nqg1,
.token.inserted.svelte-139nqg1,
.token.selector.svelte-139nqg1,
.token.string.svelte-139nqg1 {
	color: #e5e5e5;
}
.token.entity.svelte-139nqg1,
.token.operator.svelte-139nqg1,
.token.url.svelte-139nqg1 {
	color: #d3b39c;
	background: #414141;
}
.token.atrule.svelte-139nqg1,
.token.attr-value.svelte-139nqg1,
.token.keyword.svelte-139nqg1 {
	color: #b4b4b4;
}
.token.function.svelte-139nqg1 {
	color: #4bddc4;
}
.token.important.svelte-139nqg1,
.token.regex.svelte-139nqg1,
.token.variable.svelte-139nqg1 {
	color: #d3b39c;
}
.token.bold.svelte-139nqg1,
.token.important.svelte-139nqg1 {
	font-weight: 700;
}
.token.italic.svelte-139nqg1 {
	font-style: italic;
}
.token.entity.svelte-139nqg1 {
	cursor: help;
}
.line-highlight.svelte-139nqg1 {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em;
	background: #4c4b48;
	box-shadow: inset 5px 0 0 #f77ea2;
	z-index: 0;
	pointer-events: none;
	line-height: inherit;
	white-space: pre;
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-139nqg1:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-139nqg1::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.tachado.svelte-139nqg1 {
	text-decoration: line-through;
}
.not-clickable.svelte-139nqg1 {
	pointer-events: none;
}
.wrap-object-fit.svelte-139nqg1 {
	height: inherit;
}
.object-fit.svelte-139nqg1 {
	object-fit: cover;
	height: 100%;
}
.absolute.svelte-139nqg1 {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.relative.svelte-139nqg1 {
	position: relative;
	width: inherit;
}
.Section_0.svelte-139nqg1 {
	padding: 2.618rem;
	min-height: 50vh;
	color: #2d2d2d;
	background-color: #e5e5e5;
}
.Section_1.svelte-139nqg1 {
	padding: 2.618rem;
	min-height: 50vh;
	color: #fff;
	background-color: #414141;
}
.Section_2.svelte-139nqg1 {
	display: grid;
	place-content: center;
	color: #e5e5e5;
	background-color: #323232;
}
.Section_3.svelte-139nqg1 {
	color: #000;
	background-color: #b4b4b4;
	padding: 0;
}
.Section_4.svelte-139nqg1 {
	color: #2d2d2d;
	background-color: #b4b4b4;
	padding: 2.618rem;
}
.Section_5.svelte-139nqg1 {
	min-height: 50vh;
	color: #2d2d2d;
	background-color: #fff;
}
.Section_6.svelte-139nqg1 {
	padding: 2.618rem;
	min-height: 50vh;
	color: #2d2d2d;
	background-color: #fff;
}
.svelte-1lumz3z,
.svelte-1lumz3z:after,
.svelte-1lumz3z:before {
	box-sizing: border-box;
}
div.svelte-1lumz3z,
figure.svelte-1lumz3z,
img.svelte-1lumz3z,
p.svelte-1lumz3z,
span.svelte-1lumz3z {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
p.svelte-1lumz3z {
	font-size: 1rem;
	line-height: 28.8px;
}
@media (min-width: 769px) {
	p.svelte-1lumz3z {
		max-width: 769px;
		margin-left: auto;
		margin-right: auto;
	}
}
figcaption.svelte-1lumz3z {
	text-align: left;
}
@keyframes svelte-1lumz3z-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1lumz3z-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1lumz3z-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-1lumz3z:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1lumz3z::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
img.svelte-1lumz3z {
	max-width: 100%;
	height: auto;
}
figcaption.svelte-1lumz3z {
	padding-top: 1rem;
	text-align: center;
}
.active.svelte-1lumz3z {
	color: #000;
	background-color: #fff;
	width: 100%;
}
span.svelte-1lumz3z {
	text-align: center;
	width: 100%;
}
