@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
.svelte-sxsvy1,
.svelte-sxsvy1:after,
.svelte-sxsvy1:before {
	box-sizing: border-box;
}
div.svelte-sxsvy1,
img.svelte-sxsvy1 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-sxsvy1-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-sxsvy1-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-sxsvy1-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-sxsvy1:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-sxsvy1::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
img.svelte-sxsvy1 {
	max-width: 100%;
	height: auto;
}
.Slide.svelte-sxsvy1 {
	position: relative;
	text-align: center;
	grid-area: slide;
	padding-top: 1.618rem;
	overflow-y: auto;
}
.numbertext.svelte-sxsvy1 {
	color: #6c6c6c;
	position: absolute;
	top: 1.618rem;
	left: 1.618rem;
}
img.svelte-sxsvy1 {
	width: 90%;
	border-radius: 50%;
}
@media (min-width: 769px) {
	img.svelte-sxsvy1 {
		width: auto;
		max-height: 90vh;
	}
}
.svelte-1apwds9,
.svelte-1apwds9:after,
.svelte-1apwds9:before {
	box-sizing: border-box;
}
img.svelte-1apwds9 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-1apwds9-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1apwds9-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1apwds9-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-1apwds9:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1apwds9::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
img.svelte-1apwds9 {
	max-width: 100%;
	height: auto;
}
.sample.svelte-1apwds9 {
	opacity: 0.4;
}
.sample.svelte-1apwds9:hover {
	opacity: 1;
}
img.svelte-1apwds9 {
	padding: 0.618rem;
	border-radius: 50%;
	transition: all 0.1s ease-in-out;
}
.cursor.svelte-1apwds9 {
	cursor: pointer;
}
.active.svelte-1apwds9 {
	opacity: 1;
	border: 1px dotted #323232;
}
.svelte-1rbbar7,
.svelte-1rbbar7:after,
.svelte-1rbbar7:before {
	box-sizing: border-box;
}
a.svelte-1rbbar7,
div.svelte-1rbbar7,
p.svelte-1rbbar7 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
p.svelte-1rbbar7 {
	font-size: 1rem;
	line-height: 28.8px;
}
@media (min-width: 1800px) {
	p.svelte-1rbbar7 {
		font-size: 1.618rem;
		line-height: 40.896px;
	}
}
@media (min-width: 769px) {
	p.svelte-1rbbar7 {
		max-width: 769px;
		margin-left: auto;
		margin-right: auto;
	}
}
@keyframes svelte-1rbbar7-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1rbbar7-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1rbbar7-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
a.svelte-1rbbar7:hover {
	animation-name: svelte-1rbbar7-fade;
	animation-duration: 0.3s;
}
.svelte-1rbbar7:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1rbbar7::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.caption-container.svelte-1rbbar7 {
	grid-area: captio;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	color: #b4b4b4;
	background-color: #323232;
	align-self: start;
}
.next.svelte-1rbbar7,
.prev.svelte-1rbbar7 {
	cursor: pointer;
	width: auto;
	padding: 1rem;
	margin-top: 0;
	color: #6c6c6c;
	font-size: 1.618rem;
	line-height: 40.896px;
	user-select: none;
	text-decoration: none;
}
.next.svelte-1rbbar7:hover,
.prev.svelte-1rbbar7:hover {
	color: #e5e5e5;
}
.next.svelte-1rbbar7:active,
.prev.svelte-1rbbar7:active {
	color: #d4b39c;
}
p.svelte-1rbbar7 {
	margin-bottom: 0;
}
.svelte-1khr2xt,
.svelte-1khr2xt:after,
.svelte-1khr2xt:before {
	box-sizing: border-box;
}
div.svelte-1khr2xt,
span.svelte-1khr2xt {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-1khr2xt-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1khr2xt-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1khr2xt-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-1khr2xt:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1khr2xt::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.lightbox.svelte-1khr2xt {
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	display: grid;
	grid-template-areas: 'slide thumb' 'slide thumb' 'captio thumb';
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-color: #121212;
}
@media (min-width: 1023px) {
	.lightbox.svelte-1khr2xt {
		overflow: auto;
		grid-template-areas: 'captio slide thumb';
	}
}
.Thumbnails.svelte-1khr2xt {
	grid-area: thumb;
	width: 4.236rem;
	margin-top: 4.236rem;
	overflow-y: auto;
}
@media (min-width: 769px) {
	.Thumbnails.svelte-1khr2xt {
		width: 6.854rem;
		gap: 1.618rem;
		overflow-y: auto;
	}
}
.close.svelte-1khr2xt {
	padding: 1rem;
	color: #d4b39c;
	position: absolute;
	z-index: 1000;
	top: 0.618rem;
	right: 1rem;
	font-size: 1.618rem;
	line-height: 40.896px;
}
.close.svelte-1khr2xt:focus,
.close.svelte-1khr2xt:hover {
	color: #e5e5e5;
	cursor: pointer;
}
.svelte-1a2q42q,
.svelte-1a2q42q:after,
.svelte-1a2q42q:before {
	box-sizing: border-box;
}
div.svelte-1a2q42q,
img.svelte-1a2q42q {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-1a2q42q-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1a2q42q-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1a2q42q-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-1a2q42q:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1a2q42q::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
img.svelte-1a2q42q {
	max-width: 100%;
	height: auto;
}
.DemoGallery.svelte-1a2q42q {
	padding-bottom: 2.618rem;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.618rem;
}
@media (min-width: 769px) {
	.DemoGallery.svelte-1a2q42q {
		grid-template-columns: repeat(auto-fill, minmax(133px, 20%));
		place-content: center;
		gap: 1.618rem;
	}
}
img.svelte-1a2q42q {
	border-radius: 50%;
	transition: 0.2s;
	cursor: pointer;
	place-self: center;
}
@media (min-width: 769px) {
	img.svelte-1a2q42q {
		margin: 1.618rem;
	}
}
@media (min-width: 769px) {
	img.svelte-1a2q42q:hover {
		box-shadow: 0 1rem 1.618rem rgba(18, 18, 18, 0.5);
		transform: scale(1.05);
	}
}
.svelte-13vdff5,
.svelte-13vdff5:after,
.svelte-13vdff5:before {
	box-sizing: border-box;
}
@keyframes svelte-13vdff5-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-13vdff5-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-13vdff5-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-13vdff5:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-13vdff5::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
aside.svelte-13vdff5 {
	display: grid;
	place-items: center;
	padding-bottom: 2.618rem;
}
.video-wrapper.svelte-1vnv3v8 {
	display: flex;
	background-color: red;
}
