@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,400&display=swap);
@keyframes svelte-3n219r-revealTextSlowly {
	to {
		color: #fff;
	}
}
.flip-box-back.svelte-3n219r,
.flip-box-front.svelte-3n219r {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.flip-box-back.svelte-3n219r {
	color: #000;
	transform: rotateY(180deg);
}
.image.svelte-3n219r {
	background-size: cover;
	background-position: center;
	background-repeat: none;
	width: 100%;
	height: 100%;
}
.NoRebelesTxt.svelte-3n219r {
	animation: svelte-3n219r-revealTextSlowly 1s forwards;
}
.svelte-1l2slni,
.svelte-1l2slni:after,
.svelte-1l2slni:before {
	box-sizing: border-box;
}
div.svelte-1l2slni {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-1l2slni-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1l2slni-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1l2slni-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-1l2slni:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1l2slni::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.ButtonControls.svelte-1l2slni {
	display: grid;
	gap: 0.618rem;
	grid-template-columns: 1fr 2fr 1fr;
}
.flip-box.svelte-1l2slni {
	background-color: transparent;
	width: 300px;
	height: 200px;
	perspective: 1000px;
}
.flip-box-inner.svelte-1l2slni {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.3s;
	transform-style: preserve-3d;
}
.flip-it.svelte-1l2slni {
	transform: rotateY(180deg);
}
.svelte-1ti22lu,
.svelte-1ti22lu:after,
.svelte-1ti22lu:before {
	box-sizing: border-box;
}
div.svelte-1ti22lu,
img.svelte-1ti22lu {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-1ti22lu-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1ti22lu-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1ti22lu-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-1ti22lu:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1ti22lu::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
img.svelte-1ti22lu {
	max-width: 100%;
	height: auto;
}
.mySlides.svelte-1ti22lu {
	text-align: center;
}
.numbertext.svelte-1ti22lu {
	color: #414141;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
img.svelte-1ti22lu {
	width: 50%;
	border-radius: 50%;
}
.svelte-1w2chfv,
.svelte-1w2chfv:after,
.svelte-1w2chfv:before {
	box-sizing: border-box;
}
div.svelte-1w2chfv,
img.svelte-1w2chfv {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-1w2chfv-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1w2chfv-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1w2chfv-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-1w2chfv:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1w2chfv::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
img.svelte-1w2chfv {
	max-width: 100%;
	height: auto;
}
.thumbnail-cont.svelte-1w2chfv {
	width: 16.66%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sample.svelte-1w2chfv {
	opacity: 0.4;
}
.sample.svelte-1w2chfv:hover {
	opacity: 1;
}
img.svelte-1w2chfv {
	padding: 0.618rem;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	transition: all 0.1s ease-in-out;
}
.cursor.svelte-1w2chfv {
	cursor: pointer;
}
.active.svelte-1w2chfv {
	opacity: 1;
	border: 1px dotted #2a2929;
	width: 85%;
	height: 85%;
}
.svelte-1mnxz2c,
.svelte-1mnxz2c:after,
.svelte-1mnxz2c:before {
	box-sizing: border-box;
}
a.svelte-1mnxz2c,
div.svelte-1mnxz2c,
p.svelte-1mnxz2c {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
p.svelte-1mnxz2c {
	font-size: 1rem;
	line-height: 25.92px;
}
p.svelte-1mnxz2c {
	margin-bottom: 0.618rem;
}
@media (min-width: 374px) {
	p.svelte-1mnxz2c {
		max-width: 769px;
		margin-left: auto;
		margin-right: auto;
	}
}
@keyframes svelte-1mnxz2c-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1mnxz2c-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1mnxz2c-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
a.svelte-1mnxz2c:hover {
	animation-name: svelte-1mnxz2c-fade;
	animation-duration: 0.3s;
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-1mnxz2c:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1mnxz2c::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.caption-container.svelte-1mnxz2c {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	padding: 0 1rem;
	color: #110e08;
	margin-bottom: 1rem;
}
.next.svelte-1mnxz2c,
.prev.svelte-1mnxz2c {
	cursor: pointer;
	width: auto;
	padding: 1rem;
	margin-top: 0;
	color: #414141;
	font-weight: 700;
	font-size: 1.618rem;
	line-height: 36.8064px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	text-decoration: none;
}
.next.svelte-1mnxz2c {
	border-radius: 3px 0 0 3px;
}
.next.svelte-1mnxz2c:hover,
.prev.svelte-1mnxz2c:hover {
	color: #000;
	text-decoration: none;
}
.next.svelte-1mnxz2c:active,
.prev.svelte-1mnxz2c:active {
	color: #54f261;
	text-decoration: none;
}
p.svelte-1mnxz2c {
	margin-bottom: 0;
}
.container.svelte-1qcybd5 {
	position: relative;
}
.thumbnails-row.svelte-1qcybd5 {
	width: 100%;
	display: flex;
	align-self: flex-end;
}
.svelte-1i5k80d,
.svelte-1i5k80d:after,
.svelte-1i5k80d:before {
	box-sizing: border-box;
}
div.svelte-1i5k80d,
img.svelte-1i5k80d {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-1i5k80d-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1i5k80d-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1i5k80d-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-1i5k80d:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1i5k80d::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
img.svelte-1i5k80d {
	max-width: 100%;
	height: auto;
}
.Slide.svelte-1i5k80d {
	position: relative;
	text-align: center;
	grid-area: slide;
	padding-top: 1.618rem;
	overflow-y: auto;
}
.numbertext.svelte-1i5k80d {
	color: #6c6c6c;
	position: absolute;
	top: 1.618rem;
	left: 1.618rem;
}
img.svelte-1i5k80d {
	width: 90%;
	border-radius: 50%;
}
@media (min-width: 769px) {
	img.svelte-1i5k80d {
		width: auto;
		max-height: 90vh;
	}
}
.svelte-17c75jl,
.svelte-17c75jl:after,
.svelte-17c75jl:before {
	box-sizing: border-box;
}
img.svelte-17c75jl {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-17c75jl-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-17c75jl-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-17c75jl-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-17c75jl:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-17c75jl::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
img.svelte-17c75jl {
	max-width: 100%;
	height: auto;
}
.sample.svelte-17c75jl {
	opacity: 0.4;
}
.sample.svelte-17c75jl:hover {
	opacity: 1;
}
img.svelte-17c75jl {
	padding: 0.618rem;
	border-radius: 50%;
	transition: all 0.1s ease-in-out;
}
.cursor.svelte-17c75jl {
	cursor: pointer;
}
.active.svelte-17c75jl {
	opacity: 1;
	border: 1px dotted #2a2929;
}
.svelte-f8zwc8,
.svelte-f8zwc8:after,
.svelte-f8zwc8:before {
	box-sizing: border-box;
}
a.svelte-f8zwc8,
div.svelte-f8zwc8,
p.svelte-f8zwc8 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
p.svelte-f8zwc8 {
	font-size: 1rem;
	line-height: 25.92px;
}
p.svelte-f8zwc8 {
	margin-bottom: 0.618rem;
}
@media (min-width: 374px) {
	p.svelte-f8zwc8 {
		max-width: 769px;
		margin-left: auto;
		margin-right: auto;
	}
}
@keyframes svelte-f8zwc8-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-f8zwc8-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-f8zwc8-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
a.svelte-f8zwc8:hover {
	animation-name: svelte-f8zwc8-fade;
	animation-duration: 0.3s;
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-f8zwc8:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-f8zwc8::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.caption-container.svelte-f8zwc8 {
	grid-area: captio;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	color: #b4b4b4;
	background-color: #2a2929;
	align-self: start;
}
.next.svelte-f8zwc8,
.prev.svelte-f8zwc8 {
	cursor: pointer;
	width: auto;
	padding: 1rem;
	margin-top: 0;
	color: #6c6c6c;
	font-size: 1.618rem;
	line-height: 36.8064px;
	user-select: none;
	text-decoration: none;
}
.next.svelte-f8zwc8:hover,
.prev.svelte-f8zwc8:hover {
	color: #e5e5e5;
}
.next.svelte-f8zwc8:active,
.prev.svelte-f8zwc8:active {
	color: #e8b28a;
}
p.svelte-f8zwc8 {
	margin-bottom: 0;
}
.svelte-mo93zs,
.svelte-mo93zs:after,
.svelte-mo93zs:before {
	box-sizing: border-box;
}
div.svelte-mo93zs,
span.svelte-mo93zs {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-mo93zs-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-mo93zs-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-mo93zs-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-mo93zs:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-mo93zs::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.lightbox.svelte-mo93zs {
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	display: grid;
	grid-template-areas: 'slide thumb' 'slide thumb' 'captio thumb';
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-color: #110e08;
}
@media (min-width: 1023px) {
	.lightbox.svelte-mo93zs {
		overflow: auto;
		grid-template-areas: 'captio slide thumb';
	}
}
.Thumbnails.svelte-mo93zs {
	grid-area: thumb;
	width: 4.236rem;
	margin-top: 4.236rem;
	overflow-y: auto;
}
@media (min-width: 769px) {
	.Thumbnails.svelte-mo93zs {
		width: 6.854rem;
		gap: 1.618rem;
		overflow-y: auto;
	}
}
.close.svelte-mo93zs {
	padding: 1rem;
	color: #e8b28a;
	position: absolute;
	z-index: 1000;
	top: 0.618rem;
	right: 1rem;
	font-size: 1.618rem;
	line-height: 36.8064px;
}
.close.svelte-mo93zs:focus,
.close.svelte-mo93zs:hover {
	color: #e5e5e5;
	cursor: pointer;
}
.svelte-10x30rs,
.svelte-10x30rs:after,
.svelte-10x30rs:before {
	box-sizing: border-box;
}
div.svelte-10x30rs,
img.svelte-10x30rs {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-10x30rs-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-10x30rs-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-10x30rs-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-10x30rs:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-10x30rs::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
img.svelte-10x30rs {
	max-width: 100%;
	height: auto;
}
.DemoGallery.svelte-10x30rs {
	padding: 2.618rem;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.618rem;
}
@media (min-width: 769px) {
	.DemoGallery.svelte-10x30rs {
		grid-template-columns: repeat(auto-fill, minmax(133px, 20%));
		place-content: center;
		gap: 1.618rem;
	}
}
img.svelte-10x30rs {
	border-radius: 50%;
	transition: 0.2s;
	cursor: pointer;
	place-self: center;
}
@media (min-width: 769px) {
	img.svelte-10x30rs {
		margin: 1.618rem;
	}
}
@media (min-width: 769px) {
	img.svelte-10x30rs:hover {
		box-shadow: 0 1rem 1.618rem rgba(17, 14, 8, 0.5);
		transform: scale(1.05);
	}
}
.svelte-1fxa0g5,
.svelte-1fxa0g5:after,
.svelte-1fxa0g5:before {
	box-sizing: border-box;
}
@keyframes svelte-1fxa0g5-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1fxa0g5-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1fxa0g5-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-1fxa0g5:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1fxa0g5::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
aside.svelte-1fxa0g5 {
	display: grid;
	place-items: center;
	padding-bottom: 2.618rem;
}
