@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
.svelte-1owz2nr,
.svelte-1owz2nr:after,
.svelte-1owz2nr:before {
	box-sizing: border-box;
}
div.svelte-1owz2nr,
img.svelte-1owz2nr {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-1owz2nr-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1owz2nr-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1owz2nr-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-1owz2nr:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1owz2nr::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
img.svelte-1owz2nr {
	max-width: 100%;
	height: auto;
}
.Slide.svelte-1owz2nr {
	position: relative;
	text-align: center;
	grid-area: slide;
	padding-top: 1.618rem;
	overflow-y: auto;
}
.numbertext.svelte-1owz2nr {
	color: #6c6c6c;
	position: absolute;
	top: 1.618rem;
	left: 1.618rem;
}
img.svelte-1owz2nr {
	width: 90%;
	border-radius: 50%;
}
@media (min-width: 769px) {
	img.svelte-1owz2nr {
		width: auto;
		max-height: 90vh;
	}
}
.svelte-1ud5a2z,
.svelte-1ud5a2z:after,
.svelte-1ud5a2z:before {
	box-sizing: border-box;
}
img.svelte-1ud5a2z {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-1ud5a2z-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1ud5a2z-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1ud5a2z-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-1ud5a2z:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1ud5a2z::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
img.svelte-1ud5a2z {
	max-width: 100%;
	height: auto;
}
.sample.svelte-1ud5a2z {
	opacity: 0.4;
}
.sample.svelte-1ud5a2z:hover {
	opacity: 1;
}
img.svelte-1ud5a2z {
	padding: 0.618rem;
	border-radius: 50%;
	transition: all 0.1s ease-in-out;
}
.cursor.svelte-1ud5a2z {
	cursor: pointer;
}
.active.svelte-1ud5a2z {
	opacity: 1;
	border: 1px dotted #2a2929;
}
.svelte-1v6a460,
.svelte-1v6a460:after,
.svelte-1v6a460:before {
	box-sizing: border-box;
}
a.svelte-1v6a460,
div.svelte-1v6a460,
p.svelte-1v6a460 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
p.svelte-1v6a460 {
	font-size: 1rem;
	line-height: 28.8px;
}
@media (min-width: 769px) {
	p.svelte-1v6a460 {
		max-width: 769px;
		margin-left: auto;
		margin-right: auto;
	}
}
@keyframes svelte-1v6a460-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1v6a460-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1v6a460-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
a.svelte-1v6a460:hover {
	animation-name: svelte-1v6a460-fade;
	animation-duration: 0.3s;
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-1v6a460:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1v6a460::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.caption-container.svelte-1v6a460 {
	grid-area: captio;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	color: #b4b4b4;
	background-color: #2a2929;
	align-self: start;
}
.next.svelte-1v6a460,
.prev.svelte-1v6a460 {
	cursor: pointer;
	width: auto;
	padding: 1rem;
	margin-top: 0;
	color: #6c6c6c;
	font-size: 1.618rem;
	line-height: 40.896px;
	user-select: none;
	text-decoration: none;
}
.next.svelte-1v6a460:hover,
.prev.svelte-1v6a460:hover {
	color: #e5e5e5;
}
.next.svelte-1v6a460:active,
.prev.svelte-1v6a460:active {
	color: #e8b28a;
}
p.svelte-1v6a460 {
	margin-bottom: 0;
}
.svelte-1nbtli4,
.svelte-1nbtli4:after,
.svelte-1nbtli4:before {
	box-sizing: border-box;
}
div.svelte-1nbtli4,
span.svelte-1nbtli4 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-1nbtli4-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1nbtli4-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1nbtli4-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-1nbtli4:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1nbtli4::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.lightbox.svelte-1nbtli4 {
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	display: grid;
	grid-template-areas: 'slide thumb' 'slide thumb' 'captio thumb';
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-color: #110e08;
}
@media (min-width: 1023px) {
	.lightbox.svelte-1nbtli4 {
		overflow: auto;
		grid-template-areas: 'captio slide thumb';
	}
}
.Thumbnails.svelte-1nbtli4 {
	grid-area: thumb;
	width: 4.236rem;
	margin-top: 4.236rem;
	overflow-y: auto;
}
@media (min-width: 769px) {
	.Thumbnails.svelte-1nbtli4 {
		width: 6.854rem;
		gap: 1.618rem;
		overflow-y: auto;
	}
}
.close.svelte-1nbtli4 {
	padding: 1rem;
	color: #e8b28a;
	position: absolute;
	z-index: 1000;
	top: 0.618rem;
	right: 1rem;
	font-size: 1.618rem;
	line-height: 40.896px;
}
.close.svelte-1nbtli4:focus,
.close.svelte-1nbtli4:hover {
	color: #e5e5e5;
	cursor: pointer;
}
.svelte-1as159a,
.svelte-1as159a:after,
.svelte-1as159a:before {
	box-sizing: border-box;
}
div.svelte-1as159a,
img.svelte-1as159a {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-1as159a-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1as159a-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1as159a-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-1as159a:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1as159a::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
img.svelte-1as159a {
	max-width: 100%;
	height: auto;
}
.DemoGallery.svelte-1as159a {
	padding-bottom: 2.618rem;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.618rem;
}
@media (min-width: 769px) {
	.DemoGallery.svelte-1as159a {
		grid-template-columns: repeat(auto-fill, minmax(133px, 20%));
		place-content: center;
		gap: 1.618rem;
	}
}
img.svelte-1as159a {
	border-radius: 50%;
	transition: 0.2s;
	cursor: pointer;
	place-self: center;
}
@media (min-width: 769px) {
	img.svelte-1as159a {
		margin: 1.618rem;
	}
}
@media (min-width: 769px) {
	img.svelte-1as159a:hover {
		box-shadow: 0 1rem 1.618rem rgba(17, 14, 8, 0.5);
		transform: scale(1.05);
	}
}
.svelte-13uk8sv,
.svelte-13uk8sv:after,
.svelte-13uk8sv:before {
	box-sizing: border-box;
}
@keyframes svelte-13uk8sv-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-13uk8sv-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-13uk8sv-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-13uk8sv:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-13uk8sv::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
aside.svelte-13uk8sv {
	display: grid;
	place-items: center;
	padding-bottom: 2.618rem;
}
