@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
.svelte-1dq8a4,
.svelte-1dq8a4:after,
.svelte-1dq8a4:before {
	box-sizing: border-box;
}
div.svelte-1dq8a4,
img.svelte-1dq8a4 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-1dq8a4-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1dq8a4-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1dq8a4-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-1dq8a4:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1dq8a4::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
img.svelte-1dq8a4 {
	max-width: 100%;
	height: auto;
}
.Slide.svelte-1dq8a4 {
	position: relative;
	text-align: center;
	grid-area: slide;
	padding-top: 1.618rem;
	overflow-y: auto;
}
.numbertext.svelte-1dq8a4 {
	color: #6c6c6c;
	position: absolute;
	top: 1.618rem;
	left: 1.618rem;
}
img.svelte-1dq8a4 {
	width: 90%;
	border-radius: 50%;
}
@media (min-width: 769px) {
	img.svelte-1dq8a4 {
		width: auto;
		max-height: 90vh;
	}
}
.svelte-eiv47w,
.svelte-eiv47w:after,
.svelte-eiv47w:before {
	box-sizing: border-box;
}
img.svelte-eiv47w {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-eiv47w-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-eiv47w-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-eiv47w-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-eiv47w:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-eiv47w::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
img.svelte-eiv47w {
	max-width: 100%;
	height: auto;
}
.sample.svelte-eiv47w {
	opacity: 0.4;
}
.sample.svelte-eiv47w:hover {
	opacity: 1;
}
img.svelte-eiv47w {
	padding: 0.618rem;
	border-radius: 50%;
	transition: all 0.1s ease-in-out;
}
.cursor.svelte-eiv47w {
	cursor: pointer;
}
.active.svelte-eiv47w {
	opacity: 1;
	border: 1px dotted #323232;
}
.svelte-8jklme,
.svelte-8jklme:after,
.svelte-8jklme:before {
	box-sizing: border-box;
}
a.svelte-8jklme,
div.svelte-8jklme,
p.svelte-8jklme {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
p.svelte-8jklme {
	font-size: 1rem;
	line-height: 28.8px;
}
@media (min-width: 1800px) {
	p.svelte-8jklme {
		font-size: 1.618rem;
		line-height: 40.896px;
	}
}
@media (min-width: 769px) {
	p.svelte-8jklme {
		max-width: 769px;
		margin-left: auto;
		margin-right: auto;
	}
}
@keyframes svelte-8jklme-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-8jklme-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-8jklme-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
a.svelte-8jklme:hover {
	animation-name: svelte-8jklme-fade;
	animation-duration: 0.3s;
}
.svelte-8jklme:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-8jklme::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.caption-container.svelte-8jklme {
	grid-area: captio;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	color: #b4b4b4;
	background-color: #323232;
	align-self: start;
}
.next.svelte-8jklme,
.prev.svelte-8jklme {
	cursor: pointer;
	width: auto;
	padding: 1rem;
	margin-top: 0;
	color: #6c6c6c;
	font-size: 1.618rem;
	line-height: 40.896px;
	user-select: none;
	text-decoration: none;
}
.next.svelte-8jklme:hover,
.prev.svelte-8jklme:hover {
	color: #e5e5e5;
}
.next.svelte-8jklme:active,
.prev.svelte-8jklme:active {
	color: #d4b39c;
}
p.svelte-8jklme {
	margin-bottom: 0;
}
.svelte-a00t0k,
.svelte-a00t0k:after,
.svelte-a00t0k:before {
	box-sizing: border-box;
}
div.svelte-a00t0k,
span.svelte-a00t0k {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-a00t0k-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-a00t0k-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-a00t0k-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-a00t0k:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-a00t0k::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.lightbox.svelte-a00t0k {
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	display: grid;
	grid-template-areas: 'slide thumb' 'slide thumb' 'captio thumb';
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-color: #121212;
}
@media (min-width: 1023px) {
	.lightbox.svelte-a00t0k {
		overflow: auto;
		grid-template-areas: 'captio slide thumb';
	}
}
.Thumbnails.svelte-a00t0k {
	grid-area: thumb;
	width: 4.236rem;
	margin-top: 4.236rem;
	overflow-y: auto;
}
@media (min-width: 769px) {
	.Thumbnails.svelte-a00t0k {
		width: 6.854rem;
		gap: 1.618rem;
		overflow-y: auto;
	}
}
.close.svelte-a00t0k {
	padding: 1rem;
	color: #d4b39c;
	position: absolute;
	z-index: 1000;
	top: 0.618rem;
	right: 1rem;
	font-size: 1.618rem;
	line-height: 40.896px;
}
.close.svelte-a00t0k:focus,
.close.svelte-a00t0k:hover {
	color: #e5e5e5;
	cursor: pointer;
}
.svelte-1xt5sxx,
.svelte-1xt5sxx:after,
.svelte-1xt5sxx:before {
	box-sizing: border-box;
}
div.svelte-1xt5sxx,
img.svelte-1xt5sxx {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-1xt5sxx-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1xt5sxx-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1xt5sxx-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-1xt5sxx:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1xt5sxx::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
img.svelte-1xt5sxx {
	max-width: 100%;
	height: auto;
}
.DemoGallery.svelte-1xt5sxx {
	padding-bottom: 2.618rem;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.618rem;
}
@media (min-width: 769px) {
	.DemoGallery.svelte-1xt5sxx {
		grid-template-columns: repeat(auto-fill, minmax(133px, 20%));
		place-content: center;
		gap: 1.618rem;
	}
}
img.svelte-1xt5sxx {
	border-radius: 50%;
	transition: 0.2s;
	cursor: pointer;
	place-self: center;
}
@media (min-width: 769px) {
	img.svelte-1xt5sxx {
		margin: 1.618rem;
	}
}
@media (min-width: 769px) {
	img.svelte-1xt5sxx:hover {
		box-shadow: 0 1rem 1.618rem rgba(18, 18, 18, 0.5);
		transform: scale(1.05);
	}
}
.svelte-xiufg4,
.svelte-xiufg4:after,
.svelte-xiufg4:before {
	box-sizing: border-box;
}
@keyframes svelte-xiufg4-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-xiufg4-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-xiufg4-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-xiufg4:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-xiufg4::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
aside.svelte-xiufg4 {
	display: grid;
	place-items: center;
	padding-bottom: 2.618rem;
}
.video-wrapper.svelte-1vnv3v8 {
	display: flex;
	background-color: red;
}
