@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
.svelte-2j6qqa,
.svelte-2j6qqa:after,
.svelte-2j6qqa:before {
	box-sizing: border-box;
}
div.svelte-2j6qqa,
img.svelte-2j6qqa {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-2j6qqa-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-2j6qqa-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-2j6qqa-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-2j6qqa:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-2j6qqa::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
img.svelte-2j6qqa {
	max-width: 100%;
	height: auto;
}
.Slide.svelte-2j6qqa {
	position: relative;
	text-align: center;
	grid-area: slide;
	padding-top: 1.618rem;
	overflow-y: auto;
}
.numbertext.svelte-2j6qqa {
	color: #6c6c6c;
	position: absolute;
	top: 1.618rem;
	left: 1.618rem;
}
img.svelte-2j6qqa {
	width: 90%;
	border-radius: 50%;
}
@media (min-width: 769px) {
	img.svelte-2j6qqa {
		width: auto;
		max-height: 90vh;
	}
}
.svelte-s6svpe,
.svelte-s6svpe:after,
.svelte-s6svpe:before {
	box-sizing: border-box;
}
img.svelte-s6svpe {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-s6svpe-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-s6svpe-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-s6svpe-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-s6svpe:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-s6svpe::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
img.svelte-s6svpe {
	max-width: 100%;
	height: auto;
}
.sample.svelte-s6svpe {
	opacity: 0.4;
}
.sample.svelte-s6svpe:hover {
	opacity: 1;
}
img.svelte-s6svpe {
	padding: 0.618rem;
	border-radius: 50%;
	transition: all 0.1s ease-in-out;
}
.cursor.svelte-s6svpe {
	cursor: pointer;
}
.active.svelte-s6svpe {
	opacity: 1;
	border: 1px dotted #323232;
}
.svelte-exxv4o,
.svelte-exxv4o:after,
.svelte-exxv4o:before {
	box-sizing: border-box;
}
a.svelte-exxv4o,
div.svelte-exxv4o,
p.svelte-exxv4o {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
p.svelte-exxv4o {
	font-size: 1rem;
	line-height: 28.8px;
}
@media (min-width: 1800px) {
	p.svelte-exxv4o {
		font-size: 1.618rem;
		line-height: 40.896px;
	}
}
@media (min-width: 769px) {
	p.svelte-exxv4o {
		max-width: 769px;
		margin-left: auto;
		margin-right: auto;
	}
}
@keyframes svelte-exxv4o-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-exxv4o-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-exxv4o-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
a.svelte-exxv4o:hover {
	animation-name: svelte-exxv4o-fade;
	animation-duration: 0.3s;
}
.svelte-exxv4o:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-exxv4o::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.caption-container.svelte-exxv4o {
	grid-area: captio;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	color: #b4b4b4;
	background-color: #323232;
	align-self: start;
}
.next.svelte-exxv4o,
.prev.svelte-exxv4o {
	cursor: pointer;
	width: auto;
	padding: 1rem;
	margin-top: 0;
	color: #6c6c6c;
	font-size: 1.618rem;
	line-height: 40.896px;
	user-select: none;
	text-decoration: none;
}
.next.svelte-exxv4o:hover,
.prev.svelte-exxv4o:hover {
	color: #e5e5e5;
}
.next.svelte-exxv4o:active,
.prev.svelte-exxv4o:active {
	color: #d4b39c;
}
p.svelte-exxv4o {
	margin-bottom: 0;
}
.svelte-1dg3xju,
.svelte-1dg3xju:after,
.svelte-1dg3xju:before {
	box-sizing: border-box;
}
div.svelte-1dg3xju,
span.svelte-1dg3xju {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-1dg3xju-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1dg3xju-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1dg3xju-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-1dg3xju:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1dg3xju::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.lightbox.svelte-1dg3xju {
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	display: grid;
	grid-template-areas: 'slide thumb' 'slide thumb' 'captio thumb';
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-color: #121212;
}
@media (min-width: 1023px) {
	.lightbox.svelte-1dg3xju {
		overflow: auto;
		grid-template-areas: 'captio slide thumb';
	}
}
.Thumbnails.svelte-1dg3xju {
	grid-area: thumb;
	width: 4.236rem;
	margin-top: 4.236rem;
	overflow-y: auto;
}
@media (min-width: 769px) {
	.Thumbnails.svelte-1dg3xju {
		width: 6.854rem;
		gap: 1.618rem;
		overflow-y: auto;
	}
}
.close.svelte-1dg3xju {
	padding: 1rem;
	color: #d4b39c;
	position: absolute;
	z-index: 1000;
	top: 0.618rem;
	right: 1rem;
	font-size: 1.618rem;
	line-height: 40.896px;
}
.close.svelte-1dg3xju:focus,
.close.svelte-1dg3xju:hover {
	color: #e5e5e5;
	cursor: pointer;
}
.svelte-ewzqkf,
.svelte-ewzqkf:after,
.svelte-ewzqkf:before {
	box-sizing: border-box;
}
div.svelte-ewzqkf,
img.svelte-ewzqkf {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-ewzqkf-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-ewzqkf-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-ewzqkf-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-ewzqkf:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-ewzqkf::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
img.svelte-ewzqkf {
	max-width: 100%;
	height: auto;
}
.DemoGallery.svelte-ewzqkf {
	padding-bottom: 2.618rem;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.618rem;
}
@media (min-width: 769px) {
	.DemoGallery.svelte-ewzqkf {
		grid-template-columns: repeat(auto-fill, minmax(133px, 20%));
		place-content: center;
		gap: 1.618rem;
	}
}
img.svelte-ewzqkf {
	border-radius: 50%;
	transition: 0.2s;
	cursor: pointer;
	place-self: center;
}
@media (min-width: 769px) {
	img.svelte-ewzqkf {
		margin: 1.618rem;
	}
}
@media (min-width: 769px) {
	img.svelte-ewzqkf:hover {
		box-shadow: 0 1rem 1.618rem rgba(18, 18, 18, 0.5);
		transform: scale(1.05);
	}
}
.svelte-df1pm2,
.svelte-df1pm2:after,
.svelte-df1pm2:before {
	box-sizing: border-box;
}
@keyframes svelte-df1pm2-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-df1pm2-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-df1pm2-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-df1pm2:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-df1pm2::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
aside.svelte-df1pm2 {
	display: grid;
	place-items: center;
	padding-bottom: 2.618rem;
}
.video-wrapper.svelte-1vnv3v8 {
	display: flex;
	background-color: red;
}
