@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
.svelte-8btup2,
.svelte-8btup2:after,
.svelte-8btup2:before {
	box-sizing: border-box;
}
div.svelte-8btup2,
img.svelte-8btup2 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-8btup2-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-8btup2-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-8btup2-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-8btup2:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-8btup2::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
img.svelte-8btup2 {
	max-width: 100%;
	height: auto;
}
.Slide.svelte-8btup2 {
	position: relative;
	text-align: center;
	grid-area: slide;
	padding-top: 1.618rem;
	overflow-y: auto;
}
.numbertext.svelte-8btup2 {
	color: #6c6c6c;
	position: absolute;
	top: 1.618rem;
	left: 1.618rem;
}
img.svelte-8btup2 {
	width: 90%;
	border-radius: 50%;
}
@media (min-width: 769px) {
	img.svelte-8btup2 {
		width: auto;
		max-height: 90vh;
	}
}
.svelte-lg00t2,
.svelte-lg00t2:after,
.svelte-lg00t2:before {
	box-sizing: border-box;
}
img.svelte-lg00t2 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-lg00t2-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-lg00t2-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-lg00t2-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-lg00t2:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-lg00t2::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
img.svelte-lg00t2 {
	max-width: 100%;
	height: auto;
}
.sample.svelte-lg00t2 {
	opacity: 0.4;
}
.sample.svelte-lg00t2:hover {
	opacity: 1;
}
img.svelte-lg00t2 {
	padding: 0.618rem;
	border-radius: 50%;
	transition: all 0.1s ease-in-out;
}
.cursor.svelte-lg00t2 {
	cursor: pointer;
}
.active.svelte-lg00t2 {
	opacity: 1;
	border: 1px dotted #323232;
}
.svelte-1ioogqw,
.svelte-1ioogqw:after,
.svelte-1ioogqw:before {
	box-sizing: border-box;
}
a.svelte-1ioogqw,
div.svelte-1ioogqw,
p.svelte-1ioogqw {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
p.svelte-1ioogqw {
	font-size: 1rem;
	line-height: 28.8px;
}
@media (min-width: 1800px) {
	p.svelte-1ioogqw {
		font-size: 1.618rem;
		line-height: 40.896px;
	}
}
@media (min-width: 769px) {
	p.svelte-1ioogqw {
		max-width: 769px;
		margin-left: auto;
		margin-right: auto;
	}
}
@keyframes svelte-1ioogqw-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1ioogqw-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1ioogqw-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
a.svelte-1ioogqw:hover {
	animation-name: svelte-1ioogqw-fade;
	animation-duration: 0.3s;
}
.svelte-1ioogqw:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1ioogqw::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.caption-container.svelte-1ioogqw {
	grid-area: captio;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	color: #b4b4b4;
	background-color: #323232;
	align-self: start;
}
.next.svelte-1ioogqw,
.prev.svelte-1ioogqw {
	cursor: pointer;
	width: auto;
	padding: 1rem;
	margin-top: 0;
	color: #6c6c6c;
	font-size: 1.618rem;
	line-height: 40.896px;
	user-select: none;
	text-decoration: none;
}
.next.svelte-1ioogqw:hover,
.prev.svelte-1ioogqw:hover {
	color: #e5e5e5;
}
.next.svelte-1ioogqw:active,
.prev.svelte-1ioogqw:active {
	color: #d4b39c;
}
p.svelte-1ioogqw {
	margin-bottom: 0;
}
.svelte-1igxoi6,
.svelte-1igxoi6:after,
.svelte-1igxoi6:before {
	box-sizing: border-box;
}
div.svelte-1igxoi6,
span.svelte-1igxoi6 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-1igxoi6-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1igxoi6-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1igxoi6-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-1igxoi6:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1igxoi6::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.lightbox.svelte-1igxoi6 {
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	display: grid;
	grid-template-areas: 'slide thumb' 'slide thumb' 'captio thumb';
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-color: #121212;
}
@media (min-width: 1023px) {
	.lightbox.svelte-1igxoi6 {
		overflow: auto;
		grid-template-areas: 'captio slide thumb';
	}
}
.Thumbnails.svelte-1igxoi6 {
	grid-area: thumb;
	width: 4.236rem;
	margin-top: 4.236rem;
	overflow-y: auto;
}
@media (min-width: 769px) {
	.Thumbnails.svelte-1igxoi6 {
		width: 6.854rem;
		gap: 1.618rem;
		overflow-y: auto;
	}
}
.close.svelte-1igxoi6 {
	padding: 1rem;
	color: #d4b39c;
	position: absolute;
	z-index: 1000;
	top: 0.618rem;
	right: 1rem;
	font-size: 1.618rem;
	line-height: 40.896px;
}
.close.svelte-1igxoi6:focus,
.close.svelte-1igxoi6:hover {
	color: #e5e5e5;
	cursor: pointer;
}
.svelte-n8d4gx,
.svelte-n8d4gx:after,
.svelte-n8d4gx:before {
	box-sizing: border-box;
}
div.svelte-n8d4gx,
img.svelte-n8d4gx {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-n8d4gx-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-n8d4gx-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-n8d4gx-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-n8d4gx:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-n8d4gx::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
img.svelte-n8d4gx {
	max-width: 100%;
	height: auto;
}
.DemoGallery.svelte-n8d4gx {
	padding-bottom: 2.618rem;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.618rem;
}
@media (min-width: 769px) {
	.DemoGallery.svelte-n8d4gx {
		grid-template-columns: repeat(auto-fill, minmax(133px, 20%));
		place-content: center;
		gap: 1.618rem;
	}
}
img.svelte-n8d4gx {
	border-radius: 50%;
	transition: 0.2s;
	cursor: pointer;
	place-self: center;
}
@media (min-width: 769px) {
	img.svelte-n8d4gx {
		margin: 1.618rem;
	}
}
@media (min-width: 769px) {
	img.svelte-n8d4gx:hover {
		box-shadow: 0 1rem 1.618rem rgba(18, 18, 18, 0.5);
		transform: scale(1.05);
	}
}
.svelte-1tkegm6,
.svelte-1tkegm6:after,
.svelte-1tkegm6:before {
	box-sizing: border-box;
}
@keyframes svelte-1tkegm6-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1tkegm6-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1tkegm6-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-1tkegm6:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1tkegm6::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
aside.svelte-1tkegm6 {
	display: grid;
	place-items: center;
	padding-bottom: 2.618rem;
}
.video-wrapper.svelte-1vnv3v8 {
	display: flex;
	background-color: red;
}
