@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
.svelte-1lcgu68,
.svelte-1lcgu68:after,
.svelte-1lcgu68:before {
	box-sizing: border-box;
}
div.svelte-1lcgu68,
img.svelte-1lcgu68 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-1lcgu68-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1lcgu68-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1lcgu68-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-1lcgu68:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1lcgu68::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
img.svelte-1lcgu68 {
	max-width: 100%;
	height: auto;
}
.Slide.svelte-1lcgu68 {
	position: relative;
	text-align: center;
	grid-area: slide;
	padding-top: 1.618rem;
	overflow-y: auto;
}
.numbertext.svelte-1lcgu68 {
	color: #6c6c6c;
	position: absolute;
	top: 1.618rem;
	left: 1.618rem;
}
img.svelte-1lcgu68 {
	width: 90%;
	border-radius: 50%;
}
@media (min-width: 769px) {
	img.svelte-1lcgu68 {
		width: auto;
		max-height: 90vh;
	}
}
.svelte-iurzg0,
.svelte-iurzg0:after,
.svelte-iurzg0:before {
	box-sizing: border-box;
}
img.svelte-iurzg0 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-iurzg0-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-iurzg0-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-iurzg0-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-iurzg0:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-iurzg0::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
img.svelte-iurzg0 {
	max-width: 100%;
	height: auto;
}
.sample.svelte-iurzg0 {
	opacity: 0.4;
}
.sample.svelte-iurzg0:hover {
	opacity: 1;
}
img.svelte-iurzg0 {
	padding: 0.618rem;
	border-radius: 50%;
	transition: all 0.1s ease-in-out;
}
.cursor.svelte-iurzg0 {
	cursor: pointer;
}
.active.svelte-iurzg0 {
	opacity: 1;
	border: 1px dotted #323232;
}
.svelte-tkakwm,
.svelte-tkakwm:after,
.svelte-tkakwm:before {
	box-sizing: border-box;
}
a.svelte-tkakwm,
div.svelte-tkakwm,
p.svelte-tkakwm {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
p.svelte-tkakwm {
	font-size: 1rem;
	line-height: 28.8px;
}
@media (min-width: 1800px) {
	p.svelte-tkakwm {
		font-size: 1.618rem;
		line-height: 40.896px;
	}
}
@media (min-width: 769px) {
	p.svelte-tkakwm {
		max-width: 769px;
		margin-left: auto;
		margin-right: auto;
	}
}
@keyframes svelte-tkakwm-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-tkakwm-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-tkakwm-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
a.svelte-tkakwm:hover {
	animation-name: svelte-tkakwm-fade;
	animation-duration: 0.3s;
}
.svelte-tkakwm:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-tkakwm::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.caption-container.svelte-tkakwm {
	grid-area: captio;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	color: #b4b4b4;
	background-color: #323232;
	align-self: start;
}
.next.svelte-tkakwm,
.prev.svelte-tkakwm {
	cursor: pointer;
	width: auto;
	padding: 1rem;
	margin-top: 0;
	color: #6c6c6c;
	font-size: 1.618rem;
	line-height: 40.896px;
	user-select: none;
	text-decoration: none;
}
.next.svelte-tkakwm:hover,
.prev.svelte-tkakwm:hover {
	color: #e5e5e5;
}
.next.svelte-tkakwm:active,
.prev.svelte-tkakwm:active {
	color: #d4b39c;
}
p.svelte-tkakwm {
	margin-bottom: 0;
}
.svelte-f7farc,
.svelte-f7farc:after,
.svelte-f7farc:before {
	box-sizing: border-box;
}
div.svelte-f7farc,
span.svelte-f7farc {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-f7farc-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-f7farc-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-f7farc-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-f7farc:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-f7farc::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.lightbox.svelte-f7farc {
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	display: grid;
	grid-template-areas: 'slide thumb' 'slide thumb' 'captio thumb';
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-color: #121212;
}
@media (min-width: 1023px) {
	.lightbox.svelte-f7farc {
		overflow: auto;
		grid-template-areas: 'captio slide thumb';
	}
}
.Thumbnails.svelte-f7farc {
	grid-area: thumb;
	width: 4.236rem;
	margin-top: 4.236rem;
	overflow-y: auto;
}
@media (min-width: 769px) {
	.Thumbnails.svelte-f7farc {
		width: 6.854rem;
		gap: 1.618rem;
		overflow-y: auto;
	}
}
.close.svelte-f7farc {
	padding: 1rem;
	color: #d4b39c;
	position: absolute;
	z-index: 1000;
	top: 0.618rem;
	right: 1rem;
	font-size: 1.618rem;
	line-height: 40.896px;
}
.close.svelte-f7farc:focus,
.close.svelte-f7farc:hover {
	color: #e5e5e5;
	cursor: pointer;
}
.svelte-acazyd,
.svelte-acazyd:after,
.svelte-acazyd:before {
	box-sizing: border-box;
}
div.svelte-acazyd,
img.svelte-acazyd {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-acazyd-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-acazyd-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-acazyd-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-acazyd:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-acazyd::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
img.svelte-acazyd {
	max-width: 100%;
	height: auto;
}
.DemoGallery.svelte-acazyd {
	padding-bottom: 2.618rem;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.618rem;
}
@media (min-width: 769px) {
	.DemoGallery.svelte-acazyd {
		grid-template-columns: repeat(auto-fill, minmax(133px, 20%));
		place-content: center;
		gap: 1.618rem;
	}
}
img.svelte-acazyd {
	border-radius: 50%;
	transition: 0.2s;
	cursor: pointer;
	place-self: center;
}
@media (min-width: 769px) {
	img.svelte-acazyd {
		margin: 1.618rem;
	}
}
@media (min-width: 769px) {
	img.svelte-acazyd:hover {
		box-shadow: 0 1rem 1.618rem rgba(18, 18, 18, 0.5);
		transform: scale(1.05);
	}
}
.svelte-xo1i6g,
.svelte-xo1i6g:after,
.svelte-xo1i6g:before {
	box-sizing: border-box;
}
@keyframes svelte-xo1i6g-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-xo1i6g-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-xo1i6g-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-xo1i6g:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-xo1i6g::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
aside.svelte-xo1i6g {
	display: grid;
	place-items: center;
	padding-bottom: 2.618rem;
}
.video-wrapper.svelte-1vnv3v8 {
	display: flex;
	background-color: red;
}
