@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
.svelte-1tv6r81,
.svelte-1tv6r81:after,
.svelte-1tv6r81:before {
	box-sizing: border-box;
}
div.svelte-1tv6r81,
img.svelte-1tv6r81 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-1tv6r81-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1tv6r81-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1tv6r81-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-1tv6r81:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1tv6r81::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
img.svelte-1tv6r81 {
	max-width: 100%;
	height: auto;
}
.Slide.svelte-1tv6r81 {
	position: relative;
	text-align: center;
	grid-area: slide;
	padding-top: 1.618rem;
	overflow-y: auto;
}
.numbertext.svelte-1tv6r81 {
	color: #6c6c6c;
	position: absolute;
	top: 1.618rem;
	left: 1.618rem;
}
img.svelte-1tv6r81 {
	width: 90%;
	border-radius: 50%;
}
@media (min-width: 769px) {
	img.svelte-1tv6r81 {
		width: auto;
		max-height: 90vh;
	}
}
.svelte-1wr3r0h,
.svelte-1wr3r0h:after,
.svelte-1wr3r0h:before {
	box-sizing: border-box;
}
img.svelte-1wr3r0h {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-1wr3r0h-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1wr3r0h-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1wr3r0h-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-1wr3r0h:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1wr3r0h::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
img.svelte-1wr3r0h {
	max-width: 100%;
	height: auto;
}
.sample.svelte-1wr3r0h {
	opacity: 0.4;
}
.sample.svelte-1wr3r0h:hover {
	opacity: 1;
}
img.svelte-1wr3r0h {
	padding: 0.618rem;
	border-radius: 50%;
	transition: all 0.1s ease-in-out;
}
.cursor.svelte-1wr3r0h {
	cursor: pointer;
}
.active.svelte-1wr3r0h {
	opacity: 1;
	border: 1px dotted #323232;
}
.svelte-18kv47b,
.svelte-18kv47b:after,
.svelte-18kv47b:before {
	box-sizing: border-box;
}
a.svelte-18kv47b,
div.svelte-18kv47b,
p.svelte-18kv47b {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
p.svelte-18kv47b {
	font-size: 1rem;
	line-height: 28.8px;
}
@media (min-width: 1800px) {
	p.svelte-18kv47b {
		font-size: 1.618rem;
		line-height: 40.896px;
	}
}
@media (min-width: 769px) {
	p.svelte-18kv47b {
		max-width: 769px;
		margin-left: auto;
		margin-right: auto;
	}
}
@keyframes svelte-18kv47b-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-18kv47b-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-18kv47b-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
a.svelte-18kv47b:hover {
	animation-name: svelte-18kv47b-fade;
	animation-duration: 0.3s;
}
.svelte-18kv47b:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-18kv47b::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.caption-container.svelte-18kv47b {
	grid-area: captio;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	color: #b4b4b4;
	background-color: #323232;
	align-self: start;
}
.next.svelte-18kv47b,
.prev.svelte-18kv47b {
	cursor: pointer;
	width: auto;
	padding: 1rem;
	margin-top: 0;
	color: #6c6c6c;
	font-size: 1.618rem;
	line-height: 40.896px;
	user-select: none;
	text-decoration: none;
}
.next.svelte-18kv47b:hover,
.prev.svelte-18kv47b:hover {
	color: #e5e5e5;
}
.next.svelte-18kv47b:active,
.prev.svelte-18kv47b:active {
	color: #d4b39c;
}
p.svelte-18kv47b {
	margin-bottom: 0;
}
.svelte-14rayxl,
.svelte-14rayxl:after,
.svelte-14rayxl:before {
	box-sizing: border-box;
}
div.svelte-14rayxl,
span.svelte-14rayxl {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-14rayxl-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-14rayxl-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-14rayxl-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-14rayxl:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-14rayxl::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.lightbox.svelte-14rayxl {
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	display: grid;
	grid-template-areas: 'slide thumb' 'slide thumb' 'captio thumb';
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-color: #121212;
}
@media (min-width: 1023px) {
	.lightbox.svelte-14rayxl {
		overflow: auto;
		grid-template-areas: 'captio slide thumb';
	}
}
.Thumbnails.svelte-14rayxl {
	grid-area: thumb;
	width: 4.236rem;
	margin-top: 4.236rem;
	overflow-y: auto;
}
@media (min-width: 769px) {
	.Thumbnails.svelte-14rayxl {
		width: 6.854rem;
		gap: 1.618rem;
		overflow-y: auto;
	}
}
.close.svelte-14rayxl {
	padding: 1rem;
	color: #d4b39c;
	position: absolute;
	z-index: 1000;
	top: 0.618rem;
	right: 1rem;
	font-size: 1.618rem;
	line-height: 40.896px;
}
.close.svelte-14rayxl:focus,
.close.svelte-14rayxl:hover {
	color: #e5e5e5;
	cursor: pointer;
}
.svelte-1e2aw1q,
.svelte-1e2aw1q:after,
.svelte-1e2aw1q:before {
	box-sizing: border-box;
}
div.svelte-1e2aw1q,
img.svelte-1e2aw1q {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-1e2aw1q-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1e2aw1q-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1e2aw1q-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-1e2aw1q:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1e2aw1q::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
img.svelte-1e2aw1q {
	max-width: 100%;
	height: auto;
}
.DemoGallery.svelte-1e2aw1q {
	padding-bottom: 2.618rem;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.618rem;
}
@media (min-width: 769px) {
	.DemoGallery.svelte-1e2aw1q {
		grid-template-columns: repeat(auto-fill, minmax(133px, 20%));
		place-content: center;
		gap: 1.618rem;
	}
}
img.svelte-1e2aw1q {
	border-radius: 50%;
	transition: 0.2s;
	cursor: pointer;
	place-self: center;
}
@media (min-width: 769px) {
	img.svelte-1e2aw1q {
		margin: 1.618rem;
	}
}
@media (min-width: 769px) {
	img.svelte-1e2aw1q:hover {
		box-shadow: 0 1rem 1.618rem rgba(18, 18, 18, 0.5);
		transform: scale(1.05);
	}
}
.svelte-19rr42x,
.svelte-19rr42x:after,
.svelte-19rr42x:before {
	box-sizing: border-box;
}
@keyframes svelte-19rr42x-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-19rr42x-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-19rr42x-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
.svelte-19rr42x:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-19rr42x::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
aside.svelte-19rr42x {
	display: grid;
	place-items: center;
	padding-bottom: 2.618rem;
}
