@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
@keyframes svelte-3n219r-revealTextSlowly {
	to {
		color: #fff;
	}
}
.flip-box-back.svelte-3n219r,
.flip-box-front.svelte-3n219r {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.flip-box-back.svelte-3n219r {
	color: #000;
	transform: rotateY(180deg);
}
.image.svelte-3n219r {
	background-size: cover;
	background-position: center;
	background-repeat: none;
	width: 100%;
	height: 100%;
}
.NoRebelesTxt.svelte-3n219r {
	animation: svelte-3n219r-revealTextSlowly 1s forwards;
}
.svelte-lv5a5,
.svelte-lv5a5:after,
.svelte-lv5a5:before {
	box-sizing: border-box;
}
div.svelte-lv5a5 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-lv5a5-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-lv5a5-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-lv5a5-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-lv5a5:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-lv5a5::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.ButtonControls.svelte-lv5a5 {
	display: grid;
	gap: 0.618rem;
	grid-template-columns: 1fr 2fr 1fr;
}
.flip-box.svelte-lv5a5 {
	background-color: transparent;
	width: 300px;
	height: 200px;
	perspective: 1000px;
}
.flip-box-inner.svelte-lv5a5 {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.3s;
	transform-style: preserve-3d;
}
.flip-it.svelte-lv5a5 {
	transform: rotateY(180deg);
}
.svelte-cu9x69,
.svelte-cu9x69:after,
.svelte-cu9x69:before {
	box-sizing: border-box;
}
div.svelte-cu9x69,
img.svelte-cu9x69 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-cu9x69-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-cu9x69-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-cu9x69-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-cu9x69:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-cu9x69::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
img.svelte-cu9x69 {
	max-width: 100%;
	height: auto;
}
.mySlides.svelte-cu9x69 {
	text-align: center;
}
.numbertext.svelte-cu9x69 {
	color: #414141;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
img.svelte-cu9x69 {
	width: 50%;
	border-radius: 50%;
}
.svelte-pemw9q,
.svelte-pemw9q:after,
.svelte-pemw9q:before {
	box-sizing: border-box;
}
div.svelte-pemw9q,
img.svelte-pemw9q {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-pemw9q-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-pemw9q-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-pemw9q-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-pemw9q:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-pemw9q::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
img.svelte-pemw9q {
	max-width: 100%;
	height: auto;
}
.thumbnail-cont.svelte-pemw9q {
	width: 16.66%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sample.svelte-pemw9q {
	opacity: 0.4;
}
.sample.svelte-pemw9q:hover {
	opacity: 1;
}
img.svelte-pemw9q {
	padding: 0.618rem;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	transition: all 0.1s ease-in-out;
}
.cursor.svelte-pemw9q {
	cursor: pointer;
}
.active.svelte-pemw9q {
	opacity: 1;
	border: 1px dotted #2a2929;
	width: 85%;
	height: 85%;
}
.svelte-zy0aur,
.svelte-zy0aur:after,
.svelte-zy0aur:before {
	box-sizing: border-box;
}
a.svelte-zy0aur,
div.svelte-zy0aur,
p.svelte-zy0aur {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
p.svelte-zy0aur {
	font-size: 1rem;
	line-height: 28.8px;
}
@keyframes svelte-zy0aur-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-zy0aur-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-zy0aur-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
a.svelte-zy0aur:hover {
	animation-name: svelte-zy0aur-fade;
	animation-duration: 0.3s;
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-zy0aur:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-zy0aur::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.caption-container.svelte-zy0aur {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	padding: 0 1rem;
	color: #110e08;
	margin-bottom: 1rem;
}
.next.svelte-zy0aur,
.prev.svelte-zy0aur {
	cursor: pointer;
	width: auto;
	padding: 1rem;
	margin-top: 0;
	color: #414141;
	font-weight: 700;
	font-size: 1.618rem;
	line-height: 40.896px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	text-decoration: none;
}
.next.svelte-zy0aur {
	border-radius: 3px 0 0 3px;
}
.next.svelte-zy0aur:hover,
.prev.svelte-zy0aur:hover {
	color: #000;
	text-decoration: none;
}
.next.svelte-zy0aur:active,
.prev.svelte-zy0aur:active {
	color: #54f261;
	text-decoration: none;
}
p.svelte-zy0aur {
	margin-bottom: 0;
}
.container.svelte-1qcybd5 {
	position: relative;
}
.thumbnails-row.svelte-1qcybd5 {
	width: 100%;
	display: flex;
	align-self: flex-end;
}
.svelte-198enrg,
.svelte-198enrg:after,
.svelte-198enrg:before {
	box-sizing: border-box;
}
div.svelte-198enrg,
img.svelte-198enrg {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-198enrg-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-198enrg-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-198enrg-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-198enrg:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-198enrg::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
img.svelte-198enrg {
	max-width: 100%;
	height: auto;
}
.Slide.svelte-198enrg {
	position: relative;
	text-align: center;
	grid-area: slide;
	padding-top: 1.618rem;
	overflow-y: auto;
}
.numbertext.svelte-198enrg {
	color: #6c6c6c;
	position: absolute;
	top: 1.618rem;
	left: 1.618rem;
}
img.svelte-198enrg {
	width: 90%;
	border-radius: 50%;
}
@media (min-width: 769px) {
	img.svelte-198enrg {
		width: auto;
		max-height: 90vh;
	}
}
.svelte-18ugpgg,
.svelte-18ugpgg:after,
.svelte-18ugpgg:before {
	box-sizing: border-box;
}
img.svelte-18ugpgg {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-18ugpgg-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-18ugpgg-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-18ugpgg-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-18ugpgg:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-18ugpgg::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
img.svelte-18ugpgg {
	max-width: 100%;
	height: auto;
}
.sample.svelte-18ugpgg {
	opacity: 0.4;
}
.sample.svelte-18ugpgg:hover {
	opacity: 1;
}
img.svelte-18ugpgg {
	padding: 0.618rem;
	border-radius: 50%;
	transition: all 0.1s ease-in-out;
}
.cursor.svelte-18ugpgg {
	cursor: pointer;
}
.active.svelte-18ugpgg {
	opacity: 1;
	border: 1px dotted #2a2929;
}
.svelte-1rbfc4r,
.svelte-1rbfc4r:after,
.svelte-1rbfc4r:before {
	box-sizing: border-box;
}
a.svelte-1rbfc4r,
div.svelte-1rbfc4r,
p.svelte-1rbfc4r {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
p.svelte-1rbfc4r {
	font-size: 1rem;
	line-height: 28.8px;
}
@keyframes svelte-1rbfc4r-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1rbfc4r-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1rbfc4r-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
a.svelte-1rbfc4r:hover {
	animation-name: svelte-1rbfc4r-fade;
	animation-duration: 0.3s;
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-1rbfc4r:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1rbfc4r::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.caption-container.svelte-1rbfc4r {
	grid-area: captio;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	color: #b4b4b4;
	background-color: #2a2929;
	align-self: start;
}
.next.svelte-1rbfc4r,
.prev.svelte-1rbfc4r {
	cursor: pointer;
	width: auto;
	padding: 1rem;
	margin-top: 0;
	color: #6c6c6c;
	font-size: 1.618rem;
	line-height: 40.896px;
	user-select: none;
	text-decoration: none;
}
.next.svelte-1rbfc4r:hover,
.prev.svelte-1rbfc4r:hover {
	color: #e5e5e5;
}
.next.svelte-1rbfc4r:active,
.prev.svelte-1rbfc4r:active {
	color: #e8b28a;
}
p.svelte-1rbfc4r {
	margin-bottom: 0;
}
.svelte-6x5ihb,
.svelte-6x5ihb:after,
.svelte-6x5ihb:before {
	box-sizing: border-box;
}
div.svelte-6x5ihb,
span.svelte-6x5ihb {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-6x5ihb-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-6x5ihb-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-6x5ihb-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-6x5ihb:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-6x5ihb::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.lightbox.svelte-6x5ihb {
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	display: grid;
	grid-template-areas: 'slide thumb' 'slide thumb' 'captio thumb';
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-color: #110e08;
}
@media (min-width: 1023px) {
	.lightbox.svelte-6x5ihb {
		overflow: auto;
		grid-template-areas: 'captio slide thumb';
	}
}
.Thumbnails.svelte-6x5ihb {
	grid-area: thumb;
	width: 4.236rem;
	margin-top: 4.236rem;
	overflow-y: auto;
}
@media (min-width: 769px) {
	.Thumbnails.svelte-6x5ihb {
		width: 6.854rem;
		gap: 1.618rem;
		overflow-y: auto;
	}
}
.close.svelte-6x5ihb {
	padding: 1rem;
	color: #e8b28a;
	position: absolute;
	z-index: 1000;
	top: 0.618rem;
	right: 1rem;
	font-size: 1.618rem;
	line-height: 40.896px;
}
.close.svelte-6x5ihb:focus,
.close.svelte-6x5ihb:hover {
	color: #e5e5e5;
	cursor: pointer;
}
.svelte-1p1n4qb,
.svelte-1p1n4qb:after,
.svelte-1p1n4qb:before {
	box-sizing: border-box;
}
div.svelte-1p1n4qb,
img.svelte-1p1n4qb {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
@keyframes svelte-1p1n4qb-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1p1n4qb-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1p1n4qb-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-1p1n4qb:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1p1n4qb::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
img.svelte-1p1n4qb {
	max-width: 100%;
	height: auto;
}
.DemoGallery.svelte-1p1n4qb {
	padding: 2.618rem;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.618rem;
}
@media (min-width: 769px) {
	.DemoGallery.svelte-1p1n4qb {
		grid-template-columns: repeat(auto-fill, minmax(133px, 20%));
		place-content: center;
		gap: 1.618rem;
	}
}
img.svelte-1p1n4qb {
	border-radius: 50%;
	transition: 0.2s;
	cursor: pointer;
	place-self: center;
}
@media (min-width: 769px) {
	img.svelte-1p1n4qb {
		margin: 1.618rem;
	}
}
@media (min-width: 769px) {
	img.svelte-1p1n4qb:hover {
		box-shadow: 0 1rem 1.618rem rgba(17, 14, 8, 0.5);
		transform: scale(1.05);
	}
}
.svelte-1j4t90k,
.svelte-1j4t90k:after,
.svelte-1j4t90k:before {
	box-sizing: border-box;
}
@keyframes svelte-1j4t90k-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-1j4t90k-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-1j4t90k-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-1j4t90k:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-1j4t90k::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
aside.svelte-1j4t90k {
	display: grid;
	place-items: center;
	padding-bottom: 2.618rem;
}
