@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
.svelte-viv8sp.svelte-viv8sp,
.svelte-viv8sp.svelte-viv8sp:after,
.svelte-viv8sp.svelte-viv8sp:before {
	box-sizing: border-box;
}
code.svelte-viv8sp.svelte-viv8sp,
pre.svelte-viv8sp.svelte-viv8sp {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
.bg_color_0.svelte-viv8sp.svelte-viv8sp {
	background-color: #e5e5e5;
}
.bg_color_1.svelte-viv8sp.svelte-viv8sp {
	background-color: #b4b4b4;
}
.bg_color_2.svelte-viv8sp.svelte-viv8sp {
	background-color: #6c6c6c;
}
.bg_color_3.svelte-viv8sp.svelte-viv8sp {
	background-color: #414141;
}
.bg_color_4.svelte-viv8sp.svelte-viv8sp {
	background-color: #323232;
}
.bg_color_5.svelte-viv8sp.svelte-viv8sp {
	background-color: #2d2d2d;
}
.align-right.svelte-viv8sp.svelte-viv8sp {
	text-align: right;
}
.align-center.svelte-viv8sp.svelte-viv8sp {
	text-align: center;
}
.align-left.svelte-viv8sp.svelte-viv8sp {
	text-align: left;
}
@keyframes svelte-viv8sp-fade {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes svelte-viv8sp-slide {
	0% {
		transform: translateY(-70px);
		opacity: 0.5;
	}
	90% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes svelte-viv8sp-loading {
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
}
code[class*='language-'].svelte-viv8sp.svelte-viv8sp {
	color: #d3b39c;
	font-size: 1rem;
	line-height: 28.8px;
	text-shadow: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	tab-size: 4;
	hyphens: none;
}
code[class*='language-'].svelte-viv8sp.svelte-viv8sp::mozselection,
code[class*='language-'].svelte-viv8sp.svelte-viv8sp::selection {
	text-shadow: none;
	background: #d3b39c;
}
@media print {
	code[class*='language-'].svelte-viv8sp.svelte-viv8sp {
		text-shadow: none;
	}
}
.svelte-viv8sp:not(pre) > code[class*='language-'].svelte-viv8sp {
	padding: 0.1em 0.3em;
	border-radius: 0.3em;
	color: #fff;
	background: red;
}
.namespace.svelte-viv8sp.svelte-viv8sp {
	opacity: 0.7;
}
.token.cdata.svelte-viv8sp.svelte-viv8sp,
.token.comment.svelte-viv8sp.svelte-viv8sp,
.token.doctype.svelte-viv8sp.svelte-viv8sp,
.token.prolog.svelte-viv8sp.svelte-viv8sp {
	color: #6c6c6c;
}
.token.punctuation.svelte-viv8sp.svelte-viv8sp {
	color: #6c6c6c;
}
.token.boolean.svelte-viv8sp.svelte-viv8sp,
.token.constant.svelte-viv8sp.svelte-viv8sp,
.token.deleted.svelte-viv8sp.svelte-viv8sp,
.token.number.svelte-viv8sp.svelte-viv8sp,
.token.property.svelte-viv8sp.svelte-viv8sp,
.token.symbol.svelte-viv8sp.svelte-viv8sp,
.token.tag.svelte-viv8sp.svelte-viv8sp {
	color: #e5e5e5;
}
.token.attr-name.svelte-viv8sp.svelte-viv8sp,
.token.builtin.svelte-viv8sp.svelte-viv8sp,
.token.char.svelte-viv8sp.svelte-viv8sp,
.token.inserted.svelte-viv8sp.svelte-viv8sp,
.token.selector.svelte-viv8sp.svelte-viv8sp,
.token.string.svelte-viv8sp.svelte-viv8sp {
	color: #e5e5e5;
}
.token.entity.svelte-viv8sp.svelte-viv8sp,
.token.operator.svelte-viv8sp.svelte-viv8sp,
.token.url.svelte-viv8sp.svelte-viv8sp {
	color: #d3b39c;
	background: #414141;
}
.token.atrule.svelte-viv8sp.svelte-viv8sp,
.token.attr-value.svelte-viv8sp.svelte-viv8sp,
.token.keyword.svelte-viv8sp.svelte-viv8sp {
	color: #b4b4b4;
}
.token.function.svelte-viv8sp.svelte-viv8sp {
	color: #4bddc4;
}
.token.important.svelte-viv8sp.svelte-viv8sp,
.token.regex.svelte-viv8sp.svelte-viv8sp,
.token.variable.svelte-viv8sp.svelte-viv8sp {
	color: #d3b39c;
}
.token.bold.svelte-viv8sp.svelte-viv8sp,
.token.important.svelte-viv8sp.svelte-viv8sp {
	font-weight: 700;
}
.token.italic.svelte-viv8sp.svelte-viv8sp {
	font-style: italic;
}
.token.entity.svelte-viv8sp.svelte-viv8sp {
	cursor: help;
}
.line-highlight.svelte-viv8sp.svelte-viv8sp {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em;
	background: #4c4b48;
	box-shadow: inset 5px 0 0 #f77ea2;
	z-index: 0;
	pointer-events: none;
	line-height: inherit;
	white-space: pre;
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.svelte-viv8sp.svelte-viv8sp:focus {
	outline-color: #6c6c6c;
	outline-style: dashed;
	outline-width: 1px;
	outline-style: dotted;
}
.svelte-viv8sp.svelte-viv8sp::selection {
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.tachado.svelte-viv8sp.svelte-viv8sp {
	text-decoration: line-through;
}
.not-clickable.svelte-viv8sp.svelte-viv8sp {
	pointer-events: none;
}
.wrap-object-fit.svelte-viv8sp.svelte-viv8sp {
	height: inherit;
}
.object-fit.svelte-viv8sp.svelte-viv8sp {
	object-fit: cover;
	height: 100%;
}
.absolute.svelte-viv8sp.svelte-viv8sp {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.relative.svelte-viv8sp.svelte-viv8sp {
	position: relative;
	width: inherit;
}
pre.svelte-viv8sp.svelte-viv8sp {
	padding: 1.618rem;
	border-radius: 20px;
	background: linear-gradient(to left, #414141 10%, #2d2d2d);
}
