:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}

// B/N
$black: black;
$white: white;

// Greys
$grey_0: #e5e5e5;
$grey_1: #b4b4b4;
$grey_2: #6c6c6c;
$grey_3: #414141;
$grey_4: #2a2929;
$grey_5: #110e08;

body,
html {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: $grey_1;
}

h1 {
	color: grey_5;
}